[Unit]
PartOf=<%= plugin_name %>_<%= manager_path %>_refresh.target
[Install]
WantedBy=<%= plugin_name %>_<%= manager_path %>_refresh.target
[Service]
WorkingDirectory=/var/www/miq/vmdb
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
EnvironmentFile=/etc/default/manageiq*.properties
ExecStart=/usr/bin/ruby lib/workers/bin/run_single_worker.rb <%= class_name %>::<%= manager_type %>::RefreshWorker --heartbeat --guid=%i
User=manageiq
UMask=0002
Restart=no
Type=notify
Slice=<%= plugin_name %>_<%= manager_path %>_refresh.slice
