<div id="main_div">

	<fieldset>
		<p class="legend">Automations Tasks</p>
		<% at =  @miq_request.automation_tasks %>
		<% if at.empty? %>
			No Records found
		<% else %>
			<table class="style3">
				<tbody>
					<th>Description</th>
					<th>State</th>
					<th>Message</th>
					<th>Status</th>
					<% at.each do |t| %>
						<tr>
							<td>
								<%= h(t.description)%>
							</td>
							<td>
								<%= h(t.state)%>
							</td>
							<td>
								<%= h(t.message)%>
							</td>
							<td>
								<%= h(t.status)%>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</fieldset>

</div>
