<div id='main_div'>
	<%= render :partial => "layouts/flash_msg" %>
	<%= render :partial => "miq_request/prov_wf", :locals=>{:wf=>@edit[:wf]} %>

	<br/>
	<% if !@edit[:explorer] %>
		<%= render :partial => 'miq_request/prov_form_buttons' %>
		<%= "Note: Fields marked with * are required." %>
	<% end %>
</div>
<script>
  cfme_delete_dynatree_cookies('prov_trees')
</script>
