#main_div
  = render :partial => "layouts/flash_msg"
  = render :partial => "miq_request/prov_wf", :locals => {:wf => @edit[:wf]}
  %br
  - unless @edit[:explorer]
    = render :partial => 'miq_request/prov_form_buttons'
    = _("Note: Fields marked with * are required.")
:javascript
  cfme_delete_dynatree_cookies('prov_trees')
