#main_div
  - st = @miq_request.source
  - ra = st.resource_actions.find_by_action('Provision') if st
  - if ra && ra.dialog
    - values = @miq_request.options[:dialog]
    - opts = {}
    %fieldset
      %p.legend
        = _("Dialog Options")
      %dl.col1
        %dd
          = render :partial => "shared/dialogs/dialog_provision",
                   :locals  => {:wf => ResourceActionWorkflow.new(values, session[:userid], ra, opts)}
