<form class="form-horizontal">
  <div pf-form-group pf-label="Number of Masters" required pf-label-class="miq-input-label-class miq-input-label-class-lg" pf-input-class="miq-touchspin-input-class">
    <div class="input-group bootstrap-touchspin">
      <span class="input-group-btn">
        <button class="btn btn-default bootstrap-touchspin-down" type="button" ng-click="updateMasterCount(-1)">-</button>
      </span>
      <input class="bootstrap-touchspin form-control" id="bootstrap-touchspin-empty" type="text" value="{{data.masterCount}}" readonly name="bootstrap-touchspin-empty" style="display: block;">
      <span class="input-group-btn">
        <button class="btn btn-default bootstrap-touchspin-up" type="button" ng-click="updateMasterCount(1)">+</button>
      </span>
    </div>
  </div>
  <div pf-form-group pf-label="Number of Nodes" required pf-label-class="miq-input-label-class miq-input-label-class-lg" pf-input-class="miq-touchspin-input-class">
    <div class="input-group bootstrap-touchspin">
      <span class="input-group-btn">
        <button class="btn btn-default bootstrap-touchspin-down" type="button" ng-click="updateNodesCount(-1)">-</button>
      </span>
      <input class="bootstrap-touchspin form-control" id="bootstrap-touchspin-empty" type="text" value="{{data.nodeCount}}" readonly name="bootstrap-touchspin-empty" style="display: block;">
      <span class="input-group-btn">
        <button class="btn btn-default bootstrap-touchspin-up" type="button" ng-click="updateNodesCount(1)">+</button>
      </span>
    </div>
  </div>
</form>
<h4>Set Masters and Nodes</h4>
<div class="nodes-table-container">
  <div pf-toolbar config="toolbarConfig"></div>
  <div class="table-responsive">
    <table class="datatable table table-striped table-bordered dataTable no-footer" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" role="grid">
      <thead>
        <tr role="row">
          <th tabindex="0" rowspan="1" colspan="1"><input type="checkbox" ng-checked="allNodesSelected" ng-click="toggleAllNodesSelected()"></th>
          <th tabindex="0" rowspan="1" colspan="1">Provider Name</th>
          <th tabindex="0" rowspan="1" colspan="1">State</th>
          <th tabindex="0" rowspan="1" colspan="1"># CPUS</th>
          <th tabindex="0" rowspan="1" colspan="1">Memory</th>
          <th tabindex="0" rowspan="1" colspan="1">Disk Size</th>
      </thead>
      <tbody>
        <tr ng-repeat="node in filteredNodes" ng-class="{odd: ($index / 2 == 0), even: ($index / 2 != 0)}">
          <td><input type="checkbox" ng-checked="node.selected" ng-click="toggleNodeSelected(node)"></td>
          <td>{{node.providerName}}</td>
          <td>{{node.state}}</td>
          <td>{{node.cpus}}</td>
          <td>{{node.memory}}</td>
          <td>{{node.diskSize}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
