<% content_for :trees do %>
  <div style="display:none"><%= render :partial =>"resolve_form" %></div>
<% end %>

<% content_for :accords do %>
  <div style="display:none"><%= render :partial =>"resolve_form_buttons" %></div>

  <%# Create the explorer dhtmlx layout/accordion JS objects %>
  <%= render(:partial => "layouts/dhtmlxlayout_explorer",
             :locals => {:accords=>@accords,
                         :left_cell_bottom=>"left_cell_bottom",
                         :width_factor=>"4/5",
                         :lock_slider=>true,
                         :layout_pattern=>"3J"}
      ) %>
<% end %>

<div id="main_div" class="main_div">
  <%= render :partial => "results_tabs" %>
</div>
