<%= stylesheet_link_tag 'XMLDisplay' %>
<%= javascript_include_tag 'XMLDisplay' %>
<div id="results_xml_div">
  <% if @temp[:results] %>
    <div id='XMLHolder'></div>
    <% if @temp[:results] %>
      <script>
        var tempxml = "<%= @temp[:results].gsub(/[\r\n]/, '').gsub(/["]/, '\\\\"').html_safe %>"
        LoadXMLString('XMLHolder',tempxml);
      </script>
    <% end %>
  <% else %>
    <div class="alert alert-info">
      <span class="pficon pficon-info"></span>
      <strong>Enter Automation Simulation options on the left and press Submit.</strong>
    </div>
  <% end %>
</div>
