<div id="results_tabs" style="display:none;">
	<ul class="tab">
		<li><a href="#tree">Tree View</a></li>
		<li><a href="#xml">XML View</a></li>
		<li><a href="#object">Object</a></li>
	</ul>
	<div id="tree" name="tree" width="80px">
		<%= render :partial => "results_tree" %>
	</div>
	<div id="xml" name="xml" width="80px">
		<%= render :partial => "results_xml" %>
	</div>
	<div id="object" name="object" width="80px">
		<%= render :partial => "results_uri" %>
	</div>
</div>
<script type="text/javascript">
	//method takes hash that can have 4 keys: tabs div id, active_tab label,
	//url to go to when tab is changed, and whether to check for abandon changes or not
	miq_jquery_tabs_init({tabs_div: "results_tabs", show_buttons_tab: "object"})
  // on initial load don't show toolbar buttons
  $("center_buttons_div").hide();
</script>
