<% if @embedded %>
  <table style="height: 100px;">
<% else %>
  <table>
<% end %>
  <tr>
    <td width="55%" valign="top">
      <% unless @embedded %>
        <% if false %>
          <h4>
            <% if @sortdir == "ASC" %>
              Ascending by:
            <% else %>
              Descending by:
            <% end %>
            <%= view.headers[@sortcol] %>
          </h4>
        <% end %>
      <% end %>

      <% table.data[@first_item..@last_item].each_with_index do |row,i| %>
        <% @id = row['id'] %>
        <% item = @targets_hash[@id] if @targets_hash %><%# Get the record %>
        <div style="width: 100px; height: 100px; float:left; padding: 0 10px 20px 0;">
          <table border="0" cellpadding="0" cellspacing="0" >
            <tr>
              <td valign="bottom" width="8" align="left">
                <% unless @embedded || @no_checkboxes %>
                  <%= check_box_tag("check_#{to_cid(@id)}", value=1, checked=false, :id=>"listcheckbox", :style=>"padding-bottom: 0px; margin-bottom: 0px", :onclick=>"miqUpdateButtons(this,'#{button_div}');") %>
                <% end %>
              </td>
              <td>
                <%= render(:partial=>"layouts/quadicon",
                            :locals=>{:mode=>:icon,
                                      :item=>item
                                      }
                            ) %>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: center; padding-top: 0px; margin-top: 0px;color: #000">
                

                <%= render(:partial=>"layouts/quadicon",
                            :locals=>{:mode=>:text,
                                      :row=>row,
                                      :item=>item
                                      }
                            ) %>
              </td>
            </tr>
          </table>
        </div>
        <%# end %>
      <% end %>
    </td>
  </tr>
</table>
