<table ng-if="0 < vm.productCategories.length" class="product-categories-table">
  <thead>
  <tr>
    <th class="product-categories-table__heading product-categories-table__heading--description">Description</th>
    <th class="product-categories-table__heading product-categories-table__heading--actions">Action</th>
  </tr>
  </thead>
  <tbody ng-model="vm.productCategories">
  <tr class="product-categories-table__row" ng-repeat="row in vm.productCategories">
    <td class="product-categories-table__cell product-categories-table__cell--description">
      {{ ::row.name }} &mdash; {{ ::row.description }}
    </td>
    <td class="product-categories-table__cell product-categories-table__cell--actions">
      <a ui-sref="admin.product-categories.edit({productCategoryId: row.id})"
         class="product-categories-table__action product-categories-table__action--edit" title="Edit">
        <img src="/images/ic_edit.png" alt="Edit"/>
      </a>
      <a href="#" class="product-categories-table__action product-categories-table__action--delete" title="Delete"
         confirmation
         confirmation-position="left-center"
         confirmation-message="Are you sure you want to delete this category?"
         confirmation-ok-style="danger"
         confirmation-ok-text="Yes, Delete It"
         confirmation-on-ok="vm.deleteCategory($index)"
         confirmation-show-cancel="false">
        <img src="/images/ic_deletequestion.png" alt="Delete"/>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<div ng-if="::0 === vm.productCategories.length" class="product-categories-table__empty">
  No categories at this time.
</div>
