- if x_active_tree == :storage_tree
  - if x_node == "root" || @view
    = render :partial => 'layouts/x_gtl', :locals => {:action_url => "show_list"}
    :javascript
      var miq_after_onload = "if (miqDomElementExists('adv_searchbox_div')) $('#adv_searchbox_div').show();"
  - else
    = render :partial => "storage_details"
