#storage_pod_folders_div
  - if @folders
    = render(:partial => "layouts/flash_msg")
    %table.table.table-bordered.table-striped.table-hover
      %tbody
        - @folders.each do |f|
          %tr{:title => _("View '%{name}' Cluster") % {:name => f.name},
            :onclick => "miqTreeActivateNode('storage_pod_tree', 'xx-#{f.id}');"}
            %td.icon
              %img{:src => image_path('100/folder.png')}
            %td
              = h(f.name)
