- if x_active_tree == :storage_pod_tree
  - if (x_node == "root" && !@in_a_form) || @view
    #storage_pod_list_div
      - if x_node == "root"
        = render :partial => "storage_pod_folders"
      - if @view
        = render :partial => 'layouts/x_gtl', :locals => {:action_url => "storage_pod_list"}
  - else
    = render :partial => "storage_details"
  #null_div
