#storage_pod_folders_div
  - if @folders
    = render(:partial => "layouts/flash_msg")
    %table.table.table-bordered.table-striped.table-hover
      %tbody
        - @folders.each do |f|
          %tr{:title => _("View '%{name}' Cluster") % {:name => f.name},
            :onclick => "miqTreeActivateNode('storage_pod_tree', 'dsc_xx-#{to_cid(f.id)}');"}
            %td.narrow
              %i.pficon.pficon-folder-close
            %td
              = h(f.name)
