#compliance_history_div
  = render :partial => "layouts/flash_msg"
  .btn.btn-default{:id => "squash_button", :onclick => "miqSquashToggle('#{j_str(@ch_tree.name.to_s)}')", :title => _('Expand All')}
    %i{:class => "fa fa-plus-square-o fa-lg"}
  %br{:style => "line-height: 2.5em"}
  %div{:class => "cfme-no-cursor-node"}
    = render(:partial => 'shared/tree', :locals => {:tree => @ch_tree, :name => @ch_tree.name.to_s})
