.container-fluid.container-tiles-pf.containers-dashboard.miq-dashboard-view{"ng-app"        => "containerDashboard",
                                                                            "ng-controller" => "containerDashboardController as dashboard"}
  .row.row-tile-pf
    .col-xs-12.col-sm-12.col-md-2
      .provider-card{"pf-card"         => "",
                     "show-top-border" => "true",
                     "ng-if"           => "isSingleProvider"}
        %img.provider-icon-large{"src" =>"{{providerTypeIconImage}}"}
      %div{:layout                     => "tall",
           "pf-aggregate-status-card"  => "",
           "show-top-border"           => "true",
           :status                     => "objectStatus.providers",
           "ng-if"                     => "!isSingleProvider"}
    .col-xs-12.col-sm-12.col-md-10
      .row
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.nodes",
               :url                       => "navigation"}
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.containers",
               :url                       => "navigation"}
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.registries",
               :url                       => "navigation"}
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.projects",
               :url                       => "navigation"}
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.pods",
               :url                       => "navigation"}
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.services",
               :url                       => "navigation"}
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.images",
               :url                       => "navigation"}
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.routes",
               :url                       => "navigation"}

  .row.row-tile-pf
    .col-xs-12.col-sm-6.col-md-7
      %div{"head-title"   => _("Aggregated Node Utilization"),
           :hidetopborder => "true",
           "pf-card"      => ""}

        .spinner.spinner-lg.loading{"ng-if" => "!loadingDone"}
        .row{"ng-if" => "loadingDone"}

          .col-xs-6.col-sm-6.col-md-6
            %div{"ng-if" => "cpuUsageData"}
              %div{"chart-data"                 => "cpuUsageData",
                   :config                      => "cpuUsageConfig",
                   "donut-config"               => "cpuUsageDonutConfig",
                   "pf-utilization-trend-chart" => "",
                   "sparkline-config"           => "cpuUsageSparklineConfig"}
            %span.trend-footer-pf{"ng-class" => "{ 'chart-transparent-text': !cpuUsageData }"}
              = _("Last 30 Days")

          .col-xs-6.col-sm-6.col-md-6
            %div{"ng-if" => "memoryUsageData"}
              %div{"chart-data"                 => "memoryUsageData",
                   :config                      => "memoryUsageConfig",
                   "donut-config"               => "memoryUsageDonutConfig",
                   "pf-utilization-trend-chart" => "",
                   "sparkline-config"           => "memoryUsageSparklineConfig"}
            %span.trend-footer-pf{"ng-class" => "{ 'chart-transparent-text': !memoryUsageData }"}
              = _("Last 30 Days")

    .col-xs-12.col-sm-6.col-md-5
      .row.row-tile-pf
        .col-xs-12.col-sm-12.col-md-12
          %div{"head-title" => "{{networkUtilizationDailyConfig.headTitle}}",
               "pf-card" => ""}

            .spinner.spinner-lg.loading{"ng-if" => "!loadingDone"}
            %div{"chart-data" => "dailyNetworkUtilization",
                 "chart-height" => "chartHeight",
                 :config => "networkUtilizationDailyConfig",
                 "ng-if" => "loadingDone",
                 "pf-trends-chart" => ""}

      .row.row-tile-pf
        .col-xs-12.col-sm-12.col-md-12
          %div{"head-title" => "{{imageEntityTrendDailyConfig.headTitle}}",
               "pf-card" => ""}

            .spinner.spinner-lg.loading{"ng-if" => "!imageEntityTrendDailyConfig"}
            %div{"chart-data" => "dailyImageEntityTrend",
                 "chart-height" => "chartHeight",
                 :config => "imageEntityTrendDailyConfig",
                 "ng-if" => "loadingDone",
                 "pf-line-chart" => ""}

            %span.trend-footer-pf{"ng-class" => "{ 'chart-transparent-text': !imageEntityTrendDailyConfig }"}
              = _("Last 30 Days")

  .row.row-tile-pf.row-tile-pf-last
    .col-xs-12.col-sm-6.col-md-7
      %div{"column-sizing-class"          => "col-xs-8 col-sm-6 col-md-6",
           "heat-map-usage-legend-labels" => "nodeHeatMapUsageLegendLabels",
           "heatmap-chart-height"         => "dashboardHeatmapChartHeight",
           :heatmaps                      => "heatmaps",
           "heatmaps-card"                => "",
           :hidetopborder                 => "true",
           :title                         => _("Node Utilization")}

    .col-xs-12.col-sm-6.col-md-5
      .row.row-tile-pf
        .col-xs-12.col-sm-12.col-md-12
          %div{"head-title" => "{{podEntityTrendDailyConfig.headTitle}}",
               "pf-card" => ""}

            .spinner.spinner-lg.loading{"ng-if" => "!podEntityTrendDailyConfig"}
            %div{"chart-data" => "dailyPodEntityTrend",
                 "chart-height" => "chartHeight",
                 :config => "podEntityTrendDailyConfig",
                 "ng-if" => "loadingDone",
                 "pf-line-chart" => ""}

            %span.trend-footer-pf{"ng-class" => "{ 'chart-transparent-text': !podEntityTrendDailyConfig }"}
              = _("Last 30 Days")
