.container-fluid.container-tiles-pf.ems-infra-dashboard.miq-dashboard-view{"ng-controller" => "emsInfraDashboardController as dashboard"}
  .row.row-tile-pf
    .col-xs-12.col-sm-12.col-md-2
      .provider-card{"pf-card"         => "",
                     "show-top-border" => "true",
                     "ng-if"           => "isSingleProvider"}
        %img.provider-icon-large{"ng-src" =>"{{providerTypeIconImage}}"}
    .col-xs-12.col-sm-12.col-md-10
      .row
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.ems_clusters",
               :url                       => "navigation"}
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.hosts",
               :url                       => "navigation"}
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.datastores",
               :url                       => "navigation"}
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.vms",
               :url                       => "navigation"}
        .col-xs-6.col-sm-6.col-md-3
          %div{:layout                    => "mini",
               "pf-aggregate-status-card" => "",
               "show-top-border"          => "true",
               :status                    => "objectStatus.miq_templates",
               :url                       => "navigation"}

  .row.row-tile-pf
    .col-xs-12.col-sm-6.col-md-6
      %div{"head-title"   => _("Global Utilization"),
           :hidetopborder => "true",
           "pf-card"      => ""}

        .spinner.spinner-lg.loading{"ng-if" => "!loadingDone"}
        .row{"ng-if" => "loadingDone"}

          .col-xs-6.col-sm-6.col-md-6
            %div{"ng-if" => "cpuUsageData"}
              %div{"chart-data"                 => "cpuUsageData",
                   :config                      => "cpuUsageConfig",
                   "donut-config"               => "cpuUsageDonutConfig",
                   "pf-utilization-trend-chart" => "",
                   "sparkline-config"           => "cpuUsageSparklineConfig"}
            %span.trend-footer-pf{"ng-class" => "{ 'chart-transparent-text': !cpuUsageData }"}
              = _("Last 30 Days")

          .col-xs-6.col-sm-6.col-md-6
            %div{"ng-if" => "memoryUsageData"}
              %div{"chart-data"                 => "memoryUsageData",
                   :config                      => "memoryUsageConfig",
                   "donut-config"               => "memoryUsageDonutConfig",
                   "pf-utilization-trend-chart" => "",
                   "sparkline-config"           => "memoryUsageSparklineConfig"}
            %span.trend-footer-pf{"ng-class" => "{ 'chart-transparent-text': !memoryUsageData }"}
              = _("Last 30 Days")

    .col-xs-12.col-sm-6.col-md-6
      %div{"column-sizing-class"          => "col-xs-8 col-sm-6 col-md-6",
           "heat-map-usage-legend-labels" => "nodeHeatMapUsageLegendLabels",
           "heatmap-chart-height"         => "dashboardHeatmapChartHeight",
           :heatmaps                      => "heatmaps",
           "heatmaps-card"                => "",
           :hidetopborder                 => "true",
           :title                         => _("Cluster Utilization")}
  .row.row-tile-pf.row-tile-pf-last
    .col-xs-12.col-sm-6.col-md-6
      %div{"head-title" => "{{recentHostsConfig.headTitle}}",
           "pf-card"    => ""}

        .spinner.spinner-lg.loading{"ng-if" => "!loadingDone"}
        %div{"chart-data"      => "recentHostsData",
             "chart-height"    => "chartHeight",
             :config           => "recentHostsConfig",
             "ng-if"           => "loadingDone",
             "pf-line-chart" => ""}
        %span.trend-footer-pf{"ng-class" => "{ 'chart-transparent-text': !recentHostsConfig }"}
          = _("Last 30 Days")

    .col-xs-12.col-sm-6.col-md-6
      %div{"head-title" => "{{recentVmsConfig.headTitle}}",
           "pf-card"    => ""}

        .spinner.spinner-lg.loading{"ng-if" => "!loadingDone"}
        %div{"chart-data"      => "recentVmsData",
             "chart-height"    => "chartHeight",
             :config           => "recentVmsConfig",
             "ng-if"           => "loadingDone",
             "pf-line-chart" => ""}
        %span.trend-footer-pf{"ng-class" => "{ 'chart-transparent-text': !recentVmsConfig }"}
          = _("Last 30 Days")

:javascript
  miq_bootstrap('.ems-infra-dashboard', 'emsInfraDashboard');
