.row.miq-alerts-center
  .container-fluid{"ng-controller" => "alertsListController as vm"}
    %span
      %ol.breadcrumb
        %li
          = _("Monitor")
        %li
          = _("Alerts")
        %li.active
          %strong
            = _("All Alerts")
    .row{"ng-if" => "vm.loadingDone"}
      %div{"pf-toolbar" => "", "config" => "vm.toolbarConfig"}
      = render :partial => "shared/views/alerts_list"

:javascript
  miq_bootstrap('.miq-alerts-center', 'alertsCenter');
