:css
- if big_iframe
  - padding_top = current_tenant.logo? ? 83 : 70
  :css
    @media (min-width: 1080px) {
      .navbar-pf ul > li.active { margin-bottom: 0 !important; }
      .navbar-nav ul > li > ul { display:none }
      body { padding-top: #{padding_top}px !important }
    }
- else
  - padding_top = current_tenant.logo? ? 116 : 100
  :css
    @media (min-width: 1080px) {
      body { padding-top: #{padding_top}px !important }
    }
