<div class="view-mode-switch">
  <a href="#" class="view-mode-switch__option view-mode-switch__option--grid" title="Grid View"
     ng-click="vm.setViewMode('grid')"
     ng-class="{'view-mode-switch__option--active': 'grid' == vm.viewMode}">
    <span class="sr-only">Grid</span>
  </a>
  <a href="#" class="view-mode-switch__option view-mode-switch__option--list" title="List View"
     ng-click="vm.setViewMode('list')"
     ng-class="{'view-mode-switch__option--active': 'list' == vm.viewMode}">
    <span class="sr-only">List</span>
  </a>
</div>
