.form-group
  .btn-group.dropdown
    - if @widgets_menu[:blank]
      %button.disabled.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', :title => _('No Widgets available to add'), 'data-click' => 'add_widget'}
        %i.fa.fa-reply.fa-lg
        %span.caret
    - else
      - if @widgets_menu[:allow_add]
        - if @widgets_menu[:locked]
          - title   = _("Cannot add a Widget, this Dashboard has been locked by the Administrator")
          - enabled = false
        - else
          - title   = _("Add a widget")
          - enabled = true
        - cls = enabled ? '' : 'disabled '
        %button{'data-toggle' => 'dropdown', :class => "#{cls}btn btn-default dropdown-toggle", :title => title}
          %i.fa.fa-plus.fa-lg
          %span.caret

        %ul.dropdown-menu.scrollable-menu
          - @widgets_menu[:items].each do |item|
            %li
              - if item[:type] == :separator
                .divider{:role => 'presentation'}
              - else
                %a{:href => '#', :title => item[:title], 'data-click' => item[:id]}
                  %i{:class => item[:image]}
                  = item[:text]

  - if @widgets_menu[:allow_reset]
    %button.btn.btn-default{:title => _('Reset Dashboard Widgets to the defaults'), 'data-click' => 'reset'}
      %i.fa.fa-reply.fa-lg
