<div class="product-type-modal__header">
  <button type="button" class="product-type-modal__close" ng-click="$dismiss()" aria-label="Close">
    <i class="fa fa-close" aria-hidden="true"></i>
    <span class="sr-only">Close</span>
  </button>
  <div class="product-type-modal__title">{{ ::vm.heading }}</div>
</div>

<div class="product-type-modal__body">
  <p>{{ ::vm.message }}</p>
  <select class="product-type-modal__select"
          ng-options="productType as productType.title for productType in ::vm.productTypes"
          ng-model="vm.productType"></select>
</div>

<div class="product-type-modal__footer">
  <button type="button" class="btn-rounded btn-rounded--gray product-type-modal__cancel" ng-click="$dismiss()">
    Cancel
  </button>
  <button type="button" class="btn-rounded product-type-modal__ok"
          ng-click="$close(vm.productType)"
          ng-disabled="!vm.productType">
    Ok
  </button>
</div>
