- if %w(container_projects container_groups containers container_nodes).include?(@display)
 = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- else
 = render :partial => @showtype
