+block(login-pf)
  background-color: $app-color-deep-blue !important
  background: url("/images/bg-login-2-PF.png")
  background-position: 100% 100%
  background-repeat: no-repeat
  background-size: auto
  margin-top: -60px
  margin-bottom: -38px
  height: calc(100vh)

  &:before
    background: transparent
    content: url("/images/bg-login-PF.png")
    background-repeat: no-repeat
    background-size: auto
    background-position: 0% 0%

  .container
    background-color: transparent
