<table ng-if="0 < vm.groups.length" class="groups-table">
  <thead>
  <tr>
    <th class="groups-table__heading groups-table__heading--padding"></th>
    <th class="groups-table__heading groups-table__heading--name">Name</th>
    <th class="groups-table__heading groups-table__heading--description">Description</th>
    <th class="groups-table__heading groups-table__heading--members">Members</th>
    <th class="groups-table__heading groups-table__heading--actions">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr class="groups-table__row" ng-repeat="row in vm.groups track by row.id">
    <td class="groups-table__cell groups-table__cell--padding"></td>
    <td class="groups-table__cell groups-table__cell--name">{{ ::row.name}}</td>
    <td class="groups-table__cell groups-table__cell--description">{{ ::row.description }}</td>
    <td class="groups-table__cell groups-table__cell--members">{{ ::row.staff.length }}</td>
    <td class="groups-table__cell groups-table__cell--actions">
      <a ui-sref="admin.groups.edit({groupId: row.id})" class="groups-table__action groups-table__action--edit">
        <img src="/images/ic_edit.png" alt="Edit"/>
      </a>
      <a href="#" class="groups-table__action groups-table__action--delete"
         confirmation
         confirmation-position="left-center"
         confirmation-message="Are you sure you want to remove this group?"
         confirmation-ok-style="danger"
         confirmation-ok-text="Yes, Delete It"
         confirmation-on-ok="vm.deleteGroup($index)"
         confirmation-show-cancel="false">
        <img src="/images/ic_deletequestion.png" alt="Delete"/>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<div ng-if="0 === vm.groups.length" class="groups-table__empty">
  No groups at this time.
</div>
