<div class="row scrollable-sm" style="height: 100%">
  <div class="col-md-2 sidebar-pf sidebar-pf-left" style="height: 100%">
    <div>
    </div>
  </div>
  <div class="col-md-10" style="height: 100%; overflow-y: auto; overflow-x: hidden">
    <div class="row">
      <miq-notification-section limit="2" show-info="{{true}}" class="col-md-12"></miq-notification-section>
      <div class="col-md-12">
          <form id="form_div" name="form">
            <h3>
              Basic Information
            </h3>
            <div class="form-horizontal">
              <div class="form-group">
                <div class="form-group">
                  <label class="control-label col-md-2">
                    Name
                  </label>
                  <div class="col-md-8">
                    <input type="text" name="name" id="name" maxlength="255" checkchange="" class="form-control" ng-required="true" ng-model="mwNew.newProvider.name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2">
                    Type
                  </label>
                  <div class="col-md-8">
                    <select pf-select ng-model="mwNew.newProvider.server_emstype" name="server_emstype" ng-options="o as o for o in mwNew.types" ng-required="true">
                      <option value="">No Type selected</option>
                    </select>
                  </div>
                </div>
                <div ng-if="mwNew.newProvider.server_emstype" ng-switch="mwNew.newProvider.server_emstype">
                  <div ng-switch-default>
                    <div class="form-group">
                      <label class="control-label col-md-2">
                        Hostname or IP address
                      </label>
                      <div class="col-md-8">
                        <input type="text" name="hostname" id="hostname" value="" maxlength="255" class="form-control" ng-required="true" ng-model="mwNew.newProvider.hostname" title="Hostname or IPv4/IPv6 address">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-2">
                        Port
                      </label>
                      <div class="col-md-8">
                        <input type="text" name="port" id="port" value="" ng-required="true" maxlength="5" class="form-control" ng-model="mwNew.newProvider.port">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2">
                    Zone
                  </label>
                  <div class="col-md-8">
                    <select pf-select ng-model="mwNew.newProvider.zone" ng-options="o as o for o in mwNew.zones">
                      <option value="">No Zone selected</option>
                    </select>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <div class="form-horizontal">
              <h3>
                Credentials
              </h3>
              <div class="form-group" style="margin-left: 0px;">
                <tabset>
                  <tab ng-repeat="oneTab in mwNew.credentialsTabs" heading="{{oneTab.title}}">
                    <miq-validate-credentials model-name="{{oneTab.modelKey}}"
                                              model-holder="mwNew.newProvider"
                                              validate-action="mwNew.validateAction(validateData)"></miq-validate-credentials>
                    {{oneTab.description}}
                  </tab>
                </tabset>
              </div>
              <hr>
            </div>
            <miq-action-buttons actions="mwNew.formActions" class="form-actions pull-right" is-valid="form.$valid"></miq-action-buttons>
          </div>
      </div>
    </div>
  </div>
</div>
