- tab.dialog_groups.each_with_index do |group, group_index|
  = render :partial => "shared/dialogs/dialog_group",
           :locals  => {:wf                              => wf,
                        :group                           => group,
                        :group_index                     => group_index,
                        :tab_index                       => tab_index,
                        :auto_refreshable_field_indicies => auto_refreshable_field_indicies}
