%div{'data-ng-app' => "topologyApp", 'ng-controller' => "middlewareTopologyController"}
  = stylesheet_link_tag 'container_topology'

  .topology_header
    .refresh
      %label.checkbox-inline
        %input#box{'ng-change' => "show_hide_names(checkboxModel.value)",  'ng-model' => "checkboxModel.value", :type => "checkbox", 'ng-true-value' => 'true', 'ng-false-value' => 'false'}
        Display Names
      %i{'ng-click' => "refresh()", :class => "btn btn-default fa fa-refresh refresh-topology"}

    .legend
      %label#selected
      %div{'ng-if' => "kinds"}
        %kubernetes-topology-icon{:kind => "MiddlewareServer", "tooltip-placement" => "bottom", "tooltip" => "{{legendTooltip}}"}
          %svg.kube-topology
            %g.MiddlewareServer{:transform => "translate(21, 21)"}
              %circle{:r => "17"}
              %image{:height => "20", :width => "20", :x => "-9", "xlink:href" => "/images/icons/new/middleware_server.png", :y => "-9"}
          %label Middleware Servers
        %kubernetes-topology-icon{:kind => "MiddlewareDeployment", "tooltip-placement" => "bottom", "tooltip" => "{{legendTooltip}}"}
          %svg.kube-topology
            %g.MiddlewareDeployment{:transform => "translate(21, 21)"}
              %circle{:r => "17"}
              %image{:height => "18", :width => "18", :x => "-9", "xlink:href" => "/images/icons/new/middleware_deployment.png", :y => "-9"}
          %label Middleware Deployments

  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-info
    %strong  Click on the legend to show/hide entities, and double click on the entities in the graph to navigate to their summary pages. 
  %kubernetes-topology-graph{:items => "items", :relations => "relations", :kinds => "kinds"}
