<div id="tl_div">
<% if @sb[:bottlenecks] &&@sb[:bottlenecks][:report] && @sb[:bottlenecks][:report].table && @sb[:bottlenecks][:report].table.data.blank? %>
<% elsif @sb[:bottlenecks][:report] %>

  <div id="miq_timeline" style="height: 380px; overflow:hidden; border: 1px solid #aaa"></div>
  <%= render(:partial => "layouts/timeline",
             :locals  => {:bands         => @sb[:bottlenecks][:report].timeline[:bands],
                          :tl_json       => @temp[:tl_json].html_safe,
                          :data_action   => "getTLdata",
                          :position_time => session[:tl_position]}) 
  %>
  <% if @sb[:bottlenecks][:report].filter_summary %>
    <%= @sb[:bottlenecks][:report].filter_summary%>
  <% end %>
<% elsif @sb[:bottlenecks][:tl_options] && @sb[:bottlenecks][:tl_options][:sdate].nil? && @sb[:bottlenecks][:tl_options][:edate].nil?  %>
  <div class="alert alert-info">
    <span class="pficon pficon-info"></span>
    <strong>No events available for this timeline.</strong>
  </div>
<% else %>
  <% if x_node != "" %>
    <div class="alert alert-info">
      <span class="pficon pficon-info"></span>
      <strong>No Timeline data available.</strong>
    </div>
  <% end %>
<% end %>
</div>
