<div id="bottlenecks_summary_div">
  <% if x_node != "" %>
    <%= render(:partial => "layouts/flash_msg", 
               :locals  => {:div_num => "1"})
    %>
    <%= render(:partial => 'bottlenecks_options', 
               :locals  => {:typ => "summ"})
    %>
  <% else %>
    <%= render :partial => 'layouts/info_msg', :locals => {:message => "Select a node on the left to view Bottlenecks timeline."}%>
  <% end %>
  <%= render :partial=>'bottlenecks_tl_detail' %>
</div>
