- # Div to hold the actual tree
#bottlenecks_tree_div{:style => "width: 100%; height: 100%"}
  #bottlenecks_treebox{:style => "width: 100%; height: 100%; color: #000; overflow: hidden;"}
  = render(:partial => "layouts/dynatree",
    :locals         => {:tree_id => "bottlenecks_treebox",
      :tree_name                 => "bottlenecks_tree",
      :json_tree                 => @temp[:bottlenecks_tree],
      :onclick                   => "cfmeOnClick_SelectOptimizeTreeNode",
      :select_node               => "#{x_node(:bottlenecks_tree)}",
      :exp_tree                  => false,
      :highlighting              => true,
      :no_tree_lines             => false,
      :tree_state                => true,
      :autoload                  => true,
      :multi_lines               => true})
