<p class="legend">Plan for VM placement on Clusters or Hosts</p>
<div class="alert alert-info">
  <span class="pficon pficon-blank"></span>
  <strong>1 - Select a Reference VM.</strong>
</div>
<div class="alert alert-info">
  <span class="pficon pficon-blank"></span>
  <strong>2 - Specify the VM Options to define the source of the values used for the plan calculations.</strong>
</div>
<div class="alert alert-info">
  <span class="pficon pficon-blank"></span>
  <strong>3 - Specify Target Options to qualify target Clusters or Hosts.</strong>
</div>
<div class="alert alert-info">
  <span class="pficon pficon-blank"></span>
  <strong>4 - Change the Trend Options used to calculate the daily trends, if desired.</strong>
</div>
<div class="alert alert-info">
  <span class="pficon pficon-blank"></span>
  <strong>5 - Press the Submit button.</strong>
</div>
