<div id="utilization_tabs" style="display:none;">
	<ul class="tab">
		<li><a href="#summary">Summary</a></li>
		<li><a href="#details">Details</a></li>
		<li><a href="#report">Report</a></li>
	</ul>
	<div id="summary" name="Summary" width="80px">
		<%= render :partial => "utilization_summary" %>
	</div>
	<div id="details" name="Details" width="80px">
		<%= render :partial => "utilization_details" %>
	</div>
	<div id="report" name="Report" width="80px">
		<%= render :partial => "utilization_report" %>
	</div>
</div>
<script type="text/javascript">
	//method takes hash that can have 4 keys: tabs div id, active_tab label,
	//url to go to when tab is changed, and whether to check for abandon changes or not
	miq_jquery_tabs_init({tabs_div: "utilization_tabs", active_tab: "<%=@sb[:active_tab]%>", url: "/miq_capacity/change_tab/"})
</script>
