<% content_for :trees do %>
  <div style="display:none"><%= render :partial =>"utilization_tree" %></div>
<% end %>

<% content_for :accords do %>
  <%# Create the explorer dhtmlx layout/accordion JS objects %>
  <%= render(:partial => "layouts/dhtmlxlayout_explorer",
             :locals => {:accords=>@accords}
      ) %>
<% end %>

<div id="main_div" class="main_div">
    <%= render :partial => "utilization_tabs" %>
</div>

<script>
  var miq_after_onload = "miqAsyncAjax('<%= url_for(:action=>@ajax_action) %>');"
</script>
