<div pf-card class="heatmap-card" head-title={{title}} hidetopborder="{{hideTopBorder}}">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 card-heatmap-body">
            <div ng-repeat="heatmap in heatmaps track by $index">
                <div class="{{columnSizingClass}} container-heatmap-tile">
                    <span class="h3 heatmap-chart-title" ng-if="heatmaps.length > 1">{{heatmap.title}}</span>

                    <div id="{{heatmap.id}}" class="heatmap-container" >
                        <div pf-heatmap chart-data-available="heatmap.dataAvailable" data="heatmap.data" parentid="{{heatmap.id}}" height="heatmapChartHeight" ng-if="heatmap.loadingDone" show-legend="heatmaps.length === 1">
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="heatmaps.length > 1" class="col-xs-16 col-sm-8 col-md-8">
                <div pf-heatmap-legend legend="heatMapUsageLegendLabels"></div>
            </div>
        </div>
    </div>
</div>
