<div class="wizard-miq-review-page">
  <div class="wizard-miq-review-steps">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="reviewStep in reviewSteps track by $index">
        <a class="miq-form-collapse" ng-class="{'collapsed': !reviewStep.showReviewDetails}" ng-click="toggleShowReviewDetails(reviewStep)">
          {{reviewStep.stepTitle}}
        </a>
        <div class="wizard-miq-review-substeps" ng-class="{'collapse': !reviewStep.showReviewDetails}">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="substep in reviewStep.getReviewSteps()">
              <a class="miq-form-collapse" ng-class="{'collapsed': !substep.showReviewDetails}" ng-click="toggleShowReviewDetails(substep)">
                <span class="wizard-miq-substep-number">{{getSubStepNumber(reviewStep, substep)}}</span>
                <span class="wizard-miq-substep-title">{{substep.stepTitle}}</span>
              </a>
              <div class="wizard-miq-review-content" ng-class="{'collapse': !substep.showReviewDetails}">
                <div ng-include="substep.reviewTemplate"></div>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
