- # Parameters:
- #   widget -- MiqWidget object
- if !@sb[:dashboards][@sb[:active_db]][:locked]
  = link_to("",
    {:controller => "dashboard", :action => "widget_close", :widget => widget.id},
    :id => "w_#{widget.id}_close",
    :title => "Remove from Dashboard",
    :remote => true,
    :confirm => "Are you sure you want to remove '#{widget.title}' from the Dashboard?",
    'data-miq_sparkle_on' => true,
    :class => "delbox")
