- # Parameters:
- #   widget -- MiqWidget object
- if !@sb[:dashboards][@sb[:active_db]][:locked]
  = link_to("",
    {:controller => "dashboard", :action => "widget_close", :widget => widget.id},
    :id => "w_#{widget.id}_close",
    :title => _("Remove from Dashboard"),
    :remote => true,
    :confirm => _("Are you sure you want to remove '%s' from the Dashboard?") % widget.title,
    'data-miq_sparkle_on' => true,
    :class => "delbox")
