<div id="dashboard_dropdown">
	<%= render(:partial => "layouts/dhtmlx_tags", :locals=>{:control=>"toolbar"}) %>
	<div id ="widget_select_div" style="padding-left: 14px; padding-top: 4px">
	</div>

	<%# Set the JS var to hold the dhtmlxtoolbar widget dropdown XML %>
	<script type="text/javascript">
		var miqMenuXML = "<%= @widgets_menu_xml %>";
	</script>
</div>
