-if @more
  #login_more_div
    .form-group
      %label.col-sm-3.col-md-3.control-label
        New Password
      .col-sm-10.col-md-9
        = password_field_tag('user_new_password', nil,
                             :onkeypress   => "if(miqEnterPressed(event)) miqAjaxAuth();",
                             :autocomplete => "off", 
                             :class        => "form-control")
    .form-group
      %label.col-sm-3.col-md-3.control-label
        Verify Password
      .col-sm-10.col-md-9
        = password_field_tag('user_verify_password', nil,
                             :onkeypress   => "if(miqEnterPressed(event)) miqAjaxAuth();",
                             :autocomplete => "off", 
                             :class        => "form-control")
-else
  #login_more_div{:style=>"display:none;"}
