-if @more
  #login_more_div
    %p
      %label=_('New Password')
      = password_field_tag('user_new_password', nil,:onkeypress=>"if(miqEnterPressed(event)) miqAjaxAuth();",:autocomplete => "off")
    %p
      %label=_('Verify Password')
      = password_field_tag('user_verify_password', nil,:onkeypress=>"if(miqEnterPressed(event)) miqAjaxAuth();",:autocomplete => "off")

-else
  #login_more_div{:style=>"display:none;"}
