- # Parameters:
- #   widget -- MiqWidget object
.modboxin{:style => "text-align: center;"}
  %div.mc{:id => "dd_w#{widget.id}_box",
    :style => "#{@sb[:dashboards][@sb[:active_db]][:minimized].include?(widget.id) ? 'display: none;' : ''}"}
    %h3 No data found.
    If this widget is new or has just been added to your dashboard, the data is being generated and should be available soon.
