<%
# Parameters:
#		widget			MiqWidget object
%>
<div class="modboxin rss_widget">
	<div id="dd_w<%= widget.id %>_box" class="mc"
		<% if @sb[:dashboards][@sb[:active_db]][:minimized].include?(widget.id) %>
			 style="display:none;"
		<% end %>
	>
		<% if widget.contents_for_user(session[:userid]).contents.blank? %>
				No RSS Feed data found . . .
		<% else %>
			<%= widget.contents_for_user(session[:userid]).contents.gsub("localhost:3000", "#{request.host}:#{request.port}").html_safe %>
		<% end %>
	</div>
</div>
