<%
# Parameters:
#		widget			MiqWidget object
%>
<div class="modboxin menu_widget">
	<div id="dd_w<%= widget.id %>_box" class="mc"
		<% if @sb[:dashboards][@sb[:active_db]][:minimized].include?(widget.id) %>
			 style="display:none;"
		<% end %>
	>
    <table class="style3">
      <tbody>
        <% has_items = false %>
        <% widget.miq_widget_shortcuts.order("sequence").each do |ws| %>
          <% if ws.miq_shortcut && role_allows(:feature=>ws.miq_shortcut.rbac_feature_name, :any=>true) %>
            <% has_items = true %>
            <tr>
              <td align="center">
                <%= link_to(ws.description, ws.miq_shortcut.url, :title=>"Click to go to this location") %>
              </td>
            </tr>
          <% end %>
        <% end %>
        <% unless has_items %>
          No shortcuts are authorized for this user, contact your Administrator . . .
        <% end %>
      </tbody>
    </table>
	</div>
</div>
