<%
# Parameters:
#		widget			MiqWidget object
%>
<div class="modboxin" style="text-align:center;">
	<div id="dd_w<%= widget.id %>_box" class="mc"
		<% if @sb[:dashboards][@sb[:active_db]][:minimized].include?(widget.id) %>
			 style="display:none;"
		<% end %>
	>
		<h3>No data found.</h3>If this widget is new or has just been added to your dashboard, the data is being generated and should be available soon.
	</div>
</div>
