%div{"ng-if"    => "!drawerExpanded",
     "ng-click" => "customScope.markNotificationRead(notification, notificationGroup)"}
  %div.dropdown.pull-right.dropdown-kebab-pf
    %button.btn.btn-link.dropdown-toggle{:type      => "button",
                                         "ng-click" => "customScope.clearNotification(notification, notificationGroup)"}
      %span.pficon.pficon-close
  %span.pull-left{"ng-class" => "customScope.getNotficationStatusIconClass(notification)",
                  "ng-click" => "customScope.markRead(notification, notificationGroup)"}
  %span.drawer-pf-notification-message.notification-message{"ng-click"            => "customScope.markRead(notification, notificationGroup)",
                                                            "tooltip-popup-delay" => "500",
                                                            "tooltip-placement"   => "bottom",
                                                            "tooltip"             => "{{notification.data.message}}"}
    {{notification.data.message}}
  .drawer-pf-notification-info{"ng-if"    => "!notification.data.inProgress",
                               "ng-click" => "customScope.markRead(notification, notificationGroup)"}
    %span.date
      {{notification.timeStamp | date:'MM/dd/yyyy'}}
    %span.time
      {{notification.timeStamp | date:'h:mm:ss a'}}
  .mini-progress.clearfix{"ng-if" => "notification.data.inProgress"}
    %span.time
      {{notification.timeStamp | date:'h:mm:ss a'}}
    .mini-progress-area
      .progress
        %span.progress-bar.progress-bar-info{"ng-style" => "{ width: notification.data.percentComplete + '%' }",
                                             :tooltip   => "{{notification.data.percentComplete}} #{_("% Complete")}"}

.container-fluid.expanded-notification{"ng-if"    => "drawerExpanded",
                                       "ng-click" => "customScope.markNotificationRead(notification, notificationGroup)"}
  .row
    .col-sm-6{"ng-class" => "{ 'col-md-4': notificationGroup.notificationType == 'task' }"}
      %span.pull-left{"ng-class" => "customScope.getNotficationStatusIconClass(notification)",
                      "ng-click" => "customScope.markRead(notification, notificationGroup)"}
      %span.drawer-pf-notification-message.notification-message{"ng-click"               => "customScope.markRead(notification, notificationGroup)",
                                                                "tooltip-append-to-body" => "true",
                                                                "tooltip-popup-delay"    => "500",
                                                                "tooltip-placement"      => "bottom",
                                                                "tooltip"                => "{{notification.data.message}}"}
        {{notification.data.message}}
    .col-md-4.col-sm-3{"ng-if" => "notificationGroup.notificationType == 'task'"}
      .drawer-pf-notification-info.expanded-info{"ng-click" => "customScope.markRead(notification, notificationGroup)"}
        %span.info-title
          = _("Started:")
        %span.date
          {{notification.data.startTime | date:'MM/dd/yyyy'}}
        %span.time
          {{notification.data.startTime | date:'h:mm:ss a'}}
      .progress{"ng-if" => "notification.data.inProgress"}
        .progress-bar.progress-bar-info{"ng-style" => "{ width: notification.data.percentComplete + '%' }",
                                        :tooltip   => "{{notification.data.percentComplete}} #{_("% Complete")}"}
    .col-md-4.col-sm-3{"ng-if" => "notificationGroup.notificationType == 'task'"}
      .drawer-pf-notification-info{"ng-click" => "customScope.markRead(notification, notificationGroup)"}
        %span.info-title
          = _("Completed:")
        %span.date
          {{notification.data.endTime | date:'MM/dd/yyyy'}}
        %span.time
          {{notification.data.endTime | date:'h:mm:ss a'}}
    .col-sm-6{"ng-if" => "notificationGroup.notificationType == 'event'"}
      .drawer-pf-notification-info{"ng-click" => "customScope.markRead(notification, notificationGroup)"}
        %span.date
          {{notification.data.timeStamp | date:'MM/dd/yyyy'}}
        %span.time
          {{notification.data.timeStamp | date:'h:mm:ss a'}}
      .pull-right.dropdown-kebab-pf
        %button.btn.btn-link.dropdown-toggle{:type      => "button",
                                             "ng-click" => "customScope.clearNotification(notification, notificationGroup)"}
          %span.pficon.pficon-close
