.flobj
  %img{:src => image_path("#{size}/base-single.png"), :width => size, :height => size, :border => 0}
.flobj{:class => "e#{size}"}
  %img{:src => image_path('100/emscluster.png'), :width => width * 1.7, :height => width * 1.8, :border => 0}

- if item.get_policies.length > 0
  .flobj{:class => "g#{size}"}
    %img{:src => image_path('100/shield.png')}

- unless typ == :listnav
  -# Listnav, no clear image needed
  .flobj
    - if !@embedded || @showlinks
      %a{:href => url_for_record(item), :title => h(item.v_qualified_desc)}
        %img{:src => image_path('clearpix.gif'), :width => size, :height => size}
    - else
      %a{:title => h(item.v_qualified_desc)}
        %img{:src => image_path('clearpix.gif'), :width => size, :height => size}
