.flobj
  %img{:src => image_path("#{size}/base-single.png"), :border => 0, :width => size, :height => size}

.flobj{:class => "e#{size}"}
  %img{:src => image_path('100/repository.png'), :width => width * 1.8, :height => width * 1.8}
- if item.get_policies.length > 0
  .flobj{:class => "g#{size}"}
    %img{:src => image_path('100/shield.png')}

.flobj
  %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
- unless typ == :listnav
  -# Listnav, no clear image needed
  .flobj
    - if ! @embedded || @showlinks
      %a{:href => url_for_record(item), :title => _("Name: %s | Path: %s") % [h(item.name), h(item.path)]}
        %img{:src => image_path('clearpix.gif'), :width => size, :height => size}
    - else
      %a{:title => _("Name: %s | Path: %s") % [h(item.name), h(item.path)]}
        %img{:src => image_path('clearpix.gif'), :width => size, :height => size}
