- img = item.vapp ? "vapp.png" : "resource_pool.png"

.flobj
  %img{:src => "/images/icons/#{size}/base-single.png", :border => 0}

.flobj{:class => "e#{size}"}
  %img{:src => "/images/icons/new/#{img}", :width => width * 1.8, :height => width * 1.8, :border => 0}
- if item.get_policies.length > 0
  .flobj{:class => "g#{size}"}
    %img{:src => "/images/icons/new/shield.png"}

- unless typ == :listnav
  - # Listnav, no clear image needed
  .flobj
    - if !@embedded || @showlinks
      %a{:href => url_for_record(item), :title => h(item.name)}
        %img{:src => "/images/clearpix.gif", :width => size, :height => size}
    - else
      %a{:title => h(item.name)}
        %img{:src => "/images/clearpix.gif", :width => size, :height => size}
