<div class="wizard-modal__header">
  <button type="button" class="wizard-modal__close" ng-click="$dismiss()" aria-label="Close">
    <i class="fa fa-close" aria-hidden="true"></i>
    <span class="sr-only">Close</span>
  </button>
  <div class="wizard-modal__title">Product Wizard</div>
</div>
<div class="wizard-modal__body" ng-switch="vm.state">
  <div ng-switch-when="intro">
    <button type="button" class="btn-rounded wizard-modal__button" ng-click="vm.startWizard()">Start Wizard</button>
  </div>
  <div ng-switch-when="wizard">
    <div class="wizard-modal__question">{{ vm.question.text }}</div>
    <div class="wizard-modal__answers">
      <button type="button"
              class="btn-rounded btn-rounded--capitalize wizard-modal__button"
              ng-repeat="answer in vm.question.wizard_answers track by answer.id"
              ng-class="{'wizard-modal__button--selected': vm.answeredQuestions[vm.questionPointer].id === answer.id}"
              ng-click="vm.answerWith($index)">
        {{ ::answer.text }}
      </button>
      <button type="button" class="btn-link wizard-modal__button" ng-click="vm.answerWith(-1)">Not Sure</button>
    </div>
  </div>
  <div ng-switch-when="complete">
    <button type="button" class="btn-rounded wizard-modal__button" ng-click="$close(vm.tags)">
      Show Matching Products
    </button>
  </div>
</div>
<div class="wizard-modal__footer">
  <button type="button"
          ng-disabled="vm.questionPointer <= 0 || vm.state !== 'wizard'"
          class="btn-rounded wizard-modal__ok"
          ng-click="vm.questionNavigation(-1)">Previous
  </button>
  <button type="button"
          ng-disabled="vm.answeredQuestions.length <= vm.questionPointer || vm.state !== 'wizard'"
          class="btn-rounded wizard-modal__ok"
          ng-click="vm.questionNavigation(1)">Next
  </button>
</div>
