#resolve_form_div
  #form_div
    - if @resolve[:instance_names]
      = render(:partial => "layouts/ae_resolve_options",
        :locals         => {:resolve => @resolve,
          :form_action               => "ae_resolve",
          :ae_sim_form               => true})
