:javascript
  var postMessageData = {
    git_repo_id: '#{j(@git_repo_id)}',
    git_branches: '#{j(@git_branches)}',
    git_tags: '#{j(@git_tags)}',
    message: '#{j(@message)}'
  };

  $(function() {
    parent.postMessage(postMessageData, '*');
  });
