:javascript
  var postMessageData = {
    git_repo_id: '#{j(@git_repo_id)}',
    git_branches_and_tags: '#{j(@git_branches_and_tags)}',
    message: '#{j(@message)}'
  };

  $(function() {
    parent.postMessage(postMessageData, '*');
  });
