<%# if dialogs is selected %>
<div id="form_buttons_div">
	<% if @record.buttons %>
		<table width="100%">
			<tr>
				<td align="right">
					<div id="buttons">
						<ul id="form_buttons">
							<% @record.buttons.split(',').each do |b| %>
								<li>
									<%= image_tag("/images/formbuttons/#{b.strip}.png",	:class=>"dimmed", :style=>"width: 80px; height: 30px") %>
								</li>
							<% end %>
						</ul>
					</div>
				</td>
			</tr>
		</table>
	<% end %>
</div>

