<%# if dialogs is selected %>
<div id="form_buttons_div">
	<% if @record.buttons %>
		<table width="100%">
			<tr>
				<td align="right">
					<div id="buttons">

							<% @record.buttons.split(',').each do |b| %>

									<%= button_tag("#{b.strip}",	:class=>"btn btn-default") %>

							<% end %>

					</div>
				</td>
			</tr>
		</table>
	<% end %>
</div>

