- parent_id ||= nil
#form_widgets_div
  %fieldset
    %p.legend
      = typ.capitalize
    #modules
      .yui-b
        .yui-gb
          #col1.yui-u.first{:style => "position: relative; min-height: 50px;"}
            - objects = @edit[:new][:tabs]
            - if parent_id
              - ids = parent_id.split('_')
              - case ids.length
              - when 1
                - objects = !@edit[:new][:tabs][ids.first.to_i].blank? ? @edit[:new][:tabs][ids.first.to_i][:groups] : nil
              - when 2
                - objects = !@edit[:new][:tabs][ids.first.to_i][:groups][ids[1].to_i].blank? ? @edit[:new][:tabs][ids.first.to_i][:groups][ids[1].to_i][:fields] : nil
            - if objects.blank?
              =_("No %s found.") % typ.pluralize.capitalize
            - else
              - objects.each_with_index do |obj, i|
                - if obj[:label]
                  = render(:partial => 'dialog_resource',
                    :locals => {:obj => obj,
                      :typ           => typ,
                      :parent_id     => parent_id,
                      :curr_pos      => i})
