<% parent_id ||= nil %>
<div id="form_widgets_div">
	<fieldset>
		<p class="legend"><%=typ.capitalize%></p>
		<div id="modules">
			<div class="yui-b">
				<div class="yui-gb">
					<div class="yui-u first" style="position:relative;min-height:50px;" id="col1">
						<% objects = @edit[:new][:tabs] %>
						<% if parent_id %>
							<% ids = parent_id.split('_') %>
							<% case ids.length %>
							<% when 1 %>
								<% objects = !@edit[:new][:tabs][ids.first.to_i].blank? ? @edit[:new][:tabs][ids.first.to_i][:groups] : nil %>
							<% when 2 %>
								<% objects = !@edit[:new][:tabs][ids.first.to_i][:groups][ids[1].to_i].blank? ? @edit[:new][:tabs][ids.first.to_i][:groups][ids[1].to_i][:fields] : nil %>
							<% end %>
						<% end %>
						<% unless objects.blank? %>
							<% objects.each_with_index do |obj,i| %>
								<% if obj[:label] %>
									<%= render(:partial=>'dialog_resource', :locals=>{:obj=>obj, :typ=>typ, :parent_id=>parent_id, :curr_pos=>i}) %>
								<% end %>
							<% end %>
						<% else %>
							No <%=typ.pluralize.capitalize%> found.
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</div>
