- if @folders
  = render :partial => "layouts/flash_msg"
  %table.style3
    %thead
      %th.icon
      %th
    %tbody
      - @folders.each do |f|
        %tr{:class => cycle('row0', 'row1'),
          :onclick => "cfmeDynatree_activateNode('old_dialogs_tree', 'xx-MiqDialog_#{f[1]}');",
          :onmouseover => "this.style.cursor='pointer'", :title => (_("View %s Folder") % f[0])}
          %td{:nowrap => 1}
            %img{:src => "/images/icons/new/folder.png", :valign => "middle", :border => "0"}
          %td
            = h(f[0])

