#field_values_div
  %fieldset
    %p.legend Category Tag Entries
    %table.style3
      %thead
        %tr
          %th.title Value
          %th.title Description
      %tbody
        - DialogFieldTagControl.category_tags(@edit[:field_category]).each do |cat|
          %tr
            %td=cat[:name]
            %td=cat[:description]
      %tfoot
        %tr
          %td{:colspan => "40"}
