language: ruby
rvm:
- '2.3.1'
sudo: false
cache:
  bundler: true
  directories:
    - vendor/assets/bower_components
before_cache:
- cat bower.json > vendor/assets/bower_components/bower.json
env:
  global:
  - RUBY_GC_HEAP_GROWTH_MAX_SLOTS=300000
  - RUBY_GC_HEAP_INIT_SLOTS=600000
  - RUBY_GC_HEAP_GROWTH_FACTOR=1.25
  - PARALLEL_TEST_PROCESSORS=2
  matrix:
  - TEST_SUITE=vmdb PARALLEL=true
  - TEST_SUITE=migrations
  - TEST_SUITE=brakeman
  - TEST_SUITE=replication
  - TEST_SUITE=javascript
matrix:
  fast_finish: true
addons:
  postgresql: '9.4'
before_install:
- source ${TRAVIS_BUILD_DIR}/tools/ci/before_install.sh
before_script:
- source ${TRAVIS_BUILD_DIR}/tools/ci/before_script.sh
script:
- bundle exec rake ${TEST_SUITE+test:$TEST_SUITE}
after_script:
- source ${TRAVIS_BUILD_DIR}/tools/ci/after_script.sh
after_failure:
- source ${TRAVIS_BUILD_DIR}/tools/ci/after_failure.sh
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/7af45001fe6b7a4039f2
    on_success: change
    on_failure: always
    on_start: never
