language: ruby
rvm:
- "2.0"
- "2.1"
sudo: false
cache: bundler
bundler_args: --without development:metric_fu:qpid
env:
  global:
  - RUBY_GC_MALLOC_LIMIT=90000000
  matrix:
  - "TEST_SUITE=lib         TEST_ROOT=lib"
  - "TEST_SUITE=vmdb        TEST_ROOT=vmdb"
  - "TEST_SUITE=migrations  TEST_ROOT=vmdb"
  - "TEST_SUITE=replication TEST_ROOT=vmdb"
  - "TEST_SUITE=automation  TEST_ROOT=vmdb"
  - "TEST_SUITE=javascript  TEST_ROOT=vmdb"
matrix:
  exclude:
  - rvm: "2.1"
    env: "TRAVIS_PULL_REQUEST=false"
  allow_failures:
  - rvm: "2.1"
    env: "TEST_SUITE=vmdb        TEST_ROOT=vmdb"
  fast_finish: true
addons:
  postgresql: '9.3'
before_install:
- "echo 'gem: --no-ri --no-rdoc --no-document' > ~/.gemrc"
- echo "1" > vmdb/REGION
- cp vmdb/config/database.pg.yml vmdb/config/database.yml
- psql -c "CREATE USER root SUPERUSER PASSWORD 'smartvm';" -U postgres
- rake build:shared_objects
- cd $TEST_ROOT
before_script: bundle exec rake test:$TEST_SUITE:setup
script: bundle exec rake test:$TEST_SUITE
