---
ignore: |
  /lib/generators/**/templates/**
  /locale/**
  /spec/tools/openstack_data/**
  /vendor/**

extends: relaxed

rules:
  indentation:
    indent-sequences: false
  line-length:
    max: 1000
