<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
      ng-submit="vm.onSubmit()"
      ng-class="{'show-errors': vm.showErrors()}">
  <content-header short="true">
    <div>
      <span class="content-header__title product-category-form__title" ng-bind="::vm.heading"></span>
      <span class="product-category-form__title-error"
            ng-if="vm.hasErrors()">
        Please complete required fields in red
      </span>
    </div>
  </content-header>

  <div class="row">
    <div class="product-category-form__body">
      <div class="product-category-field">
        <div class="product-category-field__aside">
          <label class="product-category-field__label">Name</label>
        </div>
        <div class="product-category-field__body" ng-class="{'has-error': vm.hasErrors('name')}">
          <input id="product-category-name" ng-model="vm.productCategory.name" name="name" type="text"
                 class="product-category-field__input" placeholder="Enter a product category name." required/>

          <div class="product-category-field__feedback" ng-messages="vm.form.name.$error">
            <div ng-message="required">A product category name is required.</div>
          </div>
        </div>
      </div>

      <div class="product-category-field">
        <div class="product-category-field__aside">
          <label class="product-category-field__label">Description</label>
        </div>
        <div class="product-category-field__body" ng-class="{'has-error': vm.hasErrors('description')}">
          <textarea id="product-category-description" ng-model="vm.productCategory.description" name="description"
                    class="product-category-field__input field__input--textarea" rows="3"
                    placeholder="Enter a product category description." required></textarea>

          <div class="product-category-field__feedback" ng-messages="vm.form.description.$error">
            <div ng-message="required">An product category description is required.</div>
          </div>
        </div>
      </div>

      <div class="product-category-field">
        <div class="product-category-field__aside">
          <label class="product-category-field__label">Tags</label>
        </div>
        <div class="product-category-field__body" ng-class="{'has-error': vm.hasErrors('description')}">
          <tag-field ng-model="vm.productCategory.tags" name="tags" placeholder="Enter tag name(s)" min-tags="1">
            <tag-autocomplete source="vm.queryTags(query)"></tag-autocomplete>
            <div class="product-category-field__feedback" ng-messages="vm.form.tags.$error">
              <div ng-message="minTags">At least one tag must be entered.</div>
            </div>
            <tag-show-modal>Show all tags</tag-show-modal>
          </tag-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn-rounded product-category-form__submit" ng-disabled="vm.hasErrors()">
          Save
        </button>
        <button type="button" class="btn btn-link product-category-form__cancel"
                confirmation
                confirmation-if="vm.form.$dirty"
                confirmation-message="You have unsaved changes. Abandon them and leave the page?"
                confirmation-ok-style="danger"
                confirmation-ok-text="Yes, Leave"
                confirmation-on-ok="vm.backToList()"
                confirmation-show-cancel="false">Cancel
        </button>
      </div>
    </div>
  </div>
</form>
