<div ng-app="containerDashboard" ng-controller="containerDashboardController as dashboard" class="container-fluid container-tiles-pf containers-dashboard miq-dashboard-view">
    <div class="row row-tile-pf" >
        <div class="col-xs-6 col-sm-4 col-md-2">
            <div pf-aggregate-status-card status="objectStatus.providers" show-top-border="true" layout="tall" class="card-pf-title-container-dash"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div  pf-aggregate-status-card status="objectStatus.nodes" url="navigation" show-top-border="true" layout="mini" class="card-pf-title-container-dash"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div  pf-aggregate-status-card status="objectStatus.containers" url="navigation" show-top-border="true" layout="mini" class="card-pf-title-container-dash"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div  pf-aggregate-status-card status="objectStatus.registries" url="navigation" show-top-border="true" layout="mini" class="card-pf-title-container-dash"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div  pf-aggregate-status-card status="objectStatus.projects" url="navigation" show-top-border="true" layout="mini" class="card-pf-title-container-dash" ></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div  pf-aggregate-status-card status="objectStatus.pods" url="navigation" show-top-border="true" layout="mini" class="card-pf-title-container-dash"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div  pf-aggregate-status-card status="objectStatus.services" url="navigation" show-top-border="true" layout="mini" class="card-pf-title-container-dash"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div  pf-aggregate-status-card status="objectStatus.images" url="navigation" show-top-border="true" layout="mini" class="card-pf-title-container-dash"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div  pf-aggregate-status-card status="objectStatus.routes" url="navigation" show-top-border="true" layout="mini" class="card-pf-title-container-dash"></div>
                </div>
            </div><!-- /row -->
        </div>
    </div><!-- /row -->
</div>

