- url = url_for(:action=>'iso_img_form_field_changed', :id=>"#{@img.id || "new"}")
#form_div
  = render :partial => "layouts/flash_msg"
  %h3=_('Basic Information')
  %table.style1
    %tbody
      %tr
        %td.key=_('Type')
        %td.wide
          - img_types = [["<#{_('Unknown')}>",nil]] + @edit[:pxe_image_types]
          = select_tag("image_typ",
            options_for_select(img_types, @edit[:new][:img_type]),
            "data-miq_observe" => {:url => url}.to_json)
