- if x_active_tree == :iso_datastores_tree
  - if x_node == "root" && @view
    = render :partial => 'layouts/x_gtl', :locals=>{:action_url=>"iso_datastore_list"}
  - else
    = render(:partial=>"iso_datastore_details")
