<% url = url_for(:action => 'pxe_image_type_form_field_changed', 
                 :id     => "#{@pxe_image_type.id || "new"}") 
%>
<div id="form_div">
  <%= render :partial => "layouts/flash_msg" %>
  <p class="legend">Basic Information</p>
  <table class="style1">
    <tbody>
      <tr>
        <td class="key">Name</td>
        <td class="wide">
          <%= text_field_tag("name",
                             @edit[:new][:name],
                             :maxlength         => MAX_NAME_LEN,
                             "data-miq_observe" => {:interval => '.5', 
                                                    :url      => url}.to_json) 
          %>
          <%= javascript_tag("$j('#name').focus()") %>
        </td>
      </tr>
      <tr>
        <td class="key">Type</td>
        <td class="wide">
          <%= select_tag("provision_type",
                         options_for_select([["<Any>",nil]] + @edit[:prov_types].invert.sort,
                         @edit[:new][:provision_type]),
                         "data-miq_observe" => {:url => url}.to_json)
          %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
