<div id="pxe_image_type_details_div" style="width:100%;height:100%;overflow:auto;position:relative;"><%# Added position:relative so dhtmlxtree scrolls properly in IE7 %>
	<%# if PXE Server is sleted %>
	<% if @pxe_image_type %>
    <% unless @edit %>
      <fieldset>
        <p class="legend">Basic Information</p>
        <table class="style1">
          <tr>
            <td class="key">Name</td>
            <td><%= h(@pxe_image_type.name) %></td>
          </tr>
          <tr>
            <td class="key">Provision Type</td>
            <td><%= h(@pxe_image_type.provision_type) %></td>
          </tr>
        </table>
      </fieldset>
    <% else %>
      <%= render(:partial=>"pxe_image_type_form") %>
    <% end %>
	<% end %>
</div>
