<% if x_active_tree == :customization_templates_tree %>
  <% if (x_node == "root" && !@in_a_form) || @view %>
    <div id="template_list_div" style="width:100%;height:100%;overflow:auto;">
      <% if x_node == "root" %>
        <%= render(:partial=>"template_folders") %>
      <% end %>
      <% if @view %>
        <%= render :partial => 'layouts/x_gtl', :locals=>{:action_url=>"template_list"} %>
      <% end %>
    </div>
  <% else %>
    <%= render(:partial=>"template_details") %>
  <% end %>
  <div id="null_div"></div>
<% end %>
