- if %w(containers container_groups container_nodes).include?(@display)
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- else
    = render :partial => @showtype
