- if @display == 'cloud_volume_snapshots'
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@volume.id}"}
- else
  - if @showtype == "item"
    = render :partial => "layouts/item"
  - else
    = render :partial => @showtype
