- if %w(cloud_volume_snapshots instances).include?(@display)
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@volume.id}"}
- else
  - if @showtype == "item"
    = render :partial => "layouts/item"
  - elsif @showtype == "main"
    = render :partial => "main"
