+block(cart-modal)
  @extend .modal

  +element(dialog)
    @extend .modal-dialog
    width: 760px

  +element(content)
    @extend .modal-content
    border-radius: 0
    border: none

  +element(header)
    @extend .modal-header
    color: $app-color-white
    background-color: $app-color-dark-green
    border-bottom: none
    position: relative

  +element(title)
    @extend .modal-title
    text-align: center
    font-size: 22px
    text-transform: uppercase

  +element(close)
    margin-top: -2px
    color: $app-color-white
    font-size: 22px
    line-height: 1em
    background-color: transparent
    border: none
    position: absolute
    top: 50%
    right: 30px
    transform: translateY(-50%)

  +element(body)
    @extend .modal-body
    background-color: $app-color-light-gray-2
    max-height: 350px
    overflow-y: auto
    padding-bottom: 0

  +element(footer)
    @extend .modal-footer
    text-align: center
    border: 0 solid $app-color-light-gray-2
    border-top-width: 1px

  +element(checkout)
    min-width: 120px

  +element(cancel)
    min-width: 120px

  +element(empty)
    display: block
    text-align: center
    font-size: 16px
    font-weight: bold
    margin-bottom: 15px


+block(cart-table)
  @extend .table-striped
  width: 100%
  background-color: $app-color-white
  border: 1px solid $app-color-gray
  margin-bottom: 15px

  +element(col)

    +modifier(quantity)
      width: 129px

    +modifier(product)
      width: 320px

    +modifier(price)
      width: 140px

    +modifier(setup_price)
      width: 140px

    +modifier(actions)
      width: 136px

  +element(row)
    width: 100%
    background-color: $app-color-white

  +element(heading)
    height: 44px
    font-size: 12px
    font-weight: bold
    text-transform: uppercase
    color: $app-color-gray
    padding: 10px 10px 10px 0

    +modifier(quantity)
      text-align: center

    +modifier(product)

    +modifier(price)
      text-align: right

    +modifier(setup_price)
      text-align: right

    +modifier(actions)
      padding-left: 10px

  +element(cell)
    height: 44px
    font-size: 14px
    border: none
    padding: 10px 10px 10px 0
    vertical-align: top
    position: relative

    +modifier(quantity)
      text-align: center

    +modifier(product)

    +modifier(price)
      text-align: right

    +modifier(setup_price)
      text-align: right

    +modifier(actions)
      padding-left: 10px

  +element(action)
    margin-right: 20px
    outline: none

    &:last-child
      margin-right: 0

  +element(footer)
    height: 44px
    padding: 10px 10px 10px 0

    +modifier(total)
      font-weight: bold
