<div ng-if="::vm.category.products.length > 0" class="catalog-category">
  <div class="catalog-category__header">
    <span class="catalog-category__title">{{ ::vm.category.name }}</span>
    <a href="#" title="Collapse">
      <img class="catalog-category__collapse-icon" src="/images/ic_viewcategory_dropdown.png"
           ng-click="vm.collapsed = !vm.collapsed">
    </a>
  </div>
  <div ng-switch="vm.viewMode" class="catalog-category__body" collapse="vm.collapsed">
    <table ng-switch-when="list" st-table="vm.category.products" class="catalog-category__table">
      <thead>
      <tr>
        <th ng-if="::vm.comparable" class="catalog-category__heading catalog-category__heading--compare">Compare</th>
        <th ng-if="::!vm.comparable" class="catalog-category__heading catalog-category__heading--padding"></th>
        <th st-sort="name"
            class="catalog-category__heading catalog-category__heading--description catalog-category__heading--sortable">
          Description
        </th>

        <th st-sort="monthly_price"
            class="catalog-category__heading catalog-category__heading--monthly catalog-category__heading--sortable">
          Monthly Price
        </th>
        <th ng-if="::vm.project" class="catalog-category__heading catalog-category__heading--actions">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in vm.category.products track by row.id">
        <td ng-if="::vm.comparable" class="catalog-category__cell catalog-category__cell--compare">
          <select-product product="::row"></select-product>
        </td>
        <td ng-if="::!vm.comparable" class="catalog-category__cell catalog-category__cell--padding"></td>
        <td class="catalog-category__cell catalog-category__cell--description">
          <product-description product="::row" link-to="products.details({productId: {{row.id}}})"></product-description>
        </td>
        <td class="catalog-category__cell catalog-category__cell--monthly">
          <computed-monthly-price  pricing="row"></computed-monthly-price>
        </td>
        <td ng-if="::vm.project" class="catalog-category__cell catalog-category__cell--actions">
          <img src="/images/ic_cart.png" class="catalog-category__action"
               alt="Add to cart" title="Add to cart"
               add-to-cart product="::row" project="::vm.project"/>
          <!--<add-to-cart product="::row" project="::vm.project" short="::true" text="Add"></add-to-cart>-->
        </td>
      </tr>
      </tbody>
    </table>
    <div ng-switch-when="grid" class="catalog-category__grid">
      <div class="catalog-category__box" ng-repeat="row in ::vm.category.products track by row.id"
           ng-class="::{'catalog-category__box--trim': !vm.comparable}">
        <div class="catalog-category__card">
          <div ng-if="row.img">
            <img class="catalog-category__image catalog-category__image--large" ng-src="/images/assets/{{row.img}}"/>
          </div>
          <div ng-if="!row.img">
            <img class="catalog-category__image" ng-src="jelly_alone.png"/>
          </div>
          <div class="catalog-category__card-name">{{ ::row.name }}</div>
          <div class="catalog-category__card-description">{{ ::row.description }}</div>
        </div>
        <div ng-if="::vm.comparable">
          <div class="catalog-category__card-compare">
            <select-product product="::row"></select-product>
          </div>
          Add to Compare
        </div>
      </div>
    </div>
  </div>
</div>
