<div class="row">
  <div class="col-md-12">
	  <div pf-data-toolbar id="serviceToolbar" config="vm.toolbarConfig"></div>
  </div>
</div>
<div class="col-md-12 list-view-container">
  <pf-notification-list></pf-notification-list>
  <div pf-data-list id="serviceList" config="vm.listConfig" items="vm.servicesList">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <span class="no-wrap">
          <span class="ss-list-view__title-img">
            <span class="ss-list-view__title-img__center"></span>
            <img class="ss-list-view__title-img__logo" ng-src="{{ ::item.picture.image_href }}" ng-if=" ::item.picture.image_href"/>
            <img class="ss-list-view__title-img__logo" src="images/service.png" ng-if=" ::!item.picture.image_href"/>
          </span>
          {{ item.name }}
        </span>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <span class="no-wrap">
          <strong>Retirement Date</strong>&nbsp;
          <span ng-if=(item.retires_on)>{{ item.retires_on | date }}</span>
          <span ng-if=!(item.retires_on)>Never</span>
        </span>
      </div>
       <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
        <span class="no-wrap">
           <i class="pficon pficon-screen" tooltip="The number of instances running this service" tooltip-placement="bottom"></i>
          <span><strong>{{ item.v_total_vms}}</strong> VMs</span>
        </span>
      </div>
      <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
        <span class="no-wrap">
          <i class="pficon pficon-user" tooltip="Owner" tooltip-placement="bottom"></i>{{ item.evm_owner.name }}
        </span>
      </div>
      <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
        <span class="no-wrap">
          <strong>Created On</strong>&nbsp;{{ item.created_at | date }}
        </span>
      </div>
    </div>
  </div>
</div>


