<div class="row">
  <div class="col-md-12">
	  <div pf-data-toolbar id="serviceToolbar" config="vm.toolbarConfig"></div>
  </div>
</div>

<pf-notification-list></pf-notification-list>

<div class="col-md-12 list-view-container">
  <div pf-data-list id="serviceList" config="vm.listConfig" items="vm.servicesList">
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-8 col-xs-8">
        <span class="no-wrap">
          <span class="ss-list-view__title-img">
            <span class="ss-list-view__title-img__center"></span>
            <img class="ss-list-view__title-img__logo" ng-src="{{ ::item.picture.image_href }}" ng-if=" ::item.picture.image_href"/>
            <img class="ss-list-view__title-img__logo" src="assets/images/service.png" ng-if=" ::!item.picture.image_href"/>
          </span>
          {{ item.name }}
        </span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <span class="no-wrap">
          <strong>ID: </strong> {{ item.id }}
        </span>
      </div>
      <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
        <span class="no-wrap">
          <strong>Created: </strong> on {{ item.created_at | date }}
        </span>
      </div>
      <div class="col-lg-2 col-md-4 hidden-sm hidden-xs">
        <span class="no-wrap">
          <strong>Retires: </strong>
          <span ng-if=(item.retires_on)>{{ item.retires_on | date }}</span>
          <span ng-if=!(item.retires_on)>No Retire Date</span>
        </span>
      </div>
    </div>
  </div>
</div>


