- if @record.try(:name)
  #accordion
    .panel
      .topbar
        = link_to(truncate(@record.name, :length => truncate_length),
          {:action => 'panel_control', :panel => 'icon'},
          :remote => true,
          :title  => h(@record.name))
      = hidden_div_if(@panels["icon"].nil? || @panels["icon"] == false, :id => "icon") do
        .panecontent
          = render(:partial => "layouts/quadicon",
            :locals         => {:mode => :icon,
              :item                   => @record,
              :size                   => 72,
              :typ                    => :listnav})
