- if @record.try(:name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length),
      @panels["icon"].nil? || @panels["icon"] == false, "icon") do
      = render(:partial => "layouts/quadicon",
        :locals         => {:mode => :icon,
          :item                   => @record,
          :size                   => 72,
          :typ                    => :listnav})
