- if @record.try(:name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length),
      @panels["icon"].nil? || @panels["icon"] == false, "icon")

    = patternfly_accordion_panel(_("Properties"),
      @panels["miqaeclass_prop"].nil? || @panels["miqaeclass_prop"] == false, "miqaeclass_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))
        %li
          = link_to(_("Instances (%s)") % record.instances.count,
            {:action => 'show_instances', :id => @record.id},
            :title  => _("View Instances"),
            :align  => 'left',
            :border => '0')
