- if @record.try(:name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length),
      @panels["icon"].nil? || @panels["icon"] == false, "icon") do
      = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}

    = patternfly_accordion_panel(_("Properties"),
      @panels["storage_manager_prop"].nil? || @panels["storage_manager_prop"] == false, "storage_manager_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_("Summary"),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))
