#action_list_div
  - if @view.table.data.empty?
    - if @search_text.empty?
      - msg = _("No Actions are defined")
    - else
      - msg = _("No Actions are defined that match the entered search string '%s'") % @search_text
    = render 'layouts/info_msg', :message => msg
  - else
    #main_div
      = render :partial => 'layouts/gtl', :locals  => {:action_url => "action_get_all", :button_div => 'policy_bar'}
