#alert_list_div
  - if x_active_tree == :alert_tree && @view
    - if @view.table.data.empty?
      - if @search_text.blank?
        - msg = _("No Alerts are defined.")
      - else
        - msg = _("No Alerts are defined that match the entered search string.")
      = render :partial => 'layouts/info_msg', :locals => {:message => msg}
    - else
      #main_div
        = render :partial => 'layouts/gtl', :locals  => {:action_url => "alert_get_all", :button_div => 'policy_bar'}
