#alert_list_div{:style => "width: 100%; height: 100%; overflow: auto;"}
  - if x_active_tree == :alert_tree && @view
    - if @view.table.data.empty?
      - msg = _("No Alerts are defined %s.") % @search_text.blank? ? "" : _("that match the entered search string")
      = render :partial => 'layouts/info_msg', :locals => {:message => msg}
    - else
      #main_div
        = render :partial => 'layouts/gtl', :locals  => {:action_url => "alert_get_all", :button_div => 'policy_bar'}
