#condition_folders_div
  - if @folders
    = render :partial => "layouts/flash_msg"
    %table.table.table-striped.table-bordered.table-hover
      %tbody
        - @folders.each do |f|
          %tr{:title => _("View Condition"),
            :onclick => "miqDynatreeActivateNode('condition_tree', 'xx-#{f.camelize(:lower)}');"}
            %td.narrow
              %img{:src => image_path("100/#{f.underscore}.png")}
            %td
              = _("%s Conditions") % ui_lookup(:model => f)
