#event_list_div
  - if @events
    - if @events.empty?
      - if @search_text.empty?
        - msg = _("No Events are defined")
      - else
        - msg = _("No Events are defined that match the entered search string '%s'") % @search_text
      = render 'layouts/info_msg', :message => msg
    - else
      %table.table.table-striped.table-bordered.table-hover
        %tbody
          - @events.each do |e|
            %tr{:title => ("View this Event"),
              :onclick => "miqDynatreeActivateNode('event_tree', 'ev-#{to_cid(e.id)}');"}
              %td.narrow
                %img{:src => image_path("100/event-#{e.name}.png")}
              %td
                = e.description
