#policy_list_div
  - if x_active_tree == :policy_tree && @view
    - if @view.table.data.empty?
      = render :partial => "layouts/flash_msg"
      - mode, model = @sb[:folder].split('-')
      - mode = _(mode.titleize)
      - model = ui_lookup(:model => model.camelize)
      - if @search_text.blank?
        - msg = _("No %{model} %{mode} Policies are defined.") % {:model => model, :mode => mode}
      - else
        - msg = _("No %{model} %{mode} Policies are defined that match the entered search string.") % {:model => model, :mode => mode}
      = render :partial => 'layouts/info_msg', :locals => {:message => msg}
    - else
      #main_div
        = render :partial => 'layouts/gtl', :locals => {:action_url => "policy_get_all", :button_div => 'policy_bar'}
