- content_for :left do
  = render :partial => "rsop_options"
#main_div{:style => "width: 100%; height: 100%; overflow: auto; position: relative;"}
  -# Added position:relative so quads scroll properly in IE7
  = render :partial => "rsop_results"
