// Grays
$app-color-white: $color-white
$app-color-light-gray: $color-black-haze-approx
$app-color-light-gray-3: $color-white-smoke
$app-color-light-gray-4: $color-gallery-approx
$app-color-light-gray-2: $color-cararra-approx
$app-color-medium-gray: $color-mountain-mist-approx
$app-color-gray: $color-bombay-approx
$app-color-dark-gray: $color-cape-cod-approx

// Reds
$app-color-orange: $color-coral-approx
$app-color-pink: $color-radical-red-approx
$app-color-light-pink: $color-froly-approx

// Greens
$app-color-dark-green: $color-green-crayola-approx
$app-color-green: $color-mountain-meadow-approx

// Blues
$app-color-dark-navy-blue: $color-ebony-clay-approx
$app-color-navy-blue: $color-martinique-approx
$app-color-light-navy-blue: $color-gun-power-approx
$app-color-blue-gray: $color-storm-gray-approx
$app-color-blue: $color-blue-de-france-approx
$app-color-medium-blue: $color-picton-blue-approx
$app-color-light-blue-2: $color-pale-cerulean-approx
$app-color-light-blue: $color-polar-approx
