// Styleguide:
// - Prefix names with color-
// - Name the variable as the color it represents, not its intended function
// - If the color includes an alpha channel suffix with -xx
// - If the color is an approximate match suffix with -approx
//  - Do not suffix '-solid' for exact matches
// - If the color already exists with -approx modifier, append a count -x starting at 2
// - Use only hyphens and lowercase characters
//
// Examples
// $color-blue: #0000ff
// $color-governor-bay-approx: #3B4CC4
// $color-governor-bay-approx-2: #3B4AC5
// $color-white-70: rgba(255, 255, 255, 0.7)
// $color-cerulean-45-approx: rgba(0, 173, 239, 0.45)
//
// Use a tool such as : http://name-of-color.com/ to find the name of your color


// Grays
$color-white: #FFFFFF                 // White
$color-black-haze-approx: #F4F7F8     // Light Gray
$color-white-smoke: #F5F5F5           // Light Gray 3
$color-gallery-approx: #EEEEEE        // Light Gray 4
$color-cararra-approx: #EBEBEB        // Light Gray 2
$color-light-gray-approx: #D1D1D1     // Light Gray 5
$color-gray-nurse-approx: #E9E8E8     // Light Gray 6
$color-bombay-approx: #B1B3B6         // Gray
$color-concrete-solid: #F2F2F2        // Gray 2
$color-mountain-mist-approx: #939598  // Medium Gray
$color-abbey-approx: #4C4F56          // Medium Gray 2
$color-cape-cod-approx: #414042       // Dark Gray
$color-mine-shaft-approx: #333333      // Dark Gray 2
$color-black: #000000                 // Black

// Reds
$color-red: #FF0000                    
$color-radical-red-approx: #F13B54     // Pink
$color-froly-approx: #F1757B           // Light Pink
$color-coral-approx: #F88954           // Orange
$color-misty-rose-approx: #FBE7E7      // Light Pink 2
$color-lava-approx: #CC151D            // Red
$color-boston-university-red: #CC0000  // Dark Red
$color-serenade-approx: #FDF4EA        // Light Orange
$color-cadmium-orange-approx: #EB822B  // Orange 2
$color-tahiti-gold-approx: #ec7a08     // Orange 3

// Greens
$color-green: #00FF00
$color-green-crayola-approx: #23A27E    // Dark Green
$color-mountain-meadow-approx: #1DC58E  // Green
$color-frostee-approx: #E8F9E6          // Light Green
$color-apple-approx: #4DA146            // Medium Green

// Blues
$color-blue: #0000FF
$color-ebony-clay-approx: #2B2E3E     // Dark Navy Blue
$color-martinique-approx: #33394D     // Navy Blue
$color-gun-power-approx: #3D445C      // Light Navy Blue
$color-storm-gray-approx: #6E7385     // Blue Gray
$color-blue-de-france-approx: #3397DB // Blue
$color-picton-blue-approx: #44BDE6    // Medium Blue
$color-lochmara-approx: #0088CE       // Medium Blue 2
$color-pale-cerulean-approx: #95C3E3  // Light Blue 2
$color-polar-approx: #E2F5F6          // Light Blue
$color-deep-ocean-approx: #1C3753     // Dark Ocean Blue
$color-tarawera-approx: #063451       // Dark Blue Gray
$color-pattens-blue-approx: #E3F4FD   // Light Blue 3
$color-spindle-approx: #b3d3e7        // Light Blue 4
$color-onahau-approx: #D4EDFA         // Light Blue 5

// Purples
$color-prelude-approx: #cebee1
$color-lavender-purple-approx: #9f7fc3
$color-royal-purple-approx: #6D3BA4
$color-kingfisher-daisy-approx: #3b0083
$color-paua-approx: #2d0064
$color-tolopea-approx: #1e0042
$color-black-russian-approx: #0f0021
