.list-view-container
  height: calc(100vh - 185px)
  overflow-y: auto
  overflow-x: hidden
  background: $app-color-white

.data-list-pf
  line-height: 40px

  .no-wrap
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    display: block

  .list-group-item
    padding: 10px 0
    border-top: 0px
    margin-bottom: 0px
    cursor: pointer

+block(ss-list-view)
  +element(title-img)
    background: $app-color-white
    border: 1px solid $app-color-light-gray-4
    box-shadow: 0 1px 1px darken($app-color-light-gray-4, 15%)
    cursor: pointer
    height: 40px
    width: 45px
    margin-right: 10px
    display: inline-block

    +element(logo)
      max-height: 40px
      max-width: 45px
      padding: 2px
