<div id="action_list_div" class="main_div">
  <% if x_active_tree == :action_tree && @view %>
    <% if @view.table.data.empty? %>
      <div class="alert alert-info">
        <span class="pficon pficon-info"></span>
        <strong>No Actions are defined<%= @search_text.blank? ? "" : " that match the entered search string" %>.</strong>
      </div>
    <% else %>
      <div id='main_div'>
        <%= render :partial => 'layouts/gtl', 
                   :locals  => {:action_url => "action_get_all", 
                                :button_div => 'policy_bar'} 
        %>
      </div>
    <% end %>
  <% end %>
</div>
