<% if @edit %>
  <% url = url_for(:action => 'alert_field_changed', 
                   :id     => "#{@alert.id || "new"}") 
  %>
<% end %>
<div id="alert_mgmt_event_div" >
  <p class="legend">Management Event</p>
  <table class="style1">
    <% if @edit %>
      <tr>
        <td class="key">Send a Management Event</td>
        <td>
          <%= check_box_tag("send_event_cb", value="1",
                            checked=@edit[:new][:send_event],
                            "data-miq_sparkle_on"       => true, 
                            "data-miq_sparkle_off"      => true,
                            "data-miq_observe_checkbox" => {:url => url}.to_json)
          %>
        </td>
        </td>
      </tr>
      <% if @edit[:new][:send_event] %>
        <tr>
          <td class="key">Event Name</td>
          <td>
            <%= text_field_tag("event_name",
                               @edit[:new][:event_name],
                               :maxlength => MAX_DESC_LEN,
                               "data-miq_observe" => {:interval => '.5', 
                                                      :url => url}.to_json) 
            %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <hr>
</div>
<% if @edit %>
  <%# Need this to bind checkbox observers when under DHTMLX tabs %>
  <%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
  <script>miqObserveCheckboxes();</script>
<% end %>
