<%# Div to hold the actual tree %>
<div id="alert_profile_tree_div" style="width:100%;height:100%;">
	<div id="alert_profile_treebox" style="width:100%;height:100%;color:#000; overflow: hidden"></div>
  <%= render(:partial => "layouts/dynatree",
             :locals => {:tree_id => "alert_profile_treebox",
                         :tree_name => "alert_profile_tree",
                         :id_prefix => "ap_",
                         :json_tree => @temp[:alert_profile_tree],
                         :onclick => "cfmeOnClick_SelectTreeNode",
                         :select_node => "#{x_node}",
                         :base_id => "root",
                         :no_base_exp => true,
                         :exp_tree => false,
                         :highlighting => true,
                         :tree_state => true,
                         :autoload => true,
                         :multi_lines => true
                         }) %>
</div>
