<% if @edit %>
  <% url = url_for(:action => 'alert_field_changed', 
                   :id     => "#{@alert.id || "new"}") 
  %>
<% end %>
<div id="alert_evm_event_div">
  <p class="legend">Timeline Event</p>
    <table class="style1">
      <% if @edit %>
        <tr>
          <td class="key">Show on Timeline</td>
          <td>
            <%= check_box_tag("send_evm_event_cb", value="1",
                              checked=@edit[:new][:send_evm_event],
                              "data-miq_sparkle_on"       => true,
                              "data-miq_sparkle_off"      => true,
                              "data-miq_observe_checkbox" => {:url => url}.to_json)
            %>
          </td>
        </tr>
      <% end %>
    </table>
    <hr>
</div>
<% if @edit %>
  <%# Need this to bind checkbox observers when under DHTMLX tabs %>
  <%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
  <script>miqObserveCheckboxes();</script>
<% end %>
