#condition_list_div{:style => "width: 100%; height: 100%; overflow: auto;"}
  - if @conditions
    %div{:style => "padding-top: 10px;"}
    = render :partial => "layouts/flash_msg"
    - if @conditions.empty?
      %div.note
        - t = @search_text.blank? ? "" : _(" that match the entered search string")
        = _("No %s Conditions are defined%s.") % [ui_lookup(:model => @sb[:folder]), t]
    - else
      %table.style3
        %thead
          %th.icon
          %th
        %tbody
          - @conditions.each do |c|
            %tr{:class => cycle('row0', 'row1'), :onmouseover => "this.style.cursor = 'pointer'", :title => _("View this Condition"),
              :onclick => "cfmeDynatree_activateNode('condition_tree', 'xx-<%=c.towhat.downcase%>_co-#{to_cid(c.id)}');"}
              %td.icon
                %img{:src => "/images/icons/new/miq_condition.png", :valign => "middle", :border => "0"}
              %td
                = c.description
