-# Div to hold the actual tree
#event_tree_div{:style => "width: 100%; height: 100%;"}
  #event_treebox{:style => "width: 100%; height: 100%; color: #000; overflow: hidden;"}
  = render(:partial => "layouts/dynatree",
    :locals         => {:tree_id => "event_treebox",
      :tree_name                 => "event_tree",
      :id_prefix                 => "ev_",
      :json_tree                 => @temp[:event_tree],
      :onclick                   => "cfmeOnClick_SelectTreeNode",
      :select_node               => x_node.to_s,
      :base_id                   => "root",
      :no_base_exp               => true,
      :exp_tree                  => false,
      :highlighting              => true,
      :multi_lines               => true})
