#form_expression_div
  - if @expkey == :expression
    %p.legend=_("Expression (Choose an element of the expression to edit)")
    = render :partial => 'layouts/exp_editor'
  - else
    %p.legend=_('Expression (Press the "Edit" button to edit the expression)')
    = link_to(image_tag("/images/toolbars/edit.png", :border => "0", :alt => (t = _("Edit this Expression"))),
      {:action => 'condition_edit', :button => "expression"},
      "data-miq_sparkle_on"  => true,
      "data-miq_sparkle_off" => true,
      :remote                => true,
      :title                 => t)
    %br
    - if @edit[:expression_table].nil?
      =_("No expression defined, a condition must contain a valid expression.")
    - else
      - @edit[:expression_table].each do |token|
        - if !["AND", "OR", "(", ")"].include?([token].flatten.first)
          = h([token].flatten.first)
        - else
          %font{:color => "black"}
            %b
              = h([token].flatten.first)
