<div id="form_scope_div">
  <% if @expkey == :applies_to_exp %>
    <p class="legend">Scope (Choose an element of the scope to edit)</p>
    <%= render(:partial => 'layouts/exp_editor') %>
    <hr>
  <% else %>
    <p class="legend">Scope (Press the "Edit" button to edit the scope)</p>
    <%= link_to(image_tag("/images/toolbars/edit.png",
                          :border => "0", 
                          :alt    => "Edit this Scope"),
                {:action => 'condition_edit', 
                 :button => "applies_to_exp", 
                 :id     => "#{@condition.id || "new"}"},
                "data-miq_sparkle_on"  => true,
                "data-miq_sparkle_off" => true,
                :remote => true,
                :title  => "Edit this Scope")
    %>
    <br/>
    <% if @edit[:scope_table] != nil %>
      <% @edit[:scope_table].each do |token| %>
        <% if ! ["AND", "OR", "(", ")"].include?([token].flatten.first) %>
          <%= h([token].flatten.first) %>
        <% else %>
          <font color="black"><b><%= h([token].flatten.first) %></b></font>
        <% end %>
      <% end %>
    <% else %>
      <div class="alert alert-info">
        <span class="pficon pficon-info"></span>
        <strong>No scope defined, the scope of this condition includes all elements.</strong>
      </div>
    <% end %>
    <hr>
  <% end %>
</div>
