<div class="row">
  <div class="col-md-12 ">
    <div pf-data-toolbar id="requestToolbar" config="vm.toolbarConfig"></div>
  </div>
</div>

<pf-notification-list></pf-notification-list>

<div class="col-md-12 list-view-container">
  <div pf-data-list id="requestList" config="vm.listConfig" items="vm.requestsList">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
        <span class="no-wrap">
          <span class="ss-list-view__title-img">
            <span class="ss-list-view__title-img__center"></span>
            <img class="ss-list-view__title-img__logo" ng-src="{{ ::item.picture.image_href }}" ng-if=" ::item.picture.image_href"/>
            <img class="ss-list-view__title-img__logo" src="images/service.png" ng-if=" ::!item.picture.image_href"/>
          </span>
          {{ item.description }}
        </span>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
        <span class="no-wrap">
          <strong>ID </strong>{{ item.id }}
        </span>
      </div>
      <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
        <span class="no-wrap">
          <strong>Requested </strong>{{ item.created_on | date }}
        </span>
      </div>
      <div class="col-lg-2 col-md-4 hidden-sm hidden-xs">
        <span class="text-capitalize no-wrap">
          <span class="spinner spinner-xs spinner-inline" ng-if="item.approval_state == 'pending'" 
          tooltip="The current approval status of the request" tooltip-placement="bottom"></span>
          <span class="pficon-error-circle-o" ng-if="item.approval_state == 'denied'" 
          tooltip="The current approval status of the request" tooltip-placement="bottom"></span>
          <span class="pficon-ok" ng-if="item.approval_state == 'approved'" 
          tooltip="The current approval status of the request" tooltip-placement="bottom"></span>
          {{ item.approval_state }}
        </span>
      </div>
    </div>
  </div>
</div>
