- if items && items[:values].present?
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:colspan => items[:labels].count, :align => "left"}
          = title
    - items[:labels].each do |label|
      %td
        %strong
          = label
    - items[:values].each do |item|
      %tr
        - item.each do |value|
          %td
            = value
