%table{:cellpadding => "0", :cellspacing => "0"}
  - items.each do |item|
    %tr{:class => item[:title] ? '' : 'no-hover',
        :title => item[:title] ? item[:title] : "",
        :onclick => item[:link] ? "DoNav('#{item[:link]}');" : ""}
      %td{:style => "border: 0; margin: 0; padding: 0"}
        = render :partial => "shared/summary/icon_or_image", :locals => {:item => item}
        = item[:value]
