- if items
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:colspan => 6, :align => "left"}
          = title
    - items[:labels].each do |label|
      %td
        %strong
          = label
    - items[:values].each do |values|
      %tr
        - values.each do |item|
          %td{:title => item.has?(:title) ? item[:title] : ""}
            = item.has?(:value) ? item[:value] : ""
