---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T145422Z
      X-Amz-Content-Sha256:
      - dec1bb222552f9578a07c806de7c1c653ed3fd14da0ef675ec9cd74d81b06cfc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160329/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c940bac12dbcf7d16e154e7ea67fdc9357f1dbf5a2a0b8807f72689a48c09e0c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>0547e39a-939c-4ce9-b65c-74fc38f39446</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1d</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Tue, 29 Mar 2016 14:54:23 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T145423Z
      X-Amz-Content-Sha256:
      - 66676a7bdb3a8a280e5eed4b7ed4e94012acf2afdb1d9c984590b64fca8c7e08
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160329/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2899bf71cf4e7249d8b6960c15bea9f8247f5bf57c73a2bea4fee7ff1116fe8a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>46d8008f-3d75-498e-8a40-75dd270bcb17</requestId>
            <keySet>
                <item>
                    <keyName>bd</keyName>
                    <keyFingerprint>38:ac:a0:23:29:3b:0a:a8:0d:13:8c:d1:78:d7:9d:a8:cf:c9:42:03</keyFingerprint>
                </item>
                <item>
                    <keyName>bill</keyName>
                    <keyFingerprint>eb:13:8d:19:b1:9d:9f:8b:ea:e0:9b:0b:eb:ea:46:a7:b3:a9:76:99</keyFingerprint>
                </item>
                <item>
                    <keyName>db</keyName>
                    <keyFingerprint>dc:51:de:a0:74:de:8a:e1:c5:51:e6:d2:e2:d6:b8:0f</keyFingerprint>
                </item>
     [...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T145423Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160329/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=4fb3f7f49f702e963690c2e398c85e45e07db8cd6b650821ee639b12d9e975e8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 206bb870-f5be-11e5-b972-87bdbe007cca
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Tags/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpec-JoeV-050-WebServerInstance-1KRT71SKWBZ1I/bff036f0-ba27-11e5-b4be-500c5242948e</StackId>
                <StackStatus>CREATE_COMPLETE</StackStatus>
                <StackName>EmsRefreshSpec-JoeV-050-WebServerInstance-1KRT71SKWBZ1I</StackName>
                <Description>AWS CloudFormation Sample Template WordPress_Simple: WordPress is web software you can use to create a beautiful website or blog. This template installs a single-instance WordPress deployment using a local MySQL database to store the data. It demonstrates using the AWS CloudFormation bootstrap scripts to install packages and files at instance launch time. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <NotificationARNs/>
                <CreationTime>2016-01-13T18:59:19.466Z</CreationTime>
                <Parameters>
                  <member>
                    <ParameterValue>****</ParameterValue>
                    <ParameterKey>DBRootPassword</ParameterKey>
                  </member>
                  <member>
                    <ParameterValue>t1.micro</ParameterValue>
                    <ParameterKey>InstanceType</ParameterKey>
                  </member>
                </Parameters>
                <DisableRollback>true</DisableRollback>
                <Outputs>
                  <member>
                    <OutputValue>http://ec2-54-205-48-36.compute-1.amazonaws.com/wordpress</OutputValue>
                    <Description>WordPress Website</Description>
                    <OutputKey>WebsiteURL</OutputKey>
                  </member>
                </Outputs>
              </member>
              <member>
                <Tags/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpec-JoeV-050/b40140a0-ba27-11e5-8232-50fae9e50c9a</StackId>
                <StackStatus>CREATE_FAILED</StackStatus>
                <StackName>EmsRefreshSpec-JoeV-050</StackName>
                <StackStatusReason>The following resource(s) failed to create: [WebServerWaitCondition, IPAddress]. </StackStatusReason>
                <Description>AWS CloudFormation Sample Template vpc_single_instance_in_subnet.template: Sample template showing how to create a VPC and add an EC2 instance with an Elastic IP address and a security group. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <NotificationARNs/>
                <CreationTime>2016-01-13T18:58:59.245Z</CreationTime>
                <Parameters>
                  <member>
                    <ParameterValue>0.0.0.0/0</ParameterValue>
                    <ParameterKey>SSHLocation</ParameterKey>
                  </member>
                  <member>
                    <ParameterValue>EMSRefreshSpec-KeyPair-02</ParameterValue>
                    <ParameterKey>KeyName</ParameterKey>
                  </member>
                  <member>
                    <ParameterValue>m1.small</ParameterValue>
                    <ParameterKey>InstanceType</ParameterKey>
                  </member>
                </Parameters>
                <DisableRollback>true</DisableRollback>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>206bb870-f5be-11e5-b972-87bdbe007cca</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Tue, 29 Mar 2016 14:54:24 GMT
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=EmsRefreshSpec-JoeV-050-WebServerInstance-1KRT71SKWBZ1I&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T145424Z
      X-Amz-Content-Sha256:
      - 820cedbc35eb5be55a9132a05d7fc9b04905de9fed316ce9dce9cc8336ef393e
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160329/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8f9781e95100957f6f9a2507d7e93c54507dacea7d61ef615dbc5c430c1fb34c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 20fcd500-f5be-11e5-8efe-6388271bcd96
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <LogicalResourceId>WaitCondition</LogicalResourceId>
                <LastUpdatedTimestamp>2016-01-13T19:05:49.134Z</LastUpdatedTimestamp>
                <PhysicalResourceId>arn:aws:cloudformation:us-east-1:200278856672:stack/EmsRefreshSpec-JoeV-050-WebServerInstance-1KRT71SKWBZ1I/bff036f0-ba27-11e5-b4be-500c5242948e/WaitHandle</PhysicalResourceId>
                <ResourceType>AWS::CloudFormation::WaitCondition</ResourceType>
              </member>
              <member>
                <ResourceStatus>CREATE_COMPLETE</ResourceStatus>
                <LogicalResourceId>WaitHandle</LogicalResourceId>
                <LastUpdatedTimestamp>2016-01-13T18:59:31.762Z</LastUpdatedTimestamp>
                <PhysicalResourceId>https://cloudformation-waitcondition-us-east-1.s3.amazonaws.com/arn%3Aaws%3Acloudformation%3Aus-east-1%3A200278856672%3Astack/EmsRefreshSpec-JoeV-050-[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=EmsRefreshSpec-JoeV-050-WebServerInstance-1KRT71SKWBZ1I&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T145425Z
      X-Amz-Content-Sha256:
      - ddb83ce73f73e4ff2019b67bb76e240771c9776824486c32ea9d90108979324c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160329/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=0df174f61c1e8bc2dd31fb36e42b7ca7f13f93c49fcd0fe16ebe92b569fe82e0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 21463a95-f5be-11e5-a98a-dfbfa0f0d2d4
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<GetTemplateResponse xmlns=\"http://cloudformation.amazonaws.com/doc/2010-05-15/\">\n
        \ <GetTemplateResult>\n    <TemplateBody>{\n  &quot;AWSTemplateFormatVersion&quot;
        : &quot;2010-09-09&quot;,\n  \n  &quot;Description&quot; : &quot;AWS CloudFormation
        Sample Template WordPress_Simple: WordPress is web software you can use to
        create a beautiful website or blog. This template installs a single-instance
        WordPress deployment using a local MySQL database to store the data. It demonstrates
        using the AWS CloudFormation bootstrap scripts to install packages and files
        at instance [...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T145427Z
      X-Amz-Content-Sha256:
      - db79e4df9ed35f35cf42da7e91827cb59b4430f397d1929fe355e7bab80b4ef4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160329/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b8e03135cd9b9d73ffed4f1c7b15401d161cb27e5b148932b23075b07edc19c7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>63375900-e46c-4fc0-8000-37798599d053</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-20e90e49</imageId>
                    <imageLocation>jf-test-copy/jf-test-copy.img.manifest.xml</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate/>
                    <isPublic>false</isPublic>
                    <architecture>i386</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-a71cf9ce</kernelId>
                    <ramdiskId>ari-a51cf9cc</ramdiskId>
                    <rootDeviceType>instance-store</rootDeviceType>
                    <blockDeviceMapping/>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-25a81c4c</imageId>
                    <imageLocation>200278856672/suse-11-server-64</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2012-08-22T01:42:54.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-825ea7eb</kernelId>
                    <name>suse-11-server-64</name>
                    <description/>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-6eee471d</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>suse-11-server-64</value>
                        </item>
                    </tagSet>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-320c005a</imageId>
                    <imageLocation>200278856672/t2 rhel 7.1</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2015-04-28T17:25:53.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <name>t2 rhel 7.1</name>
                    <description>rhel</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-8b289bec</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</de[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T145428Z
      X-Amz-Content-Sha256:
      - 7371039207d67c4be2f6abbb39dcd980a6861eef125be9b5437a5f5308278f8c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160329/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c749a8c8aa9f3aa71e2f6041197bde5879cdfed475d5bc95353bd5934559e16f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>b597da31-4869-43e7-9ecc-6925658c6e7e</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-d09f0c3c</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-347f9b5d</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-992f7665</instanceId>
                            <imageId>ami-069b9c6e</imageId>
                            <instanceState>
                                <code>80</code>
                                <name>stopped</name>
                            </instanceState>
                            <privateDnsName/>
                            <dnsName/>
                            <reason>User initiated (2015-09-29 13:59:57 GMT)</reason>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m3.xlarge</instanceType>
                            <launchTime>2015-04-28T20:10:29.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1d</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <groupSet>
                                <item>
                                    <groupId>sg-347f9b5d</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiatedShutdown: User initiated shutdown</message>
                            </stateReason>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-779fdc30</volumeId>
                                        <status>attached</status>
                                        <attachTime>2015-04-20T21:29:09.000Z</attachTime>
                                        <deleteOnTermination>false</deleteOnTermination>
                                    </ebs>
                                </item>
                                <item>
                                    <deviceName>/dev/sdf</deviceName>
                                    <ebs>
                                        <volumeId>vol-834804c4</volumeId>
                                        <status>attached</status>
                                        <attachTime>2015-04-21T13:56:38.000Z</attachTime>
                                        <deleteOnTermination>false</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>mgf_cfme_raw1</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-b4144298</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-d6b34937</instanceId>
                            <imageId>ami-1643ff7e</imageId>
                            <instanceState>
                                <code>80</code>
                                <name>stopped</name>
                            </instanceState>
                            <privateDnsName>ip-10-0-0-202.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason>User initiated (2015-10-22 09:08:53 GMT)</reason>
                            <keyName>bd</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t1.micro</instanceType>
                            <launchTime>2014-11-03T17:07:33.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-919dcaf8</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-1852bb33</subnetId>
                            <vpcId>vpc-a06de3c5</vpcId>
                            <privateIpAddress>10.0.0.202</privateIpAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-10362275</groupId>
                                    <groupName>DemoSecurityGroup</groupName>
                                </item>
                            </groupSet>
                            <stateReason>
                                <code>Client.UserInitiatedShutdown</code>
                                <message>Client.UserInitiat[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T145436Z
      X-Amz-Content-Sha256:
      - 9f20d995ddde903a6362496508f3ff1338be9f93bab47b71d552e0e5be8111cd
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160329/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=3a6e0ece79825b40906a5f5aefff879b940eff38dadc5848a138a629dcb50364
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>1a6ad0ab-093a-41ea-a514-4b126208f976</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-VPC</value>
                        </item>
                    </tagSet>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
                <item>
                    <vpcId>vpc-a06de3c5</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>DemoVPC</value>
                        </item>
                    </tagSet>
     [...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-ff49ff91&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T145436Z
      X-Amz-Content-Sha256:
      - 7ff059140fea54eb0f9c24825fee53c5e17d56cec3a9a85234699a4721c5ae90
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160329/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5208b2ea3bc187e335f2fc162f7280a8ede7509132cc249bdc9268f7748dea99
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>f963a1d1-cf1f-4fe1-80ec-081a5219053c</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-16c70477</subnetId>
                    <state>available</state>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <cidrBlock>10.0.1.0/24</cidrBlock>
                    <availableIpAddressCount>248</availableIpAddressCount>
                    <availabilityZone>us-east-1d</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-Subnet2</value>
                        </item>
                    </tagSet>
                </item>
                <item>
                    <subnetId>subnet-f849ff96</subnetId>
                    <state>available</state>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <cidrBlock>10.0.0.0/24</cidrBlock>
                    <availableIpAddressCount>249</availableIpAddressCount>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-Subnet1</value>
                        </item>
                    </tagSet>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Tue, 29 Mar 2016 14:54:37 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
[...]
