---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160108T201419Z
      X-Amz-Content-Sha256:
      - dec1bb222552f9578a07c806de7c1c653ed3fd14da0ef675ec9cd74d81b06cfc
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160108/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=54ac41da7251d0baa67b1e5b367484cc979bd7c32f96e868a68d804cdfb6e6e9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>38bc459c-6f08-4c0f-bc0d-9dc93d1824dd</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1d</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Fri, 08 Jan 2016 20:14:19 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeKeyPairs&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160108T201419Z
      X-Amz-Content-Sha256:
      - 66676a7bdb3a8a280e5eed4b7ed4e94012acf2afdb1d9c984590b64fca8c7e08
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160108/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=e655dfb468ec5b7b463ccc412095a196fc614b90b645f4db848fb755dbe9edb4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeKeyPairsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>39897120-f518-450a-a9f7-2c9374da9fc9</requestId>
            <keySet>
                <item>
                    <keyName>bd</keyName>
                    <keyFingerprint>38:ac:a0:23:29:3b:0a:a8:0d:13:8c:d1:78:d7:9d:a8:cf:c9:42:03</keyFingerprint>
                </item>
                <item>
                    <keyName>bill</keyName>
                    <keyFingerprint>eb:13:8d:19:b1:9d:9f:8b:ea:e0:9b:0b:eb:ea:46:a7:b3:a9:76:99</keyFingerprint>
                </item>
                <item>
                    <keyName>EmsRefreshSpec-KeyPair</keyName>
                    <keyFingerprint>49:9f:3f:a4:26:48:39:94:26:06:dd:25:73:e5:da:9b:4b:1b:6c:93</keyFingerprin[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160108T201419Z
      X-Amz-Content-Sha256:
      - 1c0d327d16f37b15838ca07a3964664f2dcff8d7051d9f1d87552e7df79be01f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160108/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c64cd6b2bf53e18af8faaf1e53533390564775c93c9b51c9cee3fd426b00d664
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6107a3de-b644-11e5-8f21-058c2f6a0562
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Tags/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/parsingtest/aa65e170-7eed-11e4-bafb-50d5018a1236</StackId>
                <StackStatus>ROLLBACK_COMPLETE</StackStatus>
                <StackName>parsingtest</StackName>
                <Description>AWS CloudFormation Sample Template VPC_AutoScaling_and_ElasticLoadBalancer: Create a load balanced, Auto Scaled sample website in an existing Virtual Private Cloud (VPC). This example creates an Auto Scaling group behind a load balancer with a simple health check using a basic getting start AMI that has a simple Apache Web Server-based PHP page. The web site is available on port 80, however, the instances can be configured to listen on any port (8888 by default). **WARNING** This template creates one or more Amazon EC2 instances and an Elastic Load Balancer. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <NotificationARNs/>
                <CreationTime>2014-12-08T15:19:56.528Z</CreationTime>
                <Parameters>
                  <member>
                    <ParameterValue>2</ParameterValue>
                    <ParameterKey>InstanceCount</ParameterKey>
                  </member>
                  <member>
                    <ParameterValue>0.0.0.0/0</ParameterValue>
                    <ParameterKey>SSHLocation</ParameterKey>
                  </member>
                  <member>
                    <ParameterValue>subnet-ab0ecedc,subnet-cae440bd,subnet-ac507ad8</ParameterValue>
                    <ParameterKey>Subnets</ParameterKey>
                  </member>
                  <member>
                    <ParameterValue>vpc-a06de3c5</ParameterValue>
                    <ParameterKey>VpcId</ParameterKey>
                  </member>
                  <member>
                    <ParameterValue>zone1,zone2</ParameterValue>
                    <ParameterKey>AZs</ParameterKey>
                  </member>
                  <member>
                    <ParameterValue>bill</ParameterValue>
                    <ParameterKey>KeyName</ParameterKey>
                  </member>
                  <member>
                    <ParameterValue>m1.small</ParameterValue>
                    <ParameterKey>InstanceType</ParameterKey>
                  </member>
                </Parameters>
                <DisableRollback>false</DisableRollback>
              </member>
              <member>
                <Tags/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/test121/34581f80-79a6-11e4-a2a7-50e241629418</StackId>
                <TimeoutInMinutes>2</TimeoutInMinutes>
                <StackStatus>ROLLBACK_COMPLETE</StackStatus>
                <StackName>test121</StackName>
                <Description>AWS CloudFormation Sample Template WordPress_Simple: WordPress is web software you can use to create a beautiful website or blog. This template installs a single-instance WordPress deployment using a local MySQL database to store the data. It demonstrates using the AWS CloudFormation bootstrap scripts to install packages and files at instan[...]
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListStackResources&StackName=parsingtest&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160108T201420Z
      X-Amz-Content-Sha256:
      - 11884057f05eee07ac04da178e1221a1f8e56e6a983f81ebf796870b7c12c1a6
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160108/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5770249be360772a6e6d18dcb34f72f6c1962ebc4a13c3094b3531f5c7cc4f75
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 61356ae4-b644-11e5-93d6-9d4e4807a67a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListStackResourcesResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <ListStackResourcesResult>
            <StackResourceSummaries>
              <member>
                <ResourceStatus>DELETE_COMPLETE</ResourceStatus>
                <LogicalResourceId>ElasticLoadBalancer</LogicalResourceId>
                <LastUpdatedTimestamp>2014-12-08T15:20:57.280Z</LastUpdatedTimestamp>
                <ResourceType>AWS::ElasticLoadBalancing::LoadBalancer</ResourceType>
              </member>
              <member>
                <ResourceStatus>DELETE_COMPLETE</ResourceStatus>
                <LogicalResourceId>InstanceSecurityGroup</LogicalResourceId>
                <LastUpdatedTimestamp>2014-12-08T15:20:58.195Z</LastUpdatedTimestamp>
                <PhysicalResourceId>sg-1d769c79</PhysicalResourceId>
                <ResourceType>AWS::EC2::SecurityGroup</ResourceType>
              </member>
              <member>
                <ResourceStatus>DELETE_COMPLETE</ResourceStatus>
                <LogicalResourceId>LoadBalancerSecurityGroup</LogicalResourceId>
                <LastUpdatedTimestamp>2014-12-08T15:21:00.749Z</LastUpdatedTimestamp>
                <PhysicalResourceId>sg-08769c6c</PhysicalResourceId>
                <ResourceType>AWS::EC2::SecurityGroup</ResourceType>
              </member>
            </StackResourceSummaries>
          </ListStackResourcesResult>
          <ResponseMetadata>
            <RequestId>61356ae4-b644-11e5-93d6-9d4e4807a67a</RequestId>
          </ResponseMetadata>
        </ListStackResourcesResponse>
  recorded_at: Fri, 08 Jan 2016 20:14:20 GMT
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTemplate&StackName=parsingtest&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160108T201521Z
      X-Amz-Content-Sha256:
      - 7176636786778dfd930a2f760adaf4b22033c7717020d7b6f2ac1c2ae055c3bf
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160108/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=f5e89f11368f71fce8b522837b7cde5ec6b3323fef82c19a234a61bad5c0ff2b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 85f3ffe6-b644-11e5-945d-db9474f8a24d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetTemplateResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <GetTemplateResult>
            <TemplateBody>{
          &quot;AWSTemplateFormatVersion&quot; : &quot;2010-09-09&quot;,

          &quot;Description&quot; : &quot;AWS CloudFormation Sample Template VPC_AutoScaling_and_ElasticLoadBalancer: Create a load balanced, Auto Scaled sample website in an existing Virtual Private Cloud (VPC). This example creates an Auto Scaling group behind a load balancer with a simple health check using a basic getting start AMI that has a simple Apache Web Server-based PHP page. The web site is available on port [...]
[...]
- request:
    method: post
    uri: https://cloudformation.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeStacks&StackName=cloudformation-spec&Version=2010-05-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160108T201858Z
      X-Amz-Content-Sha256:
      - 973ae30d5e469db2a273a774a9bd6d119349abe480ee08a157f7b2aad5f233bf
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160108/us-east-1/cloudformation/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b38dc57a57642a80076dfe44ac10f565f159d55106165568a3c3b3c0a92f89ee
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 072ebbd1-b645-11e5-8f12-0b63bc0635cc
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeStacksResponse xmlns="http://cloudformation.amazonaws.com/doc/2010-05-15/">
          <DescribeStacksResult>
            <Stacks>
              <member>
                <Tags/>
                <StackId>arn:aws:cloudformation:us-east-1:200278856672:stack/cloudformation-spec/1a398c10-5322-11e4-b166-50fa5262a89c</StackId>
                <StackStatus>CREATE_FAILED</StackStatus>
                <StackName>cloudformation-spec</StackName>
                <StackStatusReason>The following resource(s) failed to create: [WebServerWaitCondition, IPAddress]. </StackStatusReason>
                <Description>AWS CloudFormation Sample Template vpc_single_instance_in_subnet.template: Sample template showing how to create a VPC and add an EC2 instance with an Elastic IP address and a security group. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.</Description>
                <NotificationARNs/>
                <CreationTime>2014-10-13T21:44:26.341Z</CreationTime>
                <DisableRollback>true</DisableRollback>
                <Parameters>
                  <member>
                    <ParameterValue>0.0.0.0/0</ParameterValue>
                    <ParameterKey>SSHLocation</ParameterKey>
                  </member>
                  <member>
                    <ParameterValue>cfnspec</ParameterValue>
                    <ParameterKey>KeyName</ParameterKey>
                  </member>
                  <member>
                    <ParameterValue>t1.micro</ParameterValue>
                    <ParameterKey>InstanceType</ParameterKey>
                  </member>
                </Parameters>
                <Capabilities>
                  <member>CAPABILITY_IAM</member>
                </Capabilities>
              </member>
            </Stacks>
          </DescribeStacksResult>
          <ResponseMetadata>
            <RequestId>072ebbd1-b645-11e5-8f12-0b63bc0635cc</RequestId>
          </ResponseMetadata>
        </DescribeStacksResponse>
  recorded_at: Fri, 08 Jan 2016 20:18:58 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeVpcs&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160108T202043Z
      X-Amz-Content-Sha256:
      - 9f20d995ddde903a6362496508f3ff1338be9f93bab47b71d552e0e5be8111cd
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160108/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ce6514a4fc33faf8dde8104c8c3dcf73a22d24a073bdbaf3f33786f2719214bf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeVpcsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>59eadcdf-1d15-4809-a73a-e236e98912b4</requestId>
            <vpcSet>
                <item>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-VPC</value>
                        </item>
                    </tagSet>
                    <instanceTenancy>default</instanceTenancy>
                    <isDefault>false</isDefault>
                </item>
                <item>
                    <vpcId>vpc-a06de3c5</vpcId>
                    <state>available</state>
                    <cidrBlock>10.0.0.0/16</cidrBlock>
                    <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>DemoVPC</value>
                        </item>
                    </tagSet>
     [...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-ff49ff91&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160108T202044Z
      X-Amz-Content-Sha256:
      - 7ff059140fea54eb0f9c24825fee53c5e17d56cec3a9a85234699a4721c5ae90
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160108/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c986d73ef7994a99b23c7028bbc8cdfbb753ac23dd13c197e5376c923437ad85
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>6c02b50a-b637-483d-86c0-256a4afac598</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-16c70477</subnetId>
                    <state>available</state>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <cidrBlock>10.0.1.0/24</cidrBlock>
                    <availableIpAddressCount>248</availableIpAddressCount>
                    <availabilityZone>us-east-1d</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-Subnet2</value>
                        </item>
                    </tagSet>
                </item>
                <item>
                    <subnetId>subnet-f849ff96</subnetId>
                    <state>available</state>
                    <vpcId>vpc-ff49ff91</vpcId>
                    <cidrBlock>10.0.0.0/24</cidrBlock>
                    <availableIpAddressCount>250</availableIpAddressCount>
                    <availabilityZone>us-east-1e</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>EmsRefreshSpec-Subnet1</value>
                        </item>
                    </tagSet>
                </item>
            </subnetSet>
        </DescribeSubnetsResponse>
  recorded_at: Fri, 08 Jan 2016 20:20:44 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSecurityGroups&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160108T202044Z
      X-Amz-Content-Sha256:
      - 106f344e853e62716912efa6fa6279cc6adda200c0e144a1c1e3545e1cf48590
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160108/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=65e0df217bfcc2ab726511117b0a60a8293ad29ffdf9a7d9fd1a8623bc3226c7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSecurityGroupsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>616ded08-ea36-4486-8c81-8edcac93af59</requestId>
            <securityGroupInfo>
                <item>
                    <ownerId>200278856672</ownerId>
                    <groupId>sg-c67f3eac</groupId>
                    <groupName>cloudformation-spec-WebServerInstance-QS899ZNAHZU6-WebServerSecurityGroup-F458PFAVKR11</groupName>
                    <groupDescription>Enable HTTP access via port 80</groupDescription>
                    <ipPermissions>
                        <item>
                            <ipProtocol>tcp</ipProtocol>
                            <fromPort>80</fromPort>
                            <toPort>80</toPort>
                            <groups/>
                            <ipRanges>
                                <item>
                                    <cidrIp>0.0.0.0/0</cidrIp>
                                </item>
                            </ipRanges>
                            <prefixListIds/>
                        </item>
                    </ipPermissions>
                    <ipPermissionsEgress/>
                    <tagSet>
                        <item>
                            <key>aws:cloudformation:logical-id</key>
                            <value>WebServerSecurityGroup</value>
                        </item>
                 [...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160108T202045Z
      X-Amz-Content-Sha256:
      - db79e4df9ed35f35cf42da7e91827cb59b4430f397d1929fe355e7bab80b4ef4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160108/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=a2a38dfa5d06c34e86eab8875cca99f14aa1317c1bfc7afdbb0f302fd60309c5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>d6a393df-4aca-4f6e-8613-6d43663896af</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-20e90e49</imageId>
                    <imageLocation>jf-test-copy/jf-test-copy.img.manifest.xml</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate/>
                    <isPublic>false</isPublic>
                    <architecture>i386</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-a71cf9ce</kernelId>
                    <ramdiskId>ari-a51cf9cc</ramdiskId>
                    <rootDeviceType>instance-store</rootDeviceType>
                    <blockDeviceMapping/>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-25a81c4c</imageId>
                    <imageLocation>200278856672/suse-11-server-64</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2012-08-22T01:42:54.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-825ea7eb</kernelId>
                    <name>suse-11-server-64</name>
                    <description/>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-6eee471d</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>suse-11-server-64</value>
                        </item>
                    </tagSet>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-320c005a</imageId>
                    <imageLocation>200278856672/t2 rhel 7.1</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>200278856672</imageOwnerId>
                    <creationDate>2015-04-28T17:25:53.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <name>t2 rhel 7.1</name>
                    <description>rhel</description>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-8b289bec</snapshotId>
                                <volumeSize>10</volumeSize>
                                <deleteOnTermination>true</de[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160108T202045Z
      X-Amz-Content-Sha256:
      - 7371039207d67c4be2f6abbb39dcd980a6861eef125be9b5437a5f5308278f8c
      Authorization:
      - AWS4-HMAC-SHA256 Credential=0123456789ABCDEFGHIJ/20160108/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9d0da23010ec8e166eba25fadbe4a14459a89a377487e154ffe6564a9a8f2dae
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>2113b3ba-bad5-49f5-9ca6-a9c50c104733</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-d09f0c3c</reservationId>
                    <ownerId>200278856672</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-347f9b5d</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-992f7665</instanceId>
                            <imageId>ami-069b9c6e</imageId>
                            <instanceState>
                                <code>80</code>
                                <name>stopped</name>
                            </instanceState>
                            <privateDnsName/>
                            <dnsName/>
                            <reason>User initiated (2015-09-29 13:59:57 GMT)</reason>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m3.xlarge</instanceType>
                            <launchTime>2015-04-28T20:10:29.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1d</availabilityZone>
                                <groupName/>
[...]
