%div{"ng-controller" => "containers.deployProviderCDNChannelController"}
  %div{"miq-wizard-substep" => "", "next-enabled" => "deploymentDetailsCDNComplete", "on-show" => "onCdnShow",
  "review-template" => "{{reviewTemplate}}", "step-id" => "details-channel", "step-priority" => "3", "step-title" => _("CDN Channel")}
    .miq-form-heading
      = _("Specify CDN configuration")
    %div
      .checkbox-inline
        %label.miq-checkbox-input-label
          %input{"ng-change" => "cdnChange()", "ng-model" => "data.cdnEnabled", :type => "checkbox"}
            = _("Enable CDN Channel")
        %form.form-horizontal.sub-group
          %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Username"),
          "pf-label-class" => "miq-input-label-class", :required => ""}
            %input#rhn-user-name{:name => "name", "ng-change" => "validateForm()", "ng-disabled" => "!data.cdnEnabled",
            "ng-model" => "data.rhnUsername", :required => "", :type => "text"}/
          %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Password"),
          "pf-label-class" => "miq-input-label-class", :required => ""}
            %input#rhn-password{:name => "name", "ng-change" => "validateForm()", "ng-disabled" => "!data.cdnEnabled",
            "ng-model" => "data.rhnPassword", :required => "", :type => "password"}/
          %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("SKU"),
          "pf-label-class" => "miq-input-label-class", :required => ""}
            %input#rhn-sku{:name => "name", "ng-change" => "validateForm()", "ng-disabled" => "!data.cdnEnabled",
            "ng-model" => "data.rhnSKU", :required => "", :type => "text"}/
          .miq-input-checkbox-form
            .checkbox-inline
              %label.miq-checkbox-input-label
                %input{"ng-change" => "validateForm()", "ng-disabled" => "!data.cdnEnabled", "ng-model" => "data.specifySatelliteUrl", :type => "checkbox"}
                  = _("RHN Satellite URL")
              %input#satellite-url.miq-checkbox-input{:name => "name", "ng-change" => "validateForm()",
              "ng-disabled" => "!data.cdnEnabled || data.specifySatelliteUrl === false",
              "ng-model" => "data.rhnSatelliteUrl", :required => "", :type => "text"}/
