<table ng-if="0 < vm.questions.length" class="wizard-questions-table">
  <thead>
  <tr>
    <th class="wizard-questions-table__heading wizard-questions-table__heading--order">Order</th>
    <th class="wizard-questions-table__heading wizard-questions-table__heading--question">Question</th>
    <th class="wizard-questions-table__heading wizard-questions-table__heading--actions">Action</th>
  </tr>
  </thead>
  <tbody ui-sortable="vm.sortableOptions" ng-model="vm.questions">
  <tr class="wizard-questions-table__row" ng-repeat="row in vm.questions">
    <td class="wizard-questions-table__cell wizard-questions-table__cell--order">{{ $index+1 }}</td>
    <td class="wizard-questions-table__cell wizard-questions-table__cell--question">{{ ::row.text }}</td>
    <td class="wizard-questions-table__cell wizard-questions-table__cell--actions">
      <a ui-sref="admin.wizard-questions.edit({questionId: row.id})"
         class="wizard-questions-table__action wizard-questions-table__action--edit" title="Edit">
        <img src="/images/ic_edit.png" alt="Edit"/>
      </a>
      <!--<img class="wizard-questions-table__action wizard-questions-table__action&#45;&#45;sort wizard-questions-table__handle"-->
      <!--src="/images/ic_sort.png" title="Sort" alt="Sort"/>-->
      <a href="#" class="wizard-questions-table__action wizard-questions-table__action--delete" title="Delete"
         confirmation
         confirmation-position="left-center"
         confirmation-message="Are you sure you want to delete this question and it's content?"
         confirmation-ok-style="danger"
         confirmation-ok-text="Yes, Delete It"
         confirmation-on-ok="vm.deleteQuestion($index)"
         confirmation-show-cancel="false">
        <img src="/images/ic_deletequestion.png" alt="Delete"/>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<div ng-if="::0 === vm.questions.length" class="wizard-questions-table__empty">
  No questions at this time.
</div>
