<% url = url_for(:action=>'assign_form_field_changed') %>

<%= render :partial => "layouts/flash_msg" %>

<fieldset>
	<p class="legend">Manage Assigned Users</p>
	<table class="style1">
    <tr>
      <td  colspan="2">
        <%= render :partial => "shared/views/vdi_common/column_lists" %>
      </td>
    </tr>
	</table>
</fieldset>
<%= render(:partial => '/layouts/edit_form_buttons', :locals=>{:action_url=>"manage_users"}) %>
