<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
      ng-submit="vm.onSubmit()"
      ng-class="{'show-errors': vm.showErrors()}">
  <content-header short="true">
    <div>
      <span class="content-header__title login-form__title">Login</span>
      <span class="login-form__title-error" ng-if="vm.hasErrors()">Please correct the errors in red</span>
    </div>
  </content-header>
  <div class="login-form__body">
    <div class="login-field">
      <div class="login-field__aside">
        <label class="login-field__label">Email</label>
      </div>
      <div class="login-field__body" ng-class="{'has-error': vm.hasErrors('email')}">
        <input id="login-email" ng-model="vm.email" name="email" type="email"
               class="login-field__input" placeholder="" required/>

        <div class="login-field__feedback" ng-messages="vm.form.email.$error">
          <div ng-message="required">Your email is required.</div>
          <div ng-message="email">Enter a valid email address.</div>
        </div>
      </div>
    </div>

    <div class="login-field">
      <div class="login-field__aside">
        <label class="login-field__label">Password</label>
      </div>
      <div class="login-field__body" ng-class="{'has-error': vm.hasErrors('password')}">
        <input id="login-password" ng-model="vm.password" name="password" type="password"
               class="login-field__input" placeholder="" required/>

        <div class="login-field__feedback" ng-messages="vm.form.password.$error">
          <div ng-message="required">Your password is required.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row login-form__buttons">
    <div class="login-field__aside">
    </div>
    <div class="login-field__body">
      <button type="submit" class="btn-rounded login-form__submit" ng-disabled="vm.hasErrors()">Login</button>
    </div>
  </div>
</form>
