= render :partial => "layouts/flash_msg", :locals => {:top_pad => 10}
#div.ops_details
  %fieldset
    %div{:onclick => remote_function(:url => {:action => 'tree_select', :id => 'xx-Compute'}),
      :onmouseover => "this.style.cursor='pointer'", :title => "Edit Compute Rate Assignments"}
      %img{:src => "/images/icons/new/hardware-processor.png"}
      Compute
  %fieldset
    %div{:onclick => remote_function(:url => {:action => 'tree_select', :id => "xx-Storage"}),
      :onmouseover => "this.style.cursor='pointer'", :title => "Edit Compute Rate Assignments"}
      %img{:src => "/images/icons/new/hardware-disk.png", :valign => "middle",
        :border => "0", :height => "40", :width => "40"}
      Storage
