= render :partial => "layouts/flash_msg"
%table.table.table-striped.table-bordered.table-hover
  %tbody
    %tr{:onclick => remote_function(:url => {:action => 'tree_select', :id => 'xx-Compute'})}
      %td.narrow{:title => _("Edit Compute Rate Assignments")}
        %img{:src => "/images/icons/new/hardware-processor.png"}
      %td{:title => _("Edit Compute Rate Assignments")}
        =_('Compute')
    %tr{:onclick => remote_function(:url => {:action => 'tree_select', :id => "xx-Storage"})}
      %td.narrow{:title => _("Edit Compute Rate Assignments")}
        %img{:src => "/images/icons/new/hardware-disk.png"}
      %td{:title => _("Edit Compute Rate Assignments")}
        =_('Storage')
