<div class ="ops_details">
	<h3>To Generate a Chargeback Report</h3><br/>

		<% @sb[:chargeback][:instructions].each_with_index do |i, idx| %>
			<fieldset>
			<font style="font-size: 116%;color: <%= @css[:font_color] %>">&#x246<%= idx %>;</font> <%= i %>
			</fieldset>
		<% end %>
</div>
