<div id="chargeback_rates_div" style="width:100%;height:100%;overflow:auto;">

				<%#= render(:partial =>"layouts/flash_msg", :locals=>{:div_num=>"1"}) %>

	<% if @sb[:chargeback][:report] %>

		<fieldset>
			<p class="legend">Current Rates</p>
			<table class="style1">
				<% Chargeback::default_rates().sort{|a,b| a.description.downcase<=>b.description.downcase}.each do |r| %>
					<tr>
						<td class="key" style="width:250px;"><%= h(r.description) %></td>
						<td><%= h(r.friendly_rate) %></td>
					</tr>
				<% end %>
			</table>
		</fieldset>

	<% end %>

	<% unless @sb[:chargeback][:report] %>
		<%= render(:partial =>"chargeback_instructions") %>
	<% end %>
</div>
