#chargeback_rates_div{:style => "width: 100%; height: 100%; overflow: auto;"}
  - if @sb[:chargeback][:report]
    %fieldset
      %h3=_('Current Rates')
      %table.style1
        - Chargeback::default_rates().sort_by{ |a| a.description.downcase }.each do |r|
          %tr
            %td.key{:style => "width: 250px;"}
              = h(r.description)
            %td
              = h(r.friendly_rate)

  - unless @sb[:chargeback][:report]
    = render :partial =>"chargeback_instructions"
