- if @sb[:active_tab] == "analytics_details"
  - if @sb[:analytics_rpt]
    %fieldset
      %h3= @sb[:analytics_rpt].title
      - if !@sb[:analytics_rpt].table.nil? || @sb[:analytics_rpt].table.data.empty?
        = @sb[:analytics_rpt].to_html.html_safe
      - else
        = render :partial => 'layouts/info_msg', :locals => {:message => _("No Records Found.")}
