-#
  Display Red Hat customer information and subscriptions

  Inputs:
    @customer   -- customer information also passed to the info_subscribed partial
    @updates[]  -- update information for individual servers passed to the server_table partial

- if @sb[:active_tab] == "settings_rhn"
  = render :partial => 'layouts/flash_msg'

  %h3
    Red Hat Software Updates
  - if @customer.registered
    = render :partial => 'ops/rhn/info_subscribed'
  - else
    = render :partial => 'ops/rhn/info_unsubscribed'

  - if @customer.registered
    = render :partial => 'ops/rhn/server_table'

