%h3
  = _("Assign Hosts and Datastores to Embedded SmartProxies in Zone: \"%{zone_description}\"") % {:zone_description => @selected_zone.description}
- if @smartproxy_affinity_tree.blank?
  .alert.alert-info
    %span.pficon.pficon-info
    %strong
      = _("No Servers with the SmartProxy role are in Zone: \"%{zone_description}\"") % {:zone_description => @selected_zone.description}
- else
  :javascript
    miqTreeResetState('#{j_str @smartproxy_affinity_tree.name}');
  = render(:partial => 'shared/tree', :locals => {:tree => @smartproxy_affinity_tree, :name => @smartproxy_affinity_tree.name})
