#main_div
  - st = @miq_request.source
  - ra = st.resource_actions.find_by_action('Provision') if st
  - if ra && ra.dialog
    - values = @miq_request.options[:dialog]
    - opts = {:display_view_only => true}
    %fieldset
      %h3
        = _("Dialog Options")
      .row
        .col-md-12.col-lg-12
          = render :partial => "shared/dialogs/dialog_provision",
                   :locals  => {:wf => ResourceActionWorkflow.new(values, current_user, ra, opts)}
