<% change_url ||= "form_field_changed" %>
<% authtype ||= "" %>
<% record ||= nil %>
<% authext ||= nil %>
<% fieldname ||= nil %>
<% rec_id = record && record.id ? "#{record.id}" : "new" %>
<% url = url_for(:action=>change_url, :id=>"#{rec_id}") %>
<% fieldname = "#{authtype}_ext_#{authext.key}" %>

  <tr>
      <td class="key"><%= authext.name %></td>
      <td>
        <%= text_area_tag(fieldname,
                          @edit[:new][fieldname],
                          :size=>"350x600",
                          "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
        %>
      </td>
  </tr>
