---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeRegions&Signature=hr9QqusTysBtiTUopoGv1zWCySMCoGC%2FkDi2rAEGlT4%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A55%3A27Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeRegionsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>cb4ed7e6-907f-48e5-bb1b-04ae2aff0bb6</requestId>\n
        \   <regionInfo>\n        <item>\n            <regionName>eu-west-1</regionName>\n
        \           <regionEndpoint>ec2.eu-west-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>sa-east-1</regionName>\n
        \           <regionEndpoint>ec2.sa-east-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-east-1</regionName>\n
        \           <regionEndpoint>ec2.us-east-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-northeast-1</regionName>\n
        \           <regionEndpoint>ec2.ap-northeast-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-west-2</regionName>\n
        \           <regionEndpoint>ec2.us-west-2.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-west-1</regionName>\n
        \           <regionEndpoint>ec2.us-west-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-southeast-1</regionName>\n
        \           <regionEndpoint>ec2.ap-southeast-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-southeast-2</regionName>\n
        \           <regionEndpoint>ec2.ap-southeast-2.amazonaws.com</regionEndpoint>\n
        \       </item>\n    </regionInfo>\n</DescribeRegionsResponse>"
  recorded_at: Tue, 24 Sep 2013 17:55:27 GMT
- request:
    method: post
    uri: https://ec2.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=uXlPXGiWbMzyvm6weFe36I4IxwTWVmLR9sywBNfJaMM%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A55%3A27Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>b2c57233-b80f-4c22-85fd-ecc7dbfc194b</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:55:29 GMT
[...]
- request:
    method: post
    uri: https://ec2.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=CF3joW0mgBp57l4oivvMsNJ%2FfGl4JYW1NduqCz9yl%2FQ%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A55%3A30Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>bab764e2-a20a-4150-8df3-be3b831e2882</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:55:31 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=oKF8m42T3BTT5LV3xJEckDnE9uUb5U8BySNI7I0R3Jo%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A55%3A33Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>d5b66e88-f749-433a-b00d-d106023faf2c</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-1842f370</reservationId>\n
        \           <ownerId>123456789012</ownerId>\n            <groupSet/>\n            <instancesSet>\n
        \               <item>\n                    <instanceId>i-8b5739f2</instanceId>\n
        \                   <imageId>ami-5769193e</imageId>\n                    <instanceState>\n
        \                       <code>16</code>\n                        <name>running</name>\n
        \                   </instanceState>\n                    <privateDnsName>ip-10-0-0-254.ec2.internal</privateDnsName>\n
        \                   <dnsName/>\n                    <reason/>\n                    <keyName>EmsRefreshSpec-KeyPair</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>t1.micro</instanceType>\n                    <launchTime>2013-09-23T20:11:52.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1e</availabilityZone>\n
        \                       <groupName/>\n                        <tenancy>default</tenancy>\n
        \                   </placement>\n                    <kernelId>aki-1eceaf77</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <subnetId>subnet-f849ff96</subnetId>\n
        \                   <vpcId>vpc-ff49ff91</vpcId>\n                    <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                   <sourceDestCheck>true</sourceDestCheck>\n                    <groupSet>\n
        \                       <item>\n                            <groupId>sg-80f755ef</groupId>\n
        \                           <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>\n
        \                       </item>\n                    </groupSet>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-67606d2d</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2013-09-23T20:11:57.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken>aPCzL1379967112359</clientToken>\n                    <tagSet>\n
        \                       <item>\n                            <key>Name</key>\n
        \                           <value>EmsRefreshSpec-PoweredOn-VPC</value>\n
        \                       </item>\n                    </tagSet>\n                    <hypervisor>xen</hypervisor>\n
        \                   <networkInterfaceSet>\n                        <item>\n
        \                           <networkInterfaceId>eni-ad25f7cc</networkInterfaceId>\n
        \                           <subnetId>subnet-f849ff96</subnetId>\n                            <vpcId>vpc-ff49ff91</vpcId>\n
        \                           <description>Primary network interface</description>\n
        \                           <ownerId>123456789012</ownerId>\n                            <status>in-use</status>\n
        \                           <macAddress>22:d8:dc:13:0c:ca</macAddress>\n                            <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                           <sourceDestCheck>true</sourceDestCheck>\n                            <groupSet>\n
        \                               <item>\n                                    <groupId>sg-80f755ef</groupId>\n
        \                                   <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>\n
        \                               </item>\n                            </groupSet>\n
        \                           <attachment>\n                                <attachmentId>eni-attach-05fac66f</attachmentId>\n
        \                               <deviceIndex>0</deviceIndex>\n                                <status>attached</status>\n
        \                               <attachTime>2013-09-23T20:11:52.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </attachment>\n                            <privateIpAddressesSet>\n
        \                               <item>\n                                    <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                                   <primary>true</primary>\n                                </item>\n
        \                           </privateIpAddressesSet>\n                        </item>\n
        \                   </networkInterfaceSet>\n                    <ebsOptimized>false</ebsOptimized>\n
        \               </item>\n            </instancesSet>\n        </item>\n        <item>\n
        \           <reservationId>r-1405097e</reservationId>\n            <ownerId>123456789012</ownerId>\n
        \           <groupSet>\n                <item>\n                    <groupId>sg-347f9b5d</groupId>\n
        \                   <groupName>default</groupName>\n                </item>\n
        \           </groupSet>\n            <instancesSet>\n                <item>\n
        \                   <instanceId>i-fe4eb794</instanceId>\n                    <imageId>ami-67bc0b0e</imageId>\n
        \                   <instanceState>\n                        <code>80</code>\n
        \                       <name>stopped</name>\n                    </instanceState>\n
        \                   <privateDnsName/>\n                    <dnsName/>\n                    <reason>User
        initiated (2013-08-27 20:24:50 GMT)</reason>\n                    <keyName>miq</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>m1.small</instanceType>\n                    <launchTime>2013-08-27T20:22:57.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1b</availabilityZone>\n
        \                       <groupName/>\n                        <tenancy>default</tenancy>\n
        \                   </placement>\n                    <kernelId>aki-825ea7eb</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <groupSet>\n                        <item>\n
        \                           <groupId>sg-347f9b5d</groupId>\n                            <groupName>default</groupName>\n
        \                       </item>\n                    </groupSet>\n                    <stateReason>\n
        \                       <code>Client.UserInitiatedShutdown</code>\n                        <message>Client.UserInitiatedShutdown:
        User initiated shutdown</message>\n                    </stateReason>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        [...]
- request:
    method: post
    uri: https://ec2.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=G1sFXaXx0HGk9L%2BNdLycMQVZwF4S5zWYEygD7EquUvw%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A55%3A35Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>08ab78a6-541a-4729-abba-93dbb7567913</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:55:36 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=Hn3f6zDQXqrSHhGFJrMT%2BZYiqm5B3Y7z1D4dxa%2Bkqho%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A55%3A39Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>57b1b5d3-35bf-4488-b352-a5241c832eed</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:55:40 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=T5PRflSM94%2FVzesvK2Xwcws0ma5GBgM1Y06MObUzkao%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A55%3A42Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>229ca5c5-f88f-4c43-8bbe-57b3db0a7e26</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:55:44 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeImages&ExecutableBy.1=self&Signature=0XejE4xPxFu5cC152%2B%2BX4KMNItT0kL%2BLqMELBpITFsQ%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A55%3A49Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeImagesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>522b1d58-8510-4020-8e8b-bbf7a82c6469</requestId>\n
        \   <imagesSet/>\n</DescribeImagesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:55:50 GMT
recorded_with: VCR 2.4.0
