<div class="nav-profile__column">
  <img class="nav-profile__image" src="/images/assets/projects/5.png"/>
  <a ng-show="0 < vm.alerts.length" class="nav-profile__alerts" ui-sref="alerts">{{ vm.alerts.length }}</a>

  <div class="nav-profile__heading">Welcome</div>
  <div class="dropdown">
    <a class="nav-profile__name" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
       role="button" aria-expanded="false">
      {{ ::vm.name }}
      <i class="nav-profile__arrow fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Profile</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="logout">Logout</a></li>
    </ul>
  </div>
</div>
