#main_div
  - case @showtype
  - when "details"
    = render(:partial => "layouts/gtl", :locals => {:action_url => @lastaction})
  - when "item"
    = render(:partial => "layouts/item")
  - else
    = render :partial => 'main'
