#vm_tree_div
  = render :partial => "layouts/flash_msg"
  %input#masterToggle{:type => "checkbox", :name => "masterToggle", :onchange => "miqCheckAll(this, 'genealogy_tree');"}
  = _("(Check All)")
  %p

  #genealogy_treebox.treeview-pf-hover.treeview-pf-select{:style => "width:100%"}
  = render(:partial => "layouts/tree",
    :locals         => {:tree_id => "genealogy_treebox",
      :tree_name                 => @tree_name,
      :bs_tree                   => @vm_tree,
      :icon_size                 => settings(:views, :treesize).to_i,
      :click_url                 => "/vm/vmtree_selected/",
      :onclick                   => "miqOnClickGenealogyTree",
      :checkboxes                => true,
      :oncheck                   => "miqGetChecked",
      :reselect_node             => session[:base_vm],
      :check_url                 => "/vm/set_checked_items/"})
