#vm_tree_div
  = render :partial => "layouts/flash_msg"
  %input#masterToggle{:type => "checkbox", :name => "masterToggle", :onclick => "miqCheckAll(this, 'genealogy_tree');"}
  = _("(Check All)")
  %p

  #genealogy_treebox{:style => "width:100%"}
  = render(:partial => "layouts/dynatree",
    :locals  => {:tree_id => "genealogy_treebox",
    :tree_name => @tree_name,
    :json_tree => @vm_tree,
    :icon_size => settings(:views, :treesize).to_i,
    :click_url => "/vm/vmtree_selected/",
    :onmousein => "miqOnMouseInHostNet",
    :onmouseout => "miqOnMouseOutHostNet",
    :onclick => "miqOnClickGenealogyTree",
    :exp_tree => true,
    :checkboxes => true,
    :oncheck => "miqGetChecked",
    :check_url => "/vm/set_checked_items/",
    :open_close_all_on_dbl_click => true})
