- action = @edit[:new][:service_type] == "composite" ? "st_form_field_changed" : "atomic_form_field_changed"
- url = url_for(:action => action, :id => "#{@edit[:rec_id] || "new"}")
- url_one_trans = url_for(:action => action, :id => "#{@edit[:rec_id] || "new"}", :transOne => '1')

%p.legend Long Description
= text_area_tag("long_description", @edit[:new][:long_description],
  :size => "350x600", :style => "display:none;")

:javascript
  miqOneTrans = 0;

- # Create a MyCodeMirror editor for the text area
= render :partial => "/layouts/my_code_mirror",
  :locals => {:text_area_id => "long_description",
    :mode => "htmlmixed",
    :line_numbers => true,
    :url => url_one_trans}

:javascript
  miqEditor.refresh();
