---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIxMzU3NzY1MTA2NjYtY29tcHV0ZUBkZXZlbG9wZXIuZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92My90b2tlbiIsImV4cCI6MTUyNjA0OTIyOSwiaWF0IjoxNTI2MDQ5MTA5LCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvY29tcHV0ZSBodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL2RldnN0b3JhZ2UucmVhZF93cml0ZSBodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL25kZXYuY2xvdWRtYW4gaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jbG91ZC1wbGF0Zm9ybSJ9.D2z-cvUtyN6IA5Fjxj6hQ9mqIbgIA14foFKDLPMncWSctMBTTsQ0ZlWGHums09NfbROjqRRFo-157fXWkcK_j0wv2h7dSoBMAIQcawMwbS7R_DitAeabuBieHbZBYhfo6mTpxSVzn4tXOc7YlFX0GTsbdDvOnznCbZQ4fRQPpysxPuv9T5CmNS0U6gWWGjbeEd8hiEhM2010CDmfxpcAUSMhaHZA6QeM51IoGCaisMCFf8BWmQRCfPaWg2dFA11Ix0Y7XFmCu1wpOMnbGkpHtYDkw9yLdRfYTgOVEDnjaQgilqH4MqyoFvzCYL_FblL0X76rt3rg8FvIiPnFXop3pQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.c.EmC4BdUk3rY5ZSoqTl2cRs6iiC5bLmCCcWMh3VPJ9Rj6F9iFB64oPIPXel9NcloXD0_BSRCyGqHVfnhvndbJoCeapl_ZsIURiI4IQTWARmoJ2oe1f5PrVVClOKVP8jGh6dk",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Fri, 11 May 2018 14:32:49 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EmC4BdUk3rY5ZSoqTl2cRs6iiC5bLmCCcWMh3VPJ9Rj6F9iFB64oPIPXel9NcloXD0_BSRCyGqHVfnhvndbJoCeapl_ZsIURiI4IQTWARmoJ2oe1f5PrVVClOKVP8jGh6dk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4XxHDQbJZ_ol05RMZGiJwp5mdz0=/cT6xOonVor6XMLyH2MQNzxslc_c="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "compute#zoneList",
         "id": "projects/GOOGLE_PROJECT/zones",
         "items": [
          {
           "kind": "compute#zone",
           "id": "2231",
           "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
           "name": "us-east1-b",
           "description": "us-east1-b",
           "status": "UP",
           "region": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/regions/us-east1",
           "selfLink": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones/us-east1-b",
           "availableCpuPlatforms": [
            "Intel Skylake",
            "Intel Broadwell",
            "Intel Haswell"
           ]
          },
          {
           "kind": "compute#zone",
           "id": "2233",
           "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
           "name": "us-east1-c",
           "description": "us-east1-c",
           "status": "UP",
           "region": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/regions/us-east1",
           "selfLink": "https://www.googlea[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/aggregated/machineTypes
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EmC4BdUk3rY5ZSoqTl2cRs6iiC5bLmCCcWMh3VPJ9Rj6F9iFB64oPIPXel9NcloXD0_BSRCyGqHVfnhvndbJoCeapl_ZsIURiI4IQTWARmoJ2oe1f5PrVVClOKVP8jGh6dk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"fIQOa6KYmdrz9S6QtMCRf5B1bWY=/TwZ1ZirngslFW9ymiyv2nz1petc="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "compute#machineTypeAggregatedList",
         "id": "projects/GOOGLE_PROJECT/aggregated/machineTypes",
         "items": {
          "zones/us-central1-a": {
           "machineTypes": [
            {
             "kind": "compute#machineType",
             "id": "1000",
             "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
             "name": "f1-micro",
             "description": "1 vCPU (shared physical core) and 0.6 GB RAM",
             "guestCpus": 1,
             "memoryMb": 614,
             "imageSpaceGb": 0,
             "maximumPersistentDisks": 16,
             "maximumPersistentDisksSizeGb": "3072",
             "zone": "us-central1-a",
             "selfLink": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones/us-central1-a/machineTypes/f1-micro",
             "isSharedCpu": true
            },
            {
             "kind": "compute#machineType",
             "id": "2000",
             "creationTimestamp": "1969-12-31T16:00:00.000-08:00",
             "name": "g1-small",
             "description": "1 vCPU (shared physical core) and 1.7 GB RAM",
             "guestCpus": 1,
             "memoryMb": 1740,
             "imageSpaceGb": 0,
             "maximumPersistentDisks": 16,
             "maximumPersistentDisksSizeGb": "3072",
             "zone": "us-centr[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/aggregated/disks
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EmC4BdUk3rY5ZSoqTl2cRs6iiC5bLmCCcWMh3VPJ9Rj6F9iFB64oPIPXel9NcloXD0_BSRCyGqHVfnhvndbJoCeapl_ZsIURiI4IQTWARmoJ2oe1f5PrVVClOKVP8jGh6dk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"lX-YadwoCrmClNvDA3WYhKM6jdk=/84SzuYlLccQgDp9LfXseIcScBhU="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "compute#diskAggregatedList",
         "id": "projects/GOOGLE_PROJECT/aggregated/disks",
         "items": {
          "zones/us-central1-a": {
           "disks": [
            {
             "kind": "compute#disk",
             "id": "5884055212948558790",
             "creationTimestamp": "2016-11-25T04:23:05.658-08:00",
             "name": "disk-1",
             "sizeGb": "20",
             "zone": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones/us-central1-a",
             "status": "READY",
             "selfLink": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones/us-central1-a/disks/disk-1",
             "type": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones/us-central1-a/diskTypes/pd-standard",
             "lastAttachTimestamp": "2016-11-25T04:56:57.649-08:00",
             "lastDetachTimestamp": "2017-02-14T13:08:29.792-08:00",
             "labelFingerprint": "42WmSpB8rSM="
            },
            {
             "kind": "compute#disk",
             "id": "1368210998906894667",
             "creationTimestamp": "2017-05-05T16:15:49.421-07:00",
             "name": "instance-group-1-gvej",
             "sizeGb": "10",
             "zone": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones/us-central1-a",
             "status": "READY",
             "selfLink": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones/us-central1-a/disks/instance-group-1-gvej",
             "sourceImage": "https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/debian-8-jessie-v20161020",
             "sourceImageId": "2896785053468388774",
             "type": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones/us-central1-a/diskTypes/pd-standard",
             "licenses": [
              "https://www.googleapis.com/compute/v1/projects/debian-cloud/global/licenses/debian-8-jessie"
             ],
             "lastAttachTimestamp": "2017-05-05T16:15:49.472-07:00",
             "users": [
              "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones/us-central1-a/instances/instance-group-1-gvej"
             ],
             "labelFingerprint": "42WmSpB8rSM=",
             "licenseCodes": [
              "1000204"
             ]
            },
            {
             "kind": "compute#disk",
             "id": "7462230023779432779",
             "creationTimestamp": "2017-05-05T16:15:49.019-07:00",
             "name": "instance-group-1-veey",
             "sizeGb": "10",
             "zone": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones/us-central1-a",
             "status": "READY",
             "selfLink": "https://www.googleapis.com/compute/v1/projec[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/global/snapshots
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EmC4BdUk3rY5ZSoqTl2cRs6iiC5bLmCCcWMh3VPJ9Rj6F9iFB64oPIPXel9NcloXD0_BSRCyGqHVfnhvndbJoCeapl_ZsIURiI4IQTWARmoJ2oe1f5PrVVClOKVP8jGh6dk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"m5zgsm3eBqrpIvwNxgMUU6DDHQQ=/HLQQ42ZJ0nvID3tPUs18QzlqGtw="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "compute#snapshotList",
         "id": "projects/GOOGLE_PROJECT/global/snapshots",
         "items": [
          {
           "kind": "compute#snapshot",
           "id": "4530445150875817520",
           "creationTimestamp": "2018-05-11T07:29:52.434-07:00",
           "name": "test-snapshot-1",
           "status": "READY",
           "sourceDisk": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/zones/us-central1-a/disks/instance-group-1-gvej",
           "sourceDiskId": "1368210998906894667",
           "diskSizeGb": "10",
           "storageBytes": "4023931136",
           "storageBytesStatus": "UP_TO_DATE",
           "licenses": [
            "https://www.googleapis.com/compute/v1/projects/debian-cloud/global/licenses/debian-8-jessie"
           ],
           "selfLink": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/global/snapshots/test-snapshot-1",
           "labelFingerprint": "42WmSpB8rSM=",
           "licenseCodes": [
            "1000204"
           ]
          }
         ],
         "selfLink": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/global/snapshots"
        }
  recorded_at: Fri, 11 May 2018 14:32:51 GMT
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/global/images
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EmC4BdUk3rY5ZSoqTl2cRs6iiC5bLmCCcWMh3VPJ9Rj6F9iFB64oPIPXel9NcloXD0_BSRCyGqHVfnhvndbJoCeapl_ZsIURiI4IQTWARmoJ2oe1f5PrVVClOKVP8jGh6dk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cMIzLBBO6pmNjliIl6Fk27nqAcw=/nKWEMrN4IwOiSWfFIuAYDX-hHM4="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "compute#imageList",
         "id": "projects/GOOGLE_PROJECT/global/images",
         "items": [
          {
           "kind": "compute#image",
           "id": "3760069348251679990",
           "creationTimestamp": "2016-09-05T07:32:57.152-07:00",
           "name": "auto-damn-small-linux",
           "description": "",
           "sourceType": "RAW",
           "rawDisk": {
            "source": "",
            "containerType": "TAR"
           },
           "status": "READY",
           "archiveSizeBytes": "53171912",
           "diskSizeGb": "1",
           "selfLink": "https://www.googleapis.com/compute/v1/projects/GOOGLE_PROJECT/global/images/auto-damn-small-linux",
           "labelFingerprint": "42WmSpB8rSM="
          },
          {
           "kind": "compute#image",
           "id": "6297991031181395861",
           "creationTimestamp": "2018-02-14T10:01:31.203-08:00",
           "name": "cfme-56402-02272311",
           "description": "",
           "sourceType": "RAW",
           "rawDi[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/centos-cloud/global/images
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EmC4BdUk3rY5ZSoqTl2cRs6iiC5bLmCCcWMh3VPJ9Rj6F9iFB64oPIPXel9NcloXD0_BSRCyGqHVfnhvndbJoCeapl_ZsIURiI4IQTWARmoJ2oe1f5PrVVClOKVP8jGh6dk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"aHDSv63kjegzdE_CMJi9lkDHizg=/B7EYxm1W1vpY01OmdnBZwaAKZ1w="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "compute#imageList",
         "id": "projects/centos-cloud/global/images",
         "items": [
          {
           "kind": "compute#image",
           "id": "11748647391859510935",
           "creationTimestamp": "2013-11-25T15:13:50.611-08:00",
           "name": "centos-6-v20131120",
           "description": "SCSI-enabled CentOS 6 built on 2013-11-20",
           "sourceType": "RAW",
           "rawDisk": {
            "source": "",
            "containerType": "TAR"
           },
           "deprecated": {
            "state": "DEPRECATED",
            "replacement": "https://www.googleapis.com/compute/v1/projects/centos-cloud/global/images/centos-6-v20150226"
           },
           "status": "READY",
           "archiveSizeBytes": "269993565",
           "diskSizeGb": "10",
           "selfLink": "https://www.googleapis.com/compute/v1/projects/centos-cloud/global/images/centos-6-v20131120",
           "labelFingerprint": "42WmSpB8rSM="
          },
          {
           "kind": "compute#image",
           "id": "11743140967858608122",
           "creati[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/cos-cloud/global/images
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EmC4BdUk3rY5ZSoqTl2cRs6iiC5bLmCCcWMh3VPJ9Rj6F9iFB64oPIPXel9NcloXD0_BSRCyGqHVfnhvndbJoCeapl_ZsIURiI4IQTWARmoJ2oe1f5PrVVClOKVP8jGh6dk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8[...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/coreos-cloud/global/images
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EmC4BdUk3rY5ZSoqTl2cRs6iiC5bLmCCcWMh3VPJ9Rj6F9iFB64oPIPXel9NcloXD0_BSRCyGqHVfnhvndbJoCeapl_ZsIURiI4IQTWARmoJ2oe1f5PrVVClOKVP8jGh6dk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - [...]
- request:
    method: get
    uri: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.EmC4BdUk3rY5ZSoqTl2cRs6iiC5bLmCCcWMh3VPJ9Rj6F9iFB64oPIPXel9NcloXD0_BSRCyGqHVfnhvndbJoCeapl_ZsIURiI4IQTWARmoJ2oe1f5PrVVClOKVP8jGh6dk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PbvbFiPWGvMdA_Z1ZsOqAlPgR70=/7hpHOCYWylAFBrrpbmOSMrWX_XY="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "compute#imageList",
         "id": "projects/debian-cloud/global/images",
         "items": [
          {
           "kind": "compute#image",
           "id": "12371298324486102144",
           "creationTimestamp": "2013-12-02T17:49:01.206-08:00",
           "name": "backports-debian-7-wheezy-v20131127",
           "description": "Debian GNU/Linux 7.2 (wheezy) with backports kernel built on 2013-11-27",
           "sourceType": "RAW",
           "rawDisk": {
            "source": "",
            "containerType": "TAR"
           },
           "deprecated": {
            "state": "DEPRECATED",
            "replacement": "https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/backports-debian-7-wheezy-v20131127",
            "deprecated": "1970-01-01",
            "obsolete": "1970-01-02",
            "deleted": "1970-01-03"
           },
           "status": "READY",
           "archiveSizeBytes": "365056004",
           "diskSizeGb": "10",
           "selfLink": "https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/backports-debian-7-wheezy-v20131127",
           "labelFingerprint": "42WmSpB8rSM="
          },
          {
           "kind": "compute#image",
           "id": "4359542978415320596",
           "creationTimestamp": "2014-03-19T14:59:48.212-07:00",
           "name": [...]
