<div ui-sortable="vm.sortableOptions" ng-model="vm.options">
  <div project-question-option class="project-question-option"
       ng-repeat="option in vm.options track by $index"
       option="option" option-index="$index"
       option-label="{{  vm.optionLabel($index) }}">
  </div>
</div>
<div class="project-question-options__footer">
  <div class="project-question-options__actions">
    <button type="button" class="btn-bordered btn-bordered--short btn-bordered--capitalize" ng-click="vm.addOption()"
            ng-disabled="!vm.canAdd()">
      Add Another Option
    </button>
  </div>
</div>
