<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
      ng-submit="vm.onSubmit()"
      ng-class="{'show-errors': vm.showErrors()}">
    <content-header short="true">
        <div>
            <span class="content-header__title alert-form__title">{{ vm.heading }}</span>
            <span class="alert-form__title-error" ng-if="vm.hasErrors()">Please complete required fields in red</span>
        </div>
    </content-header>
    <div class="row">
        <div class="alert-form__body">

            <div class="alert-field">
                <div class="alert-field__aside">
                    <label class="alert-field__label">Status</label>
                </div>

                <div class="alert-field__body" ng-class="{'has-error': vm.hasErrors('status')}">
                    <select id="alert-name"
                            name="status"
                            ng-model="vm.alertRecord.status"
                            class="alert-field__input"
                            required>
                        <option value="ok">ok</option>
                        <option value="warning">warning</option>
                        <option value="critical">critical</option>
                        <option value="unknown">unknown</option>
                    </select>

                    <div class="alert-field__feedback" ng-messages="vm.form.status.$error">
                        <div ng-message="required">An alert status is required.</div>
                    </div>
                </div>
            </div>

            <div class="alert-field">
                <div class="alert-field__aside">
                    <label class="alert-field__label">Category</label>
                </div>

                <div class="alert-field__body" ng-class="{'has-error': vm.hasErrors('category')}">
          <textarea id="alert-category" ng-model="vm.alertRecord.category" name="category"
                    class="alert-field__input field__input--textarea" rows="1" required></textarea>

                    <div class="alert-field__feedback" ng-messages="vm.form.category.$error">
                        <div ng-message="required">An alert category is required.</div>
                    </div>
                </div>
            </div>

            <div class="alert-field">
                <div class="alert-field__aside">
                    <label class="alert-field__label">Message</label>
                </div>

                <div class="alert-field__body" ng-class="{'has-error': vm.hasErrors('message')}">
          <textarea id="alert-description" ng-model="vm.alertRecord.message" name="message"
                    class="alert-field__input field__input--textarea" rows="3" required></textarea>

                    <div class="alert-field__feedback" ng-messages="vm.form.message.$error">
                        <div ng-message="required">An alert message is required.</div>
                    </div>
                </div>
            </div>


            <div class="alert-field">
                <div class="alert-field__aside">
                    <label class="alert-field__label">Start Date</label>
                </div>

                <div class="alert-field__body" ng-class="{'has-error': vm.hasErrors('startDate')}">
                    <div class="input-group">
                           <span class="input-group-btn ">
                <button type="button" class="btn btn-default alert-field__group-input--button"
                        ng-click="vm.openStart($event)"><i
                        class="fa fa-calendar"></i></button>
              </span>
                        <input ng-click="vm.openStart($event)"
                               class="alert-field__group-input--input"
                               name="startDate"
                               datepicker-popup="{{vm.format}}"
                               ng-model="vm.alertRecord.start_date"
                               is-open="vm.openedStart"
                               max-date="vm.alertRecord.end_date"
                               max-date="'2015-06-22'"
                               datepicker-options="vm.dateOptions"
                               ng-required="false" close-text="Close"/>
                    </div>
                    <div class="alert-field__feedback" ng-messages="vm.form.startDate.$error">
                        <div ng-message="required">A start date is required.</div>
                        <div ng-message="pattern">Enter a value of the format yyyy/MM/dd</div>
                    </div>
                </div>
            </div>

            <div class="alert-field">
                <div class="alert-field__aside">
                    <label class="alert-field__label">End Date</label>
                </div>

                <div class="alert-field__body" ng-class="{'has-error': vm.hasErrors('endDate')}">
                    <div class="input-group">
                              <span class="input-group-btn">
                <button type="button" class="btn btn-default alert-field__group-input--button" ng-click="vm.openEnd($event)"><i
                        class="fa fa-calendar"></i></button>
              </span>
                        <input ng-click="vm.openEnd($event)"
                               class="alert-field__group-input--input"
                               name="endDate"
                               datepicker-popup="{{vm.format}}"
                               ng-model="vm.alertRecord.end_date"
                               is-open="vm.openedEnd"
                               min-date="vm.alertRecord.start_date"
                               datepicker-options="vm.dateOptions"
                               ng-required="false" close-text="Close"/>
                    </div>
                    <div class="alert-field__feedback" ng-messages="vm.form.endDate.$error">
                        <div ng-message="required">An end date is required.</div>
                        <div ng-message="pattern">Enter a value of the format yyyy/MM/dd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn-rounded alert-form__submit" ng-disabled="vm.hasErrors()">Save
                </button>
                <button type="button" class="btn btn-link alert-form__cancel"
                        confirmation
                        confirmation-if="vm.form.$dirty"
                        confirmation-message="You have unsaved changes. Abandon them and leave the page?"
                        confirmation-ok-style="danger"
                        confirmation-ok-text="Yes, Leave"
                        confirmation-on-ok="vm.backToList()"
                        confirmation-show-cancel="false">Cancel
                </button>
            </div>
        </div>
    </div>
</form>