<content-header short="true">
  <div class="projects-list__body">
    <span class="content-header__title">Projects</span>
  </div>
  <div class="projects-list__aside">
    <div>
      <button type="button" class="btn-rounded" ui-sref="projects.create">Add New Project</button>
    </div>
  </div>
</content-header>
<div class="row">
  <div class="col-sm-12">
    <table st-table="vm.projects" class="projects-table">
      <thead>
      <tr>
        <th class="projects-table__heading catalog-category__heading--padding"></th>
        <th st-sort="name"
            class="projects-table__heading projects-table__heading--name projects-table__heading--sortable">
          Project
        </th>
        <th st-sort="approval"
            class="projects-table__heading projects-table__heading--approval projects-table__heading--sortable">
          Approved
        </th>
        <th st-sort="status"
            class="projects-table__heading projects-table__heading--status projects-table__heading--sortable">
          Status
        </th>
        <th st-sort="budget"
            class="projects-table__heading projects-table__heading--budget projects-table__heading--sortable">
          Budget
        </th>
        <th st-sort="spent"
            class="projects-table__heading projects-table__heading--spent projects-table__heading--sortable">
          Spent
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in vm.projects track by row.id" class="projects-table__row">
        <td class="projects-table__cell projects-table__cell--padding"></td>
        <td class="projects-table__cell projects-table__cell--description">
          <project-description project="row" link-to="projects.details({projectId: {{row.id}}})"></project-description>
        </td>
        <td class="projects-table__cell projects-table__cell--approval">
          <img ng-if="::'approved' === row.approval" class="projects-table__approved"
               src="/images/ic_required.png"
               alt="Approved" title="Project is approved"/>
          <img ng-if="::'rejected' === row.approval" class="projects-table__rejection"
               src="/images/ic_deletequestion.png"
               alt="Rejected" title="Project is rejected"/>
        </td>
        <td class="projects-table__cell projects-table__cell--status">
          <status type="{{ ::row.status }}">{{ ::row.status }}</status>
        </td>
        <td class="projects-table__cell projects-table__cell--budget">{{ ::row.budget | currency }}</td>
        <td class="projects-table__cell projects-table__cell--spent">{{ ::row.spent | currency }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>





