- unless @edit[:new][:emstype].blank?
  %tr
    %td.key=_('Host Name')
    %td.wide
      = text_field_tag("hostname",
        @edit[:new][:hostname],
        :maxlength => MAX_HOSTNAME_LEN,
        "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %tr
    %td.key=_('IP Address')
    %td.wide
      = text_field_tag("ipaddress",
        @edit[:new][:ipaddress],
        :maxlength => MAX_IPADDRESS_LEN,
        "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
