- unless @edit[:new][:emstype].blank?
  %tr
    %td.key Host Name
    %td.wide
      = text_field_tag("hostname",
        @edit[:new][:hostname],
        :maxlength => MAX_HOSTNAME_LEN,
        "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %tr
    %td.key IP Address
    %td.wide
      = text_field_tag("ipaddress",
        @edit[:new][:ipaddress],
        :maxlength => 15,
        "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
