[Unit]
Description=EVM server daemon
After=network.target memcached.service rh-postgresql94-postgresql.service

[Service]
TimeoutStartSec=10m
ExecStartPre=/usr/bin/docker_initdb
ExecStart=/usr/bin/evmserver.sh start
ExecStop=/usr/bin/evmserver.sh stop
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target
