<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
      ng-submit="vm.onSubmit()"
      ng-class="{'show-errors': vm.showErrors()}">
  <content-header short="true">
    <div>
      <span class="content-header__title project-form__title">{{ vm.heading }}</span>
      <span class="project-form__title-error" ng-if="vm.hasErrors()">Please complete required fields in red</span>
    </div>
  </content-header>
  <div class="row">
    <div class="project-form__body">

      <div class="project-field">
        <div class="project-field__aside">
          <label class="project-field__label">Name</label>
        </div>

        <div class="project-field__body" ng-class="{'has-error': vm.hasErrors('name')}">
          <input id="project-name" ng-model="vm.project.name" name="name" type="text"
                 class="project-field__input"
                 placeholder="" required/>

          <div class="project-field__feedback" ng-messages="vm.form.name.$error">
            <div ng-message="required">A project name is required.</div>
          </div>
        </div>
      </div>


      <div class="project-field">
        <div class="project-field__aside">
          <label class="project-field__label">Budget</label>
        </div>

        <div class="project-field__body" ng-class="{'has-error': vm.hasErrors('budget')}">
          <input id="project-setup-price" ng-model="vm.project.budget" name="budget" type="text"
                 class="project-field__input" placeholder="" required ng-pattern="/^\d{1,7}(?:\.\d{0,4})?$/"/>

          <div class="project-field__feedback" ng-messages="vm.form.budget.$error">
            <div ng-message="required">A budget is required.</div>
            <div ng-message="pattern">Enter a value between 0.0001 and 9999999.9999</div>
          </div>
        </div>
      </div>

      <div class="project-field">
        <div class="project-field__aside">
          <label class="project-field__label">Start Date</label>
        </div>

        <div class="project-field__body" ng-class="{'has-error': vm.hasErrors('startDate')}">
          <div class="input-group">
                    <span class="input-group-btn ">
                <button type="button" class="btn btn-default project-field__group-input--button"
                        ng-click="vm.openStart($event)"><i
                  class="fa fa-calendar"></i></button>
              </span>
            <input ng-click="vm.openStart($event)"
                   class="project-field__group-input--input"
                   name="startDate"
                   datepicker-popup="{{vm.format}}"
                   ng-model="vm.project.start_date"
                   is-open="vm.openedStart"
                   max-date="vm.project.end_date"
                   datepicker-options="vm.dateOptions"
                   ng-required="true" close-text="Close"/>
          </div>
          <div class="project-field__feedback" ng-messages="vm.form.startDate.$error">
            <div ng-message="required">A start date is required.</div>
            <div ng-message="pattern">Enter a value of the format yyyy/MM/dd</div>
          </div>
        </div>
      </div>

      <div class="project-field">
        <div class="project-field__aside">
          <label class="project-field__label">End Date</label>
        </div>

        <div class="project-field__body " ng-class="{'has-error': vm.hasErrors('endDate')}">
          <div class="input-group">
                              <span class="input-group-btn">
                <button type="button" class="btn btn-default project-field__group-input--button"
                        ng-click="vm.openEnd($event)"><i
                  class="fa fa-calendar"></i></button>
              </span>
            <input ng-click="vm.openEnd($event)"
                   class="project-field__group-input--input"
                   name="endDate"
                   datepicker-popup="{{vm.format}}"
                   ng-model="vm.project.end_date"
                   is-open="vm.openedEnd"
                   min-date="vm.project.start_date"
                   datepicker-options="vm.dateOptions"
                   ng-required="true" close-text="Close"/>
          </div>
          <div class="project-field__feedback" ng-messages="vm.form.endDate.$error">
            <div ng-message="required">An end date is required.</div>
            <div ng-message="pattern">Enter a value of the format yyyy/MM/dd</div>
          </div>
        </div>
      </div>

      <project-form-options project-options="vm.project.project_answers"></project-form-options>

    </div>
    <div class="project-form__aside">
      <div class="project-form-image__container">
        <div class="project-form-image"></div>
        <button type="button" class="btn-rounded">Choose Image</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn-rounded project-form__submit" ng-disabled="vm.hasErrors()">Save
        </button>
        <button type="button" class="btn btn-link project-form__cancel"
                confirmation
                confirmation-if="vm.form.$dirty"
                confirmation-message="You have unsaved changes. Abandon them and leave the page?"
                confirmation-ok-style="danger"
                confirmation-ok-text="Yes, Leave"
                confirmation-on-ok="vm.backToList()"
                confirmation-show-cancel="false">Cancel
        </button>
      </div>
    </div>
  </div>
</form>
