<content-header>
  <div class="add-services__body">
    <tag-field ng-model="vm.tags" class="search-input" placeholder="Enter product tag or category"
               add-from-autocomplete-only="true"
               on-tag-added="vm.updateCatalog()"
               on-tag-removed="vm.updateCatalog()"
               on-tags-cleared="vm.updateCatalog()"
               tag-mode="search">
      <tag-autocomplete source="vm.queryTags(query)"></tag-autocomplete>
      <tag-show-modal>Show all tags</tag-show-modal>
    </tag-field>
  </div>
  <div class="add-services__aside">
    <div>
      <selected-products></selected-products>
    </div>
    <button type="button" class="btn-rounded btn-rounded--short btn-rounded--capitalize add-services__wizard"
            ng-click="vm.openWizard()">
      Open Product Wizard
    </button>
    <div class="add-services__switch">
      <view-mode-switch view-mode="vm.viewMode"></view-mode-switch>
    </div>
  </div>
</content-header>
<catalog-category ng-repeat="category in vm.catalog" category="category" view-mode="vm.viewMode"
                  required-tags="vm.tags" project="vm.project"></catalog-category>
