---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeRegions&Signature=IrgMYuCFHoJ%2BDTUPyX5Za96QpYc1j8T4B5thW85%2BE1E%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A13Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeRegionsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>3b726522-cace-49a3-a0e7-e638f70e7d82</requestId>\n
        \   <regionInfo>\n        <item>\n            <regionName>eu-west-1</regionName>\n
        \           <regionEndpoint>ec2.eu-west-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>sa-east-1</regionName>\n
        \           <regionEndpoint>ec2.sa-east-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-east-1</regionName>\n
        \           <regionEndpoint>ec2.us-east-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-northeast-1</regionName>\n
        \           <regionEndpoint>ec2.ap-northeast-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-west-2</regionName>\n
        \           <regionEndpoint>ec2.us-west-2.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-west-1</regionName>\n
        \           <regionEndpoint>ec2.us-west-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-southeast-1</regionName>\n
        \           <regionEndpoint>ec2.ap-southeast-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-southeast-2</regionName>\n
        \           <regionEndpoint>ec2.ap-southeast-2.amazonaws.com</regionEndpoint>\n
        \       </item>\n    </regionInfo>\n</DescribeRegionsResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:13 GMT
- request:
    method: post
    uri: https://ec2.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=%2B%2BDRXB0FTub7gYusJYJrmlntLzdmEPttfVje167HpWI%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A13Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>158b072e-5122-4aae-a5ff-1e419cdd3cd7</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:14 GMT
[...]
- request:
    method: post
    uri: https://ec2.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=IwE9zegVAn5p39QTcqDkxTAguk2QA%2BcJVZmLsxcP5vM%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A15Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>4464338b-8719-4804-821b-99e562cdd96c</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:16 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=UIXQJqyTThxI7qPkx5%2FNCdOQHeUijqMcZLeo9%2FNZGaM%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A19Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>aa25cb7f-30cd-4d23-a59e-a5247201ad47</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-1842f370</reservationId>\n
        \           <ownerId>123456789012</ownerId>\n            <groupSet/>\n            <instancesSet>\n
        \               <item>\n                    <instanceId>i-8b5739f2</instanceId>\n
        \                   <imageId>ami-5769193e</imageId>\n                    <instanceState>\n
        \                       <code>16</code>\n                        <name>running</name>\n
        \                   </instanceState>\n                    <privateDnsName>ip-10-0-0-254.ec2.internal</privateDnsName>\n
        \                   <dnsName/>\n                    <reason/>\n                    <keyName>EmsRefreshSpec-KeyPair</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>t1.micro</instanceType>\n                    <launchTime>2013-09-23T20:11:52.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1e</availabilityZone>\n
        \                       <groupName/>\n                        <tenancy>default</tenancy>\n
        \                   </placement>\n                    <kernelId>aki-1eceaf77</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <subnetId>subnet-f849ff96</subnetId>\n
        \                   <vpcId>vpc-ff49ff91</vpcId>\n                    <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                   <sourceDestCheck>true</sourceDestCheck>\n                    <groupSet>\n
        \                       <item>\n                            <groupId>sg-80f755ef</groupId>\n
        \                           <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>\n
        \                       </item>\n                    </groupSet>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-67606d2d</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2013-09-23T20:11:57.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken>aPCzL1379967112359</clientToken>\n                    <tagSet>\n
        \                       <item>\n                            <key>Name</key>\n
        \                           <value>EmsRefreshSpec-PoweredOn-VPC</value>\n
        \                       </item>\n                    </tagSet>\n                    <hypervisor>xen</hypervisor>\n
        \                   <networkInterfaceSet>\n                        <item>\n
        \                           <networkInterfaceId>eni-ad25f7cc</networkInterfaceId>\n
        \                           <subnetId>subnet-f849ff96</subnetId>\n                            <vpcId>vpc-ff49ff91</vpcId>\n
        \                           <description>Primary network interface</description>\n
        \                           <ownerId>123456789012</ownerId>\n                            <status>in-use</status>\n
        \                           <macAddress>22:d8:dc:13:0c:ca</macAddress>\n                            <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                           <sourceDestCheck>true</sourceDestCheck>\n                            <groupSet>\n
        \                               <item>\n                                    <groupId>sg-80f755ef</groupId>\n
        \                                   <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>\n
        \                               </item>\n                            </groupSet>\n
        \                           <attachment>\n                                <attachmentId>eni-attach-05fac66f</attachmentId>\n
        \                               <deviceIndex>0</deviceIndex>\n                                <status>attached</status>\n
        \                               <attachTime>2013-09-23T20:11:52.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </attachment>\n                            <privateIpAddressesSet>\n
        \                               <item>\n                                    <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                                   <primary>true</primary>\n                                </item>\n
        \                           </privateIpAddressesSet>\n                        </item>\n
        \                   </networkInterfaceSet>\n                    <ebsOptimized>false</ebsOptimized>\n
        \               </item>\n            </instancesSet>\n        </item>\n        <item>\n
        \           <reservationId>r-1405097e</reservationId>\n            <ownerId>123456789012</ownerId>\n
        \           <groupSet>\n                <item>\n                    <groupId>sg-347f9b5d</groupId>\n
        \                   <groupName>default</groupName>\n                </item>\n
        \           </groupSet>\n            <instancesSet>\n                <item>\n
        \                   <instanceId>i-fe4eb794</instanceId>\n                    <imageId>ami-67bc0b0e</imageId>\n
        \                   <instanceState>\n                        <code>80</code>\n
        \                       <name>stopped</name>\n                    </instanceState>\n
        \                   <privateDnsName/>\n                    <dnsName/>\n                    <reason>User
        initiated (2013-08-27 20:24:50 GMT)</reason>\n                    <keyName>miq</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>m1.small</instanceType>\n                    <launchTime>2013-08-27T20:22:57.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1b</availabilityZone>\n
        \                       <groupName/>\n                        <tenancy>default</tenancy>\n
        \                   </placement>\n                    <kernelId>aki-825ea7eb</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <groupSet>\n                        <item>\n
        \                           <groupId>sg-347f9b5d</groupId>\n                            <groupName>default</groupName>\n
        \                       </item>\n                    </groupSet>\n                    <stateReason>\n
        \                       <code>Client.UserInitiatedShutdown</code>\n                        <message>Client.UserInitiatedShutdown:
        User initiated shutdown</message>\n                    </stateReason>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        [...]
- request:
    method: post
    uri: https://ec2.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=AMDQzASnr3fLlPHTRh10FXmXAiAUXn461cQTPyqa8VQ%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A19Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>d07a86f4-3769-4975-aa70-6f98866bf0d8</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:20 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=WGv0eMX48HQy4oXNaqtpsmH%2FEjrCUg5TcP%2Bcu8qU%2BBc%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A22Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>23784764-de0d-4acf-bc1c-a0dae0b738cd</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:23 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=9V3Hsx6Bjzo1OnqXwzffc5lGTDIZLtZ1vbrrpemO3kk%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A25Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>73b74a51-9dd6-404f-93be-2590ff6169b6</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:27 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeImages&ExecutableBy.1=self&Signature=vVwC5c7oADSMCyQ5cp%2BbyhdJetu66P3Ku39s3BCmb0Q%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A32Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeImagesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>d36ba5f0-ea0c-4336-acf1-1187ffc73963</requestId>\n
        \   <imagesSet/>\n</DescribeImagesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:33 GMT
recorded_with: VCR 2.4.0
