---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeRegions&Signature=Slq06X3QhW4JogUkGL0rWDbmmPumDGqr6%2Bfd3VcJvQ0%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A31Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeRegionsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>9f84025d-0b19-4904-a1ba-487f9246d0ca</requestId>\n
        \   <regionInfo>\n        <item>\n            <regionName>eu-west-1</regionName>\n
        \           <regionEndpoint>ec2.eu-west-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>sa-east-1</regionName>\n
        \           <regionEndpoint>ec2.sa-east-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-east-1</regionName>\n
        \           <regionEndpoint>ec2.us-east-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-northeast-1</regionName>\n
        \           <regionEndpoint>ec2.ap-northeast-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-west-2</regionName>\n
        \           <regionEndpoint>ec2.us-west-2.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-west-1</regionName>\n
        \           <regionEndpoint>ec2.us-west-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-southeast-1</regionName>\n
        \           <regionEndpoint>ec2.ap-southeast-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-southeast-2</regionName>\n
        \           <regionEndpoint>ec2.ap-southeast-2.amazonaws.com</regionEndpoint>\n
        \       </item>\n    </regionInfo>\n</DescribeRegionsResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:31 GMT
- request:
    method: post
    uri: https://ec2.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=JFZA6U2cHxIug%2FAaofIykKi0igSarjwZVVXJot2TO7o%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A31Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>8140d297-f2a1-4b06-aaf2-ce05e4745fda</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:32 GMT
[...]
- request:
    method: post
    uri: https://ec2.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=DDvVUj4bvFWpK%2BMgJMSAQT2dU2OWnkHQ7b8FAslZOuE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A34Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>a29970ce-4641-40ab-8780-9ad305df3c02</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:35 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=oZqEmLDtGvXDjh3YHwm3AskkfsWEcvjqo4tqdagoJms%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A37Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>ee1d6b4b-b4be-4506-a50a-4d20287f49d8</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:38 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=%2FPslauZM%2BeyHL8V9dsAMcpTYscRFiLTdtlMj%2Fi3hme0%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A40Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>ebf07459-d2cd-4fd8-9989-9d1aa6a87dbe</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:41 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=Ql4SVIisGsYRhXfW3fYkua5Hs9FoZSfXQuva5JwsBIQ%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A42Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>7f681bed-c7f7-4cfd-892b-398e1737f240</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:44 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeImages&ExecutableBy.1=self&Signature=IBJVh7oxkv996%2BptXd4qC18O5PjdJGe6wshCcO8CpoE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A49Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeImagesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>b6eaca46-f5ae-4120-b6e3-5daf79964896</requestId>\n
        \   <imagesSet/>\n</DescribeImagesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:50 GMT
recorded_with: VCR 2.4.0
