---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeRegions&Signature=XNarRl6uzblDGSqcn8eD4EidJta5wmHA2x4doNq2OfA%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A11Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeRegionsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>b71938e9-cd28-47e5-a65f-e974c12be684</requestId>\n
        \   <regionInfo>\n        <item>\n            <regionName>eu-west-1</regionName>\n
        \           <regionEndpoint>ec2.eu-west-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>sa-east-1</regionName>\n
        \           <regionEndpoint>ec2.sa-east-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-east-1</regionName>\n
        \           <regionEndpoint>ec2.us-east-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-northeast-1</regionName>\n
        \           <regionEndpoint>ec2.ap-northeast-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-west-2</regionName>\n
        \           <regionEndpoint>ec2.us-west-2.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-west-1</regionName>\n
        \           <regionEndpoint>ec2.us-west-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-southeast-1</regionName>\n
        \           <regionEndpoint>ec2.ap-southeast-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-southeast-2</regionName>\n
        \           <regionEndpoint>ec2.ap-southeast-2.amazonaws.com</regionEndpoint>\n
        \       </item>\n    </regionInfo>\n</DescribeRegionsResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:12 GMT
- request:
    method: post
    uri: https://ec2.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=T4c3qfj0py8jGmfQawXG2vXAYqO0usA9mhZQEGyRJso%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A12Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>90157dc6-43d5-4e14-94ad-94d7ffa94ae6</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:12 GMT
[...]
- request:
    method: post
    uri: https://ec2.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=ExcjHIiO%2FBqtaoO4%2BVH3mBomDm69HatR48drbpE96uk%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A14Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>8f6edc18-3f46-4452-a21a-3bfa85dac7b4</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:15 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=WyKZ%2Bl9k0Chicg%2FhazqlYxGWxpV6YzXQcaOkSavvxRY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A17Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>b53344c1-0f09-43a8-93ee-83304dc39572</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-1842f370</reservationId>\n
        \           <ownerId>123456789012</ownerId>\n            <groupSet/>\n            <instancesSet>\n
        \               <item>\n                    <instanceId>i-8b5739f2</instanceId>\n
        \                   <imageId>ami-5769193e</imageId>\n                    <instanceState>\n
        \                       <code>16</code>\n                        <name>running</name>\n
        \                   </instanceState>\n                    <privateDnsName>ip-10-0-0-254.ec2.internal</privateDnsName>\n
        \                   <dnsName/>\n                    <reason/>\n                    <keyName>EmsRefreshSpec-KeyPair</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>t1.micro</instanceType>\n                    <launchTime>2013-09-23T20:11:52.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1e</availabilityZone>\n
        \                       <groupName/>\n                        <tenancy>default</tenancy>\n
        \                   </placement>\n                    <kernelId>aki-1eceaf77</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <subnetId>subnet-f849ff96</subnetId>\n
        \                   <vpcId>vpc-ff49ff91</vpcId>\n                    <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                   <sourceDestCheck>true</sourceDestCheck>\n                    <groupSet>\n
        \                       <item>\n                            <groupId>sg-80f755ef</groupId>\n
        \                           <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>\n
        \                       </item>\n                    </groupSet>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-67606d2d</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2013-09-23T20:11:57.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken>aPCzL1379967112359</clientToken>\n                    <tagSet>\n
        \                       <item>\n                            <key>Name</key>\n
        \                           <value>EmsRefreshSpec-PoweredOn-VPC</value>\n
        \                       </item>\n                    </tagSet>\n                    <hypervisor>xen</hypervisor>\n
        \                   <networkInterfaceSet>\n                        <item>\n
        \                           <networkInterfaceId>eni-ad25f7cc</networkInterfaceId>\n
        \                           <subnetId>subnet-f849ff96</subnetId>\n                            <vpcId>vpc-ff49ff91</vpcId>\n
        \                           <description>Primary network interface</description>\n
        \                           <ownerId>123456789012</ownerId>\n                            <status>in-use</status>\n
        \                           <macAddress>22:d8:dc:13:0c:ca</macAddress>\n                            <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                           <sourceDestCheck>true</sourceDestCheck>\n                            <groupSet>\n
        \                               <item>\n                                    <groupId>sg-80f755ef</groupId>\n
        \                                   <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>\n
        \                               </item>\n                            </groupSet>\n
        \                           <attachment>\n                                <attachmentId>eni-attach-05fac66f</attachmentId>\n
        \                               <deviceIndex>0</deviceIndex>\n                                <status>attached</status>\n
        \                               <attachTime>2013-09-23T20:11:52.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </attachment>\n                            <privateIpAddressesSet>\n
        \                               <item>\n                                    <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                                   <primary>true</primary>\n                                </item>\n
        \                           </privateIpAddressesSet>\n                        </item>\n
        \                   </networkInterfaceSet>\n                    <ebsOptimized>false</ebsOptimized>\n
        \               </item>\n            </instancesSet>\n        </item>\n        <item>\n
        \           <reservationId>r-1405097e</reservationId>\n            <ownerId>123456789012</ownerId>\n
        \           <groupSet>\n                <item>\n                    <groupId>sg-347f9b5d</groupId>\n
        \                   <groupName>default</groupName>\n                </item>\n
        \           </groupSet>\n            <instancesSet>\n                <item>\n
        \                   <instanceId>i-fe4eb794</instanceId>\n                    <imageId>ami-67bc0b0e</imageId>\n
        \                   <instanceState>\n                        <code>80</code>\n
        \                       <name>stopped</name>\n                    </instanceState>\n
        \                   <privateDnsName/>\n                    <dnsName/>\n                    <reason>User
        initiated (2013-08-27 20:24:50 GMT)</reason>\n                    <keyName>miq</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>m1.small</instanceType>\n                    <launchTime>2013-08-27T20:22:57.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1b</availabilityZone>\n
        \                       <groupName/>\n                        <tenancy>default</tenancy>\n
        \                   </placement>\n                    <kernelId>aki-825ea7eb</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <groupSet>\n                        <item>\n
        \                           <groupId>sg-347f9b5d</groupId>\n                            <groupName>default</groupName>\n
        \                       </item>\n                    </groupSet>\n                    <stateReason>\n
        \                       <code>Client.UserInitiatedShutdown</code>\n                        <message>Client.UserInitiatedShutdown:
        User initiated shutdown</message>\n                    </stateReason>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        [...]
- request:
    method: post
    uri: https://ec2.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=ZDZkKmre0X202jXnNdaIKd45JYp8%2FZ7gfd7qVeHJfSw%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A17Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>c8374525-15e6-4275-afa1-af612b2f291d</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:18 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=SLusg7%2FSRoSpxWb8fh%2BFRSEq8AFvNJ6%2BHjZCzh4WNJQ%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A21Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>819ed005-37cd-4b10-99ba-229286b8924b</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:21 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=sAizeiYMrtpfB7A9NdP70HWgOekHYUXln%2BvoDRbewPY%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A23Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>bbb64366-8904-473b-b957-32dc0d20f107</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:24 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeImages&ExecutableBy.1=self&Signature=YTGpzI9xAiYMImF%2FZRhSGDUOT%2B3QKcB1dQPfoyGvhIE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A56%3A30Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeImagesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>1bd8a26c-0c93-49f9-807f-ebad4c823910</requestId>\n
        \   <imagesSet/>\n</DescribeImagesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:56:31 GMT
recorded_with: VCR 2.4.0
