#bootstrap-tree-left-nav{:style => "padding-left: 17px; padding-right: 30px", "ng-controller" => "bootstrapTreeController"}

:javascript
  ManageIQ.angular.app.value('initialTreeData', JSON.parse('#{tree_data}'));
  ManageIQ.angular.app.value('railsControllerName', '#{controller.controller_name}');

  miq_bootstrap("#bootstrap-tree-left-nav");
