.toolbar-pf-actions
  .form-group.text
    %label.checkbox-inline
      %input#box{'ng-change' => "show_hide_names(checkboxModel.value)",  'ng-model' => "checkboxModel.value", :type => "checkbox", 'ng-true-value' => 'true', 'ng-false-value' => 'false'}
      = _("Display Names")
  .form-group
    %button.btn.btn-default{'ng-click' => "refresh()"}
      %i{:class => "fa fa-refresh fa-lg"}
      = _("Refresh")
  %form.search-pf.has-button{:role => "form"}
    .form-group.has-clear
      .search-pf-input-group
        %label.sr-only{:for => "search"} Search
        %input#search.form-control{'placeholder' => _("Search"), 'type' => "search", "ng-model" => "search.query"}
          %button.clear{"aria-hidden" => "true", :type => "button", "ng-click" => "resetSearch()"}
            %span.pficon.pficon-close
    .form-group.search-button
      %button.btn.btn-default.search-topology-button{:type => "button",  "ng-click" => "searchNode()"}
        %span.fa.fa-search
:javascript
  $(function($) {
    $(document).ready(function() {
      miqHideSearchClearButton();
    });
  });
