.form-group.text
  %label.topology-checkbox.checkbox-inline
    %input#box{'id' => "display_names", :type => "checkbox"}
    = _("Display Names")
.form-group
  %button.btn.btn-default{'data' => {'function' => 'miqCallAngular', 'function-data' => '{"name":"refresh", "args":[]}'}}
    %i{:class => "fa fa-refresh fa-lg"}
    = _("Refresh")
%form.search-pf.topology-search{:role => "form"}
  .form-group.has-clear
    .search-pf-input-group
      %label.sr-only{:for => "search"}
        = _("Search")
      %input#search.form-control{:id => 'topology', 'placeholder' => _("Search"), 'type' => "search", "ng-model" => "search.query"}
        %button.clear{"aria-hidden" => "true", :type => "button", 'data' => {'function' => 'miqCallAngular', 'function-data' => '{"name":"resetSearch", "args":[]}'}}
          %span.pficon.pficon-close
  .form-group.search-button
    %button.btn.btn-default.search-topology-button{:type => "button",  'data' => {'function' => 'miqCallAngular', 'function-data' => '{"name":"searchNode", "args":[]}'}}
      %span.fa.fa-search
