<table st-table="vm.orderItems" class="order-items-table">
  <thead>
  <tr>
    <th class="order-items-table__heading order-items-table__heading--padding"></th>
    <th class="order-items-table__heading order-items-table__heading--product">
      Product
    </th>
    <th class="order-items-table__heading order-items-table__heading--project">
      Project
    </th>
    <th class="order-items-table__heading order-items-table__heading--status" st-sort="provision_status">
      Status
    </th>
    <th class="order-items-table__heading order-items-table__heading--setup" st-sort="setup_price">
      Setup Price
    </th>
    <th class="order-items-table__heading order-items-table__heading--monthly" st-sort="monthly_price">
      Monthly Price
    </th>
    <th class="order-items-table__heading order-items-table__heading--hourly" st-sort="hourly_price">
      Hourly Price
    </th>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="selectRow" ng-repeat="item in vm.orderItems track by item.id">
    <td class="order-items-table__cell order-items-table__cell--padding"></td>
    <td class="order-items-table__cell order-items-table__cell--product">
      <a ui-sref="products.details({productId: item.product.id})">{{ ::item.product.name }}</a>
    </td>
    <td class="order-items-table__cell order-items-table__cell--project">
      <a ui-sref="project.details({projectId: item.project_id})">{{ ::item.project.name }}</a>
    </td>
    <td class="order-items-table__cell order-items-table__cell--status">
      <status type="{{ ::item.provision_status }}">{{ ::item.provision_status }}</status>
    </td>
    <td class="order-items-table__cell order-items-table__cell--setup">{{ ::item.setup_price }}</td>
    <td class="order-items-table__cell order-items-table__cell--monthly">{{ ::item.monthly_price }}</td>
    <td class="order-items-table__cell order-items-table__cell--hourly">{{ ::item.hourly_price }}</td>
  </tr>
  </tbody>
</table>
