<table ng-if="::0 < vm.services.length" st-table="vm.services" class="services-table">
  <thead>
  <tr>
    <th class="services-table__heading services-table__heading--padding"></th>
    <th st-sort="id"
        class="services-table__heading services-table__heading--service-id services-table__heading--sortable"
        st-sort-default="true">
      Service Id
    </th>
    <th st-sort="product_name"
        class="services-table__heading services-table__heading--description services-table__heading--sortable">
      Product
    </th>
    <th st-sort="provision_status"
        class="services-table__heading services-table__heading--status services-table__heading--sortable">
      Status
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in vm.services track by row.id">
    <td class="services-table__cell services-table__cell--padding"></td>
    <td class="services-table__cell services-table__cell--service-id">
      <a ui-sref="services.details({serviceId: row.id})">{{ ::row.id }}</a>
    </td>
    <td class="services-table__cell services-table__cell--description">
      <product-description
        product="row.product"
        link-to="services.details({serviceId: {{row.id}}})"></product-description>
    </td>
    <td class="services-table__cell services-table__cell--status">
      <status type="{{ ::row.provision_status }}">{{ ::row.provision_status }}</status>
    </td>
  </tr>
  </tbody>
</table>
<div ng-if="::0 === vm.services.length" class="services-table__empty">
  No services at this time.
</div>
