<div id="class_methods_div">
<% if !@in_a_form %>
  <%= render :partial => "layouts/flash_msg", :locals=>{:div_num=>"_class_methods"}  %>
	<fieldset>
		<p class="legend">Methods</p>
			<div class="checkall">
				<input id="Toggle4" type="checkbox" name="Toggle4" onclick="miqCheck_AE_All('center_tb','class_methods_grid');"/> (Check All)
			</div>
					<%= render :partial => 'layouts/dhtmlxgrid',
													:locals=>{:options=>{:grid_id=>"cls_methods_grid_div",
																		:grid_name=>"class_methods_grid",
																		:grid_url=>"/miq_ae_class/tree_select/",
																		:grid_xml=>@edit[:grid_methods_list_xml],
																		:no_resize=>true,
																		:autosize=>true,
																		:grid_num=>2,
																		:set_sizes=>true,
																		:skin=>"style3",
																		:alt_row=>true,
																		:div_in_js=>true
																		}}
					%>
		</fieldset>
<% elsif @edit[:new][:fields] %>
	<div id="form_div">
		<%= render :partial => "layouts/flash_msg", :locals=>{:div_num=>"_class_methods"}  %>
		<%= render :partial => "method_form", :locals=>{:prefix=>"cls_"}  %>
	</div>
<% end %>
</div>
