= render :partial => "layouts/flash_msg", :locals => {:div_num => "_domains_priority"}
#domains_list
  %table.admintable
    %tbody
      %tr
        %td
          %table#formtest.form{:width => '50%'}
            %tr
              %td.widthed{:align => "left"}=_("Domains:")
              %td
            %tr
              %td{:align => "left", :valign => "top"}
                = select_tag('seq_fields[]',
                  options_for_select(@edit[:new][:domain_order], @selected),
                  {:multiple => true, :style => "width: 450px", :size => 20, :id => "seq_fields"})
              %td{:width => "30", :align => "left", :valign => "middle"}
                = link_image_if(:cond => (@edit[:new][:domain_order].length < 2),
                  :img                => "/images/toolbars/up.png",
                  :opts_true          => {:class  => "dimmed small"},
                  :opts_false         => {:class  => "rollover small", :alt => t = _("Move selected fields up")},
                  :link               => {:action => 'priority_form_field_changed', :button => 'up', :id => "priority__edit"},
                  :opts_link          => {:remote => true, "data-submit" => "domains_list", :title => t})
                = link_image_if(:cond => (@edit[:new][:domain_order].length < 2),
                  :img                => "/images/toolbars/down.png",
                  :opts_true          => {:class => "dimmed small"},
                  :opts_false         => {:class => "rollover small", :alt => (t = _("Move selected fields down"))},
                  :link               => {:action => 'priority_form_field_changed', :button => 'down', :id => "priority__edit"},
                  :opts_link          => {"data-submit" => "domains_list", :remote => true, :title => t})
          #div.note=_('* Select one or more consecutive groups to move up or down.')
