= render :partial => "layouts/flash_msg", :locals => {:div_num => "_fields_seq"}
#column_lists
  %p
  %table.admintable
    %tbody
      %tr
        %td
          %table#formtest.form{:width => '50%'}
            %tr
              %td.widthed{:align => "left"}=_('Class Schema Sequencing:')
              %td
            %tr
              %td{:align => "left", :valign => "top"}
                = select_tag('seq_fields[]',
                  options_for_select(@edit[:new][:fields_list], @selected),
                  {:multiple => true, :style => "width: 450px", :size => 20, :id => "seq_fields"})
              %td{:width => "30", :align => "left", :valign => "middle"}
                = link_image_if(:cond => (@edit[:new][:fields].length < 2),
                  :image              => "/images/toolbars/up.png",
                  :opts_true          => {:class => "dimmed small"},
                  :opts_false         => {:class => "rollover small", :alt => (t = _("Move selected fields up"))},
                  :link               => {:action => 'fields_seq_field_changed', :button => 'up', :id => "seq"},
                  :opts_link          => {:title => t,
                    "data-miq_sparkle_on"        => true,
                    "data-miq_sparkle_off"       => true,
                    "data-submit"                => 'column_lists',
                    :remote                      => true})
                = link_image_if(:cond => (@edit[:new][:fields].length < 2),
                  :image              => "/images/toolbars/down.png",
                  :opts_true          => {:class => "dimmed small"},
                  :opts_false         => {:class => "rollover small", :alt => (t = _("Move selected fields down"))},
                  :link               => {:action => 'fields_seq_field_changed', :button => 'down', :id => "seq"},
                  :opts_link          => {:title => t,
                    "data-miq_sparkle_on"        => true,
                    "data-miq_sparkle_off"       => true,
                    "data-submit"                => 'column_lists',
                    :remote                      => true})
          .note=_('* Select one or more consecutive fields to move up or down.')
:javascript
  - # disable any other tabs on screen when in edit
  miq_jquery_disable_inactive_tabs('ae_tabs');
