<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
        ng-submit="vm.onSubmit()"
        ng-class="{'show-errors': vm.showErrors()}">
    <content-header short="true">
      <div>
        <span class="content-header__title motd-form__title" ng-bind="::vm.title"></span>
        <span class="motd-form__title-error" ng-if="vm.hasErrors()">Please complete required fields in red</span>
      </div>
    </content-header>
    <div class="row">
      <div class="motd-form__body">
        <div class="motd-field">
          <div class="motd-field__aside">
            <label class="content-page-field__label">Content</label>
          </div>
          <div class="motd-field__body" ng-class="{'has-error': vm.hasErrors('body')}">
                    <textarea id="content-page-body" ng-model="vm.motd.message" name="body"
                              class="content-page-field__input field__input--textarea field__input--monospaced"
                              placeholder="Specify message of the day here." rows="10" required></textarea>
            <div class="content-page-field__feedback" ng-messages="vm.form.body.$error">
              <div ng-message="required">A page body is required.</div>
            </div>
          </div>
        </div>
        <div class="motd-field">
          <div class="motd-field__aside">
            <label class="motd-field__label">Preview</label>
          </div>
          <div class="motd-field__body">
            <div class="motd-field__body--markdown" marked="vm.motd.message"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn-rounded motd-form__submit" ng-disabled="vm.hasErrors()">Save
          </button>
          <button type="button"
                  class="btn btn-link motd-form__cancel"
                  confirmation
                  confirmation-if="vm.form.$dirty"
                  confirmation-message="You have unsaved changes. Abandon them and leave the page?"
                  confirmation-ok-style="danger"
                  confirmation-ok-text="Yes, Leave"
                  confirmation-on-ok="vm.backToDash()"
                  confirmation-show-cancel="false">Cancel
          </button>
        </div>
      </div>
    </div>
  </form>



