<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
      ng-submit="vm.onSubmit()"
      ng-class="{'show-errors': vm.showErrors()}">


  <div class="add-membership-modal__header">
    <button type="button" class="add-membership-modal__close" ng-click="$dismiss()" aria-label="Close">
      <i class="fa fa-close" aria-hidden="true"></i>
      <span class="sr-only">Close</span>
    </button>
    <div class="add-membership-modal__title">Project Group Membership</div>
  </div>

  <div class="add-membership-modal__body">
    <div class="row">
      <div class="form-field__container">
        <div class="form-field" ng-if="!vm.membership.id">
          <div class="form-field__aside">
            <label class="form-field__label">Group</label>
          </div>
          <div class="form-field__body">
            <select id="group-name" name="group" ng-model="vm.membership.group_id"
                    class="add-membership-modal__select"
                    ng-options="group.id as group.name for group in vm.groups" required>
            </select>

            <div class="form-field__feedback" ng-messages="vm.form.group.$error">
              <div ng-message="required">A group is required.</div>
            </div>
          </div>
        </div>

        <div class="form-field">
          <div class="form-field__aside">
            <label class="form-field__label">Role</label>
          </div>
          <div class="form-field__body">
            <select id="group-role" name="role" ng-model="vm.membership.role_id" class="form-field__input"
                    ng-options="role.id as role.name for role in vm.roles" required>
            </select>

            <div class="form-field__feedback" ng-messages="vm.form.role.$error">
              <div ng-message="required">A role is required.</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="add-membership-modal__footer">
    <button type="button" class="btn-rounded btn-rounded--gray add-membership-modal__cancel" ng-click="$dismiss()">
      Cancel
    </button>
    <button ng-disabled="vm.hasErrors()" type="submit" class="btn-rounded add-membership-modal__ok">
      <span ng-if="vm.membership.id">Update</span>
      <span ng-if="!vm.membership.id">Save</span>
    </button>
  </div>
</form>
