[Unit]
PartOf=manageiq-schedule.target
[Install]
WantedBy=manageiq-schedule.target
[Service]
WorkingDirectory=/var/www/miq/vmdb
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
ExecStart=/bin/bash -c '. /etc/default/evm && exec ruby lib/workers/bin/run_single_worker.rb MiqScheduleWorker --heartbeat --guid=%i'
Restart=no
Type=notify
Slice=manageiq-schedule.slice
