[Unit]
PartOf=manageiq-smart_proxy.target
[Install]
WantedBy=manageiq-smart_proxy.target
[Service]
WorkingDirectory=/var/www/miq/vmdb
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
EnvironmentFile=/etc/default/manageiq*.properties
ExecStart=/usr/bin/ruby lib/workers/bin/run_single_worker.rb MiqSmartProxyWorker --heartbeat --guid=%i
User=manageiq
Restart=no
Type=notify
Slice=manageiq-smart_proxy.slice
