[Unit]
PartOf=manageiq-priority.target
[Install]
WantedBy=manageiq-priority.target
[Service]
WorkingDirectory=/var/www/miq/vmdb
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
EnvironmentFile=/etc/default/manageiq*.properties
ExecStart=/usr/bin/ruby lib/workers/bin/run_single_worker.rb MiqPriorityWorker --heartbeat --guid=%i
User=manageiq
Restart=no
Type=notify
Slice=manageiq-priority.slice
