[Unit]
PartOf=manageiq-cockpit_ws.target
[Install]
WantedBy=manageiq-cockpit_ws.target
[Service]
WorkingDirectory=/var/www/miq/vmdb
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
EnvironmentFile=/etc/default/manageiq*.properties
ExecStart=/usr/bin/ruby lib/workers/bin/run_single_worker.rb MiqCockpitWsWorker --heartbeat --guid=%i
Group=manageiq
UMask=0002
Restart=no
Type=notify
Slice=manageiq-cockpit_ws.slice
