[Unit]
PartOf=manageiq-ui.target
Wants=httpd.service
[Install]
WantedBy=manageiq-ui.target
[Service]
WorkingDirectory=/var/www/miq/vmdb
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
EnvironmentFile=/etc/default/manageiq*.properties
ExecStart=/usr/bin/ruby lib/workers/bin/run_single_worker.rb MiqUiWorker --heartbeat --guid=%i
User=manageiq
Restart=no
Type=notify
Slice=manageiq-ui.slice
