[Unit]
Description=ManageIQ Messaging Ready
After=network.target
Before=evmserverd.service
ConditionPathExists=/var/www/miq/vmdb/config/messaging.yml

[Service]
ExecStart=/usr/bin/manageiq-messaging-ready
EnvironmentFile=/etc/default/manageiq*.properties
TimeoutStartSec=infinity
Type=oneshot

[Install]
WantedBy=multi-user.target
