[Unit]
PartOf=manageiq-event_handler.target
[Install]
WantedBy=manageiq-event_handler.target
[Service]
WorkingDirectory=/var/www/miq/vmdb
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
ExecStart=/bin/bash -c '. /etc/default/evm && exec ruby lib/workers/bin/run_single_worker.rb MiqEventHandler --heartbeat --guid=%i'
Restart=no
Type=notify
Slice=manageiq-event_handler.slice
