# /
.sass-cache/
.tags
*.cmd
*.pyc
/bin/
/data/
/productization
BUILD
Gemfile.dev.rb
Gemfile.lock*
GUID
REGION
SyntaxCheck
xfer_*.xml

# app/controllers/
app/controllers/new_module.rb

# app/views/layouts/
app/views/layouts/_center_buttons_1.rhtml
app/views/layouts/_center_buttons_new.rhtml
app/views/layouts/_center_buttons_jmaki.rhtml

# app/views/vm/
app/views/vm/.fuse_hidden0000208f00000004
app/views/vm/_main_old.rhtml
app/views/vm/_main_new.rhtml
app/views/vm/.fuse_hidden0000228d0000000a

# config/
config/apache
config/database.yml*
config/vmdb.yml.db
config/miq_pass

# db/
db/*.sqlite3
db/schema.rb
db/fixtures/ae_datastore/ManageIQ/.manifest.yaml

# log/
log/*.gz
log/*.log
log/*.txt
log/call_graph_*.html

# product/
product/license
product/automate

# public/
/public/assets/
public/dhtmlx_test.html
public/dhtmlx_test_cal.html
public/test_grid.xml
public/test_grid-0.xml
public/upload

# public/dhtmlx/
public/dhtmlx/dhtmlxtoolbar.js.orig

# public/images/
public/images/Thumbs.db

# public/images/icons/new/
public/images/icons/new/Thumbs.db

# public/images/layout/
public/images/layout/Thumbs.db

# public/images/layout/expression/
public/images/layout/expression/Thumbs.db

# public/images/layout/login/
public/images/layout/login/Thumbs.db

# public/images/toolbars/
public/images/toolbars/Thumbs.db

# public/javascripts/
public/javascripts/jmaki.js
public/javascripts/jmaki-uncompressed.js
public/javascripts/glue.js
public/javascripts/system-glue.js

# public/stylesheets/
public/stylesheets/jmaki-standard.css
public/stylesheets/dhtmlXGrid.css
public/stylesheets/jmaki-2-row-right-sidebar-footer.css
public/stylesheets/jmaki-centered.css
public/stylesheets/jmaki-3column-fixed-sidebars.css
public/stylesheets/jmaki-2column-footer.css
public/stylesheets/jmaki-3column.css
public/stylesheets/container-2fixed-right-sidebars.css
public/stylesheets/jmaki-right-sidebar.css
public/stylesheets/container-right-sidebars.css
public/stylesheets/jmaki-standard-footer.css
public/stylesheets/jmaki-2fixed-right-sidebars.css
public/stylesheets/jmaki-3column-footer.css
public/stylesheets/jmaki-standard-no-sidebars.css
public/stylesheets/jmaki-standard-right-sidebar.css

# tmp/
tmp/*

# vendor/plugins/
vendor/plugins/rails-dev-boost
vendor/plugins/ruby-prof
vendor/plugins/rails_upgrade

# vendor/plugins/princely/
vendor/plugins/princely/.gitignore

# vendor/plugins/rails_sql_views/
vendor/plugins/rails_sql_views/.gitignore
