+block(marketplace-title-img)
  background: $app-color-white
  border: 1px solid $app-color-light-gray-4
  box-shadow: 0 1px 1px rgba($app-color-black, 0.175)
  cursor: pointer
  float: left
  height: 130px
  margin-right: 20px
  margin-bottom: 20px
  padding: 10px
  text-align: center
  width: 130px

  +element(logo)
    display: block
    margin: 22px auto
    max-height: 80px
    max-width: 110px

+block(marketplace-title-description)
  margin-left: 150px
