---
http_interactions:
- request:
    method: post
    uri: https://login.windows.net/AZURE_TENANT_ID/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=AZURE_CLIENT_ID&client_secret=AZURE_CLIENT_SECRET&resource=https%3A%2F%2Fmanagement.azure.com%2F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","ext_expires_in":"0","expires_on":"1473451714","not_before":"1473447814","resource":"https://management.azure.com/","access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyIsImlzcyI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0Lzc3ZWNlZmI2LWNmZjAtNGU4ZC1hNDQ2LTc1N2E2OWNiOTQ4NS8iLCJpYXQiOjE0NzM0NDc4MTQsIm5iZiI6MTQ3MzQ0NzgxNCwiZXhwIjoxNDczNDUxNzE0LCJhcHBpZCI6ImZjMWMyMjI1LTA2NWYtNGJhOC04M2Q5LWQ4NjY2MmY1NzhhZiIsImFwcGlkYWNyIjoiMSIsImdyb3VwcyI6WyI0MDczODk4Ni0zYzgyLTRjZjEtOTlmYy0xMzQ1N2UzMzMyZmMiLCIwZDAxNDNlYS0zMzllLTQyZTAtYTI0ZS1iNWE4ZmM2OWZmMTQiLCJkNjVmMmU1ZC1mYmZiLTQxNTMtODZiMi01OTc5YjRlNmI1OTIiXSwiaWRwIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzdlY2VmYjYtY2ZmMC00ZThkLWE0NDYtNzU3YTY5Y2I5NDg1LyIsIm9pZCI6IjMwNmViNDJhLTM1ODUtNGEzNy05NWI3LTM4YmMwZTk4MjhkMiIsInN1YiI6IjMwNmViNDJhLTM1ODUtNGEzNy05NWI3LTM4YmMwZTk4MjhkMiIsInRpZCI6Ijc3ZWNlZmI2LWNmZjAtNGU4ZC1hNDQ2LTc1N2E2OWNiOTQ4NSIsInZlciI6IjEuMCJ9.Axv4yFOLBiM1ql0iBEUEDYeINE3UYc72cPWpgnTYxclLjwzWeDC4wI7V_irEaRrXLPso00NTqVf9cjCVm6DvG8jaFBRvXzvKBXD_4KC_PHHbQ-87CdsyCWQ1l_s0lqZu4kjl1OKboy7TrWQ_2cOWSx2BZe5afsFqnK3x51Y06FWDROvmUxZ_eDTT1KJ04E5XWn8tAqvXBP9fNZ8ShbqKu9KMHvnWyQ3D5VPUXL9hzg6CAsBoQ_48NAQnAMMFfWP9P_xkmz1Ceo3NMujtPWboDj4d_WfrWuZ7JF7VKVwbV--77rdhQw65vzdGbeSX_QpLgwLEJZCJ-mMzdn4aePBlog"}'
  recorded_at: Fri, 09 Sep 2016 19:08:33 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions?api-version=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyIsImlzcyI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0Lzc3ZWNlZmI2LWNmZjAtNGU4ZC1hNDQ2LTc1N2E2OWNiOTQ4NS8iLCJpYXQiOjE0NzM0NDc4MTQsIm5iZiI6MTQ3MzQ0NzgxNCwiZXhwIjoxNDczNDUxNzE0LCJhcHBpZCI6ImZjMWMyMjI1LTA2NWYtNGJhOC04M2Q5LWQ4NjY2MmY1NzhhZiIsImFwcGlkYWNyIjoiMSIsImdyb3VwcyI6WyI0MDczODk4Ni0zYzgyLTRjZjEtOTlmYy0xMzQ1N2UzMzMyZmMiLCIwZDAxNDNlYS0zMzllLTQyZTAtYTI0ZS1iNWE4ZmM2OWZmMTQiLCJkNjVmMmU1ZC1mYmZiLTQxNTMtODZiMi01OTc5YjRlNmI1OTIiXSwiaWRwIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzdlY2VmYjYtY2ZmMC00ZThkLWE0NDYtNzU3YTY5Y2I5NDg1LyIsIm9pZCI6IjMwNmViNDJhLTM1ODUtNGEzNy05NWI3LTM4YmMwZTk4MjhkMiIsInN1YiI6IjMwNmViNDJhLTM1ODUtNGEzNy05NWI3LTM4YmMwZTk4MjhkMiIsInRpZCI6Ijc3ZWNlZmI2LWNmZjAtNGU4ZC1hNDQ2LTc1N2E2OWNiOTQ4NSIsInZlciI6IjEuMCJ9.Axv4yFOLBiM1ql0iBEUEDYeINE3UYc72cPWpgnTYxclLjwzWeDC4wI7V_irEaRrXLPso00NTqVf9cjCVm6DvG8jaFBRvXzvKBXD_4KC_PHHbQ-87CdsyCWQ1l_s0lqZu4kjl1OKboy7TrWQ_2cOWSx2BZe5afsFqnK3x51Y06FWDROvmUxZ_eDTT1KJ04E5XWn8tAqvXBP9fNZ8ShbqKu9KMHvnWyQ3D5VPUXL9hzg6CAsBoQ_48NAQnAMMFfWP9P_xkmz1Ceo3NMujtPWboDj4d_WfrWuZ7JF7VKVwbV--77rdhQw65vzdGbeSX_QpLgwLEJZCJ-mMzdn4aePBlog
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Tenant-Reads:
      - '14993'
    body:
      encoding: ASCII-8BIT
      string: '{"value":[{"id":"/subscriptions/AZURE_SUBSCRIPTION_ID","subscriptionId":"AZURE_SUBSCRIPTION_ID","displayName":"Microsoft
        Azure Sponsorship","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Public_2014-09-01","quotaId":"Default_2014-09-01"}}]}'
  recorded_at: Fri, 09 Sep 2016 19:08:34 GMT
- request:
    method: get
    uri: https://management.azure.com/providers?api-version=2015-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyIsImlzcyI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0Lzc3ZWNlZmI2LWNmZjAtNGU4ZC1hNDQ[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourcegroups?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyIsImlzcyI6Imh0dHBzOi8vc3RzLndpbm[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/providers/Microsoft.Compute/locations/eastus/vmSizes?api-version=2016-03-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUu[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Resources/deployments?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyJ9.eyJhdWQiOiJodHRwczovL21h[...]
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Resources/deployments/Microsoft.LoadBalancer-20160802124205/operations?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9t[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Resources/deployments/RedHat.RedHatEnterpriseLinux67-20160802123704/operations?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFR[...]
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Resources/deployments/Microsoft.AvailabilitySet-20160802121906/operations?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljR[...]
- request:
    method: get
    uri: https://gallery.azure.com/artifact/20151001/Microsoft.AvailabilitySet-ARM.1.0.1/DeploymentTemplates/AvailabilitySet.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ms-Version:
      - 5.2.1.161 (AzureUX-Store:master.2bc8870.160816-1414)
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
        \ \"contentVersion\": \"0.0.1.0\",\r\n  \"parameters\": {\r\n    \"name\":
        {\r\n      \"type\": \"string\"\r\n    },\r\n    \"faultDomains\": {\r\n      \"type\":
        \"int\"\r\n    },\r\n    \"updateDomains\": {\r\n      \"type\": \"int\"\r\n
        \   },\r\n    \"location\": {\r\n      \"type\": \"string\"\r\n    }\r\n  },\r\n
        \ \"resources\": [\r\n    /* Availability Set Defintion */\r\n    {\r\n      \"apiVersion\":
        \"2015-06-15\",\r\n      \"type\": \"Microsoft.Compute/availabilitySets\",\r\n
        \     \"name\": \"[parameters('name')]\",\r\n      \"location\": \"[parameters('location')]\",\r\n
        \     \"properties\": {\r\n        \"platformUpdateDomainCount\": \"[parameters('updateDomains')]\",\r\n
        \       \"platformFaultDomainCount\": \"[parameters('faultDomains')]\",\r\n
        \       \"virtualMachines\": []\r\n      },\r\n      \"tags\": {}\r\n    }\r\n
        \ ]\r\n}"
  recorded_at: Fri, 09 Sep 2016 19:08:45 GMT
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Resources/deployments/Microsoft.NetworkInterface-20160417102731/operations?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUllj[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Resources/deployments/failedme/operations?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyJ9.eyJh[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Resources/deployments/spec-nested-deployment-dont-delete/operations?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3R[...]
- request:
    method: get
    uri: https://gist.githubusercontent.com/bzwei/c09f906306399d238762bce711781200/raw/3558b735da03c1c030023d70b78ec3451dab5689/azure-loadbalancer.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1021dc2f239b171860016cf42167f9e9660a8c84"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 88e1e44ffd0f9950692143e630c8c64d4f33708f
      Source-Age:
      - '143'
    body:
      encoding: UTF-8
      string: |
        {
          "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Name of storage account"
              }
            },
            "availabilitySetName": {
              "type": "string",
              "metadata": {
                "description": "Name of availability set"
              }
            },
            "adminUsername": {
              "type": "string",
              "metadata": {
                "description": "Admin username"
              }
            },
            "adminPassword": {
              "type": "securestring",
              "metadata": {
                "description": "Admin password"
              }
            },
            "dnsNameforLBIP": {
              "type": "string",
              "metadata": {
                "description": "DNS for Load Balancer IP"
              }
            },
            "vmNamePrefix": {
              "type": "string",
              "defaultValue": "myVM",
              "metadata": {
                "description": "Prefix to use for VM names"
              }
            },
            "imagePublisher": {
              "type": "string",
              "defaultValue": "MicrosoftWindowsServer",
              "metadata": {
                "description": "Image Publisher"
              }
            },
            "imageOffer": {
              "type": "string",
              "defaultValue": "WindowsServer",
              "metadata": {
                "description": "Image Offer"
              }
            },
            "imageSKU": {
              "type": "string",
              "defaultValue": "2012-R2-Datacenter",
              "metadata": {
                "description": "Image SKU"
              }
            },
            "lbName": {
              "type": "string",
              "defaultValue": "myLB",
              "metadata": {
                "description": "Load Balancer name"
              }
            },
            "nicNamePrefix": {
              "type": "string",
              "defaultValue": "nic",
              "metadata": {
                "description": "Network Interface name prefix"
              }
            },
            "publicIPAddressName": {
              "type": "string",
              "defaultValue": "myPublicIP",
              "metadata": {
                "description": "Public IP Name"
              }
            },
            "vnetName": {
              "type": "string",
              "defaultValue": "myVNET",
              "metadata": {
                "description": "VNET name"
              }
            },
            "vmSize": {
              "type": "string",
              "defaultValue": "Standard_D1",
              "metadata": {
                "description": "Size of the VM"
              }
            }
          },
          "variables": {
            "storageAccountType": "Standard_LRS",
            "addressPrefix": "10.0.0.0/16",
            "subnetName": "Subnet-1",
            "subnetPrefix": "10.0.0.0/24",
            "publicIPAddressType": "Dynamic",
            "vnetID": "[resourceId('Microsoft.Network/virtualNetworks',parameters('vnetName'))]",
            "subnetRef": "[concat(variables('vnetID'),'/subnets/',variables ('subnetName'))]",
            "publicIPAddressID": "[resourceId('Microsoft.Network/publicIPAddresses',parameters('publicIPAddressName'))]",
            "numberOfInstances": 2,
            "lbID": "[resourceId('Microsoft.Network/loadBalancers',parameters('lbName'))]",
            "frontEndIPConfigID": "[concat(variables('lbID'),'/frontendIPConfigurations/LoadBalancerFrontEnd')]",
            "lbPoolID": "[concat(variables('lbID'),'/backendAddressPools/BackendPool1')]",
            "lbProbeID": "[concat(variables('lbID'),'/probes/tcpProbe')]"
          },
          "resources": [
            {
              "type": "Microsoft.Storage/storageAccounts",
              "name": "[parameters('storageAccountName')]",
              "apiVersion": "2015-05-01-preview",
              "location": "[resourceGroup().location]",
              "properties": {
                "accountType": "[variables('storageAccountType')]"
              }
            },
            {
              "type": "Microsoft.Compute/availabilitySets",
              "name": "[parameters('availabilitySetName')]",
              "apiVersion": "2015-05-01-preview",
              "location": "[resourceGroup().location]",
              "properties": {}
            },
            {
              "apiVersion": "2015-05-01-preview",
              "type": "Microsoft.Network/publicIPAddresses",
              "name": "[parameters('publicIPAddressName')]",
              "location": "[resourceGroup().location]",
              "properties": {
                "publicIPAllocationMethod": "[variables('publicIPAddressType')]",
                "dnsSettings": {
                  "domainNameLabel": "[parameters('dnsNameforLBIP')]"
                }
              }
            },
            {
              "apiVersion": "2015-05-01-preview",
              "type": "Microsoft.Network/virtualNetworks",
              "name": "[parameters('vnetName')]",
              "location": "[resourceGroup().location]",
              "properties": {
                "addressSpace": {
                  "addressPrefixes": [
                    "[variables('addressPrefix')]"
                  ]
                },
                "subnets": [
                  {
                    "name": "[variables('subnetName')]",
                    "properties": {
                      "addressPrefix": "[variables('subnetPrefix')]"
                    }
                  }
                ]
              }
            },
            {
              "apiVersion": "2015-05-01-preview",
              "type": "Microsoft.Network/networkInterfaces",
              "name": "[concat(parameters('nicNamePrefix'), copyindex())]",
              "location": "[resourceGroup().location]",
              "copy": {
                "name": "nicLoop",
                "count": "[variables('numberOfInstances')]"
              },
              "dependsOn": [
                "[concat('Microsoft.Network/virtualNetworks/', parameters('vnetName'))]",
                "[concat('Microsoft.Network/loadBalancers/', parameters('lbName'))]"
              ],
              "properties": {
                "ipConfigurations": [
                  {
                    "name": "ipconfig1",
                    "properties": {
                      "privateIPAllocationMethod": "Dynamic",
                      "subnet": {
                        "id": "[variables('subnetRef')]"
                      },
                      "loadBalancerBackendAddressPools": [
                        {
                          "id": "[concat(variables('lbID'), '/backendAddressPools/BackendPool1')]"
                        }
                      ],
                      "loadBalancerInboundNatRules": [
                        {
                          "id": "[concat(variables('lbID'),'/inboundNatRules/RDP-VM', copyindex())]"
                        }
                      ]
                    }
                  }
                ]
              }
            },
            {
              "apiVersion": "2015-05-01-preview",
              "name": "[parameters('lbName')]",
              "type": "Microsoft.Network/loadBalancers",
              "location": "[resourceGroup().location]",
              "dependsOn": [
                "[concat('Microsoft.Network/publicIPAddresses/', parameters('publicIPAddressName'))]"
              ],
              "properties": {
                "frontendIPConfigurations": [
                  {
                    "name": "LoadBalancerFrontEnd",
                    "properties": {
                      "publicIPAddress": {
                        "id": "[variables('publicIPAddressID')]"
                      }
                    }
                  }
                ],
                "backendAddressPools": [
                  {
                    "name": "BackendPool1"
                  }
                ],
                "inboundNatRules": [
                  {
                    "name": "RDP-VM0",
                    "properties": {
                      "frontendIPConfiguration": {
                        "id": "[variables('frontEndIPConfigID')]"
                      },
                      "protocol": "tcp",
                      "frontendPort": 50001,
                      "backendPort": 3389,
                      "enableFloatingIP": false
                    }
                  },
                  {
                    "name": "RDP-VM1",
                    "properties": {
                      "frontendIPConfiguration": {
                        "id": "[variables('frontEndIPConfigID')]"
                      },
                      "protocol": "tcp",
                      "frontendPort": 50002,
                      "backendPort": 3389,
                      "enableFloatingIP": false
                    }
                  }
                ],
                "loadBalancingRules": [
                  {
                    "name": "LBRule",
                    "properties": {
                      "frontendIPConfiguration": {
                        "id": "[variables('frontEndIPConfigID')]"
                      },
                      "backendAddressPool": {
                        "id": "[variables('lbPoolID')]"
                      },
                      "protocol": "tcp",
                      "frontendPort": 80,
                      "backendPort": 80,
                      "enableFloatingIP": false,
                      "idleTimeoutInMinutes": 5,
                      "probe": {
                        "id": "[variables('lbProbeID')]"
                      }
                    }
                  }
                ],
                "probes": [
                  {
                    "name": "tcpProbe",
                    "properties": {
                      "protocol": "tcp",
                      "port": 80,
                      "intervalInSeconds": 5,
                      "numberOfProbes": 2
                    }
                  }
                ]
              }
            },
            {
              "apiVersion": "2015-06-15",
              "type": "Microsoft.Compute/virtualMachines",
              "name": "[concat(parameters('vmNamePrefix'), copyindex())]",
              "copy": {
                "name": "virtualMachineLoop",
                "count": "[variables('numberOfInstances')]"
              },
              "location": "[resourceGroup().location]",
              "dependsOn": [
                "[concat('Microsoft.Storage/storageAccounts/', parameters('storageAccountName'))]",
                "[concat('Microsoft.Network/networkInterfaces/', parameters('nicNamePrefix'), copyindex())]",
                "[concat('Microsoft.Compute/availabilitySets/', parameters('availabilitySetName'))]"
              ],
              "properties": {
                "availabilitySet": {
                  "id": "[resourceId('Microsoft.Compute/availabilitySets',parameters('availabilitySetName'))]"
                },
                "hardwareProfile": {
                  "vmSize": "[parameters('vmSize')]"
                },
                "osProfile": {
                  "computerName": "[concat(parameters('vmNamePrefix'), copyIndex())]",
                  "adminUsername": "[parameters('adminUsername')]",
                  "adminPassword": "[parameters('adminPassword')]"
                },
                "storageProfile": {
                  "imageReference": {
                    "publisher": "[parameters('imagePublisher')]",
                    "offer": "[parameters('imageOffer')]",
                    "sku": "[parameters('imageSKU')]",
                    "version": "latest"
                  },
                  "osDisk": {
                    "name": "osdisk",
                    "vhd": {
                      "uri": "[concat('http://',parameters('storageAccountName'),'.blob.core.windows.net/vhds/','osdisk', copyindex(), '.vhd')]"
                    },
                    "caching": "ReadWrite",
                    "createOption": "FromImage"
                  }
                },
                "networkProfile": {
                  "networkInterfaces": [
                    {
                      "id": "[resourceId('Microsoft.Network/networkInterfaces',concat(parameters('nicNamePrefix'),copyindex()))]"
                    }
                  ]
                },
                "diagnosticsProfile": {
                  "bootDiagnostics": {
                     "enabled": "true",
                     "storageUri": "[concat('http://',parameters('storageAccountName'),'.blob.core.windows.net')]"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Fri, 09 Sep 2016 19:08:53 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Resources/deployments/spec-deployment-dont-delete/operations?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3RXVkpLSH[...]
- request:
    method: get
    uri: https://gist.githubusercontent.com/bzwei/e6ccc4d641d6afab8e26ef55c37c498e/raw/769505e37256e926a9b581a100c90bb657ff45ff/azure-parent-spec.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"eae0aec440cc458684ae7e987726f237c9fcbfa4"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 93284040fc3fbae7f2e1ed98a565f57d193bd65e
      Source-Age:
      - '142'
    body:
      encoding: UTF-8
      string: |
        {
          "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "childDeployName": { "type": "string" },
            "storageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Name of storage account"
              }
            },
            "availabilitySetName": {
              "type": "string",
              "metadata": {
                "description": "Name of availability set"
              }
            },
            "adminUsername": {
              "type": "string",
              "metadata": {
                [...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Resources/deployments/Microsoft.WindowsServer2012R2Datacenter-20160222104010/operations?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI[...]
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Resources/deployments/OpenLogic.CentOSbased71-20160221104950/operations?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9[...]
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test1/providers/Microsoft.Resources/deployments/Canonical.UbuntuServer1510-20160218112651/operations?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUllj[...]
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/resourceGroups/miq-azure-test4/providers/Microsoft.Resources/deployments/Microsoft.RouteTable-20160704114633/operations?api-version=2016-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/providers/Microsoft.Compute/virtualMachines?api-version=2016-03-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyIsI[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/providers/Microsoft.Network/networkInterfaces?api-version=2016-09-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyI[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/AZURE_SUBSCRIPTION_ID/providers/Microsoft.Network/publicIPAddresses?api-version=2016-09-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyIsImtpZCI6IlliUkFRUlljRV9tb3RXVkpLSHJ3TEJiZF85cyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyI[...]
- request:
    method: get
[...]
