#column_lists
  %table#formtest.form{:width => "100%"}
    %tr
      - if x_active_tree == :ab_tree
        %td.widthed{:align => "left"}
          = _('Unassigned:')
        %td
      %td{:align => "left"}
        = _('Selected:')
    %tr
      - if x_active_tree == :ab_tree
        %td{:align => "right", :valign => "top"}
          = select_tag('available_fields[]',
            options_for_select(@edit[:new][:available_fields]),
            :multiple => true,
            :style    => "width: 450px",
            :size     => 8,
            :id       => "available_fields")
        %td.text-center{:width => "40"}
          .btn-group-vertical
            - if @edit[:new][:available_fields].length == 0
              %button.btn.btn-default.disabled
                %i.fa.fa-angle-right.fa-lg
            - else
              - t = _("Move selected fields right")
              %button.btn.btn-default{:title           => t,
                                      :remote          => true,
                                      "data-submit"    => 'column_lists',
                                      "data-method"    => :post,
                                      "data-click_url" => {:url => url_for(:action => 'group_form_field_changed',
                                                                           :button => 'right',
                                                                           :id     => @custom_button_set.id || 'new')}.to_json}
                %i.fa.fa-angle-right.fa-lg
            - if @edit[:new][:fields].length == 0
              %button.btn.btn-default.disabled
                %i.fa.fa-angle-left.fa-lg
            - else
              - t = _("Move selected fields left")
              %button.btn.btn-default{:title           => t,
                                      :remote          => true,
                                      "data-submit"    => 'column_lists',
                                      "data-method"    => :post,
                                      "data-click_url" => {:url => url_for(:action => 'group_form_field_changed',
                                                                           :button => 'left',
                                                                           :id     => @custom_button_set.id || 'new')}.to_json}
                %i.fa.fa-angle-left.fa-lg
      %td{:align => "left", :valign => "top"}
        = select_tag('selected_fields[]',
          options_for_select(@edit[:new][:fields], @selected),
          :multiple => true,
          :style    => "width: 450px",
          :size     => 8,
          :id       => "selected_fields")
      %td{:width => "30", :valign => "middle"}
        - if @edit[:new][:fields].length < 2
          %button.btn.btn-default.disabled
            %i.fa.fa-angle-double-up.fa-lg
        - else
          - t = _("Move selected fields to top")
          %button.btn.btn-default{:title           => t,
                                  :remote          => true,
                                  "data-submit"    => 'column_lists',
                                  "data-method"    => :post,
                                  "data-click_url" => {:url => url_for(:action => 'group_form_field_changed',
                                                                       :button => 'top',
                                                                       :id     => @custom_button_set.id || 'new')}.to_json}
            %i.fa.fa-angle-double-up.fa-lg
        - if @edit[:new][:fields].length < 2
          %button.btn.btn-default.disabled
            %i.fa.fa-angle-up.fa-lg
        - else
          - t = _("Move selected fields up")
          %button.btn.btn-default{:title           => t,
                                  :remote          => true,
                                  "data-submit"    => 'column_lists',
                                  "data-method"    => :post,
                                  "data-click_url" => {:url => url_for(:action => 'group_form_field_changed',
                                                                       :button => 'up',
                                                                       :id     => @custom_button_set.id || 'new')}.to_json}
            %i.fa.fa-angle-up.fa-lg
        - if @edit[:new][:fields].length < 2
          %button.btn.btn-default.disabled
            %i.fa.fa-angle-down.fa-lg
        - else
          - t = _("Move selected fields down")
          %button.btn.btn-default{:title           => t,
                                  :remote          => true,
                                  "data-submit"    => 'column_lists',
                                  "data-method"    => :post,
                                  "data-click_url" => {:url => url_for(:action => 'group_form_field_changed',
                                                                       :button => 'down',
                                                                       :id     => @custom_button_set.id || 'new')}.to_json}
            %i.fa.fa-angle-down.fa-lg
        - if @edit[:new][:fields].length < 2
          %button.btn.btn-default.disabled
            %i.fa.fa-angle-double-down.fa-lg
        - else
          - t = _("Move selected fields to bottom")
          %button.btn.btn-default{:title           => t,
                                  :remote          => true,
                                  "data-submit"    => 'column_lists',
                                  "data-method"    => :post,
                                  "data-click_url" => {:url => url_for(:action => 'group_form_field_changed',
                                                                       :button => 'bottom',
                                                                       :id     => @custom_button_set.id || 'new')}.to_json}
            %i.fa.fa-angle-double-down.fa-lg
