= render :partial => "layouts/flash_msg"
#column_lists
  .form-horizontal
    .form-group
      .col-md-8
        %table{:width => "50%"}
          %tr
            %td.widhted{:align => "left"}
              = _('Button Group Order:')
            %td
          %tr
            %td{:align => "left", :valign => "top"}
              = select_tag('selected_fields[]',
                options_for_select(@edit[:new][:fields], @selected),
                :multiple => true,
                :style    => "width: 450px",
                :size     => 20,
                :id       => "selected_fields")
            %td{:width => "30", :align => "left", :valign => "middle"}
              - if @edit[:new][:fields].length < 2
                %button.btn.btn-default.btn-disabled
                  %i.fa.fa-angle-up.fa-lg
              - else
                - t = _("Move selected fields up")
                %button.btn.btn-default{:title           => t,
                                        :remote          => true,
                                        "data-submit"    => "column_lists",
                                        "data-method"    => :post,
                                        "data-click_url" => {:url => url_for(:action => 'group_reorder_field_changed',
                                                                             :button => 'up',
                                                                             :id     => "seq")}.to_json}
                  %i.fa.fa-angle-up.fa-lg
              - if @edit[:new][:fields].length < 2
                %button.btn.btn-default.btn-disabled
                  %i.fa.fa-angle-down.fa-lg
              - else
                - t = _("Move selected fields down")
                %button.btn.btn-default{:title           => t,
                                        :remote          => true,
                                        "data-submit"    => "column_lists",
                                        "data-method"    => :post,
                                        "data-click_url" => {:url => url_for(:action => 'group_reorder_field_changed',
                                                                             :button => 'down',
                                                                             :id     => "seq")}.to_json}
                  %i.fa.fa-angle-down.fa-lg
          .note
            = _('* Select one or more consecutive groups to move up or down.')
