-# Network or Storage Adpater Tree
- if x_active_tree == :sa_tree
  %div
    = render(:partial => 'shared/tree', :locals => {:tree => @sa_tree, :name => @sa_tree.name.to_s})
- else
  %div{:id => "#{session[:tree_name]}box", :style => "width: 100%"}
    = render(:partial => 'shared/tree', :locals => {:tree => @network_tree, :name => @network_tree.name.to_s})


