- valtype ||= "default"

- if !session[:host_items].nil?
  - verify_title_on = "Validate the credentials by logging into the selected Host"
- else
  - verify_title_on = "Validate the credentials by logging into the Server"

%tr(ng-show="#{ng_show}")
  %td
  %td
    = link_to("Validate",
                         {:action => validate_url,
                          :button => "validate",
                          :type   => valtype,
                          :id     => id},
                          :class                 => "btn btn-primary btn-xs",
                          "ng-class"             => "{'btn-disabled': !miqService.canValidate(angularForm)}",
                          "ng-disabled"          => "!miqService.canValidate(angularForm)",
                          :alt                   => verify_title_on,
                          :title                 => verify_title_on,
                          :id                    => "val",
                          "data-miq_sparkle_on"  => true,
                          "data-miq_sparkle_off" => true,
                          :remote                => true)