<div ng-form name="vm.form" class="wizard-question-option__container">
  <div class="wizard-question-option">
    <div class="wizard-question-option__aside">
      <label class="wizard-question-option__label">{{ vm.label }}</label>
    </div>
    <div class="wizard-question-option__body" ng-class="{'has-error': vm.hasError()}">
      <input id="wizard-question-required" ng-model="vm.option.text" name="option" type="text"
             class="wizard-question-option__input" placeholder="" required/>

      <div class="wizard-question-option__feedback" ng-messages="vm.form.option.$error">
        <div ng-message="required">Option text is required.</div>
      </div>
    </div>
    <div class="wizard-question-option__actions">
      <a ng-show="vm.canRemove()" href="#" class="wizard-question-option__action"
         confirmation
         confirmation-position="left-center"
         confirmation-message="Are you sure you want to delete this option and it's content?"
         confirmation-ok-style="danger"
         confirmation-ok-text="Yes, Delete It"
         confirmation-on-ok="vm.remove()"
         confirmation-show-cancel="false">
        <img src="/images/ic_deletequestion.png" alt="Delete"/>
      </a>

    </div>
  </div>

  <div class="wizard-question-option">
    <div class="wizard-question-option__aside wizard-question-option__aside--tags">
      <label class="wizard-question-option__label wizard-question-option__label--tags">Include</label>
    </div>
    <div class="wizard-question-option__body wizard-question-option__body--tags">
      <tag-field ng-model="vm.option.tags_to_add" name="tags" placeholder="Enter tag name(s)">
        <tag-autocomplete source="vm.queryTags(query)"></tag-autocomplete>
        <tag-show-modal>Show all tags</tag-show-modal>
      </tag-field>
    </div>
  </div>

  <div class="wizard-question-option">
    <div class="wizard-question-option__aside wizard-question-option__aside--tags">
      <label class="wizard-question-option__label wizard-question-option__label--tags">Exclude</label>
    </div>
    <div class="wizard-question-option__body wizard-question-option__body--tags">
      <tag-field ng-model="vm.option.tags_to_remove" name="tags" placeholder="Enter tag name(s)">
        <tag-autocomplete source="vm.queryTags(query)"></tag-autocomplete>
        <tag-show-modal>Show all tags</tag-show-modal>
      </tag-field>
    </div>
  </div>
</div>
