<div>
  <div wizard-question-option class="wizard-question-option"
       ng-repeat="option in vm.options"
       ng-if="!option._destroy"
       option="option" option-index="$index"
       option-label="{{  'Option ' + ($index + 1) }}"></div>
</div>

<div class="wizard-question-options__footer">
  <div class="wizard-question-options__actions">
    <button type="button" class="btn-bordered btn-bordered--short btn-bordered--capitalize" ng-click="vm.addOption()"
            ng-disabled="!vm.canAdd()">
      Add Another Option
    </button>
  </div>
</div>
