<div>
  <div ng-if="!vm.supportedDialog">
    <h2>Service Template Contains Unsupported Provision Dialog Types.</h2>
    <p>To request this service, continue <a ng-href="{{ vm.API_BASE }}/catalog/explorer">to the Operations UI</a>.</p>
  </div>
  <div ng-if=" !vm.dialog.label && vm.supportedDialog ">
    <h2>No Provisioning Dialog Available.</h2>
  </div>
  <div ng-if=" vm.dialog.label && vm.supportedDialog ">
    <div>
      <h2 class="text-capitalize no-wrap">{{ ::vm.dialog.label }}</h2>
      <p ng-if="vm.dialog.label != vm.dialog.description">{{ ::vm.dialog.description }}</p>
    </div>
    <tabset>
      <tab ng-repeat="dialogTab in ::vm.dialog.dialog_tabs " heading="{{ ::dialogTab.label }}">
        <div ng-repeat="dialogGroup in ::dialogTab.dialog_groups ">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>{{ ::dialogGroup.label }}</strong>
            </div>
            <div class="panel-body">
              <!-- form for interactive input -->
              <form
                ng-if="!vm.options"
                ng-repeat="dialogField in ::dialogGroup.dialog_fields "
                ng-init="inputTitle = dialogField.description"
                class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-2">{{ ::dialogField.label }}</label>

                  <div ng-switch on="dialogField.type" class="col-sm-5">
                    <input
                      ng-switch-when="DialogFieldTextBox"
                      ng-model="dialogField.default_value"
                      ng-disabled="{{ ::dialogField.read_only || vm.inputDisabled }}"
                      class="form-control"
                      type="{{ dialogField.options.protected ? 'password' : 'text' }}"
                      title="{{ ::inputTitle }}"
                      value="{{ dialogField.default_value }}">

                    <textarea
                      ng-switch-when="DialogFieldTextAreaBox"
                      ng-model="dialogField.default_value"
                      ng-disabled="{{ ::dialogField.read_only || vm.inputDisabled }}"
                      class="form-control"
                      title="{{ ::inputTitle }}"
                      rows="4">{{ dialogField.default_value }}
                    </textarea>

                    <input
                      ng-switch-when="DialogFieldCheckBox"
                      ng-model="dialogField.default_value"
                      ng-true-value="'t'"
                      ng-disabled="{{ ::dialogField.read_only || vm.inputDisabled }}"
                      class="form-control"
                      type="checkbox"
                      title="{{ ::inputTitle }}"
                      ng-checked="dialogField.default_value == 't'">

                    <select
                      ng-switch-when="DialogFieldDropDownList"
                      ng-model="dialogField.default_value"
                      ng-disabled="{{ ::dialogField.read_only || vm.inputDisabled}}"
                      class="form-control">
                      <option ng-repeat="fieldValue in ::dialogField.values"
                              value="{{ ::fieldValue[0] }}">
                        {{ ::fieldValue[1] }}
                      </option>
                    </select>

                    <span
                      ng-switch-when="DialogFieldRadioButton"
                      class="btn-group">
                      <label
                        class="btn btn-primary"
                        ng-repeat="fieldValue in dialogField.values">
                        <input
                          type="radio"
                          ng-model="dialogField.default_value"
                          name="{{ dialogField.name }}"
                          ng-disabled="{{ ::dialogField.read_only || vm.inputDisabled }}"
                          value="{{ ::fieldValue[0] }}"/>
                        {{ ::fieldValue[1] }}
                      </label>
                    </span>

                    <input
                      ng-switch-when="DialogFieldDateControl"
                      ng-model="dialogField.default_value"
                      pf-datepicker options="vm.dateOptions"
                      date="dialogField.default_value">

                    <div ng-switch-when="DialogFieldDateTimeControl">
                      <div class="col-sm-6 dateTimePadding">
                        <input
                          ng-model="dialogField.default_value"
                          pf-datepicker options="vm.dateOptions"
                          date="dialogField.default_value">
                      </div>
                      <div class="col-sm-6">
                        <timepicker ng-model="dialogField.default_value"></timepicker>
                      </div>
                    </div>

                    <span ng-switch-default ng-hide="true"></span>
                  </div>
                </div>
              </form>
              <!-- Form for read only -->
              <form
                ng-if="vm.options"
                ng-repeat="dialogField in ::dialogGroup.dialog_fields "
                ng-init="inputTitle = dialogField.description"
                class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-3">
                    {{ ::dialogField.label }}
                  </div>

                  <div ng-switch on="dialogField.type" class="col-sm-5">

                    <input
                      ng-switch-when="DialogFieldTextBox"
                      ng-disabled="{{ ::dialogField.read_only || vm.inputDisabled }}"
                      class="form-control"
                      type="{{ dialogField.options.protected ? 'password' : 'text' }}"
                      title="{{ ::inputTitle }}"
                      value="{{ vm.parsedOptions[dialogField.name] }}">

                    <textarea
                      ng-switch-when="DialogFieldTextAreaBox"
                      ng-disabled="{{ ::dialogField.read_only || vm.inputDisabled }}"
                      class="form-control"
                      title="{{ ::inputTitle }}"
                      rows="4">{{ vm.parsedOptions[dialogField.name] }}
                    </textarea>

                    <input
                      ng-switch-when="DialogFieldCheckBox"
                      ng-true-value="'t'"
                      ng-disabled="{{ ::dialogField.read_only || vm.inputDisabled }}"
                      class="form-control"
                      type="checkbox"
                      title="{{ ::inputTitle }}"
                      ng-checked="vm.parsedOptions[dialogField.name] == 't' ">

                    <select
                      ng-switch-when="DialogFieldDropDownList"
                      ng-disabled="{{ ::dialogField.read_only || vm.inputDisabled}}"
                      class="form-control">
                      <option>{{vm.parsedOptions[dialogField.name]}}</option>
                    </select>

                    <span
                      ng-switch-when="DialogFieldRadioButton"
                      class="btn-group">
                      <label>{{ vm.parsedOptions[dialogField.name] }}</label>
                    </span>

                    <input
                      ng-switch-when="DialogFieldDateControl"
                      ng-if=" vm.inputDisabled || dialogField.read_only "
                      ng-disabled="true"
                      class="form-control"
                      value="{{ vm.parsedOptions[dialogField.name] | date:'shortDate' }}">

                    <input
                      ng-switch-when="DialogFieldDateTimeControl"
                      ng-if=" vm.inputDisabled || dialogField.read_only "
                      ng-disabled="true"
                      class="form-control"
                      value="{{ vm.parsedOptions[dialogField.name] | date:'medium' }}  ">

                    <span ng-switch-default ng-hide="true"></span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
