#bottlenecks_summary_div
  - if x_node == ""
    = render :partial => 'layouts/info_msg', :locals => {:message => _("Select a node on the left to view Bottlenecks timeline.")}
  - else
    = render :partial => "layouts/flash_msg", :locals => {:div_num => "1"}
    = render :partial => 'bottlenecks_options', :locals  => {:typ => "summ"}
  = render :partial => 'bottlenecks_tl_detail'
