---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"MetricsService":"STARTED","Implementation-Version":"0.21.5.Final","Built-From-Git-SHA1":"e779588593f13224225356a94f1d8642fbccb30f"}'
  recorded_at: Wed, 30 Nov 2016 10:00:09 GMT
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/registry%2F0ee133ef-b6df-11e6-bab2-001a4a16262d%2Fcpu%2Fusage/stats/?bucketDuration=20s&start=1468235823000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235823000,"end":1468235843000,"empty":true},{"start":1480500003000,"end":1480500023000,"empty":true}]'
  recorded_at: Wed, 30 Nov 2016 10:00:13 GMT
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/gauges/registry%2F0ee133ef-b6df-11e6-bab2-001a4a16262d%2Fmemory%2Fusage/stats/?bucketDuration=20s&start=1468235843000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235843000,"end":1468235863000,"empty":true},{"start":1480500003000,"end":1480500023000,"min":2.6574848E7,"avg":2.6574848E7,"median":2.6574848E7,"max":2.6574848E7,"sum":2.6574848E7,"samples":1,"empty":false}]'
  recorded_at: Wed, 30 Nov 2016 10:00:18 GMT
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/pod%2F0ee133ef-b6df-11e6-bab2-001a4a16262d%2Fnetwork%2Ftx/stats/?bucketDuration=20s&start=1468235823000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235823000,"end":1468235843000,"empty":true},{"start":1480500003000,"end":1480500023000,"min":1341952.0,"avg":1341952.0,"median":1341952.0,"max":1341952.0,"sum":1341952.0,"samples":1,"empty":false}]'
  recorded_at: Wed, 30 Nov 2016 10:00:22 GMT
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/pod%2F0ee133ef-b6df-11e6-bab2-001a4a16262d%2Fnetwork%2Frx/stats/?bucketDuration=20s&start=1468235823000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235823000,"end":1468235843000,"empty":true},{"start":1480500023000,"end":1480500043000,"empty":true}]'
  recorded_at: Wed, 30 Nov 2016 10:00:27 GMT
recorded_with: VCR 3.0.3
