---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"bindings","namespaced":true,"kind":"Binding"},{"name":"componentstatuses","namespaced":false,"kind":"ComponentStatus"},{"name":"configmaps","namespaced":true,"kind":"ConfigMap"},{"name":"endpoints","namespaced":true,"kind":"Endpoints"},{"name":"events","namespaced":true,"kind":"Event"},{"name":"limitranges","namespaced":true,"kind":"LimitRange"},{"name":"namespaces","namespaced":false,"kind":"Namespace"},{"name":"namespaces/finalize","namespaced":false,"kind":"Namespace"},{"name":"namespaces/status","namespaced":false[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/pods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/pods","resourceVersion":"25482"},"items":[{"metadata":{"name":"docker-registry-2-757pm","generateName":"docker-registry-2-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/docker-registry-2-757pm","uid":"13803231-b014-11e6-a062-001a4a16262b","resourceVersion":"21981","creationTimestamp":"2016-11-21T17:58:15Z","labels":{"deployment":"docker-registry-2","deploymentconfig":"docker-registry","docker-registry":"default"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"docker-registry-2\",\"uid\":\"120f818d-b014-11e6-a062-001a4a16262b\",\"apiVersion\":\"v1\",\"resourceVersion\":\"818\"}}\n","openshift.io/deployment-config.latest-version":"2","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.name":"docker-registry-2","openshift.io/scc":"restricted"}},"spec":{"volumes":[{"name":"volume-bhp4l","secret":{"secretName":"registry-certificates"}},{"name":"registry-storage","persistentVolumeClaim":{"claimName":"registry-claim"}},{"name":"registry-token-ltl63","secret":{"secretName":"registry-token-ltl63"}}],"containers":[{"name":"registry","image":"openshift/origin-docker-registry:v1.3.1","ports":[{"containerPort":5000,"protocol":"TCP"}],"env":[{"name":"REGISTRY_HTTP_ADDR","value":":5000"},{"name":"REGISTRY_HTTP_NET","value":"tcp"},{"name":"REGISTRY_HTTP_SECRET","value":"x4hJyv6J/KHFvGYXBAem/4Kb6FNS19wuDAG22/Hxppw="},{"name":"REGISTRY_MIDDLEWARE_REPOSITORY_OPENSHIFT_ENFORCEQUOTA","value":"false"},{"name":"REGISTRY_HTTP_TLS_CERTIFICATE","value":"/etc/secrets/registry.crt"},{"name":"REGISTRY_HTTP_TLS_KEY","value":"/etc/secrets/registry.key"}],"resources":{"requests":{"cpu":"100m","memory":"256Mi"}},"volumeMounts":[{"name":"registry-storage","mountPath":"/registry"},{"name":"volume-bhp4l","mountPath":"/etc/secrets"},{"name":"registry-token-ltl63","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"livenessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"initialDelaySeconds":10,"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"readinessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"terminationMessagePath":"/dev/termination-log","imagePullPolicy":"IfNotPresent","securityContext":{"capabilities":{"drop":["KILL","MKNOD","SETGID","SETUID","SYS_CHROOT"]},"privileged":false,"seLinuxOptions":{"level":"s0:c3,c2"},"runAsUser":1000010000}}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","nodeSelector":{"region":"infra"},"host":"capture.context.com","serviceAccountName":"registry","serviceAccount":"registry","nodeName":"capture.context.com","securityContext":{"seLinuxOptions":{"level":"s0:c3,c2"},"fsGroup":1000010000},"imagePullSecrets":[{"name":"registry-dockercfg-nwokm"}]},"status":{"phase":"Running","conditions":[{"type":"Initialized","status":"True","lastProbeTime":null,"lastTransitionTime":"2016-11-21T17:58:15Z"},{"type":"Ready","status":"True","lastProbeTime":null,"lastTransitionTime":"2016-11-22T13:17:18Z"},{"type":"PodScheduled","status":"True","lastProbeTime":null,"lastTransitionTime":"2016-11-21T17:58:15Z"}],"hostIP":"10.35.48.43","podIP":"10.128.0.12","startTime":"2016-11-21T17:58:15Z","containerStatuses":[{"name":"registry","state":{"running":{"startedAt":"2016-11-22T13:17:01Z"}},"lastState":{"terminated":{"exitCode":137,"reason":"Error","startedAt":"2016-11-21T17:58:40Z","finishedAt":"2016-11-22T13:16:30Z","containerID":"docker://4a0d8067089b056bca84800770f77a42954c9b8aa8f0b113763f5f6dc83b6e17"}},"ready":true,"restartCount":1,"image":"openshift/origin-docker-registry:v1.3.1","imageID":"docker://sha256:95648ff9553f2b89ea0838a3c2193cb4b5ab3378110f1f102b1c8c46f487310b","containerID":"docker://a0bffe47c416d4104fe9e17d2e93dc79a8764e634845e74809a67f101f9aa942"}]}},{"metadata":{"name":"registry-console-1-a79ke","generateName":"registry-console-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/registry-console-1-a79ke","uid":"84ffa65f-b015-11e6-a062-001a4a16262b","resourceVersion":"21978","creationTimestamp":"2016-11-21T18:08:35Z","labels":{"app":"registry-console","deployment":"registry-console-1","deploymentconfig":"registry-console","name":"registry-console"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"registry-console-1\",\"uid\":\"8328172c-b015-11e6-a062-001a4a16262b\",\"apiVersion\":\"v1\",\"resourceVersion\":\"1570\"}}\n","openshift.io/deployment-config.latest-version":"1","openshift.io/depl[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ServiceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/services","resourceVersion":"25482"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/services/docker-registry","uid":"f591c3bf-b013-11e6-a062-001a4a16262b","resourceVersion":"648","creationTimestamp":"2016-11-21T17:57:25Z","labels":{"docker-registry":"default"}},"spec":{"ports":[{"name":"5000-tcp","protocol":"TCP","port":5000,"targetPort":5000}],"selector":{"docker-registry":"default"},"portalIP":"172.30.43.155","clusterIP":"172.30.43.155","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/services/kubernetes","uid":"369f0680-b013-11e6-a062-001a4a16262b","resourceVersion":"7","creationTimestamp":"2016-11-21T17:52:04Z","labels":{"component":"apiserver","provider":"kubernetes"}},"spec":{"ports":[{"name":"https","protocol":"TCP","port":443,"targetPort":443},{"name":"dns","protocol":"UDP","port":53,"targetPort":8053},{"name":"dns-tcp","protocol":"TCP","port":53,"targetPort":8053}],"portalIP":"172.30.0.1","clusterIP":"172.30.0.1","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"registry-console","namespace":"default","selfLink":"/api/v1/namespaces/default/services/registry-console","uid":"8327f390-b015-11e6-a062-001a4a16262b","resourceVersion":"1547","creationTimestamp":"2016-11-21T18:08:32Z","labels":{"app":"registry-console","createdBy":"registry-console-template","name":"registry-console"},"annotations":{"openshift.io/generated-by":"OpenShiftNewApp"}},"spec":{"ports":[{"name":"registry-console","protocol":"TCP","port":9000,"targetPort":9090}],"selector":{"name":"registry-console"},"portalIP":"172.30.221.28","clusterIP":"172.30.221.28","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"router","namespace":"default","selfLink":"/api/v1/namespaces/default/services/router","uid":"f42d18c4-b013-11e6-a062-001a4a16262b","resourceVersion":"634","creationTimestamp":"2016-11-21T17:57:22Z","labels":{"router":"router"},"annotations":{"service.alpha.openshift.io/serving-cert-secret-name":"router-certs","service.alpha.openshift.io/serving-cert-signed-by":"openshift-service-serving-signer@1479750679"}},"spec":{"ports":[{"name":"80-tcp","protocol":"TCP","port":80,"targetPort":80},{"name":"443-tcp","protocol":"TCP","port":443,"targetPort":443},{"name":"1936-tcp","protocol":"TCP","port":1936,"targetPort":1936}],"selector":{"router":"router"},"portalIP":"172.30.17.156","clusterIP":"172.30.17.156","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"logging-es","namespace":"logging","selfLink":"/api/v1/namespaces/logging/services/logging-es","uid":"ecbe730c-b014-11e6-a062-001a4a16262b","resourceVersion":"1166","creationTimestamp":"2016-11-21T18:04:19Z","labels":{"component":"support","logging-infra":"support","provider":"openshift"},"annotations":{"openshift.io/generated-by":"OpenShiftNewApp"}},"spec":{"ports":[{"protocol":"TCP","port":9200,"targetPort":"restapi"}],"selector":{"component":"es","provider":"openshift"},"portalIP":"172.30.215.232","clusterIP":"172.30.215.232","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"logging-es-cluster","namespace":"logging","selfLink":"/api/v1/namespaces/logging/services/logging-es-cluster","uid":"ecbf9ccf[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/replicationcontrollers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ReplicationControllerList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/replicationcontrollers","resourceVersion":"25482"},"items":[{"metadata":{"name":"docker-registry-1","namespace":"default","selfLink":"/api/v1/namespaces/default/replicationcontrollers/docker-registry-1","uid":"f5921f00-b013-11e6-a062-001a4a16262b","resourceVersion":"801","generation":1,"creationTimestamp":"2016-11-21T17:57:25Z","labels":{"docker-registry":"default","openshift.io/deployment-config.name":"docker-registry"},"annotations":{"kubectl.kubernetes.io/desired-replicas":"1","openshift.io/deployer-pod.name":"docker-registry-1-deploy","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.cancelled":"true","openshift.io/deployment.phase":"Failed","openshift.io/deployment.replicas":"0","openshift.io/deployment.status-reason":"newer
        deployment was found running","openshift.io/encoded-deployment-config":"{\"kind\":\"DeploymentConfig\",\"apiVersion\":\"v1\",\"metadata\":{\"name\":\"docker-registry\",\"namespace\":\"default\",\"selfLink\":\"/oapi/v1/namespaces/default/deploymentconfigs/docker-registry\",\"uid\":\"f59045e7-b013-11e6-a062-001a4a16262b\",\"resourceVersion\":\"647\",\"generation\":1,\"creationTimestamp\":\"2016-11-21T17:57:25Z\",\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"strategy\":{\"type\":\"Rolling\",\"rollingParams\":{\"updatePeriodSeconds\":1,\"intervalSeconds\":1,\"timeoutSeconds\":600,\"maxUnavailable\":\"25%\",\"maxSurge\":\"25%\"},\"resources\":{}},\"triggers\":[{\"type\":\"ConfigChange\"}],\"replicas\":1,\"test\":false,\"selector\":{\"docker-registry\":\"default\"},\"template\":{\"metadata\":{\"creationTimestamp\":null,\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"volumes\":[{\"name\":\"registry-storage\",\"emptyDir\":{}}],\"containers\":[{\"name\":\"registry\",\"image\":\"openshift/origin-docker-registry:v1.3.1\",\"ports\":[{\"containerPort\":5000,\"protocol\":\"TCP\"}],\"env\":[{\"name\":\"REGISTRY_HTTP_ADDR\",\"value\":\":5000\"},{\"name\":\"REGISTRY_HTTP_NET\",\"value\":\"tcp\"},{\"name\":\"REGISTRY_HTTP_SECRET\",\"value\":\"x4hJyv6J/KHFvGYXBAem/4Kb6FNS19wuDAG22/Hxppw=\"},{\"name\":\"REGISTRY_MIDDLEWARE_REPOSITORY_OPENSHIFT_ENFORCEQUOTA\",\"value\":\"false\"}],\"resources\":{\"requests\":{\"cpu\":\"100m\",\"memory\":\"256Mi\"}},\"volumeMounts\":[{\"name\":\"registry-storage\",\"mountPath\":\"/registry\"}],\"livenessProbe\":{\"httpGet\":{\"path\":\"/healthz\",\"port\":5000,\"scheme\":\"HTTP\"},\"initialDelaySeconds\":10,\"timeoutSeconds\":5,\"periodSeconds\":10,\"successThreshold\":1,\"failureThreshold\":3},\"readinessProbe\":{\"httpGet\":{\"path\":\"/healthz\",\"port\":5000,\"scheme\":\"HTTP\"},\"timeoutSeconds\":5,\"periodSeconds\":10,\"successThreshold\":1,\"failureThreshold\":3},\"terminationMessagePath\":\"/dev/termination-log\",\"imagePullPolicy\":\"IfNotPresent\",\"securityContext\":{\"privileged\":false}}],\"restartPolicy\":\"Always\",\"terminationGracePeriodSeconds\":30,\"dnsPolicy\":\"ClusterFirst\",\"nodeSelector\":{\"region\":\"infra\"},\"serviceAccountName\":\"registry\",\"serviceAccount\":\"registry\",\"securityContext\":{}}}},\"status\":{\"latestVersion\":1,\"details\":{\"message\":\"caused
        by a config change\",\"causes\":[{\"type\":\"ConfigChange\"}]}}}\n"}},"spec":{"replicas":0,"selector":{"deployment":"docker-registry-1","deploymentconfig":"docker-registry","docker-registry":"default"},"template":{"metadata":{"creationTimestamp":null,"labels":{"deployment":"docker-registry-1","deploymentconfig":"docker-registry","docker-registry":"default"},"annotations":{"openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.name":"docker-registry-1[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"25482"},"items":[{"metadata":{"name":"capture.context.com","selfLink":"/api/v1/nodes/capture.context.com","uid":"b8c81756-b013-11e6-a062-001a4a16262b","resourceVersion":"25481","creationTimestamp":"2016-11-21T17:55:43Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/hostname":"capture.context.com","logging-infra-fluentd":"true","region":"infra","zone":"default"}},"spec":{"externalID":"capture.context.com"},"status":{"capacity":{"alpha.kubernetes.io/nvidia-gpu":"0","cpu":"4","memory":"8009200Ki","pods":"110"},"allocatable":{"alpha.kubernetes.io/nvidia-gpu":"0","cpu":"4","memory":"8009200Ki","pods":"110"},"conditions":[{"type":"OutOfDisk","status":"False","lastHeartbeatTime":"2016-11-22T16:27:44Z","lastTransitionTime":"2016-11-21T17:55:43Z","reason":"KubeletHasSufficientDisk","message":"kubelet
        has sufficient disk space available"},{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2016-11-22T16:27:44Z","lastTransitionTime":"2016-11-21T17:55:43Z","reason":"KubeletHasSufficientMemory","message":"kubelet
        has sufficient memory available"},{"type":"Ready","status":"True","lastHeartbeatTime":"2016-11-22T16:27:44Z","lastTransitionTime":"2016-11-22T13:16:44Z","reason":"KubeletReady","message":"kubelet
        is posting ready status"}],"addresses":[{"type":"LegacyHostIP","address":"10.35.48.43"},{"type":"InternalIP","address":"10.35.48.43"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"4bdc423c06554441a44182e398ed5990","systemUUID":"6A61F1D1-82FA-4CA1-A857-995948CAFCD7","bootID":"a3329273-7dd2-4f03-9340-7ae8a1d07a3d","kernelVersion":"3.10.0-327.36.1.el7.x86_64","osImage":"CentOS
        Linux 7 (Core)","containerRuntimeVersion":"docker://1.10.3","kubeletVersion":"v1.3.0+52492b4","kubeProxyVersion":"v1.3.0+52492b4","operatingSystem":"linux","architecture":"amd64"},"images":[{"names":["docker.io/openshift/origin-metrics-heapster:latest"],"sizeBytes":1036925559},{"names":["docker.io/openshift/origin-metrics-hawkular-metrics:latest"],"sizeBytes":848656590},{"names":["docker.io/openshift/origin-logging-auth-proxy:latest"],"sizeBytes":711648831},{"names":["docker.io/openshift/origin-metrics-deployer:latest"],"sizeBytes":703706710},{"names":["docker.io/openshift/origin-logging-deployment:latest"],"sizeBytes":701389615},{"names":["docker.io/openshift/origin-metrics-cassandra:latest"],"sizeBytes":681274370},{"names":["docker.io/openshift/origin-ha[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"EndpointsList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/endpoints","resourceVersion":"25482"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/docker-registry","uid":"f5982396-b013-11e6-a062-001a4a16262b","resourceVersion":"21983","creationTimestamp":"2016-11-21T17:57:25Z","labels":{"docker-registry":"default"}},"subsets":[{"addresses":[{"ip":"10.128.0.12","targetRef":{"kind":"Pod","namespace":"default","name":"docker-registry-2-757pm","uid":"13803231-b014-11e6-a062-001a4a16262b","resourceVersion":"21981"}}],"ports":[{"name":"5000-tcp","port":5000,"protocol":"TCP"}]}]},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/kubernetes","uid":"36a26692-b013-11e6-a062-001a4a16262b","resourceVersion":"9","creationTimestamp":"2016-11-21T17:52:04Z"},"subsets":[{"addresses":[{"ip":"10.35.48.43"}],"ports":[{"name":"htt[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/namespaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces","resourceVersion":"25482"},"items":[{"metadata":{"name":"default","selfLink":"/api/v1/namespaces/default","uid":"369d5ec3-b013-11e6-a062-001a4a16262b","resourceVersion":"21826","creationTimestamp":"2016-11-21T17:52:04Z","annotations":{"openshift.io/node-selector":"","openshift.io/sa.initialized-roles":"true","openshift.io/sa.scc.mcs":"s0:c3,c2","openshift.io/sa.scc.supplemental-groups":"1000010000/10000","openshift.io/sa.scc.uid-range":"1000010000/10000"}},"spec":{"finalizers":["kubernetes","openshift.io/origin"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-system","selfLink":"/api/v1/namespaces/kube-system","uid":"36a2a354-b013-11e6-a062-001a4a16262b","resourceVersion":"186","creationTimestamp":"2016-11-21T17:52:04Z","annotations":{"openshift.io/sa.scc.mcs":"s0:c5,c0","openshift.io/sa.scc.supplemental-groups":"1000020000/10000","openshift.io/sa.scc.uid-range":"1000020000/10000"}},"spec":{"finalizers":["kubernetes","openshift.io/origin"]},"status":{"phase":[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/resourcequotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ResourceQuotaList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/resourcequotas","resourceVersion":"25482"},"items":[]}

'
  recorded_at: Tue, 22 Nov 2016 16:27:49 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/limitranges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"LimitRangeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/limitranges","resourceVersion":"25482"},"items":[]}

'
  recorded_at: Tue, 22 Nov 2016 16:27:49 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumes","resourceVersion":"25482"},"items":[{"metadata":{"name":"registry-volume","selfLink":"/api/v1/persistentvolumes/registry-volume","uid":"d32efe54-b013-11e6-a062-001a4a16262b","resourceVersion":"562","creationTimestamp":"2016-11-21T17:56:27Z","annotations":{"pv.kubernetes.io/bound-by-controller":"yes"}},"spec":{"capacity":{"storage":"5Gi"},"nfs":{"server":"capture.context.com","path":"/exports/registry"},"accessModes":["ReadWriteMany"],"claimRef":{"kind":"PersistentVolumeClaim","namespace":"default","name":"registry-claim","uid":"d460ae49-b013-11e6-a062-001a4a16262b","apiVersion":"v1","resourceVersion":"560"},"persistentVolumeReclaimPolicy":"Retain"},"status":{"phase":"Bound"}}]}

'
  recorded_at: Tue, 22 Nov 2016 16:27:49 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumeclaims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeClaimList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumeclaims","resourceVersion":"25482"},"items":[{"metadata":{"name":"registry-claim","namespace":"default","selfLink":"/api/v1/namespaces/default/persistentvolumeclaims/registry-claim","uid":"d460ae49-b013-11e6-a062-001a4a16262b","resourceVersion":"564","creationTimestamp":"2016-11-21T17:56:29Z","annotations":{"pv.kubernetes.io/bind-completed":"yes","pv.kubernetes.io/bound-by-controller":"yes"}},"spec":{"accessModes":["ReadWriteMany"],"resources":{"requests":{"storage":"5Gi"}},"volumeName":"registry-volume"},"status":{"phase":"Bound","accessModes":["ReadWriteMany"],"capacity":{"storage":"5Gi"}}}]}

'
  recorded_at: Tue, 22 Nov 2016 16:27:49 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/componentstatuses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ComponentStatusList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/componentstatuses"},"items":[{"metadata":{"name":"scheduler","selfLink":"/api/v1/componentstatuses/scheduler","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        http://127.0.0.1:10251/healthz: dial tcp 127.0.0.1:10251: getsockopt: connection
        refused"}]},{"metadata":{"name":"controller-manager","selfLink":"/api/v1/componentstatuses/controller-manager","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        http://127.0.0.1:10252/healthz: dial tcp 127.0.0.1:10252: getsockopt: connection
        refused"}]},{"metadata":{"name":"etcd-0","selfLink":"/api/v1/componentstatuses/etcd-0","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        https://capture.context.com:4001/health: remote error: bad certificate"}]}]}

'
  recorded_at: Tue, 22 Nov 2016 16:27:49 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"appliedclusterresourcequotas","namespaced":true,"kind":"AppliedClusterResourceQuot[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"RouteList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/routes","resourceVersion":"25482"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/oapi/v1/namespaces/default/routes/docker-registry","uid":"f6045d23-b013-11e6-a062-001a4a16262b","resourceVersion":"838","creationTimestamp":"2016-11-21T17:57:25Z","labels":{"docker-registry":"default"},"annotations":{"openshift.io/host.generated":"true"}},"spec":{"host":"docker-registry-default.router.default.svc.cluster.local","to":{"kind":"Service","name":"docker-registry","weight":100},"port":{"targetPort":"5000-tcp"},"tls":{"termination":"passthrough"}},"status":{"ingress":[{"host":"docker-registry-default.router.default.svc.cluster.local","routerName":"router","conditions":[{"type":"Admitted","status":"True","lastTransitionTime":"2016-11-21T17:58:37Z"}]}]}},{"metadata":{"name":"registry-console","namespace":"default","selfLink":"/oapi/v1/namespaces/default/routes/registry-console","uid":"81c2a06c-b015-11e6-a062-001a4a16262b","resourceVersion":"1543","creationTimestamp":"2016-11-21T18:08:29Z","annotations":{"openshift.io/host.generated":"true"}},"spec":{"host":"registry-console-default.router.default.svc.cluster.local","to":{"kind":"Service","name":"registry-console","weight":100},"port":{"targetPort":"registry-console"},"tls":{"termination":"passthrough"}},"status":{"ingress":[{"host":"registry-console-default.router.default.svc.cluster.local","routerName":"router","conditions":[{"type":"Admitted","status":"True","lastTransitionTime":"2016-11-21T18:08:29Z"}]}]}},{"metadata":{"name":"logging-kibana","namespace":"logging","selfLink":"/oapi/v1/namespaces/logging/routes/logging-kibana","uid":"ecdf7fc3-b014-11e6-a062-001a4a16262b","resourceVersion":"1183","creationTimestamp":"2016-11-21T18:04:20Z","labels":{"component":"support","logging-infra":"support","provider":"openshift"}},"spec":{"host":"vm-48-43.logging.eng.lab.tlv.redhat.com","to":{"kind":"Service","name":"logging-kibana","weight":100},"tls":{"termination":"reencrypt","caCertificate":"-----BEGIN
        CERTIFICATE-----\nMIIC7jCCAdagAwIBAgIBATANBgkqhkiG9w0BAQsFADAoMSYwJAYDVQQDEx1sb2dn\naW5nLXNpZ25lci0yMDE2MTEyMTE4MDQxNDAeFw0xNjExMjExODA0MTRaFw0yMTEx\nMjAxODA0MTVaMCgxJjAkBgNVBAMTHWxvZ2dpbmctc2lnbmVyLTIwMTYxMTIxMTgw\nNDE0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoAQx9ubRptvzP5vV\ntnjIbRfn0ekbH+vGgriOIgkTZT0vhQqi1IvnNzYasxz52GOAqovSvN1CmeVFr5ti\nLmQey14QyywhimsF+Y8zeL+WEfx0NEfB4HshyH4BbcfHRO1MqNFJQ8tyiU+aZTNy\nuNXuPvqhBAv37zrEdUNHYuO4g+hbcLebdunJpgEY4ZZZCPvwxXV9zuxXINmMSbRD\noDInZlGQ1W2UAQGtFW/lf7riW4dVkoZhqJBN2eBo9zQQMD1ekQnB813NY1KNn2L7\nAfDczy7PsdPgU7wG0IxhOIMaG9kJp+puKuNcu12fSTNeOK0Kp8Q40M8x4saf4lEc\nqW/ePwIDAQABoyMwITAOBgNVHQ8BAf8EBAMCAqQwDwYDVR0TAQH/BAUwAwEB/zAN\nBgkqhkiG9w0BAQsFAAOCAQEAUaFiKhp5peoutFE6cKETuanWa82UEysaG2UZsU1e\neO0tIZFR/+y295DoIorzFdn9Ibgy1XJniNrv6UL1TSt4MIYnOyS6EUdV/ero1A9I\nJTBotXOZbCWeez+pvpbaZ9ILFHiDSGlc6Utk4vrCX/DcRoTCo31WgJD3Srb9qMWh\nLqpUIWyVxVTtH5rDFhczNaMxlNrNFnhS6OPTo7hNzAR0iN2hTjGe8G93gV5O3fe0\nBYBiGQdF6E1XFR4qWzD96NET+LrOGFmn3Wb+vG1OacbDmbJUG9rSTXnrrp45kyJK\nXVMw6gGksOuCD6kYMUyUOfxp322K989+F2iPil4exmu0sQ==\n-----END
        CERTIFICATE-----\n","destinationCACertificate":"-----BEGIN CERTIFICATE-----\nMIIC7jCCAdagAwIBAgIBATANBgkqhkiG9w0BAQsFADAoMSYwJAYDVQQDEx1sb2dn\naW5nLXNpZ25lci0yMDE2MTEyMTE4MDQxNDAeFw0xNjExMjExODA0MTRaFw0yMTEx\nMjAxODA0MTVaMCgxJjAkBgNVBAMTHWxvZ2dpbmctc2lnbmVyLTIwMTYxMTIxMTgw\nNDE0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoAQx9ubRptvzP5vV\ntnjIbRfn0ekbH+vGgriOIgkTZT0vhQqi1IvnNzYasxz52GOAqovSvN1CmeVFr5ti\nLmQey14QyywhimsF+Y8zeL+WEfx0NEfB4HshyH4BbcfHRO1MqNFJQ8tyiU+aZTNy\nuNXuPvqhBAv37zrEdUNHYuO4g+hbcLebdunJpgEY4ZZZCPvwxXV9zuxXINmMSbRD\noDInZlGQ[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ProjectList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/projects"},"items":[{"metadata":{"name":"logging","selfLink":"/oapi/[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/buildconfigs
    body:
      encoding: US-ASCII
      string: ''
    headers:
[...]
