---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"bindings","namespaced":true,"kind":"Binding"},{"name":"componentstatuses","namespaced":false,"kind":"ComponentStatus"},{"name":"configmaps","namespaced":true,"kind":"ConfigMap"},{"name":"endpoints","namespaced":true,"kind":"Endpoints"},{"name":"events","namespaced":true,"kind":"Event"},{"name":"limitranges","namespaced":true,"kind":"LimitRange"},{"name":"namespaces","namespaced":false,"kind":"Namespace"},{"name":"namespaces/finalize","namespaced":false,"kind":"Namespace"},{"name":"namespaces/status","namespaced":false[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/pods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/pods","resourceVersion":"691476"},"items":[{"metadata":{"name":"docker-registry-1-51q71","generateName":"docker-registry-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/docker-registry-1-51q71","uid":"476e8b1a-3a1a-11e7-a3eb-001a4a2314d7","resourceVersion":"691079","creationTimestamp":"2017-05-16T09:30:20Z","labels":{"deployment":"docker-registry-1","deploymentconfig":"docker-registry","docker-registry":"default"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"docker-registry-1\",\"uid\":\"2ffd7e35-3a1a-11e7-a3eb-001a4a2314d7\",\"apiVersion\":\"v1\",\"resourceVersion\":\"881\"}}\n","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.name":"docker-registry-1","openshift.io/scc":"hostnetwork"}},"spec":{"volumes":[{"name":"registry-storage","emptyDir":{}},{"name":"registry-certificates","secret":{"secretName":"registry-certificates","defaultMode":420}},{"name":"registry-token-2hc7g","secret":{"secretName":"registry-token-2hc7g","defaultMode":420}}],"containers":[{"name":"registry","image":"openshift/origin-docker-registry:v1.5.0","ports":[{"containerPort":5000,"protocol":"TCP"}],"env":[{"name":"REGISTRY_HTTP_ADDR","value":":5000"},{"name":"REGISTRY_HTTP_NET","value":"tcp"},{"name":"REGISTRY_HTTP_SECRET","value":"VOLhLIG516lJVtOxscBHuwl8pC12oci7cFqUqm3novs="},{"name":"REGISTRY_MIDDLEWARE_REPOSITORY_OPENSHIFT_ENFORCEQUOTA","value":"false"},{"name":"REGISTRY_HTTP_TLS_KEY","value":"/etc/secrets/registry.key"},{"name":"REGISTRY_HTTP_TLS_CERTIFICATE","value":"/etc/secrets/registry.crt"}],"resources":{"requests":{"cpu":"100m","memory":"256Mi"}},"volumeMounts":[{"name":"registry-storage","mountPath":"/registry"},{"name":"registry-certificates","mountPath":"/etc/secrets"},{"name":"registry-token-2hc7g","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"livenessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"initialDelaySeconds":10,"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"readinessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"terminationMessagePath":"/dev/termination-log","imagePullPolicy":"IfNotPresent","securityContext":{"capabilities":{"drop":["KILL","MKNOD","SETGID","SETUID","SYS_CHROOT"]},"privileged":false,"seLinuxOptions":{"level":"s0:c1,c0"},"runAsUser":1000000000}}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","nodeSelector":{"region":"infra"},"serviceAccountName":"registry","serviceAccount":"registry","nodeName":"capture.context.com","securityContext":{"seLinuxOptions":{"level":"s0:c1,c0"},"supplementalGroups":[1000000000],"fsGroup":1000000000},"imagePullSecrets":[{"name":"registry-dockercfg-837s1"}]},"status":{"phase":"Running","conditions":[{"type":"Initialized","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-05-16T09:30:20Z"},{"type":"Ready","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-06-22T18:28:18Z"},{"type":"PodScheduled","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-05-16T09:30:20Z"}],"hostIP":"10.35.19.248","podIP":"10.128.0.65","startTime":"2017-05-16T09:30:20Z","containerStatuses":[{"name":"registry","state":{"running":{"startedAt":"2017-06-22T18:28:13Z"}},"lastState":{"terminated":{"exitCode":2,"reason":"Error","startedAt":"2017-06-22T18:24:28Z","finishedAt":"2017-06-22T18:25:44Z","containerID":"docker://17587ae37cda9b3d42ffa2751bbf1042eff8d1a03ea440617ddfeab1705eab5a"}},"ready":true,"restartCount":893,"image":"openshift/origin-docker-registry:v1.5.0","imageID":"docker-pullable://docker.io/openshift/origin-docker-registry@sha256:7f2021efb4b5138ac5bbb35d484504d49a9187f381cdbc5e1e39dca6b194d913","containerID":"docker://7d51a72d05ffff248fd38e17635fca47fa3f9c07bb3f0a5d9fb1292d5b946e31"}]}},{"metadata":{"name":"registry-console-1-h62cn","generateName":"registry-console-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/registry-console-1-h62cn","uid":"47ca82c3-3a1a-11e7-a3eb-001a4a2314d7","resourceVersion":"691096","creationTimestamp":"2017-05-16T09:30:20Z","labels":{"app":"registry-console","deployment":"registry-console-1","deploymentconfig":"registry-console","name":"registry-console"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"registry-console-1\",\"uid\":\"32dba730-3a1a-11e7-a3eb-001a4a2314d7\",\"apiVersion\":\"v1\",\"resourceVersion\":\"895\"}}\n","openshift.io/deployment-config.latest-version":"1","openshift.io/deplo[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ServiceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/services","resourceVersion":"691476"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/services/docker-registry","uid":"28f93783-3a1a-11e7-a3eb-001a4a2314d7","resourceVersion":"758","creationTimestamp":"2017-05-16T09:29:28Z"},"spec":{"ports":[{"name":"5000-tcp","protocol":"TCP","port":5000,"targetPort":5000}],"selector":{"docker-registry":"default"},"clusterIP":"172.30.5.8","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/services/kubernetes","uid":"82020c9a-3a19-11e7-a3eb-001a4a2314d7","resourceVersion":"451","creationTimestamp":"2017-05-16T09:24:48Z","labels":{"component":"apiserver","provider":"kubernetes"}},"spec":{"ports":[{"name":"https","protocol":"TCP","port":443,"targetPort":443},{"name":"dns","protocol":"UDP","port":53,"targetPort":8053},{"name":"dns-tcp","protocol":"TCP","port":53,"targetPort":8053}],"clusterIP":"172.30.0.1","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"registry-console","namespace":"default","selfLink":"/api/v1/namespaces/default/services/registry-console","uid":"32d7bf4f-3a1a-11e7-a3eb-001a4a2314d7","resourceVersion":"831","creationTimestamp":"2017-05-16T09:29:45Z","labels":{"app":"registry-console","createdBy":"registry-console-template","name":"registry-console"},"annotations":{"openshift.io/generated-by":"OpenShiftNewApp"}},"spec":{"ports":[{"name":"registry-console","protocol":"TCP","port":9000,"targetPort":9090}],"selector":{"name":"registry-console"},"clusterIP":"172.30.35.101","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"router","namespace":"default","selfLink":"/api/v1/namespaces/default/services/router","uid":"11cef927-3a1a-11e7-a3eb-001a4a2314d7","resourceVersion":"723","creationTimestamp":"2017-05-16T09:28:50Z","labels":{"router":"router"},"annotations":{"service.alpha.openshift.io/serving-cert-secret-name":"router-certs","service.alpha.openshift.io/serving-cert-signed-by":"openshift-service-serving-signer@1494926607"}},"spec":{"ports":[{"name":"80-tcp","protocol":"TCP","port":80,"targetPort":80},{"name":"443-tcp","protocol":"TCP","port":443,"targetPort":443},{"name":"1936-tcp","protocol":"TCP","port":1936,"targetPort":1936}],"selector":{"router":"router"},"clusterIP":"172.30.155.115","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"hawkular-cassandra","namespace":"openshift-infra","selfLink":"/api/v1/namespaces/openshift-infra/services/hawkular-cassandra","uid":"e7fea5f8-3a1b-11e7-a3eb-001a4a2314d7","resourceVersion":"1273","creationTimestamp":"2017-05-16T09:41:58Z","labels":{"metrics-infra":"hawkular-cassandra","name":"hawkular-cassandra"},"annotations":{"service.alpha.openshift.io/serving-cert-generation-error":"secret/hawkular-cassandra-certs
        references serviceUID , which does not match e7fea5f8-3a1b-11e7-a3eb-001a4a2314d7","service.alpha.openshift.io/serving-cert-generation-error-num":"10","service.alpha.openshift.io/serving-cert-secret-name":"hawkular-cassandra-certs"}},"spec":{"ports":[{"name":"cql-port","protocol":"TCP","port":9042,"targetPort":"cql-port"},{"name":"th[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/replicationcontrollers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ReplicationControllerList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/replicationcontrollers","resourceVersion":"691476"},"items":[{"metadata":{"name":"docker-registry-1","namespace":"default","selfLink":"/api/v1/namespaces/default/replicationcontrollers/docker-registry-1","uid":"2ffd7e35-3a1a-11e7-a3eb-001a4a2314d7","resourceVersion":"691081","generation":2,"creationTimestamp":"2017-05-16T09:29:40Z","labels":{"docker-registry":"default","openshift.io/deployment-config.name":"docker-registry"},"annotations":{"openshift.io/deployer-pod.name":"docker-registry-1-deploy","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.phase":"Complete","openshift.io/deployment.replicas":"1","openshift.io/deployment.status-reason":"config
        change","openshift.io/encoded-deployment-config":"{\"kind\":\"DeploymentConfig\",\"apiVersion\":\"v1\",\"metadata\":{\"name\":\"docker-registry\",\"namespace\":\"default\",\"selfLink\":\"/oapi/v1/namespaces/default/deploymentconfigs/docker-registry\",\"uid\":\"2ff7e428-3a1a-11e7-a3eb-001a4a2314d7\",\"resourceVersion\":\"815\",\"generation\":2,\"creationTimestamp\":\"2017-05-16T09:29:40Z\",\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"strategy\":{\"type\":\"Rolling\",\"rollingParams\":{\"updatePeriodSeconds\":1,\"intervalSeconds\":1,\"timeoutSeconds\":600,\"maxUnavailable\":\"25%\",\"maxSurge\":\"25%\"},\"resources\":{},\"activeDeadlineSeconds\":21600},\"triggers\":[{\"type\":\"ConfigChange\"}],\"replicas\":1,\"test\":false,\"selector\":{\"docker-registry\":\"default\"},\"template\":{\"metadata\":{\"creationTimestamp\":null,\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"volumes\":[{\"name\":\"registry-storage\",\"emptyDir\":{}},{\"name\":\"registry-certificates\",\"secret\":{\"secretName\":\"registry-certificates\",\"defaultMode\":420}}],\"containers\":[{\"name\":\"registry\",\"image\":\"openshift/origin-docker-registry:v1.5.0\",\"ports\":[{\"containerPort\":5000,\"protocol\":\"TCP\"}],\"env\":[{\"name\":\"REGISTRY_HTTP_ADDR\",\"value\":\":5000\"},{\"name\":\"REG[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"691476"},"items":[{"metadata":{"name":"capture.context.com","selfLink":"/api/v1/nodescapture.context.com","uid":"df47509a-3a19-11e7-a3eb-001a4a2314d7","resourceVersion":"691476","creationTimestamp":"2017-05-16T09:27:25Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/hostname":"capture.context.com","region":"infra","zone":"default"}},"spec":{"externalID":"capture.context.com"},"status":{"capacity":{"alpha.kubernetes.io/nvidia-gpu":"0","cpu":"2","memory":"3880072Ki","pods":"20"},"allocatable":{"alpha.kubernetes.io/nvidia-gpu":"0","cpu":"2","memory":"3880072Ki","pods":"20"},"conditions":[{"type":"OutOfDisk","status":"False","lastHeartbeatTime":"2017-06-22T18:56:51Z","lastTransitionTime":"2017-06-11T08:31:29Z","reason":"KubeletHasSufficientDisk","message":"kubelet
        has sufficient disk space available"},{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2017-06-22T18:56:51Z","lastTransitionTime":"2017-05-16T09:27:25Z","reason":"KubeletHasSufficientMemory","message":"kubelet
        has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2017-06-22T18:56:51Z","lastTransitionTime":"2017-05-16T09:27:25Z","reason":"KubeletHasNoDiskPressure","message":"kubelet
        has no disk pressure"},{"type":"Ready","status":"True","lastHeartbeatTime":"2017-06-22T18:56:51Z","lastTransitionTime":"2017-06-22T18:27:54Z","reason":"KubeletReady","message":"kubelet
        is posting ready status"}],"addresses":[{"type":"LegacyHostIP","address":"10.35.19.248"},{"type":"InternalIP","address":"10.35.19.248"},{"type":"Hostname","address":"capture.context.com"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"00e858afa995804e90f1d15008a1fd62","systemUUID":"AF58E800-95A9-4E80-90F1-D15008A1FD62","bootID":"2fd754b0-1abe-41f7-b198-84516b75a241","kernelVersion":"3.10.0-514.16.1.el7.x86_64","osImage":"CentOS
        Linux 7 (Core)","containerRuntimeVersion":"docker://1.12.6","kubeletVersion":"v1.5.2+43a9be4","kubeProxyVersion":"v1.5.2+43a9be4","operatingSystem":"linux","architecture":"amd64"},"images":[{"names":["docker.io/openshift/origin-metrics-hawkular-metrics@sha256:e041680e9fbbe1953e92dd032cff07501958f5a204130427f0bc6da675816ea8","docker.io/openshift/origin-metrics-hawkular-metrics:latest"],"sizeBytes":886109506},{"names":["docker.io/openshift/origin-metrics-hawkular-metrics@sha256:7aa3b14d237a279e554425ee030d05a37e8aae32ac826c399e4f917218a4ced1"],"sizeBytes":885903620},{"names":["docker.io/openshift/origin-metrics-deployer@sha256:e2637354164bfa88a4f67d18010a7e0bdf376ded06ac05aec868a2b7e022b89a","docker.io/openshift/origin-metrics-deployer:latest"],"sizeBytes":882253084},{"names":["docker.io/openshift/origin-haproxy-router@sha256:2e683a404e5d8d8e86047e1acb6aa68b0def68ab81a9c6f302307f34332a83b0[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"EndpointsList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/endpoints","resourceVersion":"691476"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/docker-registry","uid":"29258918-3a1a-11e7-a3eb-001a4a2314d7","resourceVersion":"691082","creationTimestamp":"2017-05-16T09:29:29Z"},"subsets":[{"addresses":[{"ip":"10.128.0.65","nodeName":"capture.context.com","targetRef":{"kind":"Pod","namespace":"default","name":"docker-registry-1-51q71","uid":"476e8b1a-3a1a-11e7-a3eb-001a4a2314d7","resourceVersion":"691079"}}],"ports":[{"name":"5000-tcp","port":5000,"protocol":"TCP"}]}]},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/kubernetes","uid":"8208510d-3a19-11e7-a3eb-001a4a2314d7","resourceVersion":"453","creationTimestamp":"2017-05-16T09:24:48Z"},"subsets":[{"addresses":[{"ip":"10.35.19.248"}],"ports":[{"name":[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/namespaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces","resourceVersion":"691477"},"items":[{"metadata":{"name":"default","selfLink":"/api/v1/namespacesdefault","uid":"7c099df3-3a19-11e7-a3eb-001a4a2314d7","resourceVersion":"2675","creationTimestamp":"2017-05-16T09:24:38Z","annotations":{"openshift.io/node-selector":"","openshift.io/sa.initialized-roles":"true","openshift.io/sa.scc.mcs":"s0:c1,c0","openshift.io/sa.scc.supplemental-groups":"1000000000/10000","openshift.io/sa.scc.uid-range":"1000000000/10000"}},"spec":{"finalizers":["kubernetes","openshift.io/origin"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-system","selfLink":"/api/v1/namespaceskube-system","uid":"7c0a89f0-3a19-11e7-a3eb-001a4a2314d7","resourceVersion":"169","creationTimestamp":"2017-05-16T09:24:38Z","annotations":{"openshift.io/sa.scc.mcs":"s0:c3,c2","openshift.io/sa.scc.supplemental-groups":"1000010000/10000","openshift.io/sa.scc.uid-range":"1000010000/10000"}},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/resourcequotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ResourceQuotaList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/resourcequotas","resourceVersion":"691477"},"items":[]}

'
  recorded_at: Thu, 22 Jun 2017 18:56:56 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/limitranges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"LimitRangeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/limitranges","resourceVersion":"691477"},"items":[]}

'
  recorded_at: Thu, 22 Jun 2017 18:56:57 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumes","resourceVersion":"691477"},"items":[]}

'
  recorded_at: Thu, 22 Jun 2017 18:56:58 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumeclaims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeClaimList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumeclaims","resourceVersion":"691477"},"items":[]}

'
  recorded_at: Thu, 22 Jun 2017 18:56:59 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/componentstatuses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ComponentStatusList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/componentstatuses"},"items":[{"metadata":{"name":"scheduler","selfLink":"/api/v1/componentstatusesscheduler","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        http://127.0.0.1:10251/healthz: dial tcp 127.0.0.1:10251: getsockopt: connection
        refused"}]},{"metadata":{"name":"controller-manager","selfLink":"/api/v1/componentstatusescontroller-manager","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        http://127.0.0.1:10252/healthz: dial tcp 127.0.0.1:10252: getsockopt: connection
        refused"}]},{"metadata":{"name":"etcd-0","selfLink":"/api/v1/componentstatusesetcd-0","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        https://capture.context.com:4001/health: remote error:
        tls: bad certificate"}]}]}

'
  recorded_at: Thu, 22 Jun 2017 18:56:59 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"appliedclusterresourcequotas","namespaced":true,"kind":"AppliedClusterResourceQuot[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"RouteList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/routes","resourceVersion":"691478"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/oapi/v1/namespaces/default/routes/docker-registry","uid":"2ac8fdb7-3a1a-11e7-a3eb-001a4a2314d7","resourceVersion":"933","creationTimestamp":"2017-05-16T09:29:31Z"},"spec":{"host":"docker-registry-default.router.default.svc.cluster.local","to":{"kind":"Service","name":"docker-registry","weight":100},"tls":{"termination":"passthrough"},"wildcardPolicy":"None"},"status":{"ingress":[{"host":"docker-registry-default.router.default.svc.cluster.local","routerName":"router","conditions":[{"type":"Admitted","status":"True","lastTransitionTime":"2017-05-16T09:30:42Z"}],"wildcardPolicy":"None"}]}},{"metadata":{"name":"registry-console","namespace":"default","selfLink":"/oapi/v1/namespaces/default/routes/registry-console","uid":"1efd0fe8-3a1f-11e7-a3eb-001a4a2314d7","resourceVersion":"1708","creationTimestamp":"2017-05-16T10:04:59Z","annotations":{"openshift.io/host.generated":"true"}},"spec":{"host":"registry-console-default.router.default.svc.cluster.local",[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ProjectList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/projects"},"items":[{"metadata":{"name":"default","selfLink":"/oapi/[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/buildconfigs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"BuildConfigList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/buildconfigs","resourceVersion":"691478"},"items":[]}

'
  recorded_at: Thu, 22 Jun 2017 18:57:02 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"BuildList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/builds","resourceVersion":"691478"},"items":[]}

'
  recorded_at: Thu, 22 Jun 2017 18:57:03 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"TemplateList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/templates","resourceVersion":"691478"},"items":[{"metadata":{"name":"3scale-gateway","namespace":"openshift","selfLink":"/oapi/v1/namespaces/openshift/templates/3scale-gateway","uid":"9389475f-3a19-11e7-a3eb-001a4a2314d7","resourceVersion":"478","creationTimestamp":"2017-05-16T09:25:18Z","annotations":{"description":"3scale
        API Gateway","iconClass":"icon-load-balancer","tags":"api,gateway,3scale"}},"objects":[{"apiVersion":"v1","kind":"DeploymentConfig","metadata":{"name":"${THREESCALE_GATEWAY_NAME}"},"spec":{"replicas":2,"selector":{"deploymentconfig":"${THREESCALE_GATEWAY_NAME}"},"strategy":{"resources":{},"rollingParams":{"intervalSeconds":1,"maxSurge":"25%","maxUnavailable":"25%","timeoutSeconds":600,"updatePeriodSeconds":1},"type":"Rolling"},"template":{"metadata":{"labels":{"deploymentconfig":"${THREESCALE_GATEWAY_NAME}"}},"spec":{"containers":[{"env":[{"name":"THREESCALE_PORTAL_ENDPOINT","valueFrom":{"secretKeyRef":{"key":"password","name":"${THREESCALE_PORTAL_ENDPOINT_SECRET}"}}},{"name":"THREESCALE_CONFIG_FILE","value":"${THREESCALE_CONFIG_FILE}"},{"name":"RESOLVER","value":"${RESOLVER}"},{"name":"APICAST_SERVICES","value":"${APICAST_SERVICES}"},{"name":"APICAST_MISSING_CONFIGURATION","value":"${MISSING_CONFIGURATION}"},{"name":"APICAST_LOG_LEVEL","value":"${APICAST_LOG_LEVEL}"},{"name":"APICAST_PATH_ROUTING_ENABLED","value":"${PATH_ROUTING}"},{"name":"APICAST_RESPONSE_CODES","value":"${RESPONSE_CODES}"},{"name[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ImageList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/images","resourceVersion":"691478"},"items":[{"metadata":{"name":"sha256:0d85520f8c45a7b8c7bdf1dd82daa527f4d7eea87e270e2c779ced241d3b94c3","selfLink":"/oapi/v1/imagessha256%3A0d85520f8c45a7b8c7bdf1dd82daa527f4d7eea87e270e2c779ced241d3b94c3","uid":"a330f28d-3a19-11e7-a3eb-001a4a2314d7","resourceVersion":"591","creationTimestamp":"2017-05-16T09:25:44Z"},"dockerImageReference":"centos/python-35-centos7@sha256:0d85520f8c45a7b8c7bdf1dd82daa527f4d7eea87e270e2c779ced241d3b94c3","dockerImageMetadata":{"kind":"DockerImage","apiVersion":"1.0","Id":"sha256:bd9fe12651fb568a395fc750d0caac1ab15ae100f6d524da9878955cfbd6497e","Created":"2017-05-12T10:36:43Z","Container":"d500a6f04bec9f3e3f0bff875269ea37bb0a5c8b0d6f827d7dc0730e25d5795c","ContainerConfig":{"Hostname":"f85c553c1496","User":"1001","ExposedPorts":{"8080/tcp":{}},"Env":["PATH=/opt/app-root/src/.local/bin/:/opt/app-root/src/bin:/opt/app-root/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin","STI_SCRIPTS_URL=image:///usr/libexec/s2i","STI_SCRIPTS_PATH=/usr/libexec/s2i","HOME=/opt/app-root/src","BASH_ENV=/opt/app-root/etc/scl_enable","ENV=/opt/app-root/etc/scl_enable","PROMPT_COMMAND=.
        /opt/app-root/etc/scl_enable","PYTHON_VERSION=3.5","PYTHONUNBUFFERED=1","PYTHONIOENCODING=UTF-8","LC_ALL=en_US.UTF-8","LANG=en_US.UTF-8","PIP_NO_CACHE_DIR=off","SUMMARY=Platform
        for building and running Python 3.5 applications","DESCRIPTION=Python 3.5
        available as docker container is a base platform for building and running
        various Python 3.5 applications and frameworks. Python is an easy to learn,
        powerful programming language. It has efficient high-level data structures
        and a simple but effective approach to object-oriented programming. Python''s
        elegant syntax and dynamic typing, together with its interpreted nature, make
[...]
