---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"MetricsService":"STARTED","Implementation-Version":"0.21.5.Final","Built-From-Git-SHA1":"e779588593f13224225356a94f1d8642fbccb30f"}'
  recorded_at: Wed, 30 Nov 2016 10:00:34 GMT
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/registry%2F0ee133ef-b6df-11e6-bab2-001a4a16262d%2Fcpu%2Fusage/stats/?bucketDuration=20s&start=1468235823000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235823000,"end":1468235843000,"empty":true},{"start":1480500023000,"end":1480500043000,"min":2.949830481E9,"avg":2.949830481E9,"median":2.949830481E9,"max":2.949830481E9,"sum":2.949830481E9,"samples":1,"empty":false}]'
  recorded_at: Wed, 30 Nov 2016 10:00:37 GMT
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/gauges/registry%2F0ee133ef-b6df-11e6-bab2-001a4a16262d%2Fmemory%2Fusage/stats/?bucketDuration=20s&start=1468235843000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235843000,"end":1468235863000,"empty":true},{"start":1480500023000,"end":1480500043000,"min":2.6574848E7,"avg":2.6574848E7,"median":2.6574848E7,"max":2.6574848E7,"sum":2.6574848E7,"samples":1,"empty":false}]'
  recorded_at: Wed, 30 Nov 2016 10:00:42 GMT
recorded_with: VCR 3.0.3
