---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"bindings","namespaced":true,"kind":"Binding"},{"name":"componentstatuses","namespaced":false,"kind":"ComponentStatus"},{"name":"configmaps","namespaced":true,"kind":"ConfigMap"},{"name":"endpoints","namespaced":true,"kind":"Endpoints"},{"name":"events","namespaced":true,"kind":"Event"},{"name":"limitranges","namespaced":true,"kind":"LimitRange"},{"name":"namespaces","namespaced":false,"kind":"Namespace"},{"name":"namespaces/finalize","namespaced":false,"kind":"Namespace"},{"name":"namespaces/status","namespaced":false[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/pods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/pods","resourceVersion":"1891"},"items":[{"metadata":{"name":"docker-registry-2-wm6ra","generateName":"docker-registry-2-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/docker-registry-2-wm6ra","uid":"0ee133ef-b6df-11e6-bab2-001a4a16262d","resourceVersion":"897","creationTimestamp":"2016-11-30T09:26:22Z","labels":{"deployment":"docker-registry-2","deploymentconfig":"docker-registry","docker-registry":"default"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"docker-registry-2\",\"uid\":\"0d52a872-b6df-11e6-bab2-001a4a16262d\",\"apiVersion\":\"v1\",\"resourceVersion\":\"781\"}}\n","openshift.io/deployment-config.latest-version":"2","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.name":"docker-registry-2","openshift.io/scc":"restricted"}},"spec":{"volumes":[{"name":"volume-2chu7","secret":{"secretName":"registry-certificates"}},{"name":"registry-storage","persistentVolumeClaim":{"claimName":"registry-claim"}},{"name":"registry-token-xe5km","secret":{"secretName":"registry-token-xe5km"}}],"containers":[{"name":"registry","image":"openshift/origin-docker-registry:v1.3.1","ports":[{"containerPort":5000,"protocol":"TCP"}],"env":[{"name":"REGISTRY_HTTP_ADDR","value":":5000"},{"name":"REGISTRY_HTTP_NET","value":"tcp"},{"name":"REGISTRY_HTTP_SECRET","value":"IIHUFqGZr5IPb9rR6tvXExIM42XalBiRN8HQUhewECk="},{"name":"REGISTRY_MIDDLEWARE_REPOSITORY_OPENSHIFT_ENFORCEQUOTA","value":"false"},{"name":"REGISTRY_HTTP_TLS_CERTIFICATE","value":"/etc/secrets/registry.crt"},{"name":"REGISTRY_HTTP_TLS_KEY","value":"/etc/secrets/registry.key"}],"resources":{"requests":{"cpu":"100m","memory":"256Mi"}},"volumeMounts":[{"name":"registry-storage","mountPath":"/registry"},{"name":"volume-2chu7","mountPath":"/etc/secrets"},{"name":"registry-token-xe5km","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"livenessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"initialDelaySeconds":10,"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"readinessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"terminationMessagePath":"/dev/termination-log","imagePullPolicy":"IfNotPresent","securityContext":{"capabilities":{"drop":["KILL","MKNOD","SETGID","SETUID","SYS_CHROOT"]},"privileged":false,"seLinuxOptions":{"level":"s0:c1,c0"},"runAsUser":1000000000}}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","nodeSelector":{"region":"infra"},"host":"capture.context.com","serviceAccountName":"registry","serviceAccount":"registry","nodeName":"capture.context.com","securityContext":{"seLinuxOptions":{"level":"s0:c1,c0"},"fsGroup":1000000000},"imagePullSecrets":[{"name":"registry-dockercfg-me7mo"}]},"status":{"phase":"Running","conditions":[{"type":"Initialized","status":"True","lastProbeTime":null,"lastTransitionTime":"2016-11-30T09:26:22Z"},{"type":"Ready","status":"True","lastProbeTime":null,"lastTransitionTime":"2016-11-30T09:26:42Z"},{"type":"PodScheduled","status":"True","lastProbeTime":null,"lastTransitionTime":"2016-11-30T09:26:22Z"}],"hostIP":"10.35.48.45","podIP":"10.128.0.5","startTime":"2016-11-30T09:26:22Z","containerStatuses":[{"name":"registry","state":{"running":{"startedAt":"2016-11-30T09:26:32Z"}},"lastState":{},"ready":true,"restartCount":0,"image":"openshift/origin-docker-registry:v1.3.1","imageID":"docker://sha256:95648ff9553f2b89ea0838a3c2193cb4b5ab3378110f1f102b1c8c46f487310b","containerID":"docker://5af8c502871d205f11d3cc9d57f4155e48b2e40c6e59d622962f37e13a063676"}]}},{"metadata":{"name":"registry-console-1-1ihd5","generateName":"registry-console-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/registry-console-1-1ihd5","uid":"8970a25b-b6e0-11e6-bab2-001a4a16262d","resourceVersion":"1480","creationTimestamp":"2016-11-30T09:36:57Z","labels":{"app":"registry-console","deployment":"registry-console-1","deploymentconfig":"registry-console","name":"registry-console"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"registry-console-1\",\"uid\":\"8794104a-b6e0-11e6-bab2-001a4a16262d\",\"apiVersion\":\"v1\",\"resourceVersion\":\"1453\"}}\n","openshift.io/deployment-config.latest-version":"1","openshift.io/depl[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ServiceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/services","resourceVersion":"1891"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/services/docker-registry","uid":"df1557a1-b6de-11e6-bab2-001a4a16262d","resourceVersion":"608","creationTimestamp":"2016-11-30T09:25:02Z","labels":{"docker-registry":"default"}},"spec":{"ports":[{"name":"5000-tcp","protocol":"TCP","port":5000,"targetPort":5000}],"selector":{"docker-registry":"default"},"portalIP":"172.30.107.164","clusterIP":"172.30.107.164","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/services/kubernetes","uid":"7f17cf88-b6de-11e6-bab2-001a4a16262d","resourceVersion":"7","creationTimestamp":"2016-11-30T09:22:21Z","labels":{"component":"apiserver","provider":"kubernetes"}},"spec":{"ports":[{"name":"https","protocol":"TCP","port":443,"targetPort":443},{"name":"dns","protocol":"UDP","port":53,"targetPort":8053},{"name":"dns-tcp","protocol":"TCP","port":53,"targetPort":8053}],"portalIP":"172.30.0.1","clusterIP":"172.30.0.1","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"registry-console","namespace":"default","selfLink":"/api/v1/namespaces/default/services/registry-console","uid":"8791de08-b6e0-11e6-bab2-001a4a16262d","resourceVersion":"1435","creationTimestamp":"2016-11-30T09:36:54Z","labels":{"app":"registry-console","createdBy":"registry-console-template","name":"registry-console"},"annotations":{"openshift.io/generated-by":"OpenShiftNewApp"}},"spec":{"ports":[{"name":"registry-console","protocol":"TCP","port":9000,"targetPort":9090}],"selector":{"name":"registry-console"},"portalIP":"172.30.65.125","clusterIP":"172.30.65.125","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"router","namespace":"default","selfLink":"/api/v1/namespaces/default/services/router","uid":"de732c76-b6de-11e6-bab2-001a4a16262d","resourceVersion":"594","creationTimestamp":"2016-11-30T09:25:01Z","labels":{"router":"router"},"annotations":{"service.alpha.openshift.io/serving-cert-secret-name":"router-certs","service.alpha.openshift.io/serving-cert-signed-by":"openshift-service-serving-signer@1480497714"}},"spec":{"ports":[{"name":"80-tcp","protocol":"TCP","port":80,"targetPort":80},{"name":"443-tcp","protocol":"TCP","port":443,"targetPort":443},{"name":"1936-tcp","protocol":"TCP","port":1936,"targetPort":1936}],"selector":{"router":"router"},"portalIP":"172.30.78.132","clusterIP":"172.30.78.132","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"logging-es","namespace":"logging","selfLink":"/api/v1/namespaces/logging/services/logging-es","uid":"bf154237-b6df-11e6-bab2-001a4a16262d","resourceVersion":"1074","creationTimestamp":"2016-11-30T09:31:18Z","labels":{"component":"support","logging-infra":"support","provider":"openshift"},"annotations":{"openshift.io/generated-by":"OpenShiftNewApp"}},"spec":{"ports":[{"protocol":"TCP","port":9200,"targetPort":"restapi"}],"selector":{"component":"es","provider":"openshift"},"portalIP":"172.30.60.41","clusterIP":"172.30.60.41","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"logging-es-cluster","namespace":"logging","selfLink":"/api/v1/namespaces/logging/services/logging-es-cluster","uid":"bf15f212-b6d[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/replicationcontrollers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ReplicationControllerList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/replicationcontrollers","resourceVersion":"1891"},"items":[{"metadata":{"name":"docker-registry-1","namespace":"default","selfLink":"/api/v1/namespaces/default/replicationcontrollers/docker-registry-1","uid":"df164b64-b6de-11e6-bab2-001a4a16262d","resourceVersion":"764","generation":1,"creationTimestamp":"2016-11-30T09:25:02Z","labels":{"docker-registry":"default","openshift.io/deployment-config.name":"docker-registry"},"annotations":{"kubectl.kubernetes.io/desired-replicas":"1","openshift.io/deployer-pod.name":"docker-registry-1-deploy","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.cancelled":"true","openshift.io/deployment.phase":"Failed","openshift.io/deployment.replicas":"0","openshift.io/deployment.status-reason":"newer
        deployment was found running","openshift.io/encoded-deployment-config":"{\"kind\":\"DeploymentConfig\",\"apiVersion\":\"v1\",\"metadata\":{\"name\":\"docker-registry\",\"namespace\":\"default\",\"selfLink\":\"/oapi/v1/namespaces/default/deploymentconfigs/docker-registry\",\"uid\":\"df13b24a-b6de-11e6-bab2-001a4a16262d\",\"resourceVersion\":\"607\",\"generation\":1,\"creationTimestamp\":\"2016-11-30T09:25:02Z\",\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"strategy\":{\"type\":\"Rolling\",\"rollingParams\":{\"updatePeriodSeconds\":1,\"intervalSeconds\":1,\"timeoutSeconds\":600,\"maxUnavailable\":\"25%\",\"maxSurge\":\"25%\"},\"resources\":{}},\"triggers\":[{\"type\":\"ConfigChange\"}],\"replicas\":1,\"test\":false,\"selector\":{\"docker-registry\":\"default\"},\"template\":{\"metadata\":{\"creationTimestamp\":null,\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"volumes\":[{\"name\":\"registry-storage\",\"emptyDir\":{}}],\"containers\":[{\"name\":\"registry\",\"image\":\"openshift/origin-docker-registry:v1.3.1\",\"ports\":[{\"containerPort\":5000,\"protocol\":\"TCP\"}],\"env\":[{\"name\":\"REGISTRY_HTTP_ADDR\",\"value\":\":5000\"},{\"name\":\"REGISTRY_HTTP_NET\",\"value\":\"tcp\"},{\"name\":\"REGISTRY_HTTP_SECRET\",\"value\":\"IIHUFqGZr5IPb9rR6tvXExIM42XalBiRN8HQUhewECk=\"},{\"name\":\"REGISTRY_MIDDLEWARE_REPOSITORY_OPENSHIFT_ENFORCEQUOTA\",\"value\":\"false\"}],\"resources\":{\"requests\":{\"cpu\":\"100m\",\"memory\":\"256Mi\"}},\"volumeMounts\":[{\"name\":\"registry-storage\",\"mountPath\":\"/registry\"}],\"livenessProbe\":{\"httpGet\":{\"path\":\"/healthz\",\"port\":5000,\"scheme\":\"HTTP\"},\"initialDelaySeconds\":10,\"timeoutSeconds\":5,\"periodSeconds\":10,\"successThreshold\":1,\"failureThreshold\":3},\"readinessProbe\":{\"httpGet\":{\"path\":\"/healthz\",\"port\":5000,\"scheme\":\"HTTP\"},\"timeoutSeconds\":5,\"periodSeconds\":10,\"successThreshold\":1,\"failureThreshold\":3},\"terminationMessagePath\":\"/dev/termination-log\",\"imagePullPolicy\":\"IfNotPresent\",\"securityContext\":{\"privileged\":false}}],\"restartPolicy\":\"Always\",\"terminationGracePeriodSeconds\":30,\"dnsPolicy\":\"ClusterFirst\",\"nodeSelector\":{\"region\":\"infra\"},\"serviceAccountName\":\"registry\",\"serviceAccount\":\"registry\",\"securityContext\":{}}}},\"status\":{\"latestVersion\":1,\"observedGeneration\":1,\"details\":{\"message\":\"caused
        by a config change\",\"causes\":[{\"type\":\"ConfigChange\"}]}}}\n"}},"spec":{"replicas":0,"selector":{"deployment":"docker-registry-1","deploymentconfig":"docker-registry","docker-registry":"default"},"template":{"metadata":{"creationTimestamp":null,"labels":{"deployment":"docker-registry-1","deploymentconfig":"docker-registry","docker-registry":"default"},"annotations":{"openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.name":"docker-registry-1[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"1891"},"items":[{"metadata":{"name":"capture.context.com","selfLink":"/api/v1/nodes/capture.context.com","uid":"be6fec9b-b6de-11e6-bab2-001a4a16262d","resourceVersion":"1886","creationTimestamp":"2016-11-30T09:24:07Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/hostname":"capture.context.com","logging-infra-fluentd":"true","region":"infra","zone":"default"}},"spec":{"externalID":"capture.context.com"},"status":{"capacity":{"alpha.kubernetes.io/nvidia-gpu":"0","cpu":"4","memory":"8009212Ki","pods":"110"},"allocatable":{"alpha.kubernetes.io/nvidia-gpu":"0","cpu":"4","memory":"8009212Ki","pods":"110"},"conditions":[{"type":"OutOfDisk","status":"False","lastHeartbeatTime":"2016-11-30T09:59:29Z","lastTransitionTime":"2016-11-30T09:24:07Z","reason":"KubeletHasSufficientDisk","message":"kubelet
        has sufficient disk space available"},{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2016-11-30T09:59:29Z","lastTransitionTime":"2016-11-30T09:24:07Z","reason":"KubeletHasSufficientMemory","message":"kubelet
        has sufficient memory available"},{"type":"Ready","status":"True","lastHeartbeatTime":"2016-11-30T09:59:29Z","lastTransitionTime":"2016-11-30T09:24:21Z","reason":"KubeletReady","message":"kubelet
        is posting ready status"}],"addresses":[{"type":"LegacyHostIP","address":"10.35.48.45"},{"type":"InternalIP","address":"10.35.48.45"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"4bdc423c06554441a44182e398ed5990","systemUUID":"C454A933-8484-4B35-A57E-846AE52B0E1E","bootID":"90614357-013e-44b4-8000-cb737b799b08","kernelVersion":"3.10.0-327.36.1.el7.x86_64","osImage":"CentOS
        Linux 7 (Core)","containerRuntimeVersion":"docker://1.10.3","kubeletVersion":"v1.3.0+52492b4","kubeProxyVersion":"v1.3.0+52492b4","operatingSystem":"linux","architecture":"amd64"},"images":[{"names":["docker.io/openshift/origin-metrics-heapster:latest"],"sizeBytes":1044784850},{"names":["docker.io/openshift/origin-metrics-hawkular-metrics:latest"],"sizeBytes":848656632},{"names":["docker.io/openshift/origin-logging-auth-proxy:latest"],"sizeBytes":711648831},{"names":["docker.io/openshift/origin-metrics-deployer:latest"],"sizeBytes":703852382},{"names":["docker.io/openshift/origin-logging-deployment:latest"],"sizeBytes":701389615},{"names":["docker.io/openshift/origin-metrics-cassandra:latest"],"sizeBytes":681274490},{"names":["docker.io/openshift/origin-ha[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"EndpointsList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/endpoints","resourceVersion":"1891"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/docker-registry","uid":"df193ddf-b6de-11e6-bab2-001a4a16262d","resourceVersion":"899","creationTimestamp":"2016-11-30T09:25:02Z","labels":{"docker-registry":"default"}},"subsets":[{"addresses":[{"ip":"10.128.0.5","targetRef":{"kind":"Pod","namespace":"default","name":"docker-registry-2-wm6ra","uid":"0ee133ef-b6df-11e6-bab2-001a4a16262d","resourceVersion":"897"}}],"ports":[{"name":"5000-tcp","port":5000,"protocol":"TCP"}]}]},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/kubernetes","uid":"7f1bbeda-b6de-11e6-bab2-001a4a16262d","resourceVersion":"9","creationTimestamp":"2016-11-30T09:22:21Z"},"subsets":[{"addresses":[{"ip":"10.35.48.45"}],"ports":[{"name":"https[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/namespaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces","resourceVersion":"1891"},"items":[{"metadata":{"name":"default","selfLink":"/api/v1/namespaces/default","uid":"7f15bfd8-b6de-11e6-bab2-001a4a16262d","resourceVersion":"566","creationTimestamp":"2016-11-30T09:22:21Z","annotations":{"openshift.io/node-selector":"","openshift.io/sa.scc.mcs":"s0:c1,c0","openshift.io/sa.scc.supplemental-groups":"1000000000/10000","openshift.io/sa.scc.uid-range":"1000000000/10000"}},"spec":{"finalizers":["kubernetes","openshift.io/origin"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-system","selfLink":"/api/v1/namespaces/kube-system","uid":"7f1bf70b-b6de-11e6-bab2-001a4a16262d","resourceVersion":"179","creationTimestamp":"2016-11-30T09:22:21Z","annotations":{"openshift.io/sa.scc.mcs":"s0:c3,c2","openshift.io/sa.scc.supplemental-groups":"1000010000/10000","openshift.io/sa.scc.uid-range":"1000010000/10000"}},"spec":{"finalizers":["kubernetes","openshift.io/origin"]},"status":{"phase":[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/resourcequotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ResourceQuotaList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/resourcequotas","resourceVersion":"1891"},"items":[]}

'
  recorded_at: Wed, 30 Nov 2016 09:59:37 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/limitranges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"LimitRangeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/limitranges","resourceVersion":"1891"},"items":[]}

'
  recorded_at: Wed, 30 Nov 2016 09:59:37 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumes","resourceVersion":"1891"},"items":[{"metadata":{"name":"registry-volume","selfLink":"/api/v1/persistentvolumes/registry-volume","uid":"cdad6c78-b6de-11e6-bab2-001a4a16262d","resourceVersion":"531","creationTimestamp":"2016-11-30T09:24:33Z","annotations":{"pv.kubernetes.io/bound-by-controller":"yes"}},"spec":{"capacity":{"storage":"5Gi"},"nfs":{"server":"capture.context.com","path":"/exports/registry"},"accessModes":["ReadWriteMany"],"claimRef":{"kind":"PersistentVolumeClaim","namespace":"default","name":"registry-claim","uid":"ce41cfe6-b6de-11e6-bab2-001a4a16262d","apiVersion":"v1","resourceVersion":"529"},"persistentVolumeReclaimPolicy":"Retain"},"status":{"phase":"Bound"}}]}

'
  recorded_at: Wed, 30 Nov 2016 09:59:37 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumeclaims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeClaimList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumeclaims","resourceVersion":"1891"},"items":[{"metadata":{"name":"registry-claim","namespace":"default","selfLink":"/api/v1/namespaces/default/persistentvolumeclaims/registry-claim","uid":"ce41cfe6-b6de-11e6-bab2-001a4a16262d","resourceVersion":"533","creationTimestamp":"2016-11-30T09:24:34Z","annotations":{"pv.kubernetes.io/bind-completed":"yes","pv.kubernetes.io/bound-by-controller":"yes"}},"spec":{"accessModes":["ReadWriteMany"],"resources":{"requests":{"storage":"5Gi"}},"volumeName":"registry-volume"},"status":{"phase":"Bound","accessModes":["ReadWriteMany"],"capacity":{"storage":"5Gi"}}}]}

'
  recorded_at: Wed, 30 Nov 2016 09:59:37 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/componentstatuses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ComponentStatusList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/componentstatuses"},"items":[{"metadata":{"name":"controller-manager","selfLink":"/api/v1/componentstatuses/controller-manager","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        http://127.0.0.1:10252/healthz: dial tcp 127.0.0.1:10252: getsockopt: connection
        refused"}]},{"metadata":{"name":"scheduler","selfLink":"/api/v1/componentstatuses/scheduler","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        http://127.0.0.1:10251/healthz: dial tcp 127.0.0.1:10251: getsockopt: connection
        refused"}]},{"metadata":{"name":"etcd-0","selfLink":"/api/v1/componentstatuses/etcd-0","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        https://capture.context.com:4001/health: remote error: bad certificate"}]}]}

'
  recorded_at: Wed, 30 Nov 2016 09:59:37 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"appliedclusterresourcequotas","namespaced":true,"kind":"AppliedClusterResourceQuot[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"RouteList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/routes","resourceVersion":"1891"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/oapi/v1/namespaces/default/routes/docker-registry","uid":"df5bff91-b6de-11e6-bab2-001a4a16262d","resourceVersion":"795","creationTimestamp":"2016-11-30T09:25:02Z","labels":{"docker-registry":"default"},"annotations":{"openshift.io/host.generated":"true"}},"spec":{"host":"docker-registry-default.router.default.svc.cluster.local","to":{"kind":"Service","name":"docker-registry","weight":100},"port":{"targetPort":"5000-tcp"},"tls":{"termination":"passthrough"}},"status":{"ingress":[{"host":"docker-registry-default.router.default.svc.cluster.local","routerName":"router","conditions":[{"type":"Admitted","status":"True","lastTransitionTime":"2016-11-30T09:26:26Z"}]}]}},{"metadata":{"name":"registry-console","namespace":"default","selfLink":"/oapi/v1/namespaces/default/routes/registry-console","uid":"86cf7e54-b6e0-11e6-bab2-001a4a16262d","resourceVersion":"1431","creationTimestamp":"2016-11-30T09:36:53Z","annotations":{"openshift.io/host.generated":"true"}},"spec":{"host":"registry-console-default.router.default.svc.cluster.local","to":{"kind":"Service","name":"registry-console","weight":100},"port":{"targetPort":"registry-console"},"tls":{"termination":"passthrough"}},"status":{"ingress":[{"host":"registry-console-default.router.default.svc.cluster.local","routerName":"router","conditions":[{"type":"Admitted","status":"True","lastTransitionTime":"2016-11-30T09:36:53Z"}]}]}},{"metadata":{"name":"logging-kibana","namespace":"logging","selfLink":"/oapi/v1/namespaces/logging/routes/logging-kibana","uid":"bf368ab7-b6df-11e6-bab2-001a4a16262d","resourceVersion":"1091","creationTimestamp":"2016-11-30T09:31:18Z","labels":{"component":"support","logging-infra":"support","provider":"openshift"}},"spec":{"host":"capture.context.com","to":{"kind":"Service","name":"logging-kibana","weight":100},"tls":{"termination":"reencrypt","caCertificate":"-----BEGIN
        CERTIFICATE-----\nMIIC7jCCAdagAwIBAgIBATANBgkqhkiG9w0BAQsFADAoMSYwJAYDVQQDEx1sb2dn\naW5nLXNpZ25lci0yMDE2MTEzMDA5MzExMjAeFw0xNjExMzAwOTMxMTJaFw0yMTEx\nMjkwOTMxMTNaMCgxJjAkBgNVBAMTHWxvZ2dpbmctc2lnbmVyLTIwMTYxMTMwMDkz\nMTEyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvJl4tb36L3pSZSHT\nYOfXGYCiQK9gxUy2OsUHERDc0moaxDX5/OtVveyxLOYx5u5NwnZJjuHQVSCtnbzO\nxKCTZTVthOZa5CQe5n6yVY989BgJChX66ofBxcFkzrJKtLSnAj6EnGfpK6paSt+5\nN75Oc1TrO6ElQRC9yt668jSiPHcdxhUoYKOaYSKPsglUmR5XZbAGl4c5tdZOVGeg\nMQMM23w/cylmolp6O3WBlwD085+3Cd4wu/DZvpTYP1owklsjaq53CIjvPNUV0xKE\nYDw60nWUoy1LM200W/TWZS9cmmbhrvTTmxI0YfwcTzMUXOeSoUHtL4RXXHg7jrnz\n27shcwIDAQABoyMwITAOBgNVHQ8BAf8EBAMCAqQwDwYDVR0TAQH/BAUwAwEB/zAN\nBgkqhkiG9w0BAQsFAAOCAQEAcFLAX1zNBkZjszaFa5R8E9CPGp1yJdwotOMB+ZsE\noWvrau921CU948b7gz2F9k2HAXrFewdSwrztPBkxdwE0R9PQ943ZjhTsk2nvTeOe\ndxTJLD1L23Ltk0O8Ub3zR/zpp+rc++9DIUhBVwdZ1/Ptqm5+JLrQDswwR1tU1ylb\nORnv3q08jIGYXCv/BDBO6U3v6cimPC+gIBbzBQ7nPDe7waCbT47WWROhLYTlfFfI\ndbQef8F8+yEFdwsiR++KfcfoQwgmXdHB4oveUcr7WShlygj7NV4CMpmMk5Lg2det\npg+KGKfECUHCvYYx03W64kfR7M+TDv4Q1WSb8stlVFZh9g==\n-----END
        CERTIFICATE-----\n","destinationCACertificate":"-----BEGIN CERTIFICATE-----\nMIIC7jCCAdagAwIBAgIBATANBgkqhkiG9w0BAQsFADAoMSYwJAYDVQQDEx1sb2dn\naW5nLXNpZ25lci0yMDE2MTEzMDA5MzExMjAeFw0xNjExMzAwOTMxMTJaFw0yMTEx\nMjkwOTMxMTNaMCgxJjAkBgNVBAMTHWxvZ2dpbmctc2lnbmVyLTIwMTYxMTMwMDkz\nMTEyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvJl4tb36L3pSZSHT\nYOfXGYCiQK9gxUy2OsUHERDc0moaxDX5/OtVveyxLOYx5u5NwnZJjuHQVSCtnbzO\nxKCTZTVthOZa5CQe5n6yVY989BgJChX66ofBxcFkzrJKtLSnAj6EnGfpK6paSt+5\nN75Oc1TrO6ElQRC9yt668jSiPHcdxhUoYKOaYSKPsglUmR5XZbAGl4c5tdZOVGeg\nMQMM23w/[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ProjectList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/projects"},"items":[{"metadata":{"name":"default","selfLink":"/oapi/[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/buildconfigs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
[...]
