---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"MetricsService":"STARTED","Implementation-Version":"0.21.5.Final","Built-From-Git-SHA1":"e779588593f13224225356a94f1d8642fbccb30f"}'
  recorded_at: Tue, 22 Nov 2016 16:28:49 GMT
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/registry%2F13803231-b014-11e6-a062-001a4a16262b%2Fcpu%2Fusage/stats/?bucketDuration=20s&start=1468235823000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235823000,"end":1468235843000,"empty":true},{"start":1479832123000,"end":1479832143000,"empty":true}]'
  recorded_at: Tue, 22 Nov 2016 16:28:52 GMT
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/gauges/registry%2F13803231-b014-11e6-a062-001a4a16262b%2Fmemory%2Fusage/stats/?bucketDuration=20s&start=1468235843000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235843000,"end":1468235863000,"empty":true},{"start":1479832123000,"end":1479832143000,"empty":true}]'
  recorded_at: Tue, 22 Nov 2016 16:28:57 GMT
recorded_with: VCR 3.0.3
