---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"MetricsService":"STARTED","Implementation-Version":"0.21.5.Final","Built-From-Git-SHA1":"e779588593f13224225356a94f1d8642fbccb30f"}'
  recorded_at: Wed, 30 Nov 2016 09:59:41 GMT
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/machine%2Fcapture.context.com%2Fcpu%2Fusage/stats/?bucketDuration=20s&start=1468235823000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235823000,"end":1468235843000,"empty":true},{"start":1480499963000,"end":1480499983000,"min":3.554854054855E12,"avg":3.554854054855E12,"median":3.554854054855E12,"max":3.554854054855E12,"sum":3.554854054855E12,"samples":1,"empty":false}]'
  recorded_at: Wed, 30 Nov 2016 09:59:45 GMT
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/gauges/machine%2Fcapture.context.com%2Fmemory%2Fusage/stats/?bucketDuration=20s&start=1468235843000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235843000,"end":1468235863000,"empty":true},{"start":1480499983000,"end":1480500003000,"empty":true}]'
  recorded_at: Wed, 30 Nov 2016 09:59:51 GMT
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/metrics/?tags=miq_metric:true&type=string
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 30 Nov 2016 09:59:55 GMT
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/machine%2Fcapture.context.com%2Fnetwork%2Ftx/stats/?bucketDuration=20s&start=1468235823000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235823000,"end":1468235843000,"empty":true},{"start":1480499983000,"end":1480500003000,"min":1.31601245E8,"avg":1.31601245E8,"median":1.31601245E8,"max":1.31601245E8,"sum":1.31601245E8,"samples":1,"empty":false}]'
  recorded_at: Wed, 30 Nov 2016 09:59:57 GMT
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/machine%2Fcapture.context.com%2Fnetwork%2Frx/stats/?bucketDuration=20s&start=1468235823000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"start":1468235823000,"end":1468235843000,"empty":true},{"start":1480499983000,"end":1480500003000,"min":1.00993694E8,"avg":1.00993694E8,"median":1.00993694E8,"max":1.00993694E8,"sum":1.00993694E8,"samples":1,"empty":false}]'
  recorded_at: Wed, 30 Nov 2016 10:00:02 GMT
recorded_with: VCR 3.0.3
