<% url = url_for(:action=>'ap_form_field_changed',:item_type=>"category", :id=>"#{@scan.id || "new"}") %>
<div id="form_div">

	<fieldset>
		<p class="legend">Category Selection</p>
		<table class="style1">
				<tr>
					<td><table width="100%" class="form" id="formtest">
				<%
					if @edit[:new].has_key?("category")
						@selected = Array.new
						@edit[:new]["category"][:definition]["content"].each do |a|
							@selected.push(a["target"])
            end
					end
				%>
        <% temparr_sorted_value = Array(CATEGORY_CHOICES.values) %>
				<% temparr_sorted_keys = Array(CATEGORY_CHOICES.keys) %>
           <% j = 0
						for i in 0...temparr_sorted_value.length
           %>
				 <%if j == 0 || j >= 3 %>
				 <% j = 0 %>
					<tr>
				 <% end %>
				 <%
						if !@selected.nil?
							if @selected.include?(temparr_sorted_keys[i])
								checked = true
							else
								checked = false
							end
						end %>
              <td align="left" valign="top" nowrap>
							<%= hidden_field("item", "type", :value=>"category") %>
                 <%= check_box_tag("check_#{temparr_sorted_keys[i]}", value="#{temparr_sorted_keys[i]}",
                                     checked=checked,
                                     "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                                     "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
							<%= temparr_sorted_value[i] %>
					</td>

           <% j += 1 %>
           <% if j >= 3 %>
             </tr>
           <% end %>
           <% i +=1 %>
         <% end %><%# end of for%>
					</table>
				</td>
			</tr>
		</table>
	</fieldset>
</div>
