<% if @sb[:active_tab] == "diagnostics_roles_servers" %>
	<%= render(:partial=>"layouts/flash_msg") %>
	<% if @temp[:server_tree] %>
	<dl class="col2">
    <dd>
			<%= render :partial => "zone_tree" %>
		</dd>
		<dd>
			<%= render :partial => "selected" %>
		</dd>
	</dl>

	<% else %>
		<div class="alert alert-info">
	    <span class="pficon pficon-info"></span>
	    <strong>No Servers found.</strong>
	  </div>
	<% end %>
<% end %>
