<% if @sb[:active_tab] == "diagnostics_orphaned_data" %>

	<% if x_node.split('-').first == "root" %>
		<%= render :partial => "diagnostics_savedreports" %>
	<% else %>
    <%= render :partial => "layouts/flash_msg" %>
		<%= render :partial => "logs_selected" %>
	<% end %>
	<div style="padding-bottom:20px;"></div>
<% end %>
