<% if @test_email_button %>
	<div id="email_verify_button_on">
<% else %>
	<div id="email_verify_button_on" style="display:none">
<% end %>
    <%#= image_submit_tag("/images/formbuttons/test_email.png", :id=> "email_verify", :name=>"email_verify", :width=>"80", :height=>"35", :alt=>"Validate", :title=>"Send test email", :class=>"button") %>
    <%= link_to(image_tag('/images/toolbars/approve.png', :style=>"width: 20px;height: 20px", :class=>"rollover",
                    :alt=>"Send test email"),
                    {:action=>"settings_update", :button=>"email_verify", :id=>id},
                    "data-miq_sparkle_on" => true,
                    "data-miq_sparkle_off" => true,
                    :remote=>true,
                    :title=>"Send test email")
    %>
  </div>

<% if @test_email_button %>
	<div id="email_verify_button_off" style="display:none">
<% else %>
	<div id="email_verify_button_off">
<% end %>

	<%= image_tag("/images/toolbars/approve.png", :style=>"width: 20px;height: 20px", :class=>"dimmed", :title=> "SMTP E-mail Server settings and Test E-mail Address are needed to send test email") %>

	</div>
