#email_verify_button_on{:style => "#{hide_button(@test_email_button, "on")}"}
  = link_to(_("Verify"),
    {:action => "settings_update",
    :button  => "email_verify",
    :id      => id},
    :class                 => "btn btn-primary btn-xs",
    :alt                   => _("Send test email"),
    "data-miq_sparkle_on"  => true,
    "data-miq_sparkle_off" => true,
    :remote                => true,
    :title                 => _("Send test email"))
#email_verify_button_off{:style => "#{hide_button(@test_email_button, "off")}"}
  = button_tag(_("Verify"), :class => "btn btn-primary btn-xs btn-disabled",
    :title => _("SMTP E-mail Server settings and Test E-mail Address are needed to send test email"))
