<% if @test_email_button %>
  <div id="email_verify_button_on">
<% else %>
  <div id="email_verify_button_on" style="display:none">
<% end %>

      <%= link_to(button_tag('Approval',
                             :class => "btn btn-primary",
                             :alt   => "Send test email"),
                  {:action => "settings_update", 
                   :button => "email_verify", 
                   :id     => id},
                  "data-miq_sparkle_on"  => true,
                  "data-miq_sparkle_off" => true,
                  :remote                => true,
                  :title                 => "Send test email")
      %>
  </div>

<% if @test_email_button %>
  <div id="email_verify_button_off" style="display:none">
<% else %>
  <div id="email_verify_button_off">
<% end %>

  <%= button_tag("Approve", 
                 :class  => "btn btn-primary btn-disabled", 
                 :title  => "SMTP E-mail Server settings and Test E-mail Address are needed to send test email") 
  %>
</div>
