#ldap_user_div
  - unless @edit[:ldap_groups_by_user].empty?
    %table.style1
      %tr
        %td.key= _("LDAP Groups for User")
        %td
          - url = url_for(:action => 'rbac_group_field_changed', :id => "#{@edit[:group_id] || "new"}")
          - url_json = {:url => url}.to_json
          - options = options_for_select(["<Choose>"] + @edit[:ldap_groups_by_user].uniq.sort, @edit[:selected_ldap_groups_by_user])
          - attributes = {"data-miq_sparkle_on" => true, "data-miq_sparkle_off" => true, "data-miq_observe" => url_json}
          = select_tag('ldap_groups_user', options, attributes)
