#ldap_server_entries_div
  = render :partial => "layouts/flash_msg",
           :locals  => {:div_num => "_entries"}
  %fieldset
    %p.legend=_("LDAP Servers")
    %table.style3
      %thead
        %tr
          %th.icon
          %th=_("Host Name")
          %th=_("Mode")
          %th=_("Port")
          %th
      %tbody
        - edit_flag = !(entry.nil?) && entry == "new"
        = render :partial => "ldap_server_entry",
                 :locals  => {:entry     => "new",
                              :entry_idx => nil,
                              :edit      => edit_flag,
                              :domain_id => domain_id}
        - @edit[:new][:ldap_servers].each_with_index do |e, i|
          - edit_flag = !(entry.nil?) && entry != "new" && entry.to_i == i
          = render :partial => "ldap_server_entry",
                   :locals  => {:entry     => e,
                                :entry_idx => i,
                                :edit      => edit_flag,
                                :domain_id => domain_id}
      %tfoot
        %tr
          %td{:colspan => "40"}
