- select_options = []

- if edit[:new][:filter] == "host"
  - select_options = edit[:hosts]
- elsif edit[:new][:filter] == "cluster"
  - select_options = Array(edit[:clusters]).sort { |a, b| a.first.downcase <=> b.first.downcase }
- elsif edit[:new][:filter] == "ems"
  - select_options = edit[:emss]
- elsif edit[:new][:filter] == "vm"
  - select_options = edit[:vms]
- elsif edit[:new][:filter] == "global"
  - select_options = edit[:filters][:vm_global]
- elsif edit[:new][:filter] == "my"
  - select_options = edit[:filters][:vm_my]

- unless select_options.empty?
  = select_tag('filter_value', options_for_select(["<Choose>"] + select_options, edit[:new][:filter_value]), "data-miq_observe" => {:url => url}.to_json)
