development:
  azure:
    client_id: xxxxx
    client_secret: yyyyy
    tenant_id: zzzzz

  amazon:
    client_id: xxxxx
    client_secret: yyyyy
    tenant_id: zzzzz

  vmware_cloud:
    host: xxxxx
    userid: yyyyy
    password: zzzzz

test:
  azure:
    client_id: xxxxx
    client_secret: yyyyy
    tenant_id: zzzzz

  amazon:
    client_id: xxxxx
    client_secret: yyyyy
    tenant_id: zzzzz

  vmware_cloud:
    host: xxxxx
    userid: yyyyy
    password: zzzzz
