<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
      ng-submit="vm.onSubmit()"
      ng-class="{'show-errors': vm.showErrors()}">
    <content-header short="true">
        <div>
            <span class="content-header__title user-form__title" ng-if="!vm.editing">Create User</span>
            <span class="content-header__title user-form__title" ng-if="vm.editing">Edit User: {{vm.userToEdit.first_name}} {{vm.userToEdit.last_name}}</span>
            <span class="user-form__title-error" ng-if="vm.hasErrors()">Please complete required fields in red</span>
        </div>
    </content-header>
    <div class="row">
        <div class="user-form__body">

            <div class="user-field">
                <div class="user-field__aside">
                    <label class="user-field__label">First Name</label>
                </div>
                <div class="user-field__body" ng-class="{'has-error': vm.hasErrors('firstname')}">
                    <input id="user-first-name" ng-model="vm.userToEdit.first_name" name="firstname" type="text"
                           class="user-field__input" placeholder="Enter a first name." required />
                    <div class="user-field__feedback" ng-messages="vm.form.firstname.$error">
                        <div ng-message="required">A first name is required.</div>
                    </div>
                </div>
            </div>

            <div class="user-field">
                <div class="user-field__aside">
                    <label class="user-field__label">Last Name</label>
                </div>
                <div class="user-field__body" ng-class="{'has-error': vm.hasErrors('lastname')}">
                    <input id="user-last-name" ng-model="vm.userToEdit.last_name" name="lastname" type="text"
                           class="user-field__input" placeholder="Enter a last name." required />
                    <div class="user-field__feedback" ng-messages="vm.form.lastname.$error">
                        <div ng-message="required">A last name is required.</div>
                    </div>
                </div>
            </div>

            <div class="user-field">
                <div class="user-field__aside">
                    <label class="user-field__label">Email</label>
                </div>
                <div class="user-field__body" ng-class="{'has-error': vm.hasErrors('Email')}">
                    <input id="user-email" ng-model="vm.userToEdit.email" name="Email" type="email"
                           class="user-field__input" placeholder="Enter an email address." required />
                    <div class="user-field__feedback" ng-messages="vm.form.email.$error">
                        <div ng-message="required">An email is required.</div>
                    </div>
                </div>
            </div>

            <div class="user-field">
                <div class="user-field__aside">
                    <label class="user-field__label">Phone</label>
                </div>
                <div class="user-field__body" ng-class="{'has-error': vm.hasErrors('phone')}">
                    <input id="user-phone" ng-model="vm.userToEdit.phone" name="phone" type="phone"
                           class="user-field__input" placeholder="Enter a phone number."  />
                    <div class="user-field__feedback" ng-messages="vm.form.phone.$error">
                    </div>
                </div>
            </div>

            <div class="user-field">
                <div class="user-field__aside">
                    <label class="user-field__label">Password</label>
                </div>
                <div class="user-field__body" ng-class="{'has-error': vm.hasErrors('password')}">
                    <input id="user-password"
                           name="password"
                           type="password"
                           class="user-field__input"
                           ng-model="firstpass"
                           ng-minlength="8"
                           placeholder="Must be 8 or more characters."
                           ng-required="!vm.editing"
                          />
                    <div class="user-field__feedback" ng-messages="vm.form.password.$error">
                        <div ng-message="required">A password is required.</div>
                        <div ng-message="minlength">Password must be at least 8 Characters.</div>
                    </div>
                </div>
            </div>

            <div class="user-field">
                <div class="user-field__aside">
                    <label class="user-field__label">Confirm Password</label>
                </div>
                <div class="user-field__body" ng-class="{'has-error': vm.hasErrors('confirmpassword')}">
                    <input id="user-confirmpassword"
                           ng-model="vm.userToEdit.password"
                           name="confirmpassword"
                           type="password"
                           class="user-field__input"
                           placeholder=""
                           ng-required="firstpass"/>
                    <div class="user-field__feedback" ng-messages="vm.form.confirmpassword.$error">
                        <div ng-message="required">Password confirmation is required.</div>
                        <div ng-message="compareTo">Passwords must match.</div>
                    </div>
                </div>
            </div>

            <div class="user-field">
                <div class="user-field__aside">
                    <label class="user-field__label">Role</label>
                </div>
                <div class="user-field__body" ng-class="{'has-error': vm.hasErrors('role')}">
                    <select id="user-role"
                            name="role"
                            ng-model="vm.userToEdit.role"
                            class="user-field__input"
                            required>
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                    <div class="user-field__feedback" ng-messages="vm.form.role.$error">
                        <div ng-message="required">An user status is required.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn-rounded user-form__submit" ng-disabled="vm.hasErrors()">Save
                </button>
                <button type="button" class="btn btn-link user-form__cancel"
                        confirmation
                        confirmation-if="vm.form.$dirty"
                        confirmation-message="You have unsaved changes. Abandon them and leave the page?"
                        confirmation-ok-style="danger"
                        confirmation-ok-text="Yes, Leave"
                        confirmation-on-ok="vm.backToList()"
                        confirmation-show-cancel="false">Cancel
                </button>
            </div>
        </div>
    </div>
</form>
