<content-header short="true">
  <div class="admin-project-questions-list__body">
    <span class="content-header__title">Project Questions</span>
  </div>
  <div class="admin-project-questions-list__aside">
    <a ui-sref="admin.project-questions.create" class="btn-rounded">Add A Question</a>
  </div>
</content-header>
<div class="row">
  <div class="col-sm-12">
    <table class="project-questions-table">
      <thead>
      <tr>
        <th class="project-questions-table__heading project-questions-table__heading--order">Order</th>
        <th class="project-questions-table__heading project-questions-table__heading--question">Question</th>
        <th class="project-questions-table__heading project-questions-table__heading--required">Required</th>
        <th class="project-questions-table__heading project-questions-table__heading--actions">Action</th>
      </tr>
      </thead>
      <tbody ui-sortable="vm.sortableOptions" ng-model="vm.projectQuestions">
      <tr class="project-questions-table__row" ng-repeat="row in vm.projectQuestions">
        <td class="project-questions-table__cell project-questions-table__cell--order">{{ $index+1 }}</td>
        <td class="project-questions-table__cell project-questions-table__cell--question">{{ ::row.question }}</td>
        <td class="project-questions-table__cell project-questions-table__cell--required">
          <img ng-if="::row.required" class="project-questions-table__required" src="/images/ic_required.png"
               alt="Required" title="Question is required"/>
        </td>
        <td class="project-questions-table__cell project-questions-table__cell--actions">
          <a ui-sref="admin.project-questions.edit({projectQuestionId: row.id})" class="project-questions-table__action project-questions-table__action--edit" title="Edit">
            <img src="/images/ic_edit.png" alt="Edit"/>
          </a>
          <img
            class="project-questions-table__action project-questions-table__action--sort project-questions-table__handle"
            src="/images/ic_sort.png" title="Sort" alt="Sort"/>
          <a href="#" class="project-questions-table__action project-questions-table__action--delete" title="Delete"
             confirmation
             confirmation-position="left-center"
             confirmation-message="Are you sure you want to delete this question and it's content?"
             confirmation-ok-style="danger"
             confirmation-ok-text="Yes, Delete It"
             confirmation-on-ok="vm.deleteQuestion($index)"
             confirmation-show-cancel="false">
            <img src="/images/ic_deletequestion.png" alt="Delete"/>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
