%div{"ng-controller" => "containers.deployProviderDetailsCreateVMsController"}
  %div{"miq-wizard-substep" => "", "next-enabled" => "newVMsComplete", "on-show" => "onShow",
  "review-template" => "{{reviewTemplate}}", "step-id" => "details-new-vms", "step-priority" => "1",
  "step-title" => _("New VM Settings"), "wz-disabled" => "{{data.provisionOn != 'newVms'}}"}
    .miq-form-heading
      = _("Master configuration")
    %form.form-horizontal
      %div{"pf-form-group" => "", "pf-input-class" => "miq-touchspin-input-class", "pf-label" => _("Number of Masters"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        .input-group.bootstrap-touchspin
          %span.input-group-btn
            %button.btn.btn-default.bootstrap-touchspin-down{"ng-click" => "masterCountDecrement()", :type => "button"} -
          %input#create-masters-count.bootstrap-touchspin.form-control{"ng-model" => "data.createMastersCount", :readonly => "readonly", :type => "text"}
            %span.input-group-btn
              %button.btn.btn-default.bootstrap-touchspin-up{"ng-click" => "masterCountIncrement()", :type => "button"} +
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Base Name"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input#create-master-base-name{"ng-change" => "validateForm()", "ng-model" => "data.createMastersBaseName", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Template"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %select#masterCreationTemplate{"ng-change" => "applyMasterTemplate()",
        "ng-model" => "data.masterCreationTemplateId",
        "ng-options" => "template.id as template.name for template in data.nodeCreationTemplates", "pf-select" => ""}
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Memory"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{"ng-blur" => "updateNodesLikeMaster()", "ng-change" => "validateForm()",
        "ng-enter" => "updateNodesLikeMaster()", "ng-model" => "data.createMastersMemory", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("CPU"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{"ng-blur" => "updateNodesLikeMaster()", "ng-change" => "validateForm()",
        "ng-enter" => "updateNodesLikeMaster()", "ng-model" => "data.createMastersCpu", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Disk Size"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{"ng-blur" => "updateNodesLikeMaster()", "ng-change" => "validateForm()",
        "ng-enter" => "updateNodesLikeMaster()", "ng-model" => "data.createMastersDisk", :required => "", :type => "text"}/
    .miq-form-heading
      = _("Node configuration")
    %form.form-horizontal
      %div{"pf-form-group" => "", "pf-input-class" => "miq-touchspin-input-class", "pf-label" => _("Number of Nodes"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        .input-group.bootstrap-touchspin
          %span.input-group-btn
            %button.btn.btn-default.bootstrap-touchspin-down{"ng-click" => "nodeCountDecrement()", :type => "button"} -
          %input#create-nodes-count.bootstrap-touchspin.form-control{"ng-model" => "data.createNodesCount", :readonly => "readonly", :type => "text"}
            %span.input-group-btn
              %button.btn.btn-default.bootstrap-touchspin-up{"ng-click" => "nodeCountIncrement()", :type => "button"} +
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Base Name"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{"ng-change" => "validateForm()", "ng-model" => "data.createNodesBaseName", :required => "", :type => "text"}/
      .miq-input-checkbox-form
        .checkbox-inline
          %label.miq-checkbox-input-label.miq-checkbox-input-label-lg
            %input{"ng-change" => "updateNodesLikeMaster()", "ng-model" => "data.createNodesLikeMasters", :type => "checkbox"}
              = _("Same as Master configuration")
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Template"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %select#nodeCreationTemplate{"ng-change" => "applyNodeTemplate()",
        "ng-disabled" => "data.createNodesLikeMasters", "ng-model" => "data.nodeCreationTemplateId",
        "ng-options" => "template.id as template.name for template in data.nodeCreationTemplates", "pf-select" => ""}
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Memory"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{"ng-change" => "validateForm()", "ng-disabled" => "data.createNodesLikeMasters",
        "ng-model" => "data.createNodesMemory", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("CPU"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{"ng-change" => "validateForm()", "ng-disabled" => "data.createNodesLikeMasters",
        "ng-model" => "data.createNodesCpu", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Disk Size"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{"ng-change" => "validateForm()", "ng-disabled" => "data.createNodesLikeMasters",
        "ng-model" => "data.createNodesDisk", :required => "", :type => "text"}/
