%div{"ng-controller" => "containers.deployProviderReviewController"}
  %form.form
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Authentication Type:")
      %span.wizard-miq-review-item-value {{getAuthenticationType()}}
