%div{"ng-controller" => "containers.deployProviderReviewController"}
  %form.form
    .wizard-miq-review-item{"ng-if" => "data.provisionOn == 'noProvider'"}
      %span.wizard-miq-review-item-label
        = _("Key:")
      %span.wizard-miq-review-item-value ******
    .wizard-miq-review-item{"ng-if" => "data.provisionOn == 'noProvider'"}
      %span.wizard-miq-review-item-label
        = _("Username:")
      %span.wizard-miq-review-item-value {{data.deploymentUsername}}
    %div{"ng-include" => "'/static/deploy_containers_provider/deploy-provider-master-nodes-review-tables.html.haml'"}
