%div{"ng-controller" => "containers.deployProviderReviewSummaryController"}
  %div{"miq-wizard-substep" => "", "next-enabled" => "!inventoryChanged", "next-tooltip" => "navTooltip",
  "ok-to-nav-away" => "!inventoryChanged", "on-show" => "onShow", "prev-enabled" => "!inventoryChanged",
  "prev-tooltip" => "navTooltip", "step-id" => "review-summary", "step-priority" => "0", "step-title" => _("Summary"), "wz-disabled" => "false"}
    %div{"miq-wizard-review-page" => "", :shown => "pageShown", "wizard-data" => "data"}
    .wizard-miq-review-steps
      %ul.list-group
        %li.list-group-item
          %a.miq-form-collapse{"ng-class" => "{'collapsed': !showAdvancedSettings}", "ng-click" => "toggleAdvancedSettings()"}
            = _("Advanced Settings")
          .wizard-miq-review-content{"ng-class" => "{'collapse': !showAdvancedSettings}"}
            %form
              %textarea.miq-review-edit-text{"ng-change" => "onInventoryTextChange()",
              "ng-model" => "data.editedInventoryText", :readonly => "", :rows => "10", :type => "text"}
    .miq-wizard-page-wait-dialog{"miq-modal" => "", "modal-size" => "small", "show-close" => "false", "show-header" => "false", :visible => "showWaitDialog"}
      .miq-wait-dialog-content
        .spinner.spinner-lg
        .miq-wait-dialog-text
          = _("Loading summary...")
