<%= render :partial => "layouts/flash_msg" %>
<div id="disks_grid" style="width:100%;height:auto;cursor:hand;"></div>
  <%= render :partial => 'layouts/dhtmlxgrid',
             :locals  => {:options => {:grid_id          => "disks_grid",
                                       :grid_name        => "disks_grid",
                                       :grid_xml         => @grid_xml,
                                       :autosize         => true,
                                       :no_save_state    => true,
                                       :skin             => "style3",
                                       :alt_row_no_hover => true}}
  %>
