- url = url_for(:action =>'evm_relationship_field_changed')
#tab_div
  = render :partial => "layouts/flash_msg"
  %fieldset
    %p.legend Servers
    %table.style1
      %tr
        %td.key Select Server:
        %td.wide
          = select_tag("server_id",
            options_for_select([["<Not a Server>",""]] + @servers.sort, @edit[:new][:server]),
            "data-miq_sparkle_on" => true, "data-miq_sparkle_off" => true,
            "data-miq_observe" => {:url => url}.to_json)
        %td{:width => '100'}
  - unless @edit[:explorer]
    = render(:partial=>'/layouts/edit_form_buttons',
      :locals=>{:action_url => 'evm_relationship_update', :ajax_buttons => true})
