#vandt_tree_div{:style => "width:100%;height:100%;"}
  #vandt_treebox{:style => "width:100%;height:100%;color:#000; overflow: hidden"}
  = render(:partial => "layouts/dynatree",
    :locals => {:tree_id => "vandt_treebox",
      :tree_name => "vandt_tree",
      :id_prefix => "vt_",
      :json_tree => @temp[:vandt_tree],
      :onclick => "cfmeOnClick_SelectTreeNode",
      :select_node=>"#{x_node(:vandt_tree)}",
      :base_id => "root",
      :no_base_exp => true,
      :exp_tree => false,
      :highlighting => true,
      :tree_state => true,
      :no_getitem_alerts=>true,
      :autoload => true})
