#vm_tree_div
  = render :partial => "layouts/flash_msg"
  %input#masterToggle{:type => "checkbox", :name => "masterToggle", :onclick => "cfmeCheckAll(this, 'genealogy_tree');"}
  (Check All)
  %p

  #genealogy_treebox{:style => "width:100%"}
  = render(:partial => "layouts/dynatree",
    :locals  => {:tree_id => "genealogy_treebox",
    :tree_name => @temp[:tree_name],
    :json_tree => @temp[:vm_tree],
    :icon_size => @settings[:views][:treesize].to_i,
    :click_url => "/vm/vmtree_selected/",
    :onmousein => "cfmeOnMouseIn_HostNet",
    :onmouseout => "cfmeOnMouseOut_HostNet",
    :onclick => "cfmeOnClick_GenealogyTree",
    :exp_tree => true,
    :checkboxes => true,
    :oncheck => "cfmeGetChecked",
    :check_url => "/vm/set_checked_items/",
    :open_close_all_on_dbl_click => true})
