<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
      ng-submit="vm.onSubmit()"
      ng-class="{'show-errors': vm.showErrors()}">
  <content-header short="true">
    <div>
      <span class="content-header__title wizard-question-form__title">{{ ::vm.heading }}</span>
      <span class="wizard-question-form__title-error" ng-if="vm.hasErrors()">Please complete required fields in
        red</span>
    </div>
  </content-header>
  <div class="wizard-question-form__body">

    <div class="wizard-question-field">
      <div class="wizard-question-field__aside">
        <label class="wizard-question-field__label">Question</label>
      </div>

      <div class="wizard-question-field__body" ng-class="{'has-error': vm.hasErrors('question')}">
        <input id="wizard-question-name" ng-model="vm.question.text" name="question" type="text"
               class="wizard-question-field__input" placeholder="" required/>

        <div class="wizard-question-field__feedback" ng-messages="vm.form.question.$error">
          <div ng-message="required">A question is required.</div>
        </div>
      </div>
    </div>

    <wizard-question-options options="vm.question.wizard_answers"></wizard-question-options>

  </div>
  <div class="row wizard-question-form__buttons">
    <div class="col-sm-7">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn-rounded wizard-question-form__submit" ng-disabled="vm.hasErrors()">
          Save
        </button>
        <button type="button" class="btn btn-link wizard-question-form__cancel"
                confirmation
                confirmation-if="vm.form.$dirty"
                confirmation-message="You have unsaved changes. Abandon them and leave the page?"
                confirmation-ok-style="danger"
                confirmation-ok-text="Yes, Leave"
                confirmation-on-ok="vm.backToList()"
                confirmation-show-cancel="false">Cancel
        </button>
      </div>
    </div>
  </div>
</form>
