#authkeyModalForm{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %h4.modal-header SSH Information For An Appliance In the Region
  %form.form-horizontal{:name => "authkeyModalForm", "ng-submit" => "$ctrl.submitForm()"}
    .modal-body
      .form-group
        %label.col-sm-2.control-label Host
        .col-sm-10
          %input.form-control{:name => "ssh_host", "ng-model" => "$ctrl.ssh_params.ssh_host", :type => "text"}
            %p.help-block{"ng-show" => "authkeyModalForm.ssh_host.$invalid && !authkeyModalForm.ssh_host.$pristine"} SSH host is required.
      .form-group
        %label.col-sm-2.control-label User
        .col-sm-10
          %input.form-control{:name => "ssh_user", "ng-model" => "$ctrl.ssh_params.ssh_user", :type => "text"}
            %p.help-block{"ng-show" => "authkeyModalForm.ssh_user.$invalid && !authkeyModalForm.ssh_user.$pristine"} SSH user is required.
      .form-group
        %label.col-sm-2.control-label Password
        .col-sm-10
          %input.form-control{:name => "ssh_password", "ng-model" => "$ctrl.ssh_params.ssh_password", :type => "password"}
            %p.help-block{"ng-show" => "authkeyModalForm.ssh_password.$invalid && !authkeyModalForm.ssh_password.$pristine"} SSH password is required.
    .modal-footer
      %button.btn.btn-primary{"ng-disabled" => "authkeyModalForm.$invalid", :type => "submit"} Submit
      %button.btn.btn-default{"ng-click" => "$ctrl.cancelForm()"} Cancel
