%div{"ng-controller" => "containers.deployProviderConfigSettingsController"}
  %div{"miq-wizard-substep" => "", "on-show" => "onShow", "review-template" => "{{reviewTemplate}}", "step-id" => "config-storage", "step-priority" => "3", "step-title" => "Settings", "wz-disabled" => "false"}
    .miq-form-heading Select items to configure
    %form{:role => "form"}
      .checkbox
        %label
          %input{"ng-model" => "data.configureRouter", :type => "checkbox"}
            Router
      .checkbox
        %label
          %input{"ng-model" => "data.configureRegistry", :type => "checkbox"}
            Registry
      .miq-radio-form
        .checkbox
          %label
            %input{"ng-disabled" => "!data.configureRegistry", "ng-model" => "data.useDefaultRegistry", :type => "checkbox"}
              Use default registry
        .checkbox
          %label
            %input{"ng-disabled" => "!data.configureRegistry", "ng-model" => "data.useS3Registry", :type => "checkbox"}
              Use S3
        .checkbox
          %label
            %input{"ng-disabled" => "!data.configureRegistry", "ng-model" => "data.useSwift", :type => "checkbox"}
              Use Swift
      .checkbox
        %label
          %input{"ng-model" => "data.configureMetrics", :type => "checkbox"}
            Metrics
