<div ng-controller="containers.deployProviderReviewController">
  <form class="form">
    <div ng-if="data.provisionOn == 'noProvider'" class="wizard-miq-review-item">
      <span class="wizard-miq-review-item-label">Key:</span>
      <span class="wizard-miq-review-item-value">******</span>
    </div>
    <div ng-if="data.provisionOn == 'noProvider'" class="wizard-miq-review-item">
      <span class="wizard-miq-review-item-label">Username:</span>
      <span class="wizard-miq-review-item-value">{{data.deploymentUsername}}</span>
    </div>
    <div ng-include="'/static/deploy-provider-master-nodes-review-tables.html'"></div>
  </form>
</div>
