<div class="wizard-miq-review-item">
  <div class="wizard-miq-review-item-field">{{data.masters.length}} {{data.masters.length === 1 ? 'Master' : 'Masters'}}</div>
  <div class="wizard-miq-review-item-field">{{data.nodes.length}} {{data.nodes.length === 1 ? 'Node' : 'Nodes'}}</div>
  <div class="wizard-miq-review-item-field">{{data.storageNodes.length}} Storage</div>
  <div class="wizard-miq-review-item-field">{{data.loadBalancerNodes.length}} {{data.loadBalancerNodes.length === 1 ? 'Load Balancer' : 'Load Balancers'}}</div>
  <div class="wizard-miq-review-item-field">{{data.dnsNodes.length}} DNS</div>
  <div class="wizard-miq-review-item-field">{{data.etcdNodes.length}} Etcd</div>
  <div class="wizard-miq-review-item-field">{{data.infrastructureNodes.length}} {{data.infrastructureNodes.length === 1 ? 'Infrastructure' : 'Infrastructure'}}</div>
</div>
