<div ng-controller="containers.deployProviderDetailsGeneralController">
  <div miq-wizard-substep step-title="General"  next-enabled="deploymentDetailsGeneralComplete"
       step-id="details-general" step-priority="0" on-show="onShow" review-template="{{reviewTemplate}}" show-review-details="true">
    <form class="form-horizontal">
      <div pf-form-group pf-label="Name" required pf-label-class="miq-input-label-class" pf-input-class="miq-input-class">
        <input id="new-provider-name" name="name" ng-model="data.providerName" type="text" ng-change="updateProviderName()" required/>
      </div>
      <div pf-form-group pf-label="Type" required pf-label-class="miq-input-label-class" pf-input-class="miq-radio-input-class">
        <label class="radio">
          <input type="radio" ng-model="data.providerType" value="openshiftOrigin">OpenShift Origin</input>
        </label>
        <label class="radio">
          <input type="radio" ng-model="data.providerType" value="openshiftEnterprise">OpenShift Enterprise</input>
        </label>
        <label class="radio">
          <input type="radio" ng-model="data.providerType" value="atomicPlatform">Atomic Platform</input>
        </label>
      </div>
    </form>
    <div class="miq-form-heading">Provider to provision on</div>
    <form class="form-horizontal">
      <div class="miq-form-no-label">
        <label class="radio">
          <input type="radio" ng-model="data.provisionOn" value="existingVms">Use existing VMs from an existing provider</input>
        </label>
        <div class="form-group  sub-group">
          <select pf-select ng-model="data.existingProviderId" id="exitingProviderType" ng-disabled="data.provisionOn != 'existingVms'">
            <option ng-repeat="provider in existingProviders" value="{{provider.id}}">{{provider.name}}</option>
          </select>
        </div>
        <label class="radio">
          <input type="radio" ng-model="data.provisionOn" value="newVms">Create new VMs on provider</input>
        </label>
        <div class="form-group sub-group">
          <select pf-select ng-model="data.newVmProviderId" id="newVmProviders" ng-disabled="data.provisionOn != 'newVms'">
            <option ng-repeat="provider in newVmProviders" value="{{provider.id}}">{{provider.name}}</option>
          </select>
          <a ng-class="{disabled: data.provisionOn != 'newVms'}">+ Create new provider</a>
        </div>
        <label class="radio">
          <input type="radio" ng-model="data.provisionOn" value="noProvider">Specify a list of machines to deploy on (No existing provider)</input>
        </label>
      </div>
    </form>
  </div>
</div>
