<div ng-controller="containers.deployProviderDetailsNoProviderController">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="miq-input-label-class miq-input-label-class-lg">Private SSH Key</label>
      <div class="miq-input-class">
        <input id="deploy-key" class="form-control" ng-model="data.deploymentKey" type="password" ng-change="validateForm()" required/>
      </div>
      <a class="miq-clear-input-button" ng-click="clearDeploymentKey()">
        <span class="fa fa-close" aria-hidden="true"></span>
      </a>
      <button type="button" ng-click="browseKeyFile()">Browse</button>
      <div style="display: none;">
        <input id="browse-key-input" type="file">
      </div>
    </div>
    <div pf-form-group pf-label="Username" required pf-label-class="miq-input-label-class miq-input-label-class-lg" pf-input-class="miq-input-class">
      <input id="deploy-username" ng-model="data.deploymentUsername" type="text" ng-change="validateForm()" required/>
    </div>
  </form>
  <div class="miq-page-text">Add tags individually for each VM or select multiple rows and edit tags as a group.</div>
  <div class="nodes-table-container add-nodes-table">
    <div pf-toolbar config="toolbarConfig">
      <div class="include-actions">
        <button class="btn btn-default primary-action btn-left" type="button" title="Add a VM/Instance"
                ng-click="addVM()">
          <span class="fa fa-plus"></span>
          Add VM
        </button>
        <span class="dropdown primary-action" dropdown auto-close="outsideClick" is-open="editRolesStatus.open">
          <button class="btn btn-default dropdown-toggle" dropdown-toggle type="button"
                  ng-disabled="disableMasterNodeActions" ng-click="onToolbarMenuShow()">
            Edit Roles
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu" role="menu">
            <div class="dropdown-container">
              <a class="select-all-roles btn-link" ng-click="toolbarMenuSelectAll()">Select All</a>
              <label class="checkbox">
                <input type="checkbox" role="presentation" ng-model="toolbarMenu.master">Master
              </label>
              <label class="checkbox">
                <input type="checkbox" role="presentation" ng-model="toolbarMenu.node">Node
              </label>
              <label class="checkbox">
                <input type="checkbox" role="presentation" ng-model="toolbarMenu.storage">Storage
              </label>
              <label class="checkbox">
                <input type="checkbox" role="presentation" ng-model="toolbarMenu.loadBalancer">Load Balancer
              </label>
              <label class="checkbox">
                <input type="checkbox" role="presentation" ng-model="toolbarMenu.dns">DNS
              </label>
              <label class="checkbox">
                <input type="checkbox" role="presentation" ng-model="toolbarMenu.etcd">Etcd
              </label>
              <label class="checkbox">
                <input type="checkbox" role="presentation" ng-model="toolbarMenu.infrastructure">Infrastructure
              </label>
              <button class="btn btn-primary btn-sm" type="button" ng-click="updateSelectedRoles()">Submit</button>
            </div>
          </div>
        </span>
      </div>
    </div>
    <div class="table-responsive">
      <table class="datatable table table-striped table-bordered dataTable no-footer" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" role="grid">
        <thead>
        <tr role="row">
          <th tabindex="0" rowspan="1" colspan="1" class="checkbox-col"><input type="checkbox" ng-checked="nodeData.allNodesSelected"
              ng-click="toggleAllNodesSelected()" ng-disabled="!nodeData.allNodes || nodeData.allNodes.length < 1"></th>
          <th tabindex="0" rowspan="1" colspan="1">VM/Instance Name</th>
          <th tabindex="0" rowspan="1" colspan="1">Roles</th>
        </thead>
        <tbody>
        <tr ng-repeat="node in nodeData.allNodes track by $index" ng-class="{odd: ($index / 2 == 0), even: ($index / 2 != 0)}">
          <td class="checkbox-col"><input type="checkbox" ng-checked="node.selected" ng-click="toggleNodeSelected(node)"></td>
          <td>{{node.vmName}}</td>
          <td>
            <div class="role-column">
              <span class="label label-primary" ng-if="node.master">
                Master
                <a>
                  <span class="fa fa-close" aria-hidden="true" ng-click="removeMaster(node)"></span>
                </a>
              </span>
              <span class="label label-primary" ng-if="node.node">
                Node
                <a>
                  <span class="fa fa-close" aria-hidden="true" ng-click="removeNode(node)"></span>
                </a>
              </span>
              <span class="label label-primary" ng-if="node.storage">
                Storage
                <a>
                  <span class="fa fa-close" aria-hidden="true" ng-click="removeStorage(node)"></span>
                </a>
              </span>
              <span class="label label-primary" ng-if="node.loadBalancer">
                Load Balancer
                <a>
                  <span class="fa fa-close" aria-hidden="true" ng-click="removeLoadBalancer(node)"></span>
                </a>
              </span>
              <span class="label label-primary" ng-if="node.dns">
                DNS
                <a>
                  <span class="fa fa-close" aria-hidden="true" ng-click="removeDns(node)"></span>
                </a>
              </span>
              <span class="label label-primary" ng-if="node.etcd">
                Etcd
                <a>
                  <span class="fa fa-close" aria-hidden="true" ng-click="removeEtcd(node)"></span>
                </a>
              </span>
              <span class="label label-primary" ng-if="node.infrastructure">
                Infrastructure
                <a>
                  <span class="fa fa-close" aria-hidden="true" ng-click="removeInfrastructure(node)"></span>
                </a>
              </span>
              <a class="label label-default" type="button" tabindex="0"
                 popover-placement="right" popover-trigger="focus"
                 popover-template="'/static/deploy-provider-add-roles-popover.html'"
                 ng-if="!node.master || !node.node || !node.storage || !node.loadBalancer || !node.dns || !node.etcd || !node.infrastructure">
                <span class="fa fa-plus" aria-hidden="true" ></span>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-footer">
      <div class="badge" tooltip="{{mastersWarning}}" tooltip-placement="right">
        <span class="pficon pficon-warning-triangle-o" ng-if="mastersWarning && mastersWarning != ''"></span>
        <span ng-if="mastersCount == 1">{{mastersCount}} Master</span>
        <span ng-if="mastersCount != 1">{{mastersCount}} Masters</span>
      </div>
      <div class="badge" tooltip="{{nodesWarning}}" tooltip-placement="right">
        <span class="pficon pficon-warning-triangle-o" ng-if="nodesWarning && nodesWarning != ''"></span>
        <span ng-if="nodesCount == 1">{{nodesCount}} Node</span>
        <span ng-if="nodesCount != 1">{{nodesCount}} Nodes</span>
      </div>
      <div class="badge" tooltip="{{storageNodeWarning}}" tooltip-placement="right" ng-if="storageCount > 0 || data.serverConfigType == 'integratedNFS'">
        <span class="pficon pficon-warning-triangle-o" ng-if="storageNodeWarning && storageNodeWarning != ''"></span>
        <span>{{storageCount}} Storage</span>
      </div>
      <div class="badge" tooltip="{{dnsNodeWarning}}" tooltip-placement="right" ng-if="dnsCount > 0">
        <span class="pficon pficon-warning-triangle-o" ng-if="dnsNodeWarning && dnsNodeWarning != ''"></span>
        <span>{{dnsCount}} DNS</span>
      </div>
      <div class="badge" tooltip="{{loadBalancerWarning}}" tooltip-placement="right" ng-if="loadBalancerCount > 0">
        <span class="pficon pficon-warning-triangle-o" ng-if="loadBalancerWarning && loadBalancerWarning != ''"></span>
        <span ng-if="loadBalancerCount == 1">{{loadBalancerCount}} Load Balancer</span>
        <span ng-if="loadBalancerCount != 1">{{loadBalancerCount}} Load Balancers</span>
      </div>
      <div class="badge" tooltip="{{etcdNodeWarning}}" tooltip-placement="right" ng-if="etcdCount > 0">
        <span class="pficon pficon-warning-triangle-o" ng-if="etcdNodeWarning && etcdNodeWarning != ''"></span>
        <span>{{etcdCount}} Etcd</span>
      </div>
      <div class="badge" tooltip="{{infrastructureWarning}}" tooltip-placement="right" ng-if="infrastructureCount > 0">
        <span class="pficon pficon-warning-triangle-o" ng-if="infrastructureWarning && infrastructureWarning != ''"></span>
        <span>{{infrastructureCount}} Infrastructure</span>
      </div>
    </div>
    <div miq-modal class="wizard-miq miq-add-host-dialog" modal-title="Add Host" visible="showAddDialog" on-cancel="cancelAddDialog()">
      <div class="miq-add-dialog-content">
        <div class="miq-page-text">Enter a name or IP address</div>
        <form class="form-horizontal">
          <div pf-form-group pf-label="Private Host Name" required pf-label-class="miq-input-label-class miq-input-label-class-lg" pf-input-class="miq-input-class">
            <input id="add-private-name" ng-model="newHost.vmName" type="text" ng-change="updateNewVMName()" required/>
          </div>
          <div pf-form-group pf-label="Public Host Name" required pf-label-class="miq-input-label-class miq-input-label-class-lg" pf-input-class="miq-input-class">
            <input id="add-public-name" ng-model="newHost.publicName" type="text" ng-change="updateNewVMPublicName()"/>
          </div>
        </form>
        <div class="miq-page-text">Specify role(s) for this host</div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <a class="btn-link" ng-click="newVmSelectAll()">Select All</a>
            </div>
            <div class="col-sm-6">
              <label class="checkbox-inline">
                <input type="checkbox" role="presentation" ng-model="newHost.loadBalancer">Load Balancer
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label class="checkbox-inline">
                <input type="checkbox" role="presentation" ng-model="newHost.master">Master
              </label>
            </div>
            <div class="col-sm-6">
              <label class="checkbox-inline">
                <input type="checkbox" role="presentation" ng-model="newHost.dns">DNS
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label class="checkbox-inline">
                <input type="checkbox" role="presentation" ng-model="newHost.node">Node
              </label>
            </div>
            <div class="col-sm-6">
              <label class="checkbox-inline">
                <input type="checkbox" role="presentation" ng-model="newHost.etcd">Etcd
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label class="checkbox-inline">
                <input type="checkbox" role="presentation" ng-model="newHost.storage">Storage
              </label>
            </div>
            <div class="col-sm-6">
              <label class="checkbox-inline">
                <input type="checkbox" role="presentation" ng-model="newHost.infrastructure">Infrastructure
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancelAddDialog()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="saveAddDialog()" ng-class="{disabled: !newHost.vmName || newHost.vmName.length === 0} ">Add</button>
      </div>
    </div>
  </div>
</div>
