%div{"ng-controller" => "containers.deployProviderMasterNodesController"}
  %div{"miq-wizard-substep" => "", "next-enabled" => "deploymentDetailsMasterNodesComplete", "on-show" => "onShow", "review-template" => "{{reviewTemplate}}", "step-id" => "details-nodes", "step-priority" => "1", "step-title" => "Masters & Nodes"}
    %div{"ng-if" => "data.provisionOn == 'existingVms'", "ng-include" => "'/static/deploy-provider-details-existing-vms.html'"}
    %div{"ng-if" => "data.provisionOn == 'newVms'", "ng-include" => "'/static/deploy-provider-details-create-vms.html'"}
    %div{"ng-if" => "data.provisionOn == 'noProvider'", "ng-include" => "'/static/deploy-provider-details-no-provider.html'"}
