%div{"ng-controller" => "containers.deployProviderReviewController"}
  %form.form-horizontal
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label Configure:
      %span.wizard-miq-review-item-value {{getConfigServerType()}}
  .wizard-miq-review-item{"ng-if" => "data.configureRouter"}
    .wizard-miq-review-item-label Configure Router
  .wizard-miq-review-item{"ng-if" => "data.serverConfigType != 'none' && data.configureRegistry"}
    .wizard-miq-review-item-label Configure Registry
  .wizard-miq-review-item.sub-item{"ng-if" => "data.serverConfigType == 'standardNFS' && data.configureRegistry"}
    %span.wizard-miq-review-item-label Server:
    %span.wizard-miq-review-item-value {{data.nfsRegistryServer}}
  .wizard-miq-review-item.sub-item{"ng-if" => "data.serverConfigType == 'standardNFS' && data.configureRegistry"}
    %span.wizard-miq-review-item-label Path:
    %span.wizard-miq-review-item-value {{data.nfsRegistryPath}}
  .wizard-miq-review-item{"ng-if" => "data.serverConfigType != 'none' && data.configureMetrics"}
    .wizard-miq-review-item-label Configure Metrics
  .wizard-miq-review-item.sub-item{"ng-if" => "data.serverConfigType == 'standardNFS' && data.configureMetrics"}
    %span.wizard-miq-review-item-label Server:
    %span.wizard-miq-review-item-value {{data.nfsMetricsServer}}
  .wizard-miq-review-item.sub-item{"ng-if" => "data.serverConfigType == 'standardNFS' && data.configureMetrics"}
    %span.wizard-miq-review-item-label Server:
    %span.wizard-miq-review-item-value {{data.nfsMetricsPath}}