<div class="miq-modal modal fade" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" ng-class="{'modal-lg': modalSize === 'large', 'modal-sm': modalSize === 'small'}">
    <div class="modal-content">
      <div class="modal-header" ng-if="settings.showHeader">
        <button type="button" class="close" ng-if="settings.showClose" ng-click="onCancel()" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>
      <div class="modal-body" ng-transclude></div>
    </div>
  </div>
</div>'
