<div class="miq-modal modal fade" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" ng-class="{'modal-lg': modalSize === 'large', 'modal-sm': modalSize === 'small'}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="onCancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>
      <div class="modal-body" ng-transclude></div>
    </div>
  </div>
</div>'
