.wizard-miq-body
  .wizard-miq-content
    %ul.wizard-miq-steps-indicator{"ng-class" => '[ "wizard-miq-steps-" + getEnabledSteps().length, { invisible: !wizardReady } ]', "ng-if" => "!hideIndicators"}
      %li{"ng-class" => "{default: !step.completed && !step.selected, current: step.selected && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.completed}", "ng-repeat" => "step in getEnabledSteps()"}
        %a{"ng-click" => "stepClick(step)"} {{step.title}}
    .wizard-miq-step-content{"ng-if" => "!wizardReady || !stepsLoaded", "ng-style" => "contentStyle"}
      .blank-slate-pf
        .spinner.spinner-lg
        %h1
          = _("Initialization in progress...")
    .wizard-miq-steps{"ng-transclude" => ""}
  .wizard-miq-btn-container.modal-footer
    %button.btn.btn-default{"ng-disabled" => "wizardDone", "miq-wiz-cancel" => ""}{{cancelTitle}}
    .tooltip-wrapper{:tooltip => "{{prevTooltip}}", "tooltip-placement" => "left"}
      %button.btn.btn-default{"ng-disabled" => "!wizardReady || !stepsLoaded || wizardDone || !prevEnabled || firstStep", :callback => "backCallback", "miq-wiz-previous" => ""}
        {{backTitle}}
    .tooltip-wrapper{:tooltip => "{{nextTooltip}}", "tooltip-placement" => "left"}
      %button.btn.btn-primary{"ng-disabled" => "!wizardReady || !stepsLoaded || !nextEnabled", :callback => "nextCallback", "miq-wiz-next" => ""}
        {{nextTitle}}
