<section ng-show="selected" ng-class="{current: selected, done: completed}" class="step">
  <div class="wizard-miq-step-substeps" ng-if="substeps === true">
    <div class="wizard-miq-step">
      <div class="wizard-miq-substep-nav" ng-style="substepsListStyle">
        <ul class="list-group">
          <li class="list-group-item" ng-class="{active: step.selected}" ng-repeat="step in getEnabledSteps()">
            <a ng-click="goTo(step)">
              {{getStepDisplayNumber(step)}}  {{step.title}}
            </a>
          </li>
        </ul>
      </div>
      <div class="wizard-miq-step-content" ng-transclude  ng-style="contentStyle"></div>
    </div>
  </div>
  <div ng-if="substeps !== true" class="wizard-miq-step">
    <div class="wizard-miq-step-content" ng-transclude  ng-style="contentStyle"></div>
  </div>
</section>
