<div class="wizard-miq-body">
  <div class="wizard-miq-content">
    <ul class="wizard-miq-steps-indicator wizard-miq-steps-{{getEnabledSteps().length}}" ng-if="!hideIndicators">
      <li ng-class="{default: !step.completed && !step.selected, current: step.selected && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.completed}" ng-repeat="step in getEnabledSteps()">
        <a ng-click="goTo(step, true)">{{step.title}}</a>
      </li>
    </ul>
    <div class="wizard-miq-steps" ng-transclude></div>
  </div>
  <div class="wizard-miq-btn-container modal-footer">
    <button miq-wiz-cancel class="btn btn-default" ng-disabled="wizardDone">{{cancelTitle}}</button>
    <button miq-wiz-previous class="btn btn-default" ng-disabled="wizardDone" callback="backCallback">{{backTitle}}</button>
    <button miq-wiz-next class="btn btn-primary" ng-disabled="!nextEnabled" callback="nextCallback">{{nextTitle}}</button>
  </div>
</div>
