/ [form:repository]
- url = url_for(:action=>'form_field_changed', :id=>"#{@repo.id || "new"}")
#form_div
  = render :partial => "layouts/flash_msg"
  %fieldset
    %p.legend Basic Information
    %table.admintable
      %tbody
        %tr
          %td.key Name
          %td.wide
            = text_field_tag("repo_name", @edit[:new][:name], :maxlength => MAX_NAME_LEN,
              "data-miq_focus" => true, "data-miq_observe" => {:interval=>'.5', :url=>url}.to_json)
        %tr
          %td.key Path
          %td.wide
            = text_field_tag("repo_path", @edit[:new][:path], :maxlength => 100,
              "data-miq_observe" => {:interval=>'.5', :url=>url}.to_json)
