<!--[form:repository]-->
<% url = url_for(:action=>'form_field_changed', :id=>"#{@repo.id || "new"}") %>
<div id="form_div">

	<%= render :partial => "layouts/flash_msg" %>


				<fieldset>
					<p class="legend">Basic Information</p>
					<table class="admintable">
						<tbody>
							<tr>
								<td class="key">Name</td>
								<td class="wide">
                  <%= text_field_tag("repo_name",
                                      @edit[:new][:name],
                                      :maxlength=>MAX_NAME_LEN,
																			"data-miq_focus"=>true,
                                      "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
							</tr>
							<tr>
								<td class="key">Path</td>
								<td class="wide">
                  <%= text_field_tag("repo_path",
                                      @edit[:new][:path],
                                      :maxlength=>100,
                                      "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
							</tr>
						</tbody>
					</table>
				</fieldset>

</div>