<%= render :partial => 'form' %>
<table width="100%">
	<tr>
		<td align="right">
			<div id="buttons_on">
				<%= image_tag('/images/formbuttons/add.png', :border=>"0", :class=>"button",
									:alt=>"Add this Repository", :title=>"Add this Repository",
									:onclick=>"miqAjaxButton('#{url_for(:action=>"create",
																											:id=>"new",
																											:button=>"add")}');")
					%>
					<%= image_tag('/images/formbuttons/cancel.png', :border=>"0", :class=>"button",
												:alt=>"Cancel", :title=>"Cancel",
												:onclick=>"miqAjaxButton('#{url_for(:action=>"create",
																														:id=>"new",
																														:button=>"cancel")}');")
					%>
			</div>
		</td>
	</tr>
</table>
