<div id='main_div'>
	<% if !["miq_templates","vms"].include?(@display) && @showtype != "compare" %>
		<%= render :partial => @showtype %>
	<% elsif @showtype == "compare" %>
			<%= render(:partial=>"layouts/#{@showtype}") %>
	<% elsif @showtype == "download_pdf" %>
		<%= render(:partial => "layouts/show_pdf") %>
	<% elsif ["miq_templates","vms"].include?(@display) %>
		<%= render :partial => "layouts/gtl", :locals=>{:action_url=>"show/#{@repo.id}"} %>
	<% end %>
</div>