- if items
  %table.style3
    %thead
      %tr
        %th{:colspan => 6, :align => "left"}
          =title
    - labels.each do |label|
      %td.label= label
    - items.each do |item|
      %tr{:class => cycle('row0', 'row1', :name => title)}
        - item.each do |value|
          %td= value
