#form_div
  #basic_info_div
    = render :partial => "layouts/flash_msg"
    - url = url_for(:action => "ot_form_field_changed", :id => @edit[:rec_id])
    .form-horizontal
      .form-group
        %label.col-md-2.control-label
          = _('Service Dialog Name')
        .col-md-8
          = text_field_tag("dialog_name",
                           "",
                           :autocomplete => 'off',
                           :diabled => false,
                           :class => "form-control",
                           :maxlength => 255,
                           "data-miq_observe" => {:interval => '.5',
                                                  :url      => url}.to_json)
