#tl_sample_div
  - if @tl_field != NOTHING_STRING
    %hr
    %h3
      = _('Sample Timeline')
    %style{:type => "text/css"}
      .default_timeline { width: 400px; height: 250px; }
    #chart_placeholder{:style => 'position: relative'}
    = render(:partial => "layouts/timeline",
      :locals         => {:tl_json       => @tl_json,
                          :position_time => @position_time})
