#chart_sample_div
  - unless @edit[:new][:graph_type].blank?
    %fieldset
      - if Charting.backend == :jqplot
        = jqplot_remote(url_for(:controller => 'report', :action => 'sample_chart',
                        :width  => 400,
                        :height => 250,
                        :rand   => "#{rand(999_999_999)}"),
                        :id => 'my_chart', :bgcolor => '#f2f2f2', :width => 400, :height => 250)
      - elsif Charting.backend == :c3
        = chart_remote('report', :action => 'sample_chart', :id => "my_chart", :zoomed => false)
