:javascript
  var postMessageData = {
    import_file_upload_id: '#{j(@import_file_upload_id)}',
    message: '#{@message.to_json.html_safe}'
  };

  $(function() {
    parent.postMessage(postMessageData, '*');
  });
