:javascript
  var postMessageData = {
    import_file_upload_id: '#{j(@import_file_upload_id)}',
    message: '#{j(@message.to_json)}'
  };

  $(function() {
    parent.postMessage(postMessageData, '*');
  });
