%br
= _("This user is limited to the selected folders and their children.")
%br
%br
#vat_treebox.treeview-pf-hover.treeview-pf-select{:style => "color:#000"}
  = render(:partial => "layouts/tree",
           :locals  => {:tree_id           => "vat_treebox",
                        :tree_name         => "vat_tree",
                        :bs_tree           => @vat_tree,
                        :oncheck           => @edit.nil? ? nil : "miqOnCheckUserFilters",
                        :check_url         => "/ops/rbac_group_field_changed/#{@group.id || "new"}___",
                        :highlight_changes => true,
                        :checkboxes        => true})
