---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeRegions&Signature=gVwmAk08QkZQ55KCN8ed5IfhkSv2rQO4%2BKMSWrsiMEg%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A34Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeRegionsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>d4246229-43b5-4e4c-91ea-db00fdabdd5a</requestId>\n
        \   <regionInfo>\n        <item>\n            <regionName>eu-west-1</regionName>\n
        \           <regionEndpoint>ec2.eu-west-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>sa-east-1</regionName>\n
        \           <regionEndpoint>ec2.sa-east-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-east-1</regionName>\n
        \           <regionEndpoint>ec2.us-east-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-northeast-1</regionName>\n
        \           <regionEndpoint>ec2.ap-northeast-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-west-2</regionName>\n
        \           <regionEndpoint>ec2.us-west-2.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>us-west-1</regionName>\n
        \           <regionEndpoint>ec2.us-west-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-southeast-1</regionName>\n
        \           <regionEndpoint>ec2.ap-southeast-1.amazonaws.com</regionEndpoint>\n
        \       </item>\n        <item>\n            <regionName>ap-southeast-2</regionName>\n
        \           <regionEndpoint>ec2.ap-southeast-2.amazonaws.com</regionEndpoint>\n
        \       </item>\n    </regionInfo>\n</DescribeRegionsResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:34 GMT
- request:
    method: post
    uri: https://ec2.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=EUIS74MdNgzlyo1qwLavkgfjIS05WfTp1TYH%2FrZTJz0%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A34Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>fd62037e-0356-4b82-a7e3-e1979728fca0</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:35 GMT
[...]
- request:
    method: post
    uri: https://ec2.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=EKd2%2BhdkCpSuu0TVkycEs6rc2HaBHgSaFQyT5BxDBJs%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A36Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>919e4bdc-c1a1-417b-ba95-d99d86018f8e</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:37 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=oLAHtDR5IPQr%2Bc%2FJCIAJNC%2FJXYgEb64CXX3wE9EFFNM%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A40Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>fdd02e16-d599-43f2-83db-0783bd7ac844</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-1842f370</reservationId>\n
        \           <ownerId>123456789012</ownerId>\n            <groupSet/>\n            <instancesSet>\n
        \               <item>\n                    <instanceId>i-8b5739f2</instanceId>\n
        \                   <imageId>ami-5769193e</imageId>\n                    <instanceState>\n
        \                       <code>16</code>\n                        <name>running</name>\n
        \                   </instanceState>\n                    <privateDnsName>ip-10-0-0-254.ec2.internal</privateDnsName>\n
        \                   <dnsName/>\n                    <reason/>\n                    <keyName>EmsRefreshSpec-KeyPair</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>t1.micro</instanceType>\n                    <launchTime>2013-09-23T20:11:52.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1e</availabilityZone>\n
        \                       <groupName/>\n                        <tenancy>default</tenancy>\n
        \                   </placement>\n                    <kernelId>aki-1eceaf77</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <subnetId>subnet-f849ff96</subnetId>\n
        \                   <vpcId>vpc-ff49ff91</vpcId>\n                    <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                   <sourceDestCheck>true</sourceDestCheck>\n                    <groupSet>\n
        \                       <item>\n                            <groupId>sg-80f755ef</groupId>\n
        \                           <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>\n
        \                       </item>\n                    </groupSet>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-67606d2d</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2013-09-23T20:11:57.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken>aPCzL1379967112359</clientToken>\n                    <tagSet>\n
        \                       <item>\n                            <key>Name</key>\n
        \                           <value>EmsRefreshSpec-PoweredOn-VPC</value>\n
        \                       </item>\n                    </tagSet>\n                    <hypervisor>xen</hypervisor>\n
        \                   <networkInterfaceSet>\n                        <item>\n
        \                           <networkInterfaceId>eni-ad25f7cc</networkInterfaceId>\n
        \                           <subnetId>subnet-f849ff96</subnetId>\n                            <vpcId>vpc-ff49ff91</vpcId>\n
        \                           <description>Primary network interface</description>\n
        \                           <ownerId>123456789012</ownerId>\n                            <status>in-use</status>\n
        \                           <macAddress>22:d8:dc:13:0c:ca</macAddress>\n                            <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                           <sourceDestCheck>true</sourceDestCheck>\n                            <groupSet>\n
        \                               <item>\n                                    <groupId>sg-80f755ef</groupId>\n
        \                                   <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>\n
        \                               </item>\n                            </groupSet>\n
        \                           <attachment>\n                                <attachmentId>eni-attach-05fac66f</attachmentId>\n
        \                               <deviceIndex>0</deviceIndex>\n                                <status>attached</status>\n
        \                               <attachTime>2013-09-23T20:11:52.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </attachment>\n                            <privateIpAddressesSet>\n
        \                               <item>\n                                    <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                                   <primary>true</primary>\n                                </item>\n
        \                           </privateIpAddressesSet>\n                        </item>\n
        \                   </networkInterfaceSet>\n                    <ebsOptimized>false</ebsOptimized>\n
        \               </item>\n            </instancesSet>\n        </item>\n        <item>\n
        \           <reservationId>r-1405097e</reservationId>\n            <ownerId>123456789012</ownerId>\n
        \           <groupSet>\n                <item>\n                    <groupId>sg-347f9b5d</groupId>\n
        \                   <groupName>default</groupName>\n                </item>\n
        \           </groupSet>\n            <instancesSet>\n                <item>\n
        \                   <instanceId>i-fe4eb794</instanceId>\n                    <imageId>ami-67bc0b0e</imageId>\n
        \                   <instanceState>\n                        <code>80</code>\n
        \                       <name>stopped</name>\n                    </instanceState>\n
        \                   <privateDnsName/>\n                    <dnsName/>\n                    <reason>User
        initiated (2013-08-27 20:24:50 GMT)</reason>\n                    <keyName>miq</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>m1.small</instanceType>\n                    <launchTime>2013-08-27T20:22:57.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1b</availabilityZone>\n
        \                       <groupName/>\n                        <tenancy>default</tenancy>\n
        \                   </placement>\n                    <kernelId>aki-825ea7eb</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <groupSet>\n                        <item>\n
        \                           <groupId>sg-347f9b5d</groupId>\n                            <groupName>default</groupName>\n
        \                       </item>\n                    </groupSet>\n                    <stateReason>\n
        \                       <code>Client.UserInitiatedShutdown</code>\n                        <message>Client.UserInitiatedShutdown:
        User initiated shutdown</message>\n                    </stateReason>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        [...]
- request:
    method: post
    uri: https://ec2.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=G%2FnHM2hgwllI7b6QB%2FOsUjIN9VvJJbtmhY4GvMbp9po%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A40Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>cefa9597-fa5d-47ad-b722-f4a241c9f51a</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:41 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=6spIef%2BV4w7G77ZwvNlDds%2FSEs8Bdeaoj%2BZDLSvM5i4%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A43Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>582e4932-8f4c-4cb4-acc6-b00443952c06</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:44 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=z2etsQ6L0BFzFXgBhOePrA3eoLIh04c%2Fp87AAPE1Kso%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A46Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>36b982ca-ce2f-44e6-ac6a-a4ebe56b9c93</requestId>\n
        \   <reservationSet/>\n</DescribeInstancesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:48 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeImages&ExecutableBy.1=self&Signature=yRFweAd6qZWuums26VRG%2BmPc1onL5BdWUgzLgnWvoho%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-24T17%3A57%3A53Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeImagesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>ab9badcd-8068-4beb-a94a-7e645bc7bdde</requestId>\n
        \   <imagesSet/>\n</DescribeImagesResponse>"
  recorded_at: Tue, 24 Sep 2013 17:57:55 GMT
recorded_with: VCR 2.4.0
