<div ng-if="::vm.users.length > 0" class="user-catalog" ng-cloak>
  <div ng-switch="vm.viewMode" class="user-catalog__body" collapse="vm.collapsed">
    <table ng-switch-when="list" st-table="vm.users" class="user-catalog__table table-hover">
      <thead>
      <tr>
        <th class="user-catalog__heading catalog-category__heading--padding"></th>
        <th st-sort="id"
            class="user-catalog__heading user-catalog__heading--description user-catalog__heading--sortable"
            st-sort-default="true">
          User ID
        </th>
        <th st-sort="first_name"
            class="user-catalog__heading user-catalog__heading--description user-catalog__heading--sortable">
          First Name
        </th>
        <th st-sort="last_name"
            class="user-catalog__heading user-catalog__heading--description user-catalog__heading--sortable">
          Last Name
        </th>
        <th st-sort="email"
            class="user-catalog__heading user-catalog__heading--description user-catalog__heading--sortable">
          Email
        </th>
        <th st-sort="phone"
            class="user-catalog__heading user-catalog__heading--description user-catalog__heading--sortable">
          Phone
        </th>
        <th st-sort="updated_at"
            class="user-catalog__heading user-catalog__heading--description user-catalog__heading--sortable">
          Last Updated
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in vm.users" ng-click="vm.goTo(row.id)">
        <td class="catalog-category__cell catalog-category__cell--padding"></td>
        <td class="user-catalog__cell ">
          <span>{{ ::row.id }}</span>
        </td>
        <td class="user-catalog__cell user-catalog__cell--description">
          <div ng-if="!row.img" class="user-catalog__image"
               ng-class="'user-catalog__image--light-blue'">
          </div>
          <div ng-if="row.img">
            <img class="user-catalog__image" ng-src="{{row.img}}" alt="Project Image"/>
          </div>
          <span>{{ ::row.first_name }}</span>
          </td>
        <td class="user-catalog__cell">
          <span>{{ ::row.last_name }}</span>
        </td>
        <td class="user-catalog__cell">
          <span>{{ ::row.email }}</span>
        </td>
        <td class="user-catalog__cell">
          <span>{{ ::row.phone }}</span>
        </td>
        <td class="user-catalog__cell">
          <span>{{ ::row.updated_at |  date:'short'}}</span>
        </td>
      </tr>
      </tbody>
    </table>
    <div ng-switch-when="grid" class="user-catalog__grid">
      <div class="user-catalog__box" ng-repeat="row in vm.users" >
        <div class="user-catalog__card " ng-class="'user-catalog__card--' + row.approval + row.status" ng-click="vm.goTo(row.id)">
          <div ng-if="!row.img" class="user-catalog__image user-catalog__image--large"
               ng-class="'user-catalog__image--light-blue'">
          </div>
          <div ng-if="row.img" >
            <img class="user-catalog__image--large" ng-src="{{row.img}}" alt="Project Image"/>
          </div>
          <!--<div class="user-catalog__card-details">-->
            <div class="user-catalog__card-name">{{ ::row.first_name }} {{ ::row.last_name}}</div>
            <div class="user-catalog__card-description">{{ ::row.email }}</div>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
