%div{:id => "group_#{group.id}_div"}
  %fieldset
    %h3{:title => "#{group.description}"}
      = group.label
      - unless group.dialog_fields.empty?
        %table.style1
          %tbody
          - group.dialog_fields.each_with_index do |field, i|
            = render :partial => "shared/dialogs/dialog_field", 
                     :locals  => {:wf => wf, :field => field}
