<div id="group_<%=group.id%>_div" style="">
  <fieldset>
    <p class="legend" title="<%= group.description %>"><%= group.label %></p>
    <% group.dialog_fields.each_with_index do |field,i|  %>
      <% if i == 0 %>
        <table class="style1">
          <tbody>
      <% end %>
        <%= render :partial => "shared/dialogs/dialog_field", :locals => {:field => field} %>
      <% if i == group.ordered_dialog_resources.length-1 %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </fieldset>
</div>


