<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
      ng-submit="vm.onSubmit()"
      ng-class="{'show-errors': vm.showErrors()}">
  <content-header short="true">
    <div>
      <span class="content-header__title group-form__title" ng-bind="::vm.heading"></span>
      <span class="group-form__title-error" ng-if="vm.hasErrors()">Please complete required fields in red</span>
    </div>
  </content-header>

  <div class="row">
    <div class="group-form__body">
      <div class="group-field">
        <div class="group-field__aside">
          <label class="group-field__label">Name</label>
        </div>
        <div class="group-field__body" ng-class="{'has-error': vm.hasErrors('name')}">
          <input id="group-name" ng-model="vm.group.name" name="name" type="text"
                 class="group-field__input" placeholder="Enter a group name." required/>

          <div class="group-field__feedback" ng-messages="vm.form.name.$error">
            <div ng-message="required">A group name is required.</div>
          </div>
        </div>
      </div>

      <div class="group-field">
        <div class="group-field__aside">
          <label class="group-field__label">Description</label>
        </div>
        <div class="group-field__body" ng-class="{'has-error': vm.hasErrors('description')}">
          <textarea id="group-description" ng-model="vm.group.description" name="description"
                    class="group-field__input field__input--textarea" rows="3"
                    placeholder="Enter a group description." required></textarea>

          <div class="group-field__feedback" ng-messages="vm.form.description.$error">
            <div ng-message="required">An group description is required.</div>
          </div>
        </div>
      </div>

      <div class="group-field">
        <div class="group-field__aside">
          <label class="group-field__label">Add User</label>
        </div>
        <div class="group-field__body">
          <select id="group-role" name="staff" ng-model="vm.selectedStaff" class="group-field__input"
                  ng-options="staff as staff.full_name for staff in vm.staff track by staff.id"
                  ng-change="vm.addMember(vm.selectedStaff.id)">
          </select>
        </div>
      </div>

      <div class="group-field">
        <div class="group-field__aside">
          <label class="group-field__label">Members</label>
        </div>
        <div class="group-field__body">

          <div class="group-field__member" ng-repeat="staff in vm.members track by staff.id">
            {{ ::staff.full_name }}
            <a href="#" ng-click="vm.removeMember(staff.id)" class="group-field__member-remove" title="Remove Member">
              <img src="/images/ic_deletequestion.png" alt="Remove Member"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn-rounded group-form__submit" ng-disabled="vm.hasErrors()">Save
        </button>
        <button type="button" class="btn btn-link group-form__cancel"
                confirmation
                confirmation-if="vm.form.$dirty"
                confirmation-message="You have unsaved changes. Abandon them and leave the page?"
                confirmation-ok-style="danger"
                confirmation-ok-text="Yes, Leave"
                confirmation-on-ok="vm.backToList()"
                confirmation-show-cancel="false">Cancel
        </button>
      </div>
    </div>
  </div>
</form>
