<div class="tag-search" tabindex="-1" ng-click="vm.hostClick()">
  <div class="tag-search__tags" ng-class="{focused: vm.hasFocus}">
    <ul class="tag-search__list">
      <li class="tag-search__item" ng-repeat="tag in vm.tagList.tags">
        <tag-item text="tag" selected="tag === vm.tagList.selected" on-remove="vm.removeTag($index)"></tag-item>
      </li>
    </ul>
    <input type="text" spellcheck="false" class="tag-input" autocomplete="off" ng-model="vm.newTag"
           ng-change="vm.inputChange(vm.newTag)"
           ng-keydown="vm.inputKeydown($event)"
           ng-focus="vm.inputFocus($event)"
           ng-blur="vm.inputBlur($event)"
           ng-paste="vm.inputPaste($event)"
           bind-attrs="{placeholder: vm.options.placeholder}"
           ng-trim="false" ng-class="{'invalid-tag': vm.invalid}" ng-disabled="vm.disabled" tag-autosize/>
    <a ng-if="vm.tagList.tags.length > 0" href="#" title="Remove all tags" class="tag-search__clear"
       ng-click="vm.clearTags()">
      <span class="tag-search__clear-text">Clear</span>
    </a>
  </div>
  <div ng-transclude></div>
</div>
