<div ng-if="vm.suggestionList.visible">
  <div class="tag-autocomplete autocomplete" ng-class="::{'tag-autocomplete--search': 'search' === vm.mode}">
    <ul class="tag-autocomplete__list suggestion-list">
      <li class="tag-autocomplete__item suggestion-item" ng-repeat="item in vm.suggestionList.items track by item.id"
          ng-click="vm.addSuggestionByIndex($index)"
          ng-mouseenter="vm.suggestionList.select($index)">
        <tag-match tag="item" selected="item == vm.suggestionList.selected"></tag-match>
      </li>
    </ul>
  </div>
</div>
