<div>
  <div
     style="text-align: center; width: 200px; margin: 0 auto !important"
     ng-if="options.length > 4"
  >
    <select
      ng-model="$parent.model"
      ng-options="option.text for option in options"
    ></select>
  </div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div
      style="width: 200px; margin: 0 auto"
      ng-if="options.length <= 4"
      ng-repeat="option in options"
      >
    <label
      style="font-size: 32px !important; line-height: 20px !important; vertical-align: bottom !important; padding: 10px;"
    >
        <input
          type="radio"
          ng-model="$parent.$parent.model"
          ng-value="option"
        />
      {{option.text}}
    </label>
    </div>
  <input
    class="btn btn-primary btn-lg pull-right"
    type="submit"
    value="{{actionText}}"
    ng-click="action()"
    ng-hide="vm.autoSubmit || !vm.multiPage"
  />
    </div>
  </div>
  </div>
</div>
