- content_for :dhx_layout do
  -# Create the explorer dhtmlx layout/accordion JS objects
  = render(:partial => "layouts/dhtmlxlayout_explorer")

- if TreeBuilder.get_model_for_prefix(@nodetype) == "Container"
  -# Showing a specific Service
  #main_div.main_div
    = render :partial => "container_show", :locals => {:controller => "container"}
- else
  -# Showing a list of VMs
  #main_div.main_div
    = render :partial => 'layouts/x_gtl'
