#pxe_image_type_details_div
  -# if PXE Server is selected %>
  - if @pxe_image_type
    - if @edit
      = render :partial => "pxe_image_type_form"

    - else
      = render :partial => "shared/summary/textual",
        :locals  => {:title => _("Basic Information"), :items => textual_sysimg_type_basicinfo}
