#template_folders_div
  - if @folders
    = render(:partial => "layouts/flash_msg")
    %table.table.table-bordered.table-striped.table-hover
      %tbody
        %tr{:title => _("View Examples (read only)' Folder"),
          :onclick => "miqTreeActivateNode('customization_templates_tree', 'xx-xx-system');"}
          %td.narrow
            %i.pficon.pficon-folder-close
          %td Examples (read only)
        - @folders.each do |f|
          %tr{:title => _("View '%{name}' Folder") % {:name => f.name},
            :onclick => "miqTreeActivateNode('customization_templates_tree', 'xx-xx-#{to_cid(f.id)}');"}
            %td.narrow
              %i.pficon.pficon-folder-close
            %td
              = h(f.name)
