- if x_active_tree == :customization_templates_tree
  - if (x_node == "root" && !@in_a_form) || @view
    #template_list_div
      - if x_node == "root"
        = render :partial => "template_folders"
      - if @view
        = render :partial => 'layouts/x_gtl', :locals => {:action_url => "template_list"}
  - else
    = render :partial => "template_details"
  #null_div
