#script_div
  = text_area_tag("script_data", @edit[:new][:script], :style => "display:none;")
:javascript
  miqOneTrans = 0;
- # Create a MyCodeMirror editor for the text area
= render(:partial => "/layouts/my_code_mirror",
  :locals => {:text_area_id => "script_data",
    :mode => @edit[:new][:typ] == "CustomizationTemplateKickstart" ? "shell" : "xml",
    :line_numbers => true,
    :url => url_for(:action => 'template_form_field_changed',
      :id => "#{@ct.id || "new"}", :transOne => '1')})
