#template_folders_div{:style => "width: 100%; height: 100%; overflow: auto;"}
  - if @folders
    = render(:partial => "layouts/flash_msg")
    %table.table.table-bordered.table-striped.table-hover
      %tbody
        %tr{:title => _("View Examples (read only)' Folder"),
          :onclick => "miqDynatreeActivateNode('customization_templates_tree', 'xx-xx-system');"}
          %td.narrow
            %img{:src => '/images/icons/new/folder.png'}
          %td Examples (read only)
        - @folders.each do |f|
          %tr{:title => _("View '%s' Folder") % f.name,
            :onclick => "miqDynatreeActivateNode('customization_templates_tree', 'xx-xx-#{to_cid(f.id)}');"}
            %td.icon
              %img{:src => '/images/icons/new/folder.png'}
            %td
              = h(f.name)
