<div class="container-fluid container-cards-pf ss-dashboard">
  <div class="row row-cards-pf">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="card-pf card-pf-accented ss-dashboard__card-primary" ui-sref="services.list">
        <div class="card-pf-body">
          <span class="fa fa-file-o"></span>
          <div class="ss-dashboard__card-primary__count">
            <h2>{{ ::vm.servicesCount.total }}</h2>
            <h3>Total Services</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="card-pf card-pf-accented ss-dashboard__card-primary" ui-sref="requests.list">
        <div class="card-pf-body">
          <span class="fa fa-file-text-o"></span>
          <div class="ss-dashboard__card-primary__count">
            <h2>{{ ::vm.requestsCount.total }}</h2>
            <h3>Total Requests</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cards-pf">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="card-pf">
        <div class="row row-cards-pf">
            <div class="card-pf card-pf-aggregate-status card-divider">
              <div class="card-pf-body">
                <h2 class="card-pf-title">
                  Retiring Soon
                </h2>
                <p class="card-pf-aggregate-status-notifications">  
                  <span class="card-pf-aggregate-status-notification">
                    <span class="pficon pficon-warning-triangle-o"></span>
                  </span>
                  <span class="card-pf-aggregate-status-notification"><a ng-click="vm.navigateToServicesList('Soon')">{{ ::vm.servicesCount.soon }}</a></span>
                </p>
              </div>
            </div>
            <div class="card-pf card-pf-aggregate-status card-divider">
              <div class="card-pf-body">
                <h2 class="card-pf-title">
                  Current Services
                </h2>
                <p class="card-pf-aggregate-status-notifications">    
                  <span class="card-pf-aggregate-status-notification">
                    <span class="pficon fa fa-check"></span></span>
                    <span class="card-pf-aggregate-status-notification"><a ng-click="vm.navigateToServicesList('Current')">{{ ::vm.servicesCount.current }}</a>
                  </span>
                </p>
              </div>
            </div>
            <div class="card-pf card-pf-aggregate-status">
              <div class="card-pf-body">
                <h2 class="card-pf-title">
                  Retired Services
                </h2>
                <p class="card-pf-aggregate-status-notifications">    
                  <span class="card-pf-aggregate-status-notification">
                    <span class="pficon pficon-close"></span></span>
                    <span class="card-pf-aggregate-status-notification"><a ng-click="vm.navigateToServicesList('Retired')">{{ ::vm.servicesCount.retired }}</a>
                  </span>
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="card-pf">
        <div class="row row-cards-pf">
          <div class="card-pf card-pf-aggregate-status card-divider">
            <div class="card-pf-body">
              <h2 class="card-pf-title">
                Pending Requests
              </h2>
              <p class="card-pf-aggregate-status-notifications">
                <span class="card-pf-aggregate-status-notification">
                  <span class="pficon pficon-warning-triangle-o"></span>
                </span>
                <span class="card-pf-aggregate-status-notification"><a ng-click="vm.navigateToRequestsList('Pending')">{{ ::vm.requestsCount.pending }}</a></span>
              </p>
            </div>
          </div>
          <div class="card-pf card-pf-aggregate-status card-divider">
            <div class="card-pf-body">
              <h2 class="card-pf-title">
                Approved Requests
              </h2>
              <p class="card-pf-aggregate-status-notifications">  
                <span class="card-pf-aggregate-status-notification">
                  <span class="pficon fa fa-check"></span>
                </span>
                <span class="card-pf-aggregate-status-notification"><a ng-click="vm.navigateToRequestsList('Approved')">{{ ::vm.requestsCount.approved }}</a></span>
              </p>
            </div>
          </div>
          <div class="card-pf card-pf-aggregate-status">
            <div class="card-pf-body">
              <h2 class="card-pf-title">
                Denied Requests
              </h2>
              <p class="card-pf-aggregate-status-notifications">  
                <span class="card-pf-aggregate-status-notification">
                  <span class="pficon pficon pficon-close"></span>
                </span>
                <span class="card-pf-aggregate-status-notification"><a ng-click="vm.navigateToRequestsList('Denied')">{{ ::vm.requestsCount.denied }}</a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>