<table st-table="vm.project.project_answers" class="project-answers-table">
  <thead>
  <tr>
    <th class="project-answers-table__heading project-answers-table__heading--question">Question</th>
    <th class="project-answers-table__heading">Response</th>
    <th class="project-answers-table__heading project-answers-table__heading--when">Answer Date</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="answer in vm.answers track by answer.project_question.id">
    <td class="project-answers-table__cell project-answers-table__cell--question">
      {{ ::answer.project_question.question}}
      <span ng-if="answer.project_question.help_text">({{ ::answer.project_question.help_text}})</span>
    </td>
    <td class="project-answers-table__cell project-answers-table__cell--answer">
      <span ng-if="!answer.answer">N/A</span>
      {{ ::answer.answer}}
    </td>
    <td class="project-answers-table__cell project-answers-table__cell--when">
      <span ng-if="!answer.answer">N/A</span>
      {{answer.updated_at | date: 'short'}}
    </td>
  </tr>
  </tbody>
</table>
