<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
      ng-submit="vm.onSubmit()"
      ng-class="{'show-errors': vm.showErrors()}">
    <content-header short="true">
        <div>
            <span class="content-header__title content-page-form__title">{{ vm.heading }}</span>
            <span class="content-page-form__title-error" ng-if="vm.hasErrors()">Please complete required fields in red</span>
        </div>
    </content-header>
    <div class="row">
        <div class="content-page-form__body">
            <div class="content-page-field">
                <div class="content-page-field__aside">
                    <label class="content-page-field__label">Title</label>
                </div>
                <div class="content-page-field__body" ng-class="{'has-error': vm.hasErrors('title')}">
                    <textarea id="content-page-title" ng-model="vm.contentPageRecord.title" name="title"
                            class="content-page-field__input field__input--textarea" rows="1" required></textarea>
                    <div class="content-page-field__feedback" ng-messages="vm.form.title.$error">
                        <div ng-message="required">An page title is required.</div>
                    </div>
                </div>
            </div>
            <div class="content-page-field">
                <div class="content-page-field__aside">
                    <label class="content-page-field__label">Content</label>
                </div>
                <div class="content-page-field__body" ng-class="{'has-error': vm.hasErrors('body')}">
                    <textarea id="content-page-body" ng-model="vm.contentPageRecord.body" name="body"
                            class="content-page-field__input field__input--textarea field__input--monospaced" rows="10" required></textarea>
                    <div class="content-page-field__feedback" ng-messages="vm.form.body.$error">
                        <div ng-message="required">A page body is required.</div>
                    </div>
                </div>
            </div>
            <div class="content-page-field">
                <div class="content-page-field__aside">
                    <label class="content-page-field__label">Preview</label>
                </div>
                <div class="content-page-field__body">
                    <div class="content-page-field__body--markdown" marked="vm.contentPageRecord.body"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn-rounded content-page-form__submit" ng-disabled="vm.hasErrors()">Save
                </button>
                <button type="button" class="btn btn-link content-page-form__cancel"
                        confirmation
                        confirmation-if="vm.form.$dirty"
                        confirmation-message="You have unsaved changes. Abandon them and leave the page?"
                        confirmation-ok-style="danger"
                        confirmation-ok-text="Yes, Leave"
                        confirmation-on-ok="vm.backToList()"
                        confirmation-show-cancel="false">Cancel
                </button>
            </div>
        </div>
    </div>
</form>