#main_div
  - case @tabform
  - when 'ui_1'
    = render :partial => 'ui_1'
  - when 'ui_2'
    = render :partial => 'ui_2'
  - when 'ui_3'
    = render :partial => 'ui_3'
  - when 'ui_4'
    = render :partial => 'ui_4'

