- ng_show ||= true
- validate_url ||= 'log_depot_edit'
- prefix ||= 'log'

%div{"ng-controller" => "CredentialsController"}
  %div{"ng-show" => ng_show}
    .form-group
      %label.col-md-2.control-label{"for" => "service_account"}
        = _("Service Account JSON")
      .col-md-4
        %textarea.form-control{"id"       => "service_account",
                               "name"     => "service_account",
                               "ng-model" => "#{ng_model}.service_account",
                               "prefix"   => prefix}
    .form-group
      %label.col-md-2
      .col-md-4
        = render :partial => "layouts/angular/form_buttons_verify_angular",
                                     :locals  => {:ng_show           => ng_show,
                                                  :validate_url      => validate_url,
                                                  :id                => id,
                                                  :valtype           => prefix,
                                                  :basic_info_needed => defined?(basic_info_needed) ? basic_info_needed : nil}
