- ng_readonly ||= false
.form-group{'ng-show' => ng_show}
  %label.col-md-2.control-label
    = _('Depot Name')
  .col-md-8
    %input.form-control{:type         => "text",
                        'ng-required' => ng_reqd_depot_name,
                        :name         => "depot_name",
                        'ng-model'    => ng_model_depot_name,
                        'ng-readonly' => ng_readonly,
                        :checkchange  => true}

.form-group{'ng-show' => ng_show}
  %label.col-md-2.control-label
    URI
  .col-md-8
    .input-group
      %span.input-group-addon
        = uri_prefix_display
      %input.uri-input.form-control{:type         => "text",
                                    'ng-required' => ng_reqd_uri,
                                    :name         => "uri",
                                    'ng-model'    => ng_model_uri,
                                    'ng-readonly' => ng_readonly,
                                    :maxlength    => 100,
                                    :checkchange  => true}
    %input{:type => "hidden",
           :name => "uri_prefix",
           'ng-value' => ng_model_uri_prefix}
    = javascript_tag("$('.uri-input').focus()")
