- if !session[:host_items].nil?
  - verify_title_on ||= _("Validate the credentials by logging into the selected %{title}") % {:title => title_for_host}
  - verify_title_off ||= _("%{title} to validate against, Username and matching password fields are needed to perform verification of credentials") % {:title => title_for_host}
- else
  - verify_title_on = _("Validate the credentials by logging into the Server")
  - verify_title_off ||= _("Server information, Username and matching password fields are needed to perform verification of credentials")
- if controller.send(:restful?)
  - validate = "validateClicked($event, '#{valtype}', '#{url_for(:action => validate_url, :id => id, :type => valtype, :button => "validate")}', true)"
- else
  - validate = "validateClicked('#{url_for(:action => validate_url, :id => id, :type => valtype, :button => "validate")}')"

%button-group{:visible    => ng_show,
              :submit     => validate,
              :disabled   => basic_info_needed ? "!canValidateBasicInfo()" : "!canValidate()",
              :label      => _("Validate"),
              "title-on"  => verify_title_on,
              "title-off" => verify_title_off,
              "btn-class" => "btn-primary btn-xs"}
