- submit_title_on ||= _("Run a Database backup now")
- submit_title_off ||= _("Username and matching password fields are needed to run a database backup")

%button-group{:visible    => "true",
              :submit     => "submitButtonClicked('#{confirm}')",
              :disabled   => "!saveable(angularForm)",
              :label      => _("Submit"),
              "title-on"  => submit_title_on,
              "title-off" => submit_title_off,
              "btn-class" => "btn-primary"}

