- submit_title_on ||= _("Run a Database backup now")
- submit_title_off ||= _("Username and matching password fields are needed to run a database backup")
- confirm ||= ""
- ng_show ||= true

%div{"ng-show" => ng_show, "ng-controller" => "buttonGroupController"}
  = button_tag(_("Submit"),
                 :class     => "btn btn-primary btn-disabled",
                 :alt       => submit_title_off,
                 :title     => submit_title_off,
                 :style     => "cursor:not-allowed",
                 "ng-show"  => "!saveable(angularForm)",
                 "ng-click" => "disabledClick($event)")
  = button_tag(_("Submit"),
                 :class     => "btn btn-primary",
                 :alt       => submit_title_on,
                 :title     => submit_title_on,
                 "ng-show"  => "saveable(angularForm)",
                 "ng-click" => "submitButtonClicked('#{confirm}')")
