- if !session[:host_items].nil?
  - verify_title_on = "Validate the credentials by logging into the selected %s" % title_for_host
- else
  - verify_title_on = "Validate the credentials by logging into the Server"

%tr{'ng-show' => ng_show}
  %td
    = button_tag("Validate",
                   :class        => "btn btn-primary btn-xs",
                   :alt          => verify_title_on,
                   :title        => verify_title_on,
                   "ng-class"    => basic_info_needed ? "{'btn-disabled': !miqService.canValidateBasicInfo()}" : "{'btn-disabled': !miqService.canValidate(angularForm, valtype)}",
                   "ng-click"    => "miqService.validateClicked('#{url_for(:action => validate_url, :id => id, :type => valtype, :button => "validate")}')",
                   "ng-disabled" => basic_info_needed ? "!miqService.canValidateBasicInfo()" : "!miqService.canValidate(angularForm, valtype)")
