%div{"ng-app" => @angular_toolbar_name.to_s, "ng-controller" => "miqToolbarController as toolbarCtrl", "ng-init" => "toolbarCtrl.init()"}
  %miq-toolbar-menu{"toolbar-items" => "toolbarCtrl.toolbarItems"}
