.button-group
  %button-group{:visible    => "newRecord",
                :submit     => "addClicked($event, true)",
                'ng-disabled'   => "!buttonGroup.saveable(buttonGroup.angularForm)",
                :label      => _("Add"),
                "title-on"  => _("Add"),
                "title-off" => _("Add"),
                "btn-class" => "btn-primary"}
  %button-group{:visible    => "!newRecord",
                :submit     => "saveClicked($event, true)",
                'ng-disabled'   => "!buttonGroup.saveable(buttonGroup.angularForm)",
                :label      => _("Save"),
                "title-on"  => _("Save changes"),
                "title-off" => _("Save changes"),
                "btn-class" => "btn-primary"}
  %button-group{:visible    => "!newRecord",
                :submit     => "resetClicked()",
                'ng-disabled'  => "buttonGroup.angularForm.$pristine",
                :label      => _("Reset"),
                "title-on"  => _("Reset changes"),
                "btn-class" => "btn-default"}
  %button-group{:visible    => "true",
                :submit     => "cancelClicked($event)",
                :disabled   => "false",
                :label      => _("Cancel"),
                "title-on"  => _("Cancel"),
                "btn-class" => "btn-default"}
