input.ng-invalid-required, select.ng-invalid-required {
  border: 2px solid red
}

input.ng-invalid-miqrequired, select.ng-invalid-miqrequired {
  border: 3px solid red
}

input.ng-invalid-checkpath, select.ng-invalid-checkpath {
  border: 3px solid red
}
