input.ng-invalid-required, select.ng-invalid-required {
  border: 1px solid red
}

input.ng-invalid-miqrequired, select.ng-invalid-miqrequired {
  border: 1px solid red
}

input.ng-invalid-checkpath, select.ng-invalid-checkpath {
  border: 1px solid red
}

input.ng-invalid-verifypasswd, select.ng-invalid-verifypasswd {
  border: 1px solid red
}
