.jqplot-target {
  font-family: $base-font-family;
  font-size: $base-font-size;
}


.jqplot-data-label { /*pie and donut charts*/
  color: #fff;
}

.jqplot-point-label { /*line and bar charts */
}

table.jqplot-table-legend {
  border: 0 !important;
  color: #000;
}

div.jqplot-table-legend-swatch-outline {
  border: none;
}

.jqplot-highlighter-tooltip {
  background: #4c4c4c;
  border: 0px solid #1d1d1d;
  font-size: $base-font-size*.9;
  font-weight: normal;
  padding: 8px;
  color: #fff;
  z-index: 10;
}

.jqplot-highlighter-tooltip:before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-top: -15px;  /*adjust position, arrow has a height of 30px.*/ 
  margin-left: -8px;
  border: solid 15px transparent;
  border-width: 10px 10px 0;
  border-top-color: #434343;
  z-index: 1;
}