body {font: 13px/1.231 Arial,Helvetica,sans-serif;}

table { border-spacing:0px;border-left: 1px solid #d1d1d1;border-collapse:separate; color: #4d5258;}
table thead tr th {height: 19px;margin: 0;padding: 4px;padding-left:10px;border-right: 1px solid #d1d1d1;border-left: 0px !important;border-top: 1px solid #d1d1d1;border-bottom: 1px #d1d1d1 solid;font: normal 12px Arial,Helvetica,sans-serif !important;line-height: 19px;}
table thead tr th {background: #f5f5f5} 
table tbody tr.row1-nocursor {background: #f5f5f5}
table tbody tr td {border: 1px solid transparent;border-right: 1px solid #d1d1d1;border-bottom-color: #e7e7e7;padding: 2px 2px 2px 10px;margin: 0;vertical-align: middle;cursor: default;color: #4d5258;}
table tbody tr td.group { border-top: 1px solid #fff; background: #ececec; font: normal 12px Arial,Helvetica,sans-serif;}

table.style3 tbody tr td.miq_rpt_red_bg, table.adminlist tbody tr td.miq_rpt_red_bg, .miq_rpt_red_bg {background-color: #cc0000 !important; color: #fff}
table.style3 tbody tr td.miq_rpt_yellow_bg, table.adminlist tbody tr td.miq_rpt_yellow_bg, .miq_rpt_yellow_bg  {background-color: #ffe044 !important;color: #000}
table.style3 tbody tr td.miq_rpt_green_bg, table.adminlist tbody tr td.miq_rpt_green_bg, .miq_rpt_green_bg {background-color: #6b9130 !important; color: #fff}
table.style3 tbody tr td.miq_rpt_blue_bg, table.adminlist tbody tr td.miq_rpt_blue_bg, .miq_rpt_blue_bg {background-color: #0C7AD7 !important; color: #fff}
table.style3 tbody tr td.miq_rpt_purple_bg, table.adminlist tbody tr td.miq_rpt_purple_bg, .miq_rpt_purple_bg {background-color: purple !important; color: #fff}
table.style3 tbody tr td.miq_rpt_maroon_bg, table.adminlist tbody tr td.miq_rpt_maroon_bg, .miq_rpt_maroon_bg {background-color: maroon !important; color: #fff}
table.style3 tbody tr td.miq_rpt_gray_bg, table.adminlist tbody tr td.miq_rpt_gray_bg, .miq_rpt_gray_bg {background-color: gray !important; color: #fff}

.miq_rpt_red_text {color: red;font: normal Arial,Helvetica,sans-serif;}
.miq_rpt_yellow_text  {color:#cccc00; font: normal Arial,Helvetica,sans-serif;} /*dark yellow*/
.miq_rpt_green_text  {color: green;font: normal Arial,Helvetica,sans-serif;}
.miq_rpt_blue_text  {color: blue;font: normal Arial,Helvetica,sans-serif;}
.miq_rpt_purple_text  {color: purple;font: normal Arial,Helvetica,sans-serif;}
.miq_rpt_maroon_text  {color: maroon;font: normal Arial,Helvetica,sans-serif;}
.miq_rpt_gray_text  {color: gray;font: normal Arial,Helvetica,sans-serif;}
