input.ng-invalid-required, select.ng-invalid-required,
input.ng-invalid-miqrequired, select.ng-invalid-miqrequired,
input.ng-invalid-checkpath, select.ng-invalid-checkpath,
input.ng-invalid-verifypasswd, select.ng-invalid-verifypasswd,
input.ng-invalid-validatemultiple, select.ng-invalid-validatemultiple,
button.btn-red-border {
  border-color: #a94442;
}
