kubernetes-topology-graph {
    border-top: 1px solid #eee;
    position: fixed;
    height: 76%;
    width: 98%;
    padding: 10px;
}

.container_topology .legend {
    padding-top: 5px;
    font-family: sans-serif;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}
.container_topology .legend label {
    font-weight: 400;
    cursor: pointer;
    vertical-align: 10px;
}

.container_topology #selected {
    float: right;
    display: block;
    margin-top: 15px;
}

kubernetes-topology-icon {
    padding: 4px 11px 4px 2px !important;
    opacity: 0.4;
}

kubernetes-topology-icon.active {
   opacity: 1;
}

.kube-topology line.ContainerServiceContainerGroup, .kube-topology line.ContainerReplicatorContainerGroup, .kube-topology line.ContainerServiceContainerRoute {
    stroke-linecap: round;
    stroke-dasharray: 5.5;
}

kubernetes-topology-icon svg {
    width: 39px !important;
    height: 39px !important;
    display: inline-block;
}

.kube-topology g.selected {
    stroke-width: 4px;
}

.kube-topology g circle {
  stroke-width: 2px;
}

.kube-topology g circle.success {
    stroke: #3F9C35;
}

.kube-topology g circle.error {
    stroke: #CC0000;
}

.kube-topology g circle.warning {
    stroke: #EC7A08;
}

.kube-topology g circle.unknown {
    stroke: #bbb;
}

.container_topology g.EntityLegend {
    transform: translate(21px,21px);
}

.kube-topology g.EntityLegend.Infra text {
    fill: #636363;
}

.kube-topology g.EntityLegend.Containers text {
    fill: #1186C1;
    font-size: 22px;
}

.kube-topology g.EntityLegend.Containers.Pod text,
.kube-topology g.EntityLegend.Containers.Container text {
    font-family: FontAwesome;
    font-size: 19px;
}

.kube-topology g text.attached-label {
    display: none;
}

.kube-topology g text.attached-label.visible {
    font-size: 12px;
    fill: black;
    display: block;
}

.kube-topology g text.icon {
    font-size: 20px;
    fill: #1186C1;
    font-family: PatternFlyIcons-webfont;
}

.kube-topology g.Container text.icon {
    font-family: FontAwesome;
    font-size: 15px;
}

.kube-topology g.ContainerGroup text.icon {
    font-family: FontAwesome;
    font-size: 18px;
}

.kube-topology g.Vm text.icon, .kube-topology g.Host text.icon {
    fill: #636363;
}

.kube-topology g.ContainerNode text.icon {
    font-size: 25px;
}

.kube-topology g.ContainerManager text.icon {
    font-size: 38px;
}

.kube-topology g.ContainerManager text.icon.Kubernetes {
    fill: #326de6;
}

.kube-topology g.ContainerManager text.icon.Openshift, .kube-topology g.ContainerManager text.icon.OpenshiftEnterprise {
    fill: #da2430;
}

.kube-topology g.ContainerManager text.icon.Atomic {
    font-family: icomoon;
    fill: #666666;
}

.kube-topology g.ContainerManager text.icon.AtomicEnterprise  {
    font-family: icomoon;
    fill: #0088ce;
}

.container_topology .canvas {
    position: absolute;
}

.container_topology .popup {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 180px;
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 6px;
    font-size: 14px;
}

.container_topology .popup h5 {
    font-weight: bold;
}

.container_topology .popup p {
    margin: 0 0 4px;
}

.container_topology .popup p:hover {
   color : #0099cc;
   cursor: pointer;
}

.container_topology label.checkbox-inline {
    font-size:14px;
}
