.kube-topology line.ContainerServiceContainerGroup, .kube-topology line.ContainerReplicatorContainerGroup, .kube-topology line.ContainerServiceContainerRoute {
    stroke-linecap: round;
    stroke-dasharray: 5.5;
}

.container_topology g.EntityLegend {
    transform: translate(21px,21px);
}

.kube-topology g.EntityLegend.Infra text {
    fill: #636363;
}

.kube-topology g.EntityLegend.Containers text {
    fill: #1186C1;
    font-size: 22px;
}

.kube-topology g.EntityLegend.Containers.Pod text,
.kube-topology g.EntityLegend.Containers.Container text {
    font-family: FontAwesome;
    font-size: 19px;
}

.kube-topology g text.glyph {
    font-size: 20px;
    fill: #1186C1;
}

.kube-topology g.Container text.glyph {
    font-size: 15px;
}

.kube-topology g.ContainerGroup text.glyph {
    font-size: 18px;
}

.kube-topology g.Vm text.glyph, .kube-topology g.Host text.glyph {
    fill: #636363;
}

.kube-topology g.ContainerNode text.glyph {
    font-size: 25px;
}

.kube-topology g.ContainerManager text.glyph {
    font-size: 38px;
}
