kubernetes-topology-graph {
    border-top: 1px solid #eee;
    position: fixed;
    height: 76%;
    width: 98%;
    padding: 10px;
}
.legend {
    font-family: sans-serif;
    font-size: 15px;
    display: inline-block;
    padding: 0 10px;
}
.legend label {
    font-weight: 400;
}

.refresh {
    display: inline-block;
    width:35px;
    height:35px;
    padding:0;
}

#selected {
    float: right;
    display: block;
    margin-top: 15px;
}

kubernetes-topology-icon {
    padding: 7px 6px 12px 21px !important;
    opacity: 0.4;
}

kubernetes-topology-icon.active {
   opacity: 1;
}

.kube-topology line.ServicePod {
    stroke-linecap: round;
    stroke-dasharray: 5.5;
}

.kube-topology line.PodReplicator {
    stroke-linecap: round;
    stroke-dasharray: 5.5;
}

kubernetes-topology-icon svg {
    width: 39px !important;;
    height: 39px !important;;
    display: block;
}

.kube-topology g.selected {
    stroke-width: 4px;
}

.kube-topology g circle {
  stroke-width: 2px;
}
