
.miq-fixed-body {
    padding-top: 125px;
}

.miq-body {
    background: #f5f5f5;
}

.miq-dashboard-view .card-pf-aggregate-status .card-pf-title .pficon, .miq-dashboard-view .card-pf-aggregate-status .fa, .miq-objects-view .card-pf-aggregate-status .card-pf-title .pficon, .miq-objects-view .card-pf-aggregate-status .fa {
    color: #1186C1 !important;
}

.miq-dashboard-view .data-list-pf .list-group-item.active .pficon, .miq-dashboard-view .data-list-pf .list-group-item.active:hover .pficon, .miq-dashboard-view .data-list-pf .list-group-item.active:focus .pficon, .miq-objects-view .data-list-pf .list-group-item.active .pficon, .miq-objects-view .data-list-pf .list-group-item.active:hover .pficon, .miq-objects-view .data-list-pf .list-group-item.active:focus .pficon {
    color: #1186C1;
}

.miq-dashboard-view .data-list-pf .list-group-item .pficon, .miq-objects-view .data-list-pf .list-group-item .pficon {
    font-size: 18px;
}

.miq-dashboard-view .tiles-view-pf .tile.active .pficon, .miq-dashboard-view .tiles-view-pf .tile.active:hover .pficon, .miq-dashboard-view .tiles-view-pf .tile.active:focus .pficon, .miq-objects-view .tiles-view-pf .tile.active .pficon, .miq-objects-view .tiles-view-pf .tile.active:hover .pficon, .miq-objects-view .tiles-view-pf .tile.active:focus .pficon {
    color: #1186C1;
}

.miq-dashboard-view .card-pf .loading, .miq-objects-view .card-pf .loading {
    margin: 10px auto;
}

.miq-dashboard-view .pficon-kubernetes::before, .miq-objects-view .pficon-kubernetes::before {
    color: #326de6;
}

.miq-dashboard-view .pficon-openshift::before, .miq-objects-view .pficon-openshift::before {
    color: #da2430;
}

.containers-dashboard .card-pf.card-pf-aggregate-status-mini {
    height: 56px;
}

.miq-dashboard-view .card-pf-title {
    font-family: inherit;
    line-height: 1.1;
}

/* Remove after next pf release */
.icon-atomic:before {
    max-height: 20px;
    display: inline-block;
    content: url(/images/icons/new/vendor-atomic_dashboard.png);
}

/* line 44, scss/main.scss */
.provider-card {
    min-height: 140px;
}
/* line 47, scss/main.scss */
.provider-card .providers {
    padding: 20px 0;
}
/* line 50, scss/main.scss */
.provider-card .providers a {
    color: #000000;
    text-decoration: none;
}
/* line 55, scss/main.scss */
.provider-card .providers a:hover {
    color: #00618a;
    text-decoration: underline;
}
/* line 59, scss/main.scss */
.provider-card .providers .count {
    margin: 0 5px;
}
/* line 63, scss/main.scss */
.provider-card .providers .provider-icon {
    font-size: 22px;
    position: relative;
    top: 5px;
    padding-right: 5px;
    opacity: .9;
}
/* line 70, scss/main.scss */
.provider-card .providers .provider-icon:hover {
    opacity: 1;
}
/* line 76, scss/main.scss */
.provider-card .provider-icon-large {
    font-size: 100px;
    position: relative;
    padding-bottom: 4px;
    width: 100%;
    text-align: center;
}
.single-provider-containers-dashboard .card-pf.card-pf-aggregate-status-mini {
    height: 62px;
}
