#import-grid {
  height: 350px;
  width: 680px;
}

#toggle-all {
  margin-bottom: 10px;
}

.import-cancel, .import-commit {
  cursor: pointer;
}

.import-data {
  display: none;
}

.import-flash-message {
  display: none;
}

.import-hidden-iframe {
  display: none;
}
