/* Bootstrap overrides */
/* Header background image*/

.navbar-pf-vertical {
  background: image-url($img-bg-navbar);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: $navbar-pf-alt-bg-color;
}
