.icons {
  font-size: 20px;
  height: 18px;
  padding-right: 3px;
}
/* begin icon class customizations */
.fa-bar-chart-o:before, .fa-chart:before {
  content: "\f080";
}
.fa-file-text-o:before, .fa-report:before {
  content: "\f0f6";
}
.fa-warning:before,
.fa-exclamation-triangle:before{
  color: #c90813;
}
.fa-play:before {
  content: "\f04b";
  color: #57a81c;
}
.fa-pause:before {
  content: "\f04c";
  color: #eb7720;
}
.pficon-ok:before, .pficon-complete:before {
  color: #57a81c;
  content: "\e602";
}
.pficon-folder-close-blue:before {
  content: "\e607";
  color: #3188c5;
}
/*end icon class customizations*/

/* custom font for this product */

[class^="product-"], [class*=" product-"] {
  font-family: "product";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'product';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-path}/../product.eot');
  src: url('#{$font-path}/../product.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/../product.woff') format('woff'),
       url('#{$font-path}/../product.ttf') format('truetype'),
       url('#{$font-path}/../product.svg') format('svg');
}

.product-role:before {
  content: "\e600";
}
.product-product:before {
  content: "\e601";
}
.product-group:before {
  content: "\e602";
}
.product-report:before {
  content: "\e603";
}
.product-ae_instance:before {
  content: "\e603";
}
.product-chart:before {
  content: "\e604";
}
.product-arrow-right:before {
  content: "\e605";
}
.product-custom-1:before {
  content: "\e606";
}
.product-custom-2:before {
  content: "\e607";
}
.product-custom-3:before {
  content: "\e608";
}
.product-custom-4:before {
  content: "\e609";
}
.product-custom-5:before {
  content: "\e60a";
}
.product-custom-6:before {
  content: "\e60b";
}
.product-custom-7:before {
  content: "\e60c";
}
.product-custom-8:before {
  content: "\e60d";
}
.product-custom-9:before {
  content: "\e60e";
}
.product-custom-10:before {
  content: "\e60f";
}
.product-custom-11:before {
  content: "\e610";
}
.product-custom-12:before {
  content: "\e611";
}
.product-custom-13:before {
  content: "\e612";
}
.product-custom-14:before {
  content: "\e613";
}
.product-custom-15:before {
  content: "\e614";
}
.product-float:before {
  content: "\e615";
}
.product-integer:before {
  content: "\e616";
}
.product-string:before {
  content: "\e617";
}
.product-symbol:before {
  content: "\e618";
}
.product-assertion:before {
  content: "\e619";
}
.product-ae_assertion:before {
  content: "\e619";
}
.product-attribute:before {
  content: "\e61a";
}
.product-ae_attribute:before {
  content: "\e61a";
}
.product-relationship:before {
  content: "\e61b";
}
.product-ae_relationship:before {
  content: "\e61b";
}
.product-method:before {
  content: "\e61c";
}
.product-ae_method:before {
  content: "\e61c";
}
.product-state:before {
  content: "\e61d";
}
.product-ae_state:before {
  content: "\e61d";
}
.product-array:before {
  content: "\e61e";
}
.product-boolean:before {
  content: "\e61f";
}
.product-time:before {
  content: "\e620";
}
.product-password:before {
  content: "\e621";
}
.product-ae_class:before {
  content: "\e622";
}
.product-ae_namespace:before {
  content: "\e623";
}


/* define  colors */
.product-custom-1:before {
  color: #009900;
}
.product-custom-3:before {
  color: #cccc33
}
.product-custom-4:before {
  color: #009900;
}
.product-custom-8:before {
  color: red;
}
.product-custom-9:before {
  color: #3333ff;
}
.product-custom-10:before {
  color: #3333ff;
}
.product-custom-11:before {
  color: #3333ff;
}
.product-custom-12:before {
  color: #3333ff;
}
.product-custom-13:before {
  color: #3333ff;
}
.product-custom-2:before {
  color: #3333ff;
}
.product-custom-5:before {
  color: orange;
}
/*end icon customizations*/
