.icons {
  font-size: 20px;
  height: 18px;
  padding-right: 3px;
}

/* begin icon class customizations */

.fa-1xplus { //custom resize for fa-tachometer on dashboard summary toggle
  font-size: 1.18em;
}
.fa-bar-chart-o:before, .fa-chart:before {
  content: "\f080";
}
.fa-file-text-o:before, .fa-report:before {
  content: "\f0f6";
}
.fa-warning:before,
.fa-exclamation-triangle:before{
  color: #c90813;
}
.fa-play:before {
  color: #57a81c;
}
.fa-pause:before {
  color: #eb7720;
}
.pficon-ok:before, .pficon-complete:before {
  color: $color-success;
  content: "\e602";
}
.pficon-close:before {
  // color: $color-critical;
}
.pficon-folder-close-blue:before {
  content: "\e607";
  color: #3188c5;
}
.pficon-registry-unknown {
  color: $color-warning;
  content: "\e623";
}

/*end icon class customizations*/

/* custom font for this product */

@font-face {
  font-family: 'icomoon';
  src: font-url('icomoon.eot?1i9inh');
  src: font-url('icomoon.eot?1i9inh#iefix') format('embedded-opentype'),
       font-url('icomoon.woff?1i9inh') format('woff'),
       font-url('icomoon.ttf?1i9inh') format('truetype'),
       font-url('icomoon.svg?1i9inh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class^="product-"], i[class*=" product-"],
span[class^="product-"], span[class*=" product-"], // i & span tags prevent conflicts with 'About' modal
 {
    /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-role:before {
  content: "\e600";
}
.product-product:before {
  content: "\e601";
}
.product-group:before {
  content: "\e602";
}
.product-report:before {
  content: "\e603";
}
.product-ae_instance:before {
  content: "\e603";
}
.product-chart:before {
  content: "\e604";
}
.product-arrow-right:before {
  content: "\e605";
}
.product-custom-1:before {
  content: "\e606";
}
.product-custom-2:before {
  content: "\e607";
}
.product-custom-3:before {
  content: "\e608";
}
.product-miq_condition:before {
  content: "\e608";
}
.product-custom-4:before {
  content: "\e609";
}
.product-custom-5:before {
  content: "\e60a";
}
.product-custom-6:before {
  content: "\e60b";
}
.product-custom-7:before {
  content: "\e60c";
}
.product-custom-8:before {
  content: "\e60d";
}
.product-custom-9:before {
  content: "\e60e";
}
.product-custom-10:before {
  content: "\e60f";
}
.product-custom-11:before {
  content: "\e610";
}
.product-custom-12:before {
  content: "\e611";
}
.product-custom-13:before {
  content: "\e612";
}
.product-custom-14:before {
  content: "\e613";
}
.product-custom-15:before {
  content: "\e614";
}
.product-float:before {
  content: "\e615";
}
.product-integer:before {
  content: "\e616";
}
.product-string:before {
  content: "\e617";
}
.product-symbol:before {
  content: "\e618";
}
.product-assertion:before {
  content: "\e619";
}
.product-ae_assertion:before {
  content: "\e619";
}
.product-attribute:before {
  content: "\e61a";
}
.product-ae_attribute:before {
  content: "\e61a";
}
.product-relationship:before {
  content: "\e61b";
}
.product-ae_relationship:before {
  content: "\e61b";
}
.product-method:before {
  content: "\e61c";
}
.product-ae_method:before {
  content: "\e61c";
}
.product-state:before {
  content: "\e61d";
}
.product-ae_state:before {
  content: "\e61d";
}
.product-array:before {
  content: "\e61e";
}
.product-boolean:before {
  content: "\e61f";
}
.product-time:before {
  content: "\e620";
}
.product-password:before {
  content: "\e621";
}
.product-ae_class:before {
  content: "\e622";
}
.product-ae_namespace:before {
  content: "\e623";
}
.product-memory:before {
  content: "\e624";
}
.product-action:before {
  content: "\e625";
}
.product-file-ear-o:before {
  content: "\e626";
}
.product-file-war-o:before {
  content: "\e627";
}
.product-tenant:before {
  content: "\e628";
}
.product-project:before {
  content: "\e629";
}
.product-exists:before {
  content: "\e62a";
}
.product-view_expanded:before {
  content: "\e62b";
}
.product-cloud_network:before {
  content: "\e62c";
}
.product-network_interface:before {
  content: "\e62d";
}
.product-compare:before {
  content: "\e62e";
}
.product-compare_same:before {
  content: "\e62e";
}
.product-compare_diff:before {
  content: "\e62f";
}
.product-compare_all:before {
  content: "\e630";
}
.product-clone:before { //replace with fa-clone when font awesome v4.4 is available in Patternfly
  content: "\e631";
}
.product-migrate:before {
  content: "\e632";
}
.product-monitoring:before {
  content: "\e633";
}
.product-timeline:before {
  content: "\e634";
}
.product-drift:before {
  content: "\e635";
}
.product-middleware:before {
  content: "\e636";
}
.product-load_balancer:before {
  content: "\e637";
}
.product-template:before {
  content: "\e640";
}
.product-orchestration_stack:before {
  content: "\e641";
}
.product-cloud_object_store:before {
  content: "\e642";
}
.product-network_port:before {
  content: "\e643";
}
.product-file_share:before {
  content: "\e644";
}
.product-resource:before {
  content: "\e645";
}
.product-configured_system:before {
  content: "\e646";
}
.product-parameter:before {
  content: "\e647";
}
.product-application:before {
  content: "\e648";
}
.product-firewall:before {
  content: "\e649";
}
.product-genealogy:before {
  content: "\e650";
}
.product-output:before {
  content: "\e651";
}

/* define  colors */
.product-custom-1:before {
  color: #2d7623;
}
.product-custom-3:before {
  color: #f5c12e
}
.product-custom-4:before {
  color: #2d7623;
}
.product-custom-8:before {
  color: #cc0000;
}
.product-custom-9:before {
  color: #00659c;
}
.product-custom-10:before {
  color: #00659c;
}
.product-custom-11:before {
  color: #00659c;
}
.product-custom-12:before {
  color: #00659c;
}
.product-custom-13:before {
  color: #00659c;
}
.product-custom-14:before {
  color: #2d7623;
}
.product-custom-15:before {
  color: #cc0000;
}
.product-custom-2:before {
  color: #00659c;
}
.product-custom-5:before {
  color: orange;
}
.product-miq_condition:before {
  color: #0099cc;
}

/*end icon customizations*/
