#import_grid {
  height: 500px;
  width: 1000px;
}
#import_grid .cell-effort-driven {
  text-align: center;
}
#import_grid .toggle {
  height: 14px;
  width: 18px;
  display: inline-block;
}
#import_grid .toggle.expand {
  background: image-url('layout/plus.gif') no-repeat center center;
}
#import_grid .toggle.collapse {
  background: image-url('layout/minus.gif') no-repeat center center;
}
#import_grid .slick-row {
  margin-left: 0px;
}
#import_grid .odd {background: #f5f5f5}
