/* Bootstrap overrides */
/* RCUE-specific */

.rcue-login {
  &.login-pf {
    background-color: $login-bg-color !important;
  }
  @media (min-width: $screen-sm) {
    &.login-pf {
      background: url("#{$img-path}/#{$img-bg-login-2}");
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: 30%;
    }
  }
  @media (min-width: $screen-md) {
    &.login-pf {
      background-size: auto;
    }
  }
  &.login-pf #badge {
    margin-bottom: 50px;
  }
  &.login-pf body {
    background: transparent;
  }
  @media (min-width: $screen-sm) {
    &.login-pf body {
      background: url("#{$img-path}/#{$img-bg-login}");
      background-repeat: no-repeat;
      background-size: 30%;
      height: 100%;
    }
  }
  @media (min-width: $screen-md) {
    &.login-pf body {
      background-size: auto;
    }
  }
  &.login-pf #brand {
    top: -30px;
  }
  @media (min-width: $screen-sm) {
    &.login-pf #brand {
      top: -40px;
    }
    &.login-pf #brand + .alert {
      margin-top: -20px;
    }
  }
  &.login-pf .container {
    padding-top: 0;
  }
  @media (min-width: $screen-md) {
    &.login-pf .container {
      bottom: 20%;
      padding-right: 120px;
    }
  }
}
