// Product overrides of Boostrap & Patternfly variables
$screen-sm:                                 768px;    // sets the breakpoint between mobile and desktop modes
$screen-md:                                 1024px;
$navbar-pf-navbar-navbar-brand-min-width:   270px;
$navbar-pf-navbar-navbar-brand-padding:     8px 0 2px;
$dropdown-link-hover-bg:                    #d4edfa;  // sets dropdown link hover
$link-color:                                #0099d3;  // sets link (also accordion hover, selected table cell) color globally
//$navbar-pf-border-color:                    #063451;  // sets 3px border color at top of screen
//$navbar-pf-bg-color:                        #063451;  // sets backgound color of navigation bar

//$nav-pf-vertical-alt-bg-color:              #063451;

//$img-bg-navbar:                             "../navbar.png"; // sets a custom background image in the header
$color-success:                             #3f9c35;
$color-warning:                             #ec7a08;
$color-critical:                            #cc0000;

// Product overrides of Patternfly Login variables
$img-bg-login:                              "bg-login.png";
$img-bg-login-2:                            "bg-login-2.png";
$img-bg-login-whitelabel:                   "/upload/custom_login_logo.png";
$login-bg-color:                            #083c5a;
$login-container-bg-color:                  #000000;
$login-container-bg-color-rgba:             rgba(0, 0, 0, 0.2);
$login-container-details-border-color-rgba: rgba(0, 0, 0, 0.5);

@import "patternfly-sprockets";
@import "patternfly";
@import "patternfly_overrides";
@import "login";
@import "icon_customizations";
//@import "header_background"; // sets a custom background image in the header


.login-pf #brand img { // sets size of brand.svg on login screen (upstream only)
  height: 38px;
}

body.whitelabel {
  background: url($img-bg-login-whitelabel);
  background-size: 100% auto;
}
