// Product overrides of Boostrap & Patternfly variables
$screen-lg:                                 1400px;  // add 200px to account for vertical nav
$navbar-pf-navbar-navbar-brand-min-width:   270px;
$navbar-pf-navbar-navbar-brand-padding:     8px 0 2px;
$dropdown-link-hover-bg:                    #d4edfa;  // sets dropdown link hover
$link-color:                                #0099d3;  // sets link (also accordion hover, selected table cell) color globally
$navbar-pf-border-color:                    #063451;  // sets 3px border color at top of screen
$navbar-pf-alt-bg-color:                    #0c69a5;  // sets background color of navigation bar
$nav-pf-vertical-width:                     225px;    // sets width of primary navigation
$navbar-pf-alt-navbar-toggle-icon-bar-hover-bg: #fff;
$img-bg-navbar:                             "navbar.png"; // sets a custom background image in the header
$color-success:                             #3f9c35;
$color-warning:                             #ec7a08;
$color-critical:                            #cc0000;
$color-low-severity:                        #f0ab00;  //(pf-gold-200)

// Product overrides for 'About' Modal

$modal-about-pf-bg-img:                     "bg-modal-about-pf.png"; // sets background image of 'About' modal
$modal-about-pf-bg-color:                   #083c5a; // sets background color of 'About' modal

// Product overrides of Patternfly Login variables
$img-bg-login:                              "bg-login.png";
$img-bg-login-2:                            "bg-login-2.png";
$img-bg-login-whitelabel:                   "/upload/custom_login_logo.png";
$login-bg-color:                            #083c5a;
$login-container-bg-color:                  #000000;
$login-container-bg-color-rgba:             rgba(0, 0, 0, 0.2);
$login-container-details-border-color-rgba: rgba(0, 0, 0, 0.5);

@import "patternfly-sprockets";
@import "patternfly";
@import "patternfly_overrides";
@import "login";
@import "icon_customizations";
@import "header_background"; // sets a custom background image in the header
@import "about_modal_background"; // sets a custom background image in the 'About' modal
@import "timeline"; // used for the patternfly-timeline styles
@import "metrics";


.login-pf #brand img { // sets size of brand.svg on login screen (upstream only)
  height: 38px;
}

.about-modal-pf .modal-footer img { // sets size of logo in 'About' modal footer
	height: 48px;
}


// styling of brand.svg in header (upstream only)

.navbar-brand {
  margin-top: 8px !important;
}
.navbar-brand img {
  height: 20px;
}

// styling of custom logo in header

body.whitelabel {
  background: url($img-bg-login-whitelabel);
  background-size: 100% auto;
}
