.middleware .kube-topology g.MiddlewareDatasource text.glyph {
    font-size: 20px;
    fill: #81B0C8;
}

.middleware .kube-topology g.MiddlewareDeployment text.glyph {
    font-family: IcoMoon;
    font-size: 20px;
    fill: #555;
}