.timeline-ether-marker-bottom {
    width: 5em !important;
    height: 1.5em !important;
    border-left: 1px solid #000 !important;
    padding-left: 2px !important;
    color: #000 !important;
    opacity: 10 !important;
}
.timeline-default {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif !important;
    font-size: 8pt !important;
    border: 1px solid #aaa !important;
    background-color: #000 !important;
}
.timeline-ether-marker-bottom-emphasized {
    width: 5em !important;
    height: 2em !important;
    border-left: 1px solid #aaa !important;
    padding-left: 2px !important;
    color: black !important;
}
.timeline-ether-marker-top {
    width: 5em !important;
    height: 1.5em !important;
    border-left: 1px solid #aaa !important;
    padding-left: 2px !important;
    color: #aaa !important;
}
.timeline-ether-marker-top-emphasized {
    width: 5em !important;
    height: 2em !important;
    border-left: 1px solid #aaa !important;
    padding-left: 2px !important;
    color: black !important;
}
.timeline-ether-marker-right {
    width: 5em !important;
    height: 1.5em !important;
    border-top: 1px solid #aaa !important;
    padding-top: 2px !important;
    color: #aaa !important;
}
.timeline-ether-marker-right-emphasized {
    width: 7em !important;
    height: 1.5em !important;
    border-top: 1px solid #aaa !important;
    padding-top: 2px !important;
    color: black !important;
}
.timeline-ether-marker-left {
    width: 5em !important;
    height: 1.5em !important;
    border-top: 1px solid #aaa !important;
    padding-top: 2px !important;
    color: #aaa !important;
}
.timeline-ether-marker-left-emphasized {
    width: 7em !important;
    height: 1.5em !important;
    border-top: 1px solid #aaa !important;
    padding-top: 2px !important;
    color: black !important;
}
.timeline-duration-event {
    position: absolute !important;
    overflow: hidden !important;
    border: 1px solid blue !important;
}
.timeline-instant-event2 {
    position: absolute !important;
    overflow: hidden !important;
    border-left: 1px solid blue !important;
    padding-left: 2px !important;
}
.timeline-instant-event {
    position: absolute !important;
    overflow: hidden !important;
}
.timeline-event-bubble-title {
    font-weight: bold !important;
    border-bottom: 1px solid #888 !important;
    margin-bottom: 0.5em !important;
}
.timeline-event-bubble-body {} .timeline-event-bubble-wiki {
    margin: 0.5em !important;
    text-align: right !important;
    color: #A0A040 !important;
}
.timeline-event-bubble-wiki a {
    color: #A0A040 !important;
}
.timeline-event-bubble-time {
    color: #aaa !important;
}
.timeline-event-bubble-image {
    float: right !important;
    padding-left: 5px !important;
    padding-bottom: 5px !important;
}
.timeline-container {
    position: relative !important;
}
.timeline-copyright {
    position: absolute !important;
    bottom: 0px !important;
    left: 0px !important;
    z-index: 1000 !important;
    cursor: pointer !important;
}
.timeline-message-container {
    position: absolute !important;
    top: 30% !important;
    left: 35% !important;
    right: 35% !important;
    z-index: 1000 !important;
    display: none !important;
}
.timeline-message {
    font-size: 120% !important;
    font-weight: bold !important;
    text-align: center !important;
}
.timeline-message img {
    vertical-align: middle !important;
}
.timeline-band {
    position: absolute !important;
    background: #eee !important;
    z-index: 10 !important;
}
.timeline-band-inner {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
}
.timeline-band-input {
    position: absolute !important;
    width: 1em !important;
    height: 1em !important;
    overflow: hidden !important;
    z-index: 0 !important;
}
.timeline-band-input input {
    width: 0 !important;
}
.timeline-band-layer {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
}
.timeline-band-layer-inner {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
}
