.drawer-pf-action.footer-actions {
  width: 100%;

  .footer-button-left {
    display: inline-block;
    width: calc(50% - 25px);
    text-align: right;
    margin: 0 10px;
  }

  .footer-button-right {
    display: inline-block;
    width: calc(50% - 35px);
    text-align: left;
    margin: 0 10px;
  }
}
