/* This media query makes the left column and the main area independently scrollable and sets the paging_div at the bottom of the column */

@media (min-width: $screen-sm) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  #main-content { /* inserts height calculation for scrollable area */
    overflow: auto;
  }
  .max-height {
    height: 100%;
  }
  #miq_ae_tools .scrollable { /* inserts height calculation for scrollable area */
    height: calc(100% - 50px);
    overflow: auto;
  }

  .no-padding { /* removings left-right padding from column */
    padding: 0 !important;
    margin: 0 !important;
  }
  .login-pf body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .toolbar-pf#paging_div { /* sets paging_div at bottom of screen and styles */
    bottom: 0;
    border-top: 1px solid #c7c7c7;
    height: 44px;
    background-image: linear-gradient(to bottom, #FAFAFA 0%, #EDEDED 100%);
  }
}

.toolbar-pf#paging_div ul.pagination {
  margin: 0;
}

/* overrides toolbar form group styling for pf-search */

.toolbar-pf .form-group.search-button {
  padding-left: 0;
}

.toolbar-pf .form-group.has-clear {
  border-right: 0;
  padding-right: 0;
}

.toolbar-pf .form-group.text {
  line-height: 26px;
}

/* Overrides patternfly style for disabled accordion items */

.nav-stacked > li.disabled:hover > a {
  background: transparent;
  border: transparent;
  margin-top: 1px;
  margin-bottom: 1px;
}

/* styling for report menu editor accordion */

.panel-heading.active {
  background: #ddd !important
}

/* Style changes applied when customer logo is active */

li.brand-white-label.whitelabeled {
  margin-top: 10px;
  width: 350px;
  height: 38px;
  background: url(/upload/custom_logo.png) right top no-repeat;
  background-size: auto 38px;
}

/* Navigation overrides */

.navbar__user-name {
  display: inline-block;
  color: #FFFFFF; margin-left: 1ex;
}
/* group switcher styling */

.navbar-right .dropdown-submenu > a {
  padding-left: 20px !important
}
.navbar-right .dropdown-submenu > a:after {
  content: "\f104";
  left: 10px;
}

/* Dashboard overrides */

body#dashboard .container-cards-pf {
  margin-top: 0;
}

body#dashboard table {
  border: 0;
}

body#dashboard table thead {
  background: none;
}

body#dashboard table thead th {
  border: none;
  border-bottom: 1px solid #d1d1d1;
}

body#dashboard table td {
  border: none;
}

body#dashboard .dropdown-kebab-pf .dropdown-menu {
  left: -136px;
  margin-top: 11px;
}

body#dashboard .dropdown-kebab-pf .dropdown-menu:after,
body#dashboard .dropdown-kebab-pf .dropdown-menu:before {
  left: 127px;
}

/* Login overrides */

.login-pf body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

div#saml-login {
  padding-bottom: 8px;
}

div#saml-login hr {
  display: inline-block;
  position: relative;
  top: 15px;
  width: 43%;
}

#notification {
  position:absolute;
  left:0;
  bottom:0;
  z-index:1000;
  display: block;
  margin:0;
  padding:0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#spinner_div {
  position: absolute;
  top: 20px;
  left:0;
  width:100%;
  height: 180px;
  z-index:1;
}

/* Adjust search styling for 2nd button (adv search)  */

.search-pf.has-button .form-group {
  width: auto;
}

/* Instead of using <br> */
.spacer {
    margin-top: 20px;
}

/* Table customizations */

table.table td {
  word-break: break-all
}

//Enable normal word wrapping in List View

#gtl_div table.table td {
  word-break: normal !important;
}

table.table tbody td img {
  height: 20px;
  width: 20px;
}

.table > thead > tr > th {
  font-family: inherit !important;
  vertical-align: top;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border: none;
}

/* Report widget table customizations */

.panel-body {
  border: 0px;
  margin: 0 -2px -1px -1px; /* makes outside table cell border invisible */
}
.panel .table {
  border: 0;
  margin-bottom: 0;
}


/* override font-weight for dropdowns withing table headers */

.table thead th select {
  font-weight: normal
}

table .narrow {
  width: 1%;
  white-space: nowrap;
}

table .narrow i { /* font icon styling in table view (equivalent to fa-lg) */
  padding-left: 2px;
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* disables hover and pointer on row */

table.table-hover tbody tr:nth-child(odd).no-hover:hover td {
  background: transparent; cursor:default
}

table.table-hover tbody tr:nth-child(even).no-hover:hover td {
  background-color: $table-bg-accent; cursor:default
}

/* summary screen formatting */

.table-summary-screen .label {
  display: table-cell;
  width: 20% !important;
  padding-top: 6px;
  min-width: 200px;
  font: normal 12px OpenSansSemibold,Arial,Helvetica,sans-serif;
  cursor: default;
  color: #333;
  text-align: left;
  white-space: normal
}

table.table.table-selectable tbody tr.selected td {
  background-color: $link-color;
  color: #fff
}

/* instead of using onmouseover="this.style.cursor='pointer'" */
.table-hover tbody tr:hover > td {
  cursor: pointer;
  cursor: hand;
}

/* same for other tables than originally style3 */
.pointer:hover {
  cursor: pointer;
}

/* static class form-horizontal for displaying static info with reduced row height */
.form-horizontal.static .form-group {
  min-height: 28px;
  margin-bottom: 5px;
}

/* resize png files displayed in form-groups */

.form-horizontal.static .form-group img{
  height: 20px;
  width: 20px;
}

.form-horizontal.static .form-group .control-labelimage img{
  height: 80px;
  width: 80px;
}

/* extra vertical margin to accomodate multiple switches */
.form-horizontal .form-group .bootstrap-switch{
  margin-top: 2px;
  margin-bottom: 4px;
}

/* Ensure .form-control-static doesn't change height when it's empty - Bootstrap fix #15699 */
.form-control-static {
  min-height: ($line-height-computed + $font-size-small - 20);
}

/* prevents empty dd from collapsing */

.dl-horizontal > dd:after {
  display: table;
  content: "";
  clear: both;
}

/* modified dl styling for tile view */

@media (min-width: 400px) {
  .dl-horizontal.tile {
    dt {
      float: left;
      width: ($component-offset-horizontal - 80);
      clear: left;
      text-align: right;
      @include text-overflow();
    }
    dd {
      word-break: break-all;
      margin-left: 110px;
    }
  }
}

/* Adds vertical space between tabs and content */

.tab-content {
  margin-top: 10px
}

/* fixes leftnav highlight padding issue - temporary */

@media (min-width: $screen-sm) {
  .sidebar-pf .nav-stacked {
    margin-right: 0px;
  }
}

@media (max-width: $screen-sm) {
  .sidebar-pf .nav-stacked {
    margin-right: 0px;
    margin-left: 0px;
  }
}

iframe, .iframe {
  width: 100%; height: 100%;
}

/* resizer styling */

.resizer {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 600
}
.resizer-box {
  position: absolute;
  bottom: 50px;
  left: -18px;
  width: 38px
}

.resizer .btn {
  border-color: #d0d0d0
}

/* eliminates horizontal scrollbar in some browsers */
.bootstrap-select .dropdown-menu {
  overflow-y: visible !important
}

/* toolbar styling */

.toolbar-pf .form-group {
  padding-left: 0;
}

.toolbar-pf-actions .btn-group.dropdown > button > img {
  padding-right: 3px;
}

/* sets width to auto for bootstrap-select */
.selectWidth {
  width: auto !important;
}

/* compensates for scrollbars in browsers that cover options in very narrow dropdowns */

.selectWidth .dropdown-menu ul li{
  padding-right: 10px;
}

/* adds scrollbar to group switcher  */

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}

/* make it possible to drop a dashboard widget into a previously empty column */

.db_widgets_target {
  padding-top: 20px;  // same as .panel's margin-bottom
  min-height: 78px; // .panel.height + (2 * 20px)
}

/* Sets font icon styling for view buttons on Default Views screen */

#tab_div ul.list-inline a{
  font-size: 16px;
  color: #222222 !important
}

#tab_div ul.list-inline li.active {
  font-size: 16px;
  color: $link-color !important
}

.icon-green {
  color: green;
}

.icon-red {
  color: red;
}

/* Action cell */

.action-cell {
    position: relative;
    width: 100px;
}

.action-cell .btn {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* compare styling */

#compare-grid {
  table.table-expanded, .table-compressed {
    table-layout: fixed !important;
    word-wrap: break-word !important;
    width: auto !important;
    max-width: auto !important;
  }

  table.table-compressed thead tr th {
    height: 150px !important;
    width: 26px !important;
    text-align: center;
    white-space: nowrap;
  }

  table.table-compressed thead tr th div.rotated-text {
    transform:
      translate(0px, 110px)
      rotate(270deg);
    width: 26px;
  }

  table.table-expanded thead tr th div.quadicon_grid {
    padding-left: 40px
  }

  table.table-compressed thead th,
  table.table-compressed tr td {
    width: 26px !important;
    text-align: center;
  }

  table.table-expanded thead th,
  table.table-expanded tr td {
    width: 175px !important;
    min-width: 175px !important;
    text-align: center;
  }

  // sets styling of first column
  table.table-expanded tbody tr th.treegrid-node,
  table.table-compressed tbody th.treegrid-node {
    width: 270px !important;
    text-align: left;
    white-space: nowrap !important;
  }
}

/* Used at Chargeback edit view */

tr.rdetail > td {
  white-space: nowrap;
}
td.action > .btn.btn-default {
    width: 50px;
}

body#dashboard {
 background: #f5f5f5;
}

.cards-pf .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #f5f5f5 !important;
}

/* custom modal class for adv search */
@media (min-width: $screen-sm) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

/* custom modal class for Entry Point (creates scrollable area) */
#automate_treebox {
  height: 350px !important;
  overflow-y: auto !important;
}
/* scrollable */
.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

/* error modal */

.error-modal-miq {
  & .error-icon {
    font-size: xx-large;
    margin-top: 16px;
  }
}

/* begin toolbar styling (to be moved to the ui-components repo) */

.toolbar-pf .form-group { /*compensates for filter-pf not being implemented */
  padding-left: 0;
}

.toolbar-pf-actions .btn-group .dropdown button img { /* styling for images (not part of toolbar-pf) */
  padding-right: 3px;
}

.toolbar-pf .toolbar-pf-actions .form-group { /* adds padding between buttons when they wrap */
  margin-bottom: 10px;
}

.toolbar-pf-actions { /* removes double paddding resulting from ^ */
  margin-bottom: 0px;
}

.toolbar-pf .form-group .btn,
.toolbar-pf .form-group .btn-group { /* overrides _toolbar.scss to account for intermediate Angular markup */
  margin-left: 5px;
}

.form-group.miq-toolbar-group { /* fixes the display for the main dashboard toolbar only */
  display: inline-block;
  .miq-custom-html {
    form {
      display: inline-block;
    }
    .form-group {
      margin-bottom: 0 !important;
      border-right: 0;
      &:last-child {
        padding-right: 0px
      }
    }
  }
}

/* end toolbar styling */

.secondary-collapse-toggle-pf, .tertiary-collapse-toggle-pf {
  &:before {
    content: '\f08d';
  }
  &.collapsed {
    &:before {
      content: '\f08d';
      display: inline-block;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

// Navbar item badge position and color
.navbar-pf-vertical .nav .nav-item-iconic {
  &.drawer-pf-trigger-icon {
    width: 40px;
  }
  .badge {
    position: relative;
    top: -23px;
    right : -10px;
    margin: 0px;
    min-width: 13px;
    background-color: #0088ce;
  }
}

// Toast notifications positioning
.toast-notifications-list-pf {
  top: 65px
}

// Notifications drawer positioning
.drawer-pf {
  bottom: 20px;
  position: absolute;
  top: 60px;
  z-index: 950;
  .panel-body {
    margin: 0;
  }
}
.drawer-pf.vertical-scroll {
  right: 15px;
}

// Panel in sidebar doesn't need bottom margin
.sidebar-pf-left {
  .panel-group {
    margin-bottom: 0px;
  }
}

table .label {  // Adds margin to the label to vertically align with text
  margin-top: 3px;
}

//  openSCAP result styling

.label-low-severity {
  background-color: $color-low-severity;
}
