body {font: 12px/1.231 Arial,Helvetica,sans-serif; padding-top: 100px;}

#xyz_main {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 200px !important;
    width: 100px;
    margin-left: -55px;
    text-align: left;
}

#quadicon {color: #e3e4e4;float:left; height: 72px; padding: 0px 1px 1px 0px;position: relative;text-transform: none;width: 72px;}
#quadicon img {border:0px;}	

.flobj { position: absolute;z-index: auto;width: 72px;}
.flobj p { margin: 0 0 0 0;padding: 0;color: #e3e4e4;vertical-align: middle;text-align:center;text-transform: none;text-shadow: 0 0 3px #000;font: normal 16px OpenSansSemibold,Arial,Helvetica,sans-serif !important;}
.a72 { padding: 3px  0 0 5px; width: 28px; height: 28px;font-size: 1.3em;line-height: 1.8em;}	
.b72 { padding: 3px 0 0 37px; width: 28px; height: 28px;font-size: 1.3em;line-height: 1.8em;}
.c72 { padding: 38px 0 0 5px; width: 31px; height: 31px;font-size: 1.3em;line-height: 1.7em;}
.d72 { padding: 38px 0 0 39px; width: 31px; height: 31px;font-size: 1.3em;line-height: 1.7em;}	
.e72 { padding: 6px  0 0 6px; width: 35px; height: 35px;font-size: 1.3em;line-height: 2em;}
.f72 { padding: 22px 0 0 24px; width: 24px; height: 24px;}
.g72 { padding: 16px 0 0 19px; width: 24px; height: 24px;}
.b72 img {margin-top: -3px; width: 34px; height: 34px;}
.a72 img,.c72 img,.d72 img{ width: 28px; height: 28px;}
.f72 img,.f72 img { width: 24px; height: 24px;}
.g72 img,.g72 img { width: 36px; height: 36px;}
.e72 img { width: 60px; height: 60px;}

dl{float:left;width:100%;}
dl.col2 dd {float:left;width:47%;margin:0;margin-right:15px;padding:0;}

table {background-color: #ededed;border-spacing: 1px;margin-bottom: 15px;width: 100%;color: #4b4b4b;}
table tr th {height: 19px;padding: 4px;padding-left:10px;font: normal 12px Arial,Helvetica,sans-serif !important;line-height: 19px;}
table tr td.label{font: 12px Arial,Helvetica,sans-serif;width: 33%; text-align: right;cursor: default;}
table tr td {background: #fff; vertical-align: top; padding: 3px 6px 3px 6px}
table tr td img {height: 16px;width: 16px;float: left; padding-right: 3px; }
table tr.row0 td {background: #fff}
table tr.row1 td {background: #f5f5f5}
