

/*Override Bootstrap box-sizing*/
.slick-header-column.ui-state-default
 {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.slick-header-column.ui-state-default {
  height: 19px;
  line-height: 19px;
  padding-left:10px;
  border: 1px solid #d1d1d1;
  border-left: 1px solid #f5f5f5;
  background-image: -webkit-linear-gradient(top, #fafafa, #ededed); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, #fafafa, #ededed); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, #fafafa, #ededed); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, #fafafa, #ededed); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(top, #fafafa, #ededed); /* Standard syntax; must be last */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  font: normal 11px OpenSansSemibold,Arial,Helvetica,sans-serif;
  color: #4d5258;
}

.slick-header-column.ui-state-default:first-child {
  border-left: 1px solid #d1d1d1;
}

.slick-cell, .slick-headerrow-column {
  border-right: 1px solid #d1d1d1;
  border-bottom-color: #e7e7e7;
  padding: 2px 2px 2px 10px;
  color: #4d5258;
  height: 34px !important;
}

.slick-cell:first-child {
  border-left: 1px solid #d1d1d1;
}

.slick-group {
}

.cell-title {
    font-weight: bold;
}

.cell-bkg {
    background-color: #f2f2f2;
    color:#403990;
    font-weight: bold;
}

.cell-bkg-plain {
    background-image: -webkit-linear-gradient(top, #fafafa, #ededed); /* For Chrome and Safari */
    background-image: -moz-linear-gradient(top, #fafafa, #ededed); /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(top, #fafafa, #ededed); /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(top, #fafafa, #ededed); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(top, #fafafa, #ededed); /* Standard syntax; must be last */

}

.cell-bkg-plain-no-shade {
    color:#403990;
    font-weight: bold;
}

.cell-bkg-plain-mark-txt-no-shade {
    color:#21a0ec;
    font-weight: bold;
}

.cell-bkg-plain-mark-txt-no-shade-no-bold {
    color:#21a0ec;
}

.cell-bkg-plain-mark-txt-black {
    color:#000;
}

.slick-header-column {
    text-align: center;
    /*white-space:normal;*/

}

.slick-column-name {
    /*position: absolute; bottom: 0; left: 0;*/
    width: 100%;
    /*text-align: center;*/
    position: absolute;
    bottom: 0;
    left: 0;
}

.cell-text-wrap {
    white-space:normal;
}

.cell-effort-driven {
    text-align: center;
}

/*.slick-cell {*/
    /*overflow: visible;*/
    /*white-space: pre-wrap;*/
/*}*/

.slick-header-column.ui-state-default {
    height: 160px;
    background-image: -webkit-linear-gradient(top, #fafafa, #ededed); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #fafafa, #ededed); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #fafafa, #ededed); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #fafafa, #ededed); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(top, #fafafa, #ededed); /* Standard syntax; must be last */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.toggle {
    height: 9px;
    width: 9px;
    display: inline-block;
}

.toggle.expand {
    background: image-url('layout/plus.gif') no-repeat center center;
}

.toggle.collapse {
    background: image-url('layout/minus.gif') no-repeat center center;
}

abbr[title] {
    border-bottom-width: 0;
}

#import-grid .slick-header-column.ui-state-default {
    height: 24px !important;
}

#import-grid .slick-column-name  {
    padding-bottom: 10px;
}

#import-grid .odd {
    background-color: #f5f5f5;
}

#import-grid .slick-cell {
    border-bottom-color: transparent;
}
