html { padding: 0 0 /*25*/px 0;  /* create area for notification */}
legend { display: none;}
textarea { width: 98.5%; border: 1px solid #d1d1d1; padding: 7px; line-height: 1.5em}

/* begin modified Patternfly code */

div.disabled {
  cursor: default;
}

/* end modified Patternfly code */

fieldset {
  position: relative;
  margin: 0 7px 20px 0px;
  padding: 10px;
  border:1px solid #e9e8e8;
  background-color: #fff;
}

nobr { white-space: nowrap;}

/*Centering for Hovered VMs*/
#outer { position: absolute;top: 50%;left: 0;overflow: visible;width: 100%;height: 1px;}
#inner {position: absolute;/***  height / 2   ***/ top: -50px;left: 50%;margin-left: -50px;width: 100px;height: 100px;  /***  width / 2  ***/}

#notification, #search_notification {
  position:fixed;
  bottom:0;
  z-index:1000;
  display: block;
  margin:0;
  padding:0;
  width: 100%;
  height:100%;
  background: image-url('layout/overlay_dark.png');
  color: #fff;
  text-align:center;
  text-shadow: #000 2px 2px 0;
  font: normal 116% OpenSansSemibold,Arial,Helvetica,sans-serif;
}

#blocker_div {
  position: fixed;
  bottom: 0;
  z-index:48;
  display: block;
  margin: 0;
  padding: 100px 0 0 0;
  width: 100%;
  height: 100%;
  background: image-url('layout/overlay_dark.png');
  color: #fff;
  text-shadow: #000 2px 2px 0;
}

/************ Tabs ************/

ul.searchtoolbar  { margin: 0;padding: 2px 0 0 5px; width:100%;height: 30px;}
.searchtoolbar li { margin-right: 7px;padding: 0 4px 1px 4px; height:22px; width: 30px;float: left;display: inline;border: 1px solid #7e7e7e;}
.searchtoolbar li:hover { background: #aeaeae;}
.searchtoolbar li img.dimmed { background: none;}

/* Automate Specific */
.checkall { padding: 0 0 7px 7px;} /*styling for automate (Check All) */

/* End Automate Specific */

/************ Hover Buttons ************/
.rollover img, input.rollover { display:block;}
.rollover img:hover, img.rollover:hover, input.rollover:hover, i.rollover:hover { background:#e4e4e4;}
.dimmed { background:#f5f5f5; opacity:0.4; filter:alpha(opacity=40);filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);}

img.small, input.small { float: left;margin: 0;padding: 0;width:24px;height:24px;border: 0;}
img.small-nofloat, input.small-nofloat { margin: 0; padding: 0;width:24px;height:24px; border: 0;}
img.tiny { margin: 0; padding: 0;width:20px;height:20px; border: 0; vertical-align:bottom;}

#list li{ display: inline;margin: 0 -6px 0 0;line-height: 0;}
#list img:hover{ background: #4b4b4b;}


/*** form buttons ***/

#policy_bar img, #policy_bar2  img { width: 35px; height: 35px; border: 1px #ccc solid;}
#policy_bar  img:hover, #policy_bar2  img:hover, #policy_bar .active img, #policy_bar2 .active img { background: #e4e4e4;}
#policy_bar { margin-bottom: 3px;padding: 1px 0 0 4px; width: 99.6%;height: 42px; border: none; background: none; line-height: 50px;}
#policy_bar li{ display: inline;margin: 0 -6px 0 0;line-height: 0;}

/*************************** Class for html buttons in explorer views *********************************/
/************ Quad Icons ************/

.quadicon { position:relative;float:left;padding: 0 1px 1px 0;width: 72px; height: 80px;color: #e3e4e4;text-transform: none;}
.quadicon:hover{ padding: 1px 0 0 1px;}

div.panecontent .flobj { margin-left: 40px;}

.flobj { position: absolute;z-index: auto;width: 72px;}
.flobj p { margin: 5px 0 0 0;padding: 0;color: #e3e4e4;vertical-align: middle;text-align:center;text-transform: none;text-shadow: 0 0 3px #000;font: normal 16px OpenSansSemibold,Arial,Helvetica,sans-serif !important;}
.a72 { padding: 3px  0 0 5px; width: 28px; height: 28px;font-size: 1.3em;line-height: 1.8em;}
.b72 { padding: 3px 0 0 37px; font-size: 1.3em;line-height: 1.8em;}
.c72 { padding: 38px 0 0 5px; width: 31px; height: 31px;font-size: 1.3em;line-height: 1.7em;}
.d72 { padding: 38px 0 0 39px; font-size: 1.3em;line-height: 1.7em;}
.e72 { padding: 6px  0 0 6px; width: 35px; height: 35px;font-size: 1.3em;line-height: 2em;}
.f72 { padding: 22px 0 0 24px; width: 24px; height: 24px;}
.g72 { padding: 16px 0 0 19px; width: 24px; height: 24px;}
.b72 img {margin-top: -3px; width: 34px; height: 34px;}
.a72 img,.c72 img,.d72 img{ width: 28px; height: 28px;}
.f72 img,.f72 img { width: 24px; height: 24px;}
.g72 img,.g72 img { width: 36px; height: 36px;}
.e72 img { width: 60px; height: 60px;}

/************ Misc ************/
/*select boxes*/
.form .widthed{ width:400px;}
#logview { top: 0; z-index:5; width: 100%; height:400px; border: 1px solid #ccc; background: #f9f9f9;} /*Diagnostics > Logs*/

img.timeline-event-bubble-image { width: 64px; height: 64px;}
.timeline-band-layer-inner img{ width: 24px; height: 16px;}

.textAreaWithLines{
  display:block;
  margin:0;
  padding: 0 8px 0 0;
  width: 27px;
  border: 1px 0 1px 1px 1px;
  border: 1px solid #999;
  background:#f0f0f0;
}

/*Lightbox background */

#lightbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 100%;
  min-height: 100%;
  background: #fff;
  opacity: 0.5;filter:alpha(opacity=50);
}

/* Lightbox panel with some content */

#lightbox-panel {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 1001;
  display: none;
  margin-left: -35%;
  padding: 10px 15px 10px 15px;
  width: 80%;
  height: 85%;
  border: 2px solid #CCC;
  background: #fff;
}

DIV#candu_charts_div fieldset p{ padding-top: 0;padding-bottom: 0;}

.miq_rpt_red_bg {background: #fbdbdb !important}
.miq_rpt_yellow_bg {background: #ffdc99 !important}
.miq_rpt_green_bg {background: #cef7c9 !important}
.miq_rpt_blue_bg {background-color: #76badf !important}
.miq_rpt_maroon_bg {background-color: #d4edfa !important} /*now light blue*/
.miq_rpt_purple_bg {background-color: #c0acdc !important}
.miq_rpt_gray_bg {background-color: #d1d1d1 !important}

.miq_rpt_red_text {color: #cc0000; font-weight: bold}
.miq_rpt_yellow_text {color:#cccc00; font-weight: bold}
.miq_rpt_green_text {color: #3f9c35; font-weight: bold}
.miq_rpt_blue_text {color: #006e9c; font-weight: bold}
.miq_rpt_purple_text {color: #925bad; font-weight: bold}
.miq_rpt_maroon_text {color: #76badf; font-weight: bold}
.miq_rpt_gray_text {color: gray; font-weight: bold}

ul#toolbars { line-height: 0;}
  #toolbars li { float: left; display: inline; border: 1px solid #7e7e7e;}
  #toolbars img { width:24px; height: 24px;}
  #toolbars  img:hover, #toolbars  img:hover, #toolbars .active img, #toolbars.active img { background: #e4e4e4;}

#spinner_div { margin-top: -45px; margin-left: -35px; width:180px; height: 180px; border-radius: 8px; background: image-url('layout/overlay_dark.png');}
#prov_vm_div {height: 150px;overflow:auto}
