// Override patternfly css for the timeline so no margin is added to the select all buttons
.category-selector .btn-group,
.category-selector .actions-btn {
  margin-left: 0px !important;
}

.timeline-toolbar .dropdown-menu {
  margin-left: 5px !important;
}

.timeline-option {
  display: inline-block;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.timeline-option .radio {
  display: inline-block;
  width: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.timeline-container {
  padding-top: 20px;
}

.timeline-date-box {
  padding-top: 5px;
}

.timeline-date-input {
  padding-left: 16px;
  width: 200px;
}

.timeline-pivot-input {
  padding-left: 8px;
  width: 223px !important;
}

.timeline-container > .popover {
  max-width: 400px;
  overflow-wrap: break-word;
}

.timeline-stepper {
  width: 75px;
  margin-left: 10px;
}

.timeline-range-input {
  text-align: center;
  width: 50px;
}

.timeline-stepper .btn {
  margin-left: 0px !important;
}

.timeline-empty-state {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px
}

.timeline-info {
  padding-bottom: 10px;
}

.timeline-filterbar {
  width: 740px;
}

.timeline-apply {
  margin-left: 20px;
}