html, body {
    background-color: #000000;
    font: 15px arial,sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
/* MIQ commented out VMware button code
.buttonT {
    cursor: pointer;
    height: 22px;
    margin: 5px;
}
.buttonL {
    background: url("button-rightside.png") no-repeat scroll right top transparent;
    float: right;
    height: 100%;
    width: 5px;
}
.buttonC {
    -moz-user-select: none;
    background: url("button-centerpart.png") repeat scroll 0 0 transparent;
    float: right;
    padding-bottom: 2px;
    padding-top: 2px;
}
.buttonR {
    background: url("button-leftside.png") no-repeat scroll left top transparent;
    float: right;
    height: 100%;
    left: 0;
    position: relative;
    width: 5px;
}
.buttonL.box_hover {
    background: url("buttonOver-leftside.png") no-repeat scroll left top transparent;
}
.buttonC.box_hover {
    background: url("buttonOver-centerpart.png") repeat scroll 0 0 transparent;
}
.buttonR.box_hover {
    background: url("buttonOver-rightside.png") no-repeat scroll right top transparent;
}
.buttonL.box_pressed {
    background: url("buttonDown-leftside.png") no-repeat scroll left top transparent;
}
.buttonC.box_pressed {
    background: url("buttonDown-centerpart.png") repeat scroll 0 0 transparent;
}
.buttonR.box_pressed {
    background: url("buttonDown-rightside.png") no-repeat scroll right top transparent;
}
#buttonBar {
    background: url("buttonbar-bg.png") repeat-x scroll left top transparent;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #565656;
    height: 60px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
#buttonBar .buttonT {
    float: right;
}
*/
#vmName {
    color: #FFFFFF;
    font-weight: bold;
    left: 12px;
    overflow: hidden;
    padding-top: 7px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
}
#doc {
    color: #FFFFFF;
    font-size: small;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 0px;
    white-space: nowrap;
		display: none;
}
#hint {
    color: #FFFFFF;
    font-size: small;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 36px;
    white-space: nowrap;
}
#vmNameTooltip {
    background-color: #FFFFCC;
    border: 1px solid #949494;
    color: #000000;
    display: none;
    left: 20px;
    margin-right: 12px;
    padding: 0 3px;
    position: absolute;
    top: 32px;
}
#container {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 60px;
}
#vmrc {
    height: 1px;
    margin-top: 3px;
    overflow: hidden;
    width: 1px;
}
#glassPane {
    background-color: #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
#spinner {
    display: none;
    padding-top: 25%;
    position: absolute;
    text-align: center;
    width: 100%;
}