.widget-export-buttons, .widget-import-buttons {
  display: none;
  position: absolute;
  margin-left: -15px;
  bottom: 0px;
  width: 100%;
}

.button {
  cursor: pointer;
  float: right;
  margin-right: 12px;
  margin-top: 2px;
}
