$wz-default-bg-color: #ffffff;
$wz-default-color: #030303;
$wz-default-border-color: #d1d1d1;

$wz-current-bg-color: #39a5dc;
$wz-current-color: #fafafa;
$wz-current-border-color: #39a5dc;

$wz-done-bg-color: #ffffff;
$wz-done-color: #030303;
$wz-done-border-color: #d1d1d1;

$wz-editing-bg-color: #39a5dc;
$wz-editing-color: #fafafa;
$wz-editing-border-color: #39a5dc;

$wz-substep-nav-width: 250px;

.wizard-miq {
  .modal-body {
    padding: 0;
  }
}

.wizard-miq-body {
  display: inline-block;
  width: 100%;
}
.wizard-miq-content {
}

.wizard-miq-step {
  border-top: solid 1px #d1d1d1;
  margin-top: 15px;
}

.wizard-miq-substep-nav {
  background: #fafafa;
  border-right: 1px solid #d0d0d0;
  bottom: 0;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0px;
  position: relative;
  top: 0;
  width: $wz-substep-nav-width;

  .list-group {
    border-top: 0;
    margin-bottom: 0;
    > .list-group-item {
      background-color: transparent;
      border-color: #ededed;
      padding: 0;

      > a {
        background-color: transparent;
        color: #030303;
        cursor: pointer;
        display: block;
        font-size: 14px;
        font-weight: 700;
        height: 50px;
        outline: 0;
        padding-top: 14px;
        padding-left: 20px;
        position: relative;
        white-space: nowrap;
        width: $wz-substep-nav-width;

        .wizard-miq-substep-number {
          display:inline-block;
          margin-right: 5px;
          vertical-align: middle;
          width: 25px;
        }
        .wizard-miq-substep-title {
          display:inline-block;
          margin-right: 5px;
          vertical-align: middle;
          text-align: left;
        }
        &:hover {
          text-decoration: none;
        }
      }
      &.active {
        > a {
          color: #199dde;
          cursor: default;
        }

        > a:before {
          background: #199dde;
          content: " ";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 3px;
        }
        > a:after {
          color: #199dde;
          content: "\f105";
          display: block;
          font-family: FontAwesome;
          font-size: 24px;
          font-weight: 500;
          line-height: 30px;
          padding-top: 10px;
          position: absolute;
          right: 23px;
          top: 0;
        }
      }

      :hover {
        > a {
          background-color: #393f44;
          color: #fff;
          font-weight: 600;
        }
      }
    }
  }
}

.wizard-miq-step-content {
  padding: 20px 20px 0 20px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 0;
  right: 0;

  .blank-slate-pf {
    background-color: transparent;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
  }
}



.wizard-miq-steps-indicator {
  background-color: #ffffff;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 38px 0 0 0;
  height: 115px;
  list-style: none;

  &.invisible {
    visibility: hidden;
  }

  &:before {
    background-color: $wz-default-border-color;
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    top: 76px;
    height: 2px;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


  li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 15px;
    counter-increment: section;

    a {
      color: #030303;
      text-decoration: none;
      font-size: 16px;
      transition: 0.25s;
      cursor: pointer;

      &:before {
        position: absolute;
        top: 27px;
        left: calc(50% - 13px);
        font-size: 12px;
        font-weight: 700;
        line-height: 22px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        border: solid 2px $wz-default-border-color;
        background-color: $wz-default-bg-color;
        color: $wz-default-color;
        content: counter(section);
        transition: 0.25s;
      }

      &:hover {
        &:before {
          border-color: $wz-current-border-color;
        }
      }
    }
  }

  &.wizard-miq-steps-2 {
    &:before {
      left: calc(100% / 2 / 2);
      right: calc(100% / 2 / 2);
    }
    li {
      width: calc(100% / 2);
    }
  }

  &.wizard-miq-steps-3 {
    &:before {
      left: calc(100% / 3 /  2);
      right: calc(100% / 3 / 2);
    }
    li {
      width: calc(100% / 3);
    }
  }

  &.wizard-miq-steps-4 {
    &:before {
      left: calc(100% / 4 / 2);
      right: calc(100% / 4 / 2);
    }
    li {
      width: calc(100% / 4);
    }
  }

  &.wizard-miq-steps-5 {
    &:before {
      left: calc(100% / 5 / 2);
      right: calc(100% / 5 / 2);
    }
    li {
      width: calc(100% / 5);
    }
  }

  &.wizard-miq-steps-6 {
    &:before {
      left: calc(100% / 6 / 2);
      right: calc(100% / 6 / 2);
    }
    li {
      width: calc(100% / 6);
    }
  }

  &.wizard-miq-steps-7 {
    &:before {
      left: calc(100% / 7 / 2);
      right: calc(100% / 7 / 2);
    }
    li {
      width: calc(100% / 7);
    }
  }

  &.wizard-miq-steps-8 {
    &:before {
      left: calc(100% / 8 / 2);
      right: calc(100% / 8 / 2);
    }
    li {
      width: calc(100% / 8);
    }
  }

  &.wizard-miq-steps-9 {
    &:before {
      left: calc(100% / 9 / 2);
      right: calc(100% / 9 / 2);
    }
    li {
      width: calc(100% / 9);
    }
  }

  &.wizard-miq-steps-10 {
    &:before {
      left: calc(100% / 10 / 2);
      right: calc(100% / 10 / 2);
    }
    li {
      width: calc(100% / 10);
    }
  }

  &.wizard-miq-steps-11 {
    &:before {
      left: calc(100% / 11 / 2);
      right: calc(100% / 11 / 2);
    }
    li {
      width: calc(100% / 11);
    }
  }

  li.current a {
    cursor: default;
    &:before {
      background-color: $wz-current-bg-color;
      border-color: $wz-current-border-color;
      color: $wz-current-color;
    }
  }

  li.done a {
    &:before {
      background-color: $wz-done-bg-color;
      border-color: $wz-done-border-color;
      color: $wz-done-color;
    }
    &:hover {
      &:before {
        border-color: $wz-current-border-color;
      }
    }
  }

  li.editing a {
    cursor: default;
    &:before {
      background-color: $wz-editing-bg-color;
      border-color: $wz-editing-border-color;
      color: $wz-editing-color;
    }
  }
}

.wizard-miq-review-steps {
  list-style: none;

  .list-group, .list-group-item {
    border: none;
    margin-bottom: 0;
  }

  > ul {
    > li {
      position: relative;
      float: left;
      margin: 0;
      line-height: 15px;
      width: 100%;

      > a {
        color: #030303;
        text-decoration: none;
        font-size: 16px;
        transition: 0.25s;
        cursor: pointer;
        padding-left: 30px;
        padding-right: 5px;

        &:before {
          content: "\f107";
          display: block;
          font-family: FontAwesome;
          font-size: 24px;
          font-weight: 500;
          position: absolute;
          left: 20px;
        }

        &.collapsed {
          &:before {
            content: "\f105";
          }
        }
      }

      .checkbox {
        line-height: 20px;
        pointer-events: none;
      }
    }
  }
}

.wizard-miq-review-substeps {
  padding-left: 22px;
  > ul {
    > li {
      position: relative;
      float: left;
      margin: 0;
      line-height: 15px;
      width: 100%;

      a {
        color: #030303;
        text-decoration: none;
        font-size: 16px;
        transition: 0.25s;
        cursor: pointer;
        padding-left: 30px;
        padding-right: 5px;

        &:before {
          content: "\f107";
          display: block;
          font-family: FontAwesome;
          font-size: 24px;
          font-weight: 500;
          position: absolute;
          left: 20px;
        }

        &.collapsed {
          &:before {
            content: "\f105";
          }
        }
      }
    }
  }
}

.wizard-miq-review-content {
  padding-top: 10px;
  padding-left: 40px;

  .miq-form-heading {
    padding-top: 10px;

    &:first-of-type {
      padding-top: 0;
    }
  }
  .wizard-miq-review-item {
    padding: 5px 0;
    .wizard-miq-review-item-label {
      font-weight: 700;
      padding-right: 10px;
    }
    .wizard-miq-review-item-value {
    }
    .wizard-miq-review-item-subvalue {
      padding-left: 20px;
    }
    .wizard-miq-review-table {
      padding-top: 10px;
      padding-right: 20px;
      width: 250px;
    }
  }
  .wizard-miq-review-subform {
    padding-left: 15px;
  }
}

.wizard-miq-footer {
  padding-bottom: 17px;
  background-color: #f8f8f8;
}
.wizard-miq-btn-container {
  border-top: solid 1px #d1d1d1;
  float: right;
  width: 100%;
  height: 60px;
  padding: 15px;
  margin-top: 0;

  .tooltip-wrapper {
    border: none;
    box-shadow: none;
    display: inline-block;
    margin-left: 5px;
    padding: 0;
    text-align: center;

    .btn[disabled] {
      pointer-events: none;
    }
  }
}

.miq-deploy-provider-wizard {
  .sub-group {
    margin-left: 0;
    margin-top: 10px;

    > a {
      margin-left: 10px;
      cursor: pointer;
    }
  }

  a {
    &.disabled {
      pointer-events: none;
      cursor: default;
      color: #E6E6E6;
    }
  }

  .miq-page-heading {
    font-weight: 700;
    padding-bottom: 10px;
  }

  .miq-form-heading {
    font-weight: 700;
    padding-bottom: 10px;
  }

  .miq-form-no-label {
    margin-left: 95px;
    padding-left: 10px;
  }

  .miq-input-label-class {
    width: 95px;
    padding-right: 10px;
    padding-left: 20px;
    float: left;

    &.miq-input-label-class-lg {
      width: 150px;
    }

    &.miq-input-label-class-xlg {
      width: 175px;
    }
  }

  .miq-input-no-label-class {
    padding-right: 10px;
    padding-left: 20px;
    float: left;
    width: 0;
  }

  .miq-radio-form, .miq-checkbox-form {
    padding-left: 20px;
  }

  .miq-input-checkbox-form {
    padding-left: 55px;
    padding-bottom: 10px;
    .miq-checkbox-input-label {
      padding-right: 20px;
      input {
        margin-right: 20px;
        position: static;
      }
      &.miq-checkbox-input-label-lg {
        padding-left: 55px;
      }
    }
    .miq-input-label-class {
      width: 130px;
      padding-left: 15px;
      padding-top: 3px;
      text-align: left;
      vertical-align: middle;
    }
  }
  .miq-input-class {
    width: 200px;
    padding: 0 20px 0 10px;
    float: left;
  }

  .miq-radio-input-class {
    width: 200px;
    padding: 0 20px 0 30px;
    float: left;
  }

  .miq-touchspin-input-class {
    width: 110px;
    padding: 0 20px 0 10px;
    float: left;

    .form-control {
      height: 24px;
    }
    .btn {
      padding-bottom: 1px;
    }
    .form-control[readonly] {
      background-color: #fff;
    }
  }

  .form-horizontal > .radio {
    margin-left: 20px;
  }

  .nodes-table-container {
    border: solid 1px #d1d1d1;

    .toolbar-pf {
      > .col-sm-12 {
        padding-left: 10px;
        padding-right: 10px;
      }
      .toolbar-pf-filter {
        padding-right: 10px;
        width: 225px;
      }
      .toolbar-pf-results {
        margin-left: -10px;
        margin-right: -10px;
      }
      .toolbar-pf-actions {
        .add-nodes-table & {
          padding-bottom: 10px;
        }
        > .form-group {
          border-right: none;
          float: right;
          padding-right: 0px;
        }
        .dropdown-kebab-pf .dropdown-menu {
          left: auto;
          right: -15px;

          &:before, &:after {
            left:auto;
            right:6px;
          }
        }
      }
      .sort-pf > form > .form-group {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &.add-nodes-table {
      .checkbox-col {
        padding-left: 6px;
        padding-right: 6px;
        width: 20px;
      }
      .toolbar-pf-actions {
        padding-bottom: 10px;
      }
    }

    .table-responsive {
      max-height: 265px;
      min-height: 265px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    &.add-nodes-table {
      .table-responsive {
        max-height: 190px;
        min-height: 190px;
      }
    }
    .table {
      border: none;
      width: calc(100% + 3px);
      margin-left: -1px;

    }

    .table-footer {
      background-color: #fafafa;
      width: 100%;
      height: 28px;
      padding-top: 5px;

      .badge {
        background: transparent;
        color: #030303;
        font-size: 12px;
        font-weight: 700;
        float: left;
        line-height: 1.66666667;
        margin: 0;
        padding: 0 7px;
        text-align: center;
      }
    }
  }
  .miq-add-dialog-text {
    font-weight: 700;
    padding: 15px;
  }
  .miq-add-dialog-input {
    padding: 0 15px;
    width: 100%;
    > input {
      width: 100%;
    }
  }

  .miq-review-label-class {
    padding-right: 10px;
    float: left;
  }

  .miq-review-edit-item {
    line-height: 20px;
    margin-bottom: 15px;
  }
  .miq-review-edit-field {
    cursor: pointer;
    float: left;
    padding-right: 20px;
    position: relative;
    &:after {
      content: "\e60a";
      font-family: 'PatternFlyIcons-webfont';
      position: absolute;
      right: 0;
    }
  }
  .miq-review-edit-text {
    margin-right: 20px;
    margin-top: 5px;
    resize: none;
    width: 100%;
  }
  .miq-review-button-panel {
    float: right;
    width: 100%;
    padding: 10px 0;
    margin-top: 0;
  }
  .miq-wizard-review-list {
    li {
      margin: 5px 0;
    }
  }
}

.miq-wizard-page-wait-dialog {
  .modal-dialog {
    margin-top: 240px;
  }
}
.miq-wait-dialog-content {
  padding: 15px;

  .miq-wait-dialog-text {
    padding-top: 10px;
    text-align: center;
    width: 100%;
  }
}
