#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{:href => '#'}
          = _('Dialog')
    .panel-collapse.collapse.in
      .panel-body
        -# Div to hold the actual tree
        #dialog_edit_tree_div{:style => "width: 100%; height: 100%"}
          #dialog_edit_treebox.treeview-pf-hover.treeview-pf-select{:style => "width: 100%; height: 100%; color: #000; overflow: hidden;"}
          = render(:partial => "layouts/tree",
            :locals         => {:tree_id  => "dialog_edit_treebox",
              :tree_name                  => "dialog_edit_tree",
              :bs_tree                    => @dialog_edit_tree,
              :onclick                    => "miqOnClickSelectDlgEditTreeNode",
              :select_node                => x_node(:dialog_edit_tree).to_s,
              :tree_state                 => true,
              :cookie_prefix              => "edit_"})
