- data ||= nil
#form_widgets_div
  %hr
  %h3
    = typ.capitalize
  .row#modules
    .col-md-4#col1
      - objects = data.nil? ? @edit[:new][:tabs] : data
      - if objects.blank?
        = _("No %{types} found.") % {:types => typ.pluralize.capitalize}
      - else
        - objects.each_with_index do |obj, i|
          - if obj[:label]
            = render(:partial => 'dialog_resource',
              :locals => {:obj => obj,
                :typ           => typ,
                :parent_id     => parent_id,
                :curr_pos      => i})
