#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{:href => '#'}
          = _('Dialog')
    .panel-collapse.collapse.in
      .panel-body
        -# Div to hold the actual tree
        #dialog_edit_tree_div{:style => "width: 100%; height: 100%"}
          #dialog_edit_treebox{:style => "width: 100%; height: 100%; color: #000; overflow: hidden;"}
          = render(:partial => "layouts/dynatree",
            :locals         => {:tree_id  =>  "dialog_edit_treebox",
              :tree_name                  =>  "dialog_edit_tree",
              :json_tree                  =>  @dialog_edit_tree,
              :onclick                    =>  "miqOnClickSelectDlgEditTreeNode",
              :select_node                =>  "#{x_node(:dialog_edit_tree)}",
              :base_id                    =>  "root",
              :exp_tree                   =>  true,
              :highlighting               =>  true,
              :no_tree_lines              =>  false,
              :tree_state                 =>  true,
              :cookie_id_prefix           => "edit_treeOpenStatex",
              :multi_lines                =>  true})
