---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeAvailabilityZones&Signature=1FxUW%2B%2FlEnL7Rdc7LkrvPy%2FSaI9ZtIccwqQbOTq02%2B8%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A51%3A51Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeAvailabilityZonesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>16ee7126-6e38-4b0c-b711-e2060bab10b8</requestId>\n
        \   <availabilityZoneInfo>\n        <item>\n            <zoneName>us-west-1a</zoneName>\n
        \           <zoneState>available</zoneState>\n            <regionName>us-west-1</regionName>\n
        \           <messageSet/>\n        </item>\n        <item>\n            <zoneName>us-west-1b</zoneName>\n
        \           <zoneState>available</zoneState>\n            <regionName>us-west-1</regionName>\n
        \           <messageSet/>\n        </item>\n        <item>\n            <zoneName>us-west-1c</zoneName>\n
        \           <zoneState>available</zoneState>\n            <regionName>us-west-1</regionName>\n
        \           <messageSet/>\n        </item>\n    </availabilityZoneInfo>\n</DescribeAvailabilityZonesResponse>"
  recorded_at: Wed, 06 Nov 2013 19:51:52 GMT
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeKeyPairs&Signature=SikCmsb%2FGuomCw5dnpo2rPJ2ZRgSt6liyD9LLRcDkPk%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A51%3A52Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeKeyPairsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>73d9252d-39a8-4b3c-b583-2107fbf43e84</requestId>\n
        \   <keySet>\n        <item>\n            <keyName>EmsRefreshSpec-KeyPair-OtherRegion</keyName>\n
        \           <keyFingerprint>fc:53:30:aa:d2:23:c7:8d:e2:e8:05:95:a0:d2:90:fb:15:30:a2:51</keyFingerprint>\n
        \       </item>\n        <item>\n            <keyName>jf-west-1</keyName>\n
        \           <keyFingerprint>5f:a8:de:1b:56:ba:3c:12:78:13:79:d6:d0:1d:b9:12:7d:b9:6d:91</keyFingerprint>\n
        \       </item>\n    </keySet>\n</DescribeKeyPairsResponse>"
  recorded_at: Wed, 06 Nov 2013 19:51:53 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeSecurityGroups&Signature=f5CSyLG2eTw0ONLAmsxMtAyYRXjLwcj%2Fxl6tKMxrpXE%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A51%3A54Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeSecurityGroupsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>6a7f072d-6118-47a8-b184-cabae8587d74</requestId>\n
        \   <securityGroupInfo>\n        <item>\n            <ownerId>123456789012</ownerId>\n
        \           <groupId>sg-e94055ac</groupId>\n            <groupName>default</groupName>\n
        \           <groupDescription>default group</groupDescription>\n            <ipPermissions>\n
        \               <item>\n                    <ipProtocol>tcp</ipProtocol>\n
        \                   <fromPort>0</fromPort>\n                    <toPort>65535</toPort>\n
        \                   <groups>\n                        <item>\n                            <userId>123456789012</userId>\n
        \                           <groupId>sg-e94055ac</groupId>\n                            <groupName>default</groupName>\n
        \                       </item>\n                    </groups>\n                    <ipRanges/>\n
        \               </item>\n                <item>\n                    <ipProtocol>udp</ipProtocol>\n
        \                   <fromPort>0</fromPort>\n                    <toPort>65535</toPort>\n
        \                   <groups>[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Signature=Xrsr%2B88faP4FWoOgaNOioLMSvQrEZzq2pR7at2dlpRI%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A51%3A55Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeImagesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>f740a85a-8a7e-4fe7-955e-c6189234893d</requestId>\n
        \   <imagesSet>\n        <item>\n            <imageId>ami-183e175d</imageId>\n
        \           <imageLocation>123456789012/EmsRefreshSpec-Image-OtherRegion</imageLocation>\n
        \           <imageState>available</imageState>\n            <imageOwnerId>123456789012</imageOwnerId>\n
        \           <isPublic>false</isPublic>\n            <architecture>x86_64</architecture>\n
        \           <imageType>machine</imageType>\n            <kernelId>aki-36b79b73</kernelId>\n
        \           <name>EmsRefreshSpec-Image-OtherRegion</name>\n            <description>EmsRefreshSpec-Image-OtherRegion</description>\n
        \           <rootDeviceType>ebs</rootDeviceType>\n            <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \           <blockDeviceMapping>\n                <item>\n                    <deviceName>/dev/sda1</deviceName>\n
        \                   <ebs>\n                        <snapshotId>snap-02ef440a</snapshotId>\n
        \                       <volumeSize>7</volumeSize>\n                        <deleteOnTermination>true</deleteOnTermination>\n
        \                       <volumeType>standard</volumeType>\n                    </ebs>\n
        \               </item>\n            </blockDeviceMapping>\n            <virtualizationType>paravirtual</virtualizationType>\n
        \           <hypervisor>xen</hypervisor>\n        </item>\n    </imagesSet>\n</DescribeImagesResponse>"
  recorded_at: Wed, 06 Nov 2013 19:51:55 GMT
[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=P1qTBsdK6UCOrYMh7p0ifaxTUTAygdI8wu6S7UJN0zQ%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A51%3A56Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>eadecaf6-cf9b-40d3-9c84-2d60238c1348</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-18afd25e</reservationId>\n
        \           <ownerId>123456789012</ownerId>\n            <groupSet>\n                <item>\n
        \                   <groupId>sg-e94055ac</groupId>\n                    <groupName>default</groupName>\n
        \               </item>\n            </groupSet>\n            <instancesSet>\n
        \               <item>\n                    <instanceId>i-fdd815a4</instanceId>\n
        \                   <imageId>ami-3bc9997e</imageId>\n                    <instanceState>\n
        \                       <code>16</code>\n                        <name>running</name>\n
        \                   </instanceState>\n                    <privateDnsName>ip-10-160-177-126.us-west-1.compute.internal</privateDnsName>\n
        \                   <dnsName>ec2-184-169-243-31.us-west-1.compute.amazonaws.com</dnsName>\n
        \                   <reason/>\n                    <amiLaunchIndex>0</amiLaunchIndex>\n
        \                   <productCodes/>\n                    <instanceType>m1.small</instanceType>\n
        \                   <launchTime>2012-10-01T18:11:04.000Z</launchTime>\n                    <placement>\n
        \                       <availabilityZone>us-west-1a</availabilityZone>\n
        \                       <groupName/>\n                        <tenancy>default</tenancy>\n
        \                   </placement>\n                    <kernelId>aki-99a0f1dc</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <privateIpAddress>10.160.177.126</privateIpAddress>\n
        \                   <ipAddress>184.169.243.31</ipAddress>\n                    <groupSet>\n
        \                       <item>\n                            <groupId>sg-e94055ac</groupId>\n
        \                           <groupName>default</groupName>\n                        </item>\n
        \                   </groupSet>\n                    <architecture>i386</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-93f7b6bd</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2012-10-01T18:11:08.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken>5bfd4308-0bf3-11e2-96b9-a4b197fffe9a</clientToken>\n
        \                   <hypervisor>xen</hypervisor>\n                    <networkInterfaceSet/>\n
        \                   <ebsOptimized>false</ebsOptimized>\n                </item>\n
        \           </instancesSet>\n        </item>\n        <item>\n            <reservationId>r-9fde5ac4</reservationId>\n
        \           <ownerId>123456789012</ownerId>\n            <groupSet>\n                <item>\n
        \                   <groupId>sg-2b87746f</groupId>\n                    <groupName>EmsRefreshSpec-SecurityGroup-OtherRegion</groupName>\n
        \               </item>\n            </groupSet>\n            <instanc[...]
- request:
    method: post
    uri: https://ec2.us-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeAddresses&Signature=s3T0IxTAsY3KlivtKxjziQj3eHY4npEcDgVK8QqO45E%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A51%3A57Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeAddressesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>405adf40-d204-40f7-9aa8-ac47abc9f83d</requestId>\n
        \   <addressesSet>\n        <item>\n            <publicIp>54.215.0.230</publicIp>\n
        \           <domain>standard</domain>\n            <instanceId/>\n        </item>\n
        \   </addressesSet>\n</DescribeAddressesResponse>"
  recorded_at: Wed, 06 Nov 2013 19:51:58 GMT
recorded_with: VCR 2.4.0
