---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeAvailabilityZones&Signature=E62p3yZxvEXU6ZYUidwvN36%2BmuOcV4tbPZNy54ZF4x4%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A52%3A01Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeAvailabilityZonesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>2400a1fc-301c-4ba7-91ab-76ad612569f7</requestId>\n
        \   <availabilityZoneInfo>\n        <item>\n            <zoneName>us-east-1a</zoneName>\n
        \           <zoneState>available</zoneState>\n            <regionName>us-east-1</regionName>\n
        \           <messageSet/>\n        </item>\n        <item>\n            <zoneName>us-east-1b</zoneName>\n
        \           <zoneState>available</zoneState>\n            <regionName>us-east-1</regionName>\n
        \           <messageSet/>\n        </item>\n        <item>\n            <zoneName>us-east-1c</zoneName>\n
        \           <zoneState>available</zoneState>\n            <regionName>us-east-1</regionName>\n
        \           <messageSet/>\n        </item>\n        <item>\n            <zoneName>us-east-1d</zoneName>\n
        \           <zoneState>available</zoneState>\n            <regionName>us-east-1</regionName>\n
        \           <messageSet/>\n        </item>\n        <item>\n            <zoneName>us-east-1e</zoneName>\n
        \           <zoneState>available</zoneState>\n            <regionName>us-east-1</regionName>\n
        \           <messageSet/>\n        </item>\n    </availabilityZoneInfo>\n</DescribeAvailabilityZonesResponse>"
  recorded_at: Wed, 06 Nov 2013 19:52:02 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeKeyPairs&Signature=zzqqjGO%2FVUu1YkLXAcBdFY8MgdZ3ICSTxRevcDZ9cHs%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A52%3A02Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeKeyPairsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>7adeedeb-5f60-418f-9134-54cd0ba16fd1</requestId>\n
        \   <keySet>\n        <item>\n            <keyName>jf</keyName>\n            <keyFingerprint>22:54:06:f7:8b:f0:cf:90:8a:79:70:03:b3:0a:5e:37:28:14:a7:c4</keyFingerprint>\n
        \       </item>\n        <item>\n            <keyName>rpo</keyName>\n            <keyFingerprint>e6:c0:d7:a2:f8:dd:62:8d:76:36:7d:ca:d5:df:5f:a4:e9:bd:28:2c</keyFingerprint>\n
        \       </item>\n        <item>\n            <keyName>EmsRefreshSpec-KeyPair</keyName>\n
        \           <keyFingerprint>49:9f:3f:a4:26:48:39:94:26:06:dd:25:73:e5:da:9b:4b:1b:6c:93</keyFingerprint>\n
        \       </item>\n        <item>\n            <keyName>miq</keyName>\n            <keyFingerprint>a0:78:37:d3:bb:f2:46:a0:e3:d6:9f:be:be:e3:0f:1b:36:14:ef:a8</keyFingerprint>\n
        \       </item>\n        <item>\n            <keyName>bill</keyName>\n            <keyFingerprint>eb:13:8d:19:b1:9d:9f:8b:ea:e0:9b:0b:eb:ea:46:a7:b3:a9:76:99</keyFingerprint>\n
        \       </item>\n        <item>\n            <keyName>gm</keyName>\n            <keyFingerprint>a5:cb:4a:5d:e4:c0:97:7e:2f:c8:cd:6d:f7:6c:ab:4c:17:6d:6e:83</keyFingerprint>\n
        \       </item>\n    </keySet>\n</DescribeKeyPairsResponse>"
  recorded_at: Wed, 06 Nov 2013 19:52:02 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeVpcs&Signature=lLte3ve%2B%2BT6hKh9dJB0o3W5SpQe1qTnbYXacITBDr5s%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A52%3A02Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeVpcsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>cfd43762-3df0-4ddd-91fb-6f9e2dce9206</requestId>\n
        \   <vpcSet>\n        <item>\n            <vpcId>vpc-ff49ff91</vpcId>\n            <state>available</state>\n
        \           <cidrBlock>10.0.0.0/16</cidrBlock>\n            <dhcpOptionsId>dopt-f24ff99c</dhcpOptionsId>\n
        \           <tagSet>\n                <item>\n                    <key>Name</key>\n
        \                   <value>EmsRefreshSpec-VPC</value>\n                </item>\n
        \           </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n
        \           <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n</DescribeVpcsResponse>"
  recorded_at: Wed, 06 Nov 2013 19:52:03 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeSubnets&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-ff49ff91&Signature=2%2FtK2d%2BQVrEpE7WhQyIQ5ctAQWed0BNZkDLcrhRjJIk%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A52%3A03Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeSubnetsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>5e5d928b-72c6-4f35-bebc-9e6db6517d3e</requestId>\n
        \   <subnetSet>\n        <item>\n            <subnetId>subnet-f849ff96</subnetId>\n
        \           <state>available</state>\n            <vpcId>vpc-ff49ff91</vpcId>\n
        \           <cidrBlock>10.0.0.0/24</cidrBlock>\n            <availableIpAddressCount>250</availableIpAddressCount>\n
        \           <availabilityZone>us-east-1e</availabilityZone>\n            <defaultForAz>false</defaultForAz>\n
        \           <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>\n            <tagSet>\n
        \               <item>\n                    <key>Name</key>\n                    <value>EmsRefreshSpec-Subnet1</value>\n
        \               </item>\n            </tagSet>\n        </item>\n        <item>\n
        \           <subnetId>subnet-16c70477</subnetId>\n            <state>available</state>\n
        \           <vpcId>vpc-ff49ff91</vpcId>\n            <cidrBlock>10.0.1.0/24</cidrBlock>\n
        \           <availableIpAddressCount>251</availableIpAddressCount>\n            <availabilityZone>us-east-1d</availabilityZone>\n
        \           <defaultForAz>false</defaultForAz>\n            <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>\n
        \           <tagSet>\n                <item>\n                    <key>Name</key>\n
        \                   <value>EmsRefreshSpec-Subnet2</value>\n                </item>\n
        \           </tagSet>\n        </item>\n    </subnetSet>\n</DescribeSubnetsResponse>"
  recorded_at: Wed, 06 Nov 2013 19:52:06 GMT
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeSecurityGroups&Signature=%2F%2F7IYSL5O3eLyv2XedU64EMm2ER72CK9%2FmvuBc7bBSg%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A52%3A06Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeSecurityGroupsResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>dc667b56-3027-4e13-a52b-7f641e356e9e</requestId>\n
        \   <securityGroupInfo>\n        <item>\n            <ownerId>123456789012</ownerId>\n
        \           <groupId>sg-208e6849</groupId>\n            <groupName>miq-internal</groupName>\n
        \           <groupDescription>Access from ManageIQ internal only</groupDescription>\n
        \           <ipPermissions>\n                <item>\n                    <ipProtocol>tcp</ipProtocol>\n
        \                   <fromPort>22</fromPort>\n                    <toPort>22</toPort>\n
        \                   <groups/>\n                    <ipRanges>\n                        <item>\n
        \                           <cidrIp>75.127.178.24/29</cidrIp>\n                        </item>\n
        \                   </ipRanges>\n                </item>\n                <item>\n
        \                   <ipProtocol>tcp</ipProtocol>\n                    <fromPort>3389</fromPort>\n
        \                   <toPort>3389</toPort>\n                    <groups/>\n
        \                   <ipRanges>\n                        <item>\n                            <cidrIp>75.127.178.24/29</cidrIp>\n
        \                       </item>\n                    </ipRanges>\n                </item>\n
        \           </ipPermissions>\n            <ipPermissionsEgress/>\n        </item>\n
        \       <item>\n            <ownerId>123456789012</ownerId>\n            <groupId>sg-347f9b5d</groupId>\n
        \           <groupName>default</groupName>\n            <groupDescription>default
        group</groupDescription>\n            <ipPermissions>\n                <item>\n
        \                   <ipProtocol>tcp</ipProtocol>\n                    <fromPort>0</fromPort>\n
        \                   <toPort>65535</toPort>\n                    <groups>\n
        \                       <item>\n                            <userId>123456789012</userId>\n
        \                           <groupId>sg-347f9b5d</groupId>\n                            <groupName>default</groupName>\n
        \                       </item>\n                    </groups>\n                    <ipRanges/>\n
        \               </item>\n                <item>\n                    <ipProtocol>udp</ipProtocol>\n
        \                   <fromPort>0</fromPort>\n                    <toPort>65535</toPort>\n
        \                   <groups>[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeImages&Filter.1.Name=image-type&Filter.1.Value.1=machine&Owner.1=self&Signature=fAExi%2F04%2FFKkrI%2FYgbjGJstyCudwlVhhqPAPeiI5Z3c%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A52%3A06Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeImagesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>379b8d37-501e-429f-ac9e-9c0572d8884e</requestId>\n
        \   <imagesSet>\n        <item>\n            <imageId>ami-20e90e49</imageId>\n
        \           <imageLocation>jf-test-copy/jf-test-copy.img.manifest.xml</imageLocation>\n
        \           <imageState>available</imageState>\n            <imageOwnerId>123456789012</imageOwnerId>\n
        \           <isPublic>false</isPublic>\n            <architecture>i386</architecture>\n
        \           <imageType>machine</imageType>\n            <kernelId>aki-a71cf9ce</kernelId>\n
        \           <ramdiskId>ari-a51cf9cc</ramdiskId>\n            <rootDeviceType>instance-store</rootDeviceType>\n
        \           <blockDeviceMapping/>\n            <virtualizationType>paravirtual</virtualizationType>\n
        \           <hypervisor>xen</hypervisor>\n        </item>\n        <item>\n
        \           <imageId>ami-25a81c4c</imageId>\n            <imageLocation>123456789012/suse-11-server-64</imageLocation>\n
        \           <imageState>available</imageState>\n            <imageOwnerId>123456789012</imageOwnerId>\n
        \           <isPublic>false</isPublic>\n            <architecture>x86_64</architecture>\n
        \           <imageType>machine</imageType>\n            <kernelId>aki-825ea7eb</kernelId>\n
        \           <name>suse-11-server-64</name>\n            <description/>\n            <rootDeviceType>ebs</rootDeviceType>\n
        \           <rootDeviceName>/dev/sda1</rootDeviceName>\n            <blockDeviceMapping>\n
        \               <item>\n                    <deviceName>/dev/sda1</deviceName>\n
        \                   <ebs>\n                        <snapshotId>snap-6eee471d</snapshotId>\n
        \                       <volumeSize>10</volumeSize>\n                        <deleteOnTermination>true</deleteOnTermination>\n
        \                       <volumeType>standard</volumeType>\n                    </ebs>\n
        \               </item>\n            </blockDeviceMapping>\n            <virtualizationType>paravirtual</virtualizationType>\n
        \           <tagSet>\n                <item>\n                    <key>Name</key>\n
        \                   <value>suse-11-server-64</value>\n                </item>\n
        \           </tagSet>\n            <hypervisor>xen</hypervisor>\n        </item>\n
        \       <item>\n            <image[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeImages&ExecutableBy.1=self&Filter.1.Name=image-type&Filter.1.Value.1=machine&Signature=2ZA%2FiYGD3rjqE7U4WArn2l%2BZU46z8lxlOzqL8I%2Fb5zc%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A52%3A07Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeImagesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>c6d3d97b-516d-44cf-8b54-c08a9c0124de</requestId>\n
        \   <imagesSet>\n        <item>\n            <imageId>ami-3e094857</imageId>\n
        \           <imageLocation>299748131127/LinuxTest02</imageLocation>\n            <imageState>available</imageState>\n
        \           <imageOwnerId>299748131127</imageOwnerId>\n            <isPublic>false</isPublic>\n
        \           <architecture>i386</architecture>\n            <imageType>machine</imageType>\n
        \           <kernelId>aki-b6aa75df</kernelId>\n            <name>LinuxTest02</name>\n
        \           <description>LinuxTest02</description>\n            <rootDeviceType>ebs</rootDeviceType>\n
        \           <rootDeviceName>/dev/sda1</rootDeviceName>\n            <blockDeviceMapping>\n
        \               <item>\n                    <deviceName>/dev/sda1</deviceName>\n
        \                   <ebs>\n                        <snapshotId>snap-d0ed0287</snapshotId>\n
        \                       <volumeSize>8</volumeSize>\n                        <deleteOnTermination>true</deleteOnTermination>\n
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeInstances&Signature=0MRLyRLCvlYT9reFuXlwRl15YZBH2fauUOVDxJF9wbk%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A52%3A07Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeInstancesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>d72e984e-c2aa-485c-919e-f2f3ff16eb8a</requestId>\n
        \   <reservationSet>\n        <item>\n            <reservationId>r-1842f370</reservationId>\n
        \           <ownerId>123456789012</ownerId>\n            <groupSet/>\n            <instancesSet>\n
        \               <item>\n                    <instanceId>i-8b5739f2</instanceId>\n
        \                   <imageId>ami-5769193e</imageId>\n                    <instanceState>\n
        \                       <code>16</code>\n                        <name>running</name>\n
        \                   </instanceState>\n                    <privateDnsName>ip-10-0-0-254.ec2.internal</privateDnsName>\n
        \                   <dnsName/>\n                    <reason/>\n                    <keyName>EmsRefreshSpec-KeyPair</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>t1.micro</instanceType>\n                    <launchTime>2013-09-23T20:11:52.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1e</availabilityZone>\n
        \                       <groupName/>\n                        <tenancy>default</tenancy>\n
        \                   </placement>\n                    <kernelId>aki-1eceaf77</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <subnetId>subnet-f849ff96</subnetId>\n
        \                   <vpcId>vpc-ff49ff91</vpcId>\n                    <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                   <sourceDestCheck>true</sourceDestCheck>\n                    <groupSet>\n
        \                       <item>\n                            <groupId>sg-80f755ef</groupId>\n
        \                           <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>\n
        \                       </item>\n                    </groupSet>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        \                           <deviceName>/dev/sda1</deviceName>\n                            <ebs>\n
        \                               <volumeId>vol-67606d2d</volumeId>\n                                <status>attached</status>\n
        \                               <attachTime>2013-09-23T20:11:57.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </ebs>\n                        </item>\n                    </blockDeviceMapping>\n
        \                   <virtualizationType>paravirtual</virtualizationType>\n
        \                   <clientToken>aPCzL1379967112359</clientToken>\n                    <tagSet>\n
        \                       <item>\n                            <key>Name</key>\n
        \                           <value>EmsRefreshSpec-PoweredOn-VPC</value>\n
        \                       </item>\n                    </tagSet>\n                    <hypervisor>xen</hypervisor>\n
        \                   <networkInterfaceSet>\n                        <item>\n
        \                           <networkInterfaceId>eni-ad25f7cc</networkInterfaceId>\n
        \                           <subnetId>subnet-f849ff96</subnetId>\n                            <vpcId>vpc-ff49ff91</vpcId>\n
        \                           <description>Primary network interface</description>\n
        \                           <ownerId>123456789012</ownerId>\n                            <status>in-use</status>\n
        \                           <macAddress>22:d8:dc:13:0c:ca</macAddress>\n                            <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                           <sourceDestCheck>true</sourceDestCheck>\n                            <groupSet>\n
        \                               <item>\n                                    <groupId>sg-80f755ef</groupId>\n
        \                                   <groupName>EmsRefreshSpec-SecurityGroup-VPC</groupName>\n
        \                               </item>\n                            </groupSet>\n
        \                           <attachment>\n                                <attachmentId>eni-attach-05fac66f</attachmentId>\n
        \                               <deviceIndex>0</deviceIndex>\n                                <status>attached</status>\n
        \                               <attachTime>2013-09-23T20:11:52.000Z</attachTime>\n
        \                               <deleteOnTermination>true</deleteOnTermination>\n
        \                           </attachment>\n                            <privateIpAddressesSet>\n
        \                               <item>\n                                    <privateIpAddress>10.0.0.254</privateIpAddress>\n
        \                                   <primary>true</primary>\n                                </item>\n
        \                           </privateIpAddressesSet>\n                        </item>\n
        \                   </networkInterfaceSet>\n                    <ebsOptimized>false</ebsOptimized>\n
        \               </item>\n            </instancesSet>\n        </item>\n        <item>\n
        \           <reservationId>r-1405097e</reservationId>\n            <ownerId>123456789012</ownerId>\n
        \           <groupSet>\n                <item>\n                    <groupId>sg-347f9b5d</groupId>\n
        \                   <groupName>default</groupName>\n                </item>\n
        \           </groupSet>\n            <instancesSet>\n                <item>\n
        \                   <instanceId>i-fe4eb794</instanceId>\n                    <imageId>ami-67bc0b0e</imageId>\n
        \                   <instanceState>\n                        <code>80</code>\n
        \                       <name>stopped</name>\n                    </instanceState>\n
        \                   <privateDnsName/>\n                    <dnsName/>\n                    <reason>User
        initiated (2013-08-27 20:24:50 GMT)</reason>\n                    <keyName>miq</keyName>\n
        \                   <amiLaunchIndex>0</amiLaunchIndex>\n                    <productCodes/>\n
        \                   <instanceType>m1.small</instanceType>\n                    <launchTime>2013-08-27T20:22:57.000Z</launchTime>\n
        \                   <placement>\n                        <availabilityZone>us-east-1b</availabilityZone>\n
        \                       <groupName/>\n                        <tenancy>default</tenancy>\n
        \                   </placement>\n                    <kernelId>aki-825ea7eb</kernelId>\n
        \                   <monitoring>\n                        <state>disabled</state>\n
        \                   </monitoring>\n                    <groupSet>\n                        <item>\n
        \                           <groupId>sg-347f9b5d</groupId>\n                            <groupName>default</groupName>\n
        \                       </item>\n                    </groupSet>\n                    <stateReason>\n
        \                       <code>Client.UserInitiatedShutdown</code>\n                        <message>Client.UserInitiatedShutdown:
        User initiated shutdown</message>\n                    </stateReason>\n                    <architecture>x86_64</architecture>\n
        \                   <rootDeviceType>ebs</rootDeviceType>\n                    <rootDeviceName>/dev/sda1</rootDeviceName>\n
        \                   <blockDeviceMapping>\n                        <item>\n
        [...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=0123456789ABCDEFGHIJ&Action=DescribeAddresses&Signature=2Z8NzLKrEn92QKGEHkH7VCChqCr4M%2FdnT%2FMs7Jt44tA%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-11-06T19%3A52%3A08Z&Version=2013-02-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DescribeAddressesResponse
        xmlns=\"http://ec2.amazonaws.com/doc/2013-02-01/\">\n    <requestId>f90e9e9d-127c-4887-888a-ab06961f4717</requestId>\n
        \   <addressesSet>\n        <item>\n            <publicIp>54.221.202.53</publicIp>\n
        \           <domain>standard</domain>\n            <instanceId>i-7ab3c301</instanceId>\n
        \       </item>\n        <item>\n            <publicIp>54.221.202.64</publicIp>\n
        \           <domain>standard</domain>\n            <instanceId/>\n        </item>\n
        \       <item>\n            <publicIp>54.208.121.144</publicIp>\n            <allocationId>eipalloc-8d53d7e3</allocationId>\n
        \           <domain>vpc</domain>\n        </item>\n        <item>\n            <publicIp>54.208.119.197</publicIp>\n
        \           <allocationId>eipalloc-ce53d7a0</allocationId>\n            <domain>vpc</domain>\n
        \       </item>\n    </addressesSet>\n</DescribeAddressesResponse>"
  recorded_at: Wed, 06 Nov 2013 19:52:09 GMT
recorded_with: VCR 2.4.0
