<header class="navbar navbar-pf-alt" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="vm.toggleNavigation()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ui-sref="dashboard" class="navbar-brand">
      <img class="navbar-brand-name" src="images/brand.svg" alt="{{ :: vm.text.name }}"/>
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
        <a ng-href="{{vm.API_BASE}}" target="_blank" class="nav-item-iconic nav-item-iconic-new-window">
          <i class="fa fa-external-link" tooltip="Log into the full administrative UI" tooltip-placement="bottom" tooltip-append-to-body="true"></i>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-iconic">
      <li dropdown>
        <a dropdown-toggle class="nav-item-iconic">
          <i title="{{ ::vm.user().name }}" class="fa pficon-user"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="action"><a ui-sref="logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- /.navbar-collapse -->
</header>
