<div ng-switch="::vm.item.type">
  <a ng-switch-when="state" class="navigation__item-body navigation__link" ng-class="::vm.item.style"
     ui-sref="{{ ::vm.item.state }}"
     ui-sref-active="navigation__link--active">
    <i ng-if="::vm.item.icon" ng-class="::vm.item.icon" class="fa fa-fw"></i>
    <span>{{ ::vm.item.label }}</span>
  </a>

  <a ng-switch-when="link" class="navigation__item-body navigation__link" ng-class="::vm.item.style"
     ng-href="{{ ::vm.item.link }}" target="{{ ::vm.item.target || '_self' }}">
    <i ng-if="::vm.item.icon" ng-class="::vm.item.icon" class="fa fa-fw"></i>
    <span>{{ ::vm.item.label }}</span>
  </a>

  <div ng-switch-when="button" class="navigation__item-body navigation__button-wrapper">
    <button class="navigation__button" ng-class="vm.item.style || 'btn-default'" type="button" ng-click="vm.item.onClick()">
      <i ng-if="::vm.item.icon" ng-class="::vm.item.icon" class="fa fa-fw"></i>
      <span>{{ ::vm.item.label }}</span>
    </button>
  </div>

  <div ng-switch-when="text" class="navigation__item-body navigation__text" ng-class="vm.item.style">
    <i ng-if="::vm.item.icon" ng-class="::vm.item.icon" class="fa fa-fw"></i>
    <span>{{ ::vm.item.label }}</span>
  </div>

  <a ng-switch-when="dropdown" class="navigation__item-body navigation__dropdown navigation__link" dropdown-toggle
     ng-class="::vm.item.style" role="button">
    <i ng-if="::vm.item.icon" ng-class="::vm.item.icon" class="fa fa-fw"></i>
    <span ng-if="::vm.item.label"> {{ ::vm.item.label }}</span>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul ng-if="::vm.item.items.length > 0" class="dropdown-menu" role="menu">
    <li class="navigation__item" dropdown ng-repeat="item in ::vm.item.items"
        ng-class="::{true: 'divider'}['divider' === vm.item.type]">
      <nav-item item="::item"></nav-item>
    </li>
  </ul>

  <nav-cart ng-switch-when="cart" class="nav-cart"></nav-cart>

  <nav-profile ng-switch-when="profile" class="nav-profile"></nav-profile>

  <span ng-switch-default class="navigation__item-body navigation__text">
    <span class="text-danger"><i class="fa fa-fw fa-warning"></i>Unknown type</span>
  </span>
</div>
