<div ng-switch="::vm.item.type">
  <a ng-switch-when="state" class="sidebar__item-body sidebar__link" ng-class="::vm.item.style"
     ui-sref="{{ ::vm.item.state }}"
     ui-sref-active="sidebar__item-body--active">
    <i ng-if="::vm.item.icon" ng-class="::vm.item.icon" class="fa fa-fw"></i>
    <img ng-if="::vm.item.image" ng-src="::'image/' + vm.item.image + '.png'"/>
    <span>{{ ::vm.item.label }}</span>
  </a>

  <a ng-switch-when="link" class="sidebar__item-body sidebar__link" ng-class="::vm.item.style"
     ng-href="{{ ::vm.item.link }}"
     target="{{ ::vm.item.target }}">
    <i ng-if="::vm.item.icon" ng-class="::vm.item.icon" class="fa fa-fw"></i>
    <span>{{ ::vm.item.label }}</span>
  </a>

  <div ng-switch-when="button" class="sidebar__item-body">
    <button type="button" class="sidebar__button" ng-class="::vm.item.style || 'btn-default'"
            ng-click="vm.item.onClick()">
      <i ng-if="::vm.item.icon" ng-class="::vm.item.icon" class="fa fa-fw"></i>
      <span>{{ ::vm.item.label }}</span>
    </button>
  </div>

  <div ng-switch-when="text" class="sidebar__item-body sidebar__text" ng-class="::vm.item.style">
    <i ng-if="::vm.item.icon" ng-class="::vm.item.icon" class="fa fa-fw"></i>
    <span>{{ ::vm.item.label }}</span>
  </div>

  <a ng-switch-when="dropdown" class="sidebar__item-body sidebar__dropdown sidebar__link"
     ng-class="[vm.item.style, (vm.isActive(vm.item.state) ? 'sidebar__item-body--active' : '')]"
     ng-click="vm.item.collapsed = !vm.item.collapsed">
    <i ng-if="::vm.item.icon" ng-class="::vm.item.icon" class="fa fa-fw"></i>
    <span>{{ ::vm.item.label }}</span>
    <i class="fa fa-fw sidebar__arrow" ng-class="vm.item.collapsed ? 'fa-angle-left' : 'fa-angle-down'"></i>
  </a>
  <ul ng-if="::vm.item.items.length > 0" class="sidebar__nav sidebar__nav--subnav" collapse="vm.item.collapsed"
      role="menu">
    <li class="dropdown sidebar__item" ng-repeat="item in ::vm.item.items">
      <sidebar-item item="::item"></sidebar-item>
    </li>
  </ul>

  <nav-pages ng-switch-when="pages" item="vm.item"></nav-pages>

  <div ng-switch-default class="sidebar__item-body sidebar__text">
    <span class="text-danger"><i class="fa fa-fw fa-warning"></i>Unknown type</span>
  </div>
</div>
