:css
  @media (min-width: 992px) { 
    body {padding-top: #{session[:custom_logo] ? 116 : 100}px !important} 
  }

  #searchbox              {top: #{@explorer ? 138 : 63}px;}
  #searchbox.whitelabeled {top: 40px;}
