<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
      ng-submit="vm.onSubmit()"
      ng-class="{'show-errors': vm.showErrors()}">
  <content-header short="true">
    <div>
      <span class="content-header__title product-form__title">{{ ::vm.heading }}</span>
      <span class="product-form__title-error" ng-if="vm.hasErrors()">Please complete required fields in red</span>
    </div>
    <div class="product-form__product-type">
      {{ ::vm.productType.title }}
      <small class="product-form__product-type-description">{{ ::vm.productType.description }}</small>
    </div>
  </content-header>

  <div class="row">

    <div class="product-form__body">

      <div class="product-field">
        <div class="product-field__aside">
          <label class="product-field__label">Name</label>
        </div>

        <div class="product-field__body" ng-class="{'has-error': vm.hasErrors('name')}">
          <input id="product-name" ng-model="vm.product.name" name="name" type="text" class="product-field__input"
                 placeholder="" required/>

          <div class="product-field__feedback" ng-messages="vm.form.name.$error">
            <div ng-message="required">A product name is required.</div>
          </div>
        </div>
      </div>

      <div class="product-field">
        <div class="product-field__aside">
          <label class="product-field__label">Description</label>
        </div>

        <div class="product-field__body" ng-class="{'has-error': vm.hasErrors('description')}">
          <textarea id="product-description" ng-model="vm.product.description" name="description"
                    class="product-field__input field__input--textarea" rows="3" required></textarea>

          <div class="product-field__feedback" ng-messages="vm.form.description.$error">
            <div ng-message="required">A product description is required.</div>
          </div>
        </div>
      </div>

      <div class="product-field">
        <div class="product-field__aside">
          <label class="product-field__label">Available</label>
        </div>

        <div class="product-field__body">
          <div class="product-field__checkbox">
            <input id="product-active" ng-model="vm.product.active" name="active" type="checkbox"/>
            <label for="product-active">Active</label>
          </div>
        </div>
      </div>

      <div class="product-field">
        <div class="product-field__aside">
          <label class="product-field__label">Setup Price</label>
        </div>

        <div class="product-field__body" ng-class="{'has-error': vm.hasErrors('setupPrice')}">
          <input id="product-setup-price" ng-model="vm.product.setup_price" name="setupPrice" type="text"
                 class="product-field__input" placeholder="" required ng-pattern="/^\d{1,6}(?:\.\d{1,4})?$/"/>

          <div class="product-field__feedback" ng-messages="vm.form.setupPrice.$error">
            <div ng-message="required">A setup price is required.</div>
            <div ng-message="pattern">Enter a value between 0.0001 and 999999.9999</div>
          </div>
        </div>
      </div>

      <div class="product-field">
        <div class="product-field__aside">
          <label class="product-field__label">Monthly Price</label>
        </div>

        <div class="product-field__body" ng-class="{'has-error': vm.hasErrors('monthlyPrice')}">
          <input id="product-monthly-price" ng-model="vm.product.monthly_price" name="monthlyPrice" type="text"
                 class="product-field__input" placeholder="" required ng-pattern="/^\d{1,6}(?:\.\d{1,4})?$/"/>

          <div class="product-field__feedback" ng-messages="vm.form.monthlyPrice.$error">
            <div ng-message="required">A monthly price is required.</div>
            <div ng-message="pattern">Enter a value between 0.0001 and 999999.9999</div>
          </div>
        </div>
      </div>

      <div class="product-field">
        <div class="product-field__aside">
          <label class="product-field__label">Hourly Price</label>
        </div>

        <div class="product-field__body" ng-class="{'has-error': vm.hasErrors('hourlyPrice')}">
          <input id="product-hourly-price" ng-model="vm.product.hourly_price" name="hourlyPrice" type="text"
                 class="product-field__input" placeholder="" required ng-pattern="/^\d{1,6}(?:\.\d{1,4})?$/"/>

          <div class="product-field__feedback" ng-messages="vm.form.hourlyPrice.$error">
            <div ng-message="required">An hourly price is required.</div>
            <div ng-message="pattern">Enter a value between 0.0001 and 999999.9999</div>
          </div>
        </div>
      </div>

      <div sf-use-decorator="product-form-decorator" sf-model="vm.product.properties"
           sf-schema="vm.productType.schema"
           sf-form="vm.productType.definition"></div>

      <div class="product-field">
        <div class="product-field__aside">
          <label class="product-field__label">Tag(s)</label>
        </div>
        <div class="product-field__body" ng-class="{'has-error': vm.hasErrors('tags')}">
          <tag-field ng-model="vm.product.tags" name="tags" min-tags="1">
            <tag-autocomplete source="vm.queryTags(query)"></tag-autocomplete>
            <div class="product-field__feedback" ng-messages="vm.form.tags.$error">
              <div ng-message="minTags">At least one tag must be entered.</div>
            </div>
            <tag-show-modal>Show all tags</tag-show-modal>
          </tag-field>
        </div>
      </div>
    </div>

    <div class="product-form__aside">
      <div class="product-form-image__container">
        <div class="product-form-image"></div>
        <button type="button" class="btn-rounded">Choose Image</button>
      </div>
    </div>

    <div class="product-form__aside" ng-if="false">
      <div class="provisioning-answers__container">
        <span class="content-header__title product-form__title"><small>Provisioning Answers</small></span>
        <div class="details-table__row" ng-repeat="item in vm.productType.properties " ng-if="item.default">
          <div class="details-table__label"> {{ ::item.title}}:</div>
          <div class="details-table__detail"> {{ ::item.default}}</div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn-rounded product-form__submit" ng-disabled="vm.hasErrors()">Save</button>
        <button type="button" class="btn btn-link product-form__cancel"
                confirmation
                confirmation-if="vm.form.$dirty"
                confirmation-message="You have unsaved changes. Abandon them and leave the page?"
                confirmation-ok-style="danger"
                confirmation-ok-text="Yes, Leave"
                confirmation-on-ok="vm.backToList()"
                confirmation-show-cancel="false">Cancel
        </button>
      </div>
    </div>
  </div>
</form>


