#add_class_props_div
= render :partial => "layouts/flash_msg", :locals => {:div_num => "_class_props"}
- if @in_a_form_fields && x_node.split('-')[0] == "aec" || params[:pressed] || %w(field_select field_accept field_delete).include?(params[:action])
  #form_div
    = render :partial => "class_form"
