%label{:for => "sort-items"}
  = _("Sort by:")
%miq-sort-items#sort-items{"ng-if"  => "vm.data.length > 0",
                           :headers => "vm.columnsToShow",
                          :items    => "vm.data",
                          "on-sort" => "vm.MiQDataTableService.sortItemsBy(sortId, isAscending)",
                          :style    => "display: inline-block; margin-right: 10px"}
%label{:for => "per-page"}
  = _("Per page:")
%miq-toolbar-list#per-page{"on-item-click"  => "vm.onPerPage(item)",
                           "toolbar-list"   => "vm.perPage"}
%miq-tile-view.max-height{"has-loader"      => "vm.MiQDataTableService.visibleItems.length < vm.MiQDataTableService.rows.length",
                          :headers          => "vm.columnsToShow",
                          :items            => "vm.MiQDataTableService.visibleItems",
                          "default-action"  => "vm.defaultAction",
                          "load-more-items" => "vm.MiQDataTableService.loadMore()",
                          "on-tile-click"   => "vm.onRowClick($event, rowData)",
                          "on-tile-select"  => "vm.onRowSelected()",
                          "per-page"        => "vm.MiQDataTableService.perPage"}
