= render :partial => "layouts/flash_msg"
%table.table.table-striped.table-bordered.table-hover
  %tbody
    %tr{:onclick => "miqDynatreeActivateNode('#{x_active_tree}', 'xx-Compute');"}
      %td.narrow{:title => _("View Compute Rates")}
        %img{:src => "/images/icons/new/hardware-processor.png"}
      %td{:title => _("View Compute Rates")}
        Compute
    %tr{:onclick => "miqDynatreeActivateNode('#{x_active_tree}', 'xx-Storage');"}
      %td.narrow{:title => _("View Storage Rates")}
        %img{:src => "/images/icons/new/hardware-disk.png"}
      %td{:title => _("View Storage Rates")}
        Storage
