= render :partial => "layouts/flash_msg"
%table.table.table-striped.table-bordered.table-hover
  %tbody
    %tr{:onclick => "miqDynatreeActivateNode('#{x_active_tree}', 'xx-Compute');"}
      %td.narrow{:title => _("View Compute Rates")}
        %ul.icons.list-unstyled
          %li
            %span.product.product-memory
      %td{:title => _("View Compute Rates")}
        Compute
    %tr{:onclick => "miqDynatreeActivateNode('#{x_active_tree}', 'xx-Storage');"}
      %td.narrow{:title => _("View Storage Rates")}
        %ul.icons.list-unstyled
          %li
            %span.fa.fa-hdd-o
      %td{:title => _("View Storage Rates")}
        Storage
