%tr
  %td{:colspan=>2}
    Software updates have not yet been configured. Select Edit Registration to
    register appliances in this region with Red Hat to receive software updates and other benefits. 
    %br
    %br You will need the following to register:
    %br 
    %ul.normal
      %li Your Red Hat Account login or Red Hat Network Satellite login
      %li A Red Hat subscription that covers your product
      %li (optional) your HTTP proxy information
      %li (optional) the address of an alternate service<!-- (More Info)-->
    %br 
