-# locals: chart, html, report
- if chart
  - width, height = @html ? [350, 250] : [700, 500]

  = chart_remote('report',
                 :width   => width,
                 :height  => height,
                 :id      => 'my_chart',
                 :bgcolor => '#f2f2f2')

  - if !html && report.filter_summary
    = report.filter_summary
  %p

- if html
  = render :partial => 'layouts/report_html'
