<content-header short="true">
  <div class="admin-roles-list__body">
    <span class="content-header__title">Roles</span>
  </div>
  <div class="admin-roles-list__aside">
    <a ui-sref="admin.roles.create" class="btn-rounded">Add New Role</a>
  </div>
</content-header>

<div ng-if="!vm.roles.length">
  <h4>No roles presently exist. Add a new one!</h4>
</div>
<div ng-if="vm.roles.length">
  <table st-table="vm.roles" class="roles-table">
    <thead>
    <tr>
      <th class="roles-table__heading roles-table__heading--padding"></th>
      <th class="roles-table__heading roles-table__heading--sortable" st-sort="name">Name</th>
      <th class="roles-table__heading roles-table__heading--sortable" st-sort="description">Description</th>
      <th class="roles-table__heading roles-table__heading--sortable" st-sort="permissions">Permissions</th>
      <th class="roles-table__heading roles-table__heading--actions" >Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="roles-table__row" ng-repeat="row in vm.roles">
      <td class="roles-table__cell roles-table__cell--padding"></td>
      <td class="roles-table__cell roles-table__cell--name">{{ ::row.name}}</td>
      <td class="roles-table__cell roles-table__cell--description">{{ ::row.description }}</td>
      <td class="roles-table__cell roles-table__cell--permissions" ng-bind-html="vm.permissionsList(row.permissions)"></td>
      <td class="roles-table__cell roles-table__cell--actions">
        <a ui-sref="admin.roles.edit({roleId: row.id})" class="roles-table__action roles-table__action--edit">
          <img src="/images/ic_edit.png" alt="Edit"/>
        </a>
        <a href="#" class="roles-table__action roles-table__action--delete"
           confirmation
           confirmation-position="left-center"
           confirmation-message="Are you sure you want to remove this role?"
           confirmation-ok-style="danger"
           confirmation-ok-text="Yes, Delete It"
           confirmation-on-ok="vm.deleteRole($index)"
           confirmation-show-cancel="false">
          <img src="/images/ic_deletequestion.png" alt="Delete"/>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
