/*****************************************************************************************************************************************************************
								"DHX_SKYBLUE" SKIN
*****************************************************************************************************************************************************************/
body{
	background-color: #e3e3e3;
}

table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutSinglePoly div.dhtmlxWindowMainContent {
	border: #cdeaff 1px solid;
}

table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBar {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_bg.gif");
	border-left: #cdeaff 1px solid;
	border-right: #cdeaff 1px solid;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBar div.dhtmlxInfoBarButtonsFake {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_bg.gif");
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBar div.dhtmlxInfoBarLabel {
	color: #0e29a7;
}

.dhxLayoutButton_dhx_skyblue_ver1t {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_btns.gif");
}
.dhxLayoutButton_dhx_skyblue_ver1b {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_btns.gif");
}
.dhxLayoutButton_dhx_skyblue_hor1l {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_btns.gif");
}
.dhxLayoutButton_dhx_skyblue_hor1r {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_btns.gif");
}
.dhxLayoutButton_dhx_skyblue_ver2t {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_btns.gif");
}
.dhxLayoutButton_dhx_skyblue_ver2b {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_btns.gif");
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedHor div.dhtmlxInfoBarButtonsFake {
	border-left: 1px solid #cdeaff;
	border-right: 1px solid #cdeaff;
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_collapsedhor.gif");
}
.dhxLayoutButton_dhx_skyblue_hor2l {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_btns.gif");
}
.dhxLayoutButton_dhx_skyblue_hor2r {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_btns.gif");
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxInfoBarButtonsFake {
	border-top: 1px solid #cdeaff;
	border-bottom: 1px solid #cdeaff;
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_collapsedver.gif");
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxInfoBarButtonsFake2 {
	border-bottom: 1px solid #cdeaff;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutSinglePoly div.dhtmlxPolyInnerContainer {
	color: #0e29a7;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutPolySplitterHor {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_drag_hor.gif") !important;
	background-color: #e3e3e3;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutPolySplitterHorInactive {
	background-color: #e3e3e3;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutPolySplitterVer {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_drag_ver.gif") !important;
	background-color: #e3e3e3;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutPolySplitterVerInactive {
	background-color: #e3e3e3;
}
div.dhxcont_global_layout_area div.dhxcont_sb_container div.dhxcont_statusbar {
	background-image: url("./imgs/dhxlayout_dhx_skyblue/dhxlayout_bg_sb.gif");
	border-left: #cdeaff 1px solid;
	border-right: #cdeaff 1px solid;
	color: #0e29a7;
}
div.dhxcont_global_layout_area div.dhxcont_sb_container_layoutcell div.dhxcont_statusbar {
	background-image: url(./imgs/dhxlayout_dhx_skyblue/dhxlayout_bg_sb.gif);
	color: #0e29a7;
}

table.dhtmlxLayoutPolyContainer_dhx_skyblue td.dhtmlxLayoutSinglePoly div.dhxcont_global_content_area {
	border: #cdeaff 1px solid;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue div.dhtmlxPolyInfoBar div.dhtmlxLineL {
	border-left: #ffffff 1px solid;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue div.dhtmlxPolyInfoBarCollapsedHor div.dhtmlxLineL {
	border-left: #ffffff 1px solid;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue div.dhtmlxPolyInfoBar div.dhtmlxLineR {
	border-right: #ffffff 1px solid;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue div.dhtmlxPolyInfoBarCollapsedHor div.dhtmlxLineR {
	border-right: #ffffff 1px solid;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxLineL {
	border-top: #ffffff 1px solid;
}
table.dhtmlxLayoutPolyContainer_dhx_skyblue div.dhtmlxPolyInfoBarCollapsedVer div.dhtmlxLineR {
	border-bottom: #ffffff 1px solid;
}

.dhxlayout_fullscreened {
	background-color: #e3e3e3;
}
