<% url = url_for(:action=>'form_field_changed', :id=>"#{@edit[:rpt_id] || "new"}") %>
<tr>
	<td class="key">* Performance Interval</td>
	<td>
		<% unless @edit[:new][:model] == "StoragePerformance" %>
			<%= select_tag('chosen_interval',
											options_for_select([["Daily","daily"],["Hourly","hourly"]],	@edit[:new][:perf_interval]),
											:multiple=> false, :class=>"widthed",
											"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
											"data-miq_observe"=>{:url=>url}.to_json) %>
		<% else %>
			Daily
		<% end %>
	</td>
</tr>
<tr>
	<td class="key">Averages Based On</td>
	<td>
		<%= select_tag('perf_avgs',
										options_for_select([["Performance Interval","time_interval"],["Available Active Data","active_data"]],	@edit[:new][:perf_avgs]),
										:multiple=> false, :class=>"widthed",
										"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
										"data-miq_observe"=>{:url=>url}.to_json) %>
	</td>
</tr>
