<% if @sb[:active_tab] == "saved_reports" %>
  <% if @view && !@view.table.data.empty? %>
    <%= render :partial => 'layouts/x_gtl'%>
  <% else %>
     <div class="alert alert-info">
      <span class="pficon pficon-info"></span>
      <strong>No Saved Reports available.</strong>
    </div>
  <% end %>
<% end %>
