<% url = url_for(:action=>'widget_form_field_changed', :id=>"#{@widget.id || "new"}") %>
<fieldset>
  <p class="legend">Chart Report</p>
  <table class="style1">
    <tr>
      <td class="key"><% if @edit[:read_only] %>* <% end %>Filter</td>
      <td>
        <%= select_tag("repfilter_typ",
                            options_for_select(["<Choose>"] + @reps, @edit[:new][:repfilter]),
                            :multiple=>false, :class=>"widthed",
                            :disabled=>@edit[:read_only],
                            "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
      </td>
    </tr>
  </table>
</fieldset>
