<table st-table="vm.products" class="products-table">
  <thead>
  <tr>
    <th st-sort="name"
        class="products-table__heading products-table__heading--description products-table__heading--sortable">
      Description
    </th>
    <th st-sort="product_type"
        class="products-table__heading products-table__heading--product_type products-table__heading--sortable">
      Product Type
    </th>
    <th st-sort="active"
        class="products-table__heading products-table__heading--available products-table__heading--sortable">
      Available
    </th>
    <th class="products-table__heading products-table__heading--actions">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in vm.products track by row.id">
    <td class="products-table__cell products-table__cell--description">
      <product-description product="::row"
                           link-to="products.details({productId: {{row.id}}})">
      </product-description>
    </td>
    <td class="products-table__cell products-table__cell--product-type">{{ ::row.product_type }}</td>
    <td class="products-table__cell products-table__cell--available">
      <img ng-if="::row.active" src="images/ic_required.png" alt="Active" title="Active"/>
    </td>
    <td class="products-table__cell products-table__cell--actions">
      <a ui-sref="admin.products.edit({productId: row.id})" class="products-table__action">
        <img src="images/ic_edit.png" alt="Edit Product" title="Edit Product"/>
      </a>
    </td>
  </tr>
  </tbody>
</table>
