- if show_adv_search?
  - mode ||= "search"
  - report_expressions = MiqReport.get_expressions_by_model(@edit[@expkey][:exp_model])

  .modal.fade#advsearchModal{"tabindex"        => "-1",
                             "role"            => "dialog",
                             "aria-labelledby" => "exampleModalLabel",
                             "aria-describedby" => "modal",
                             "aria-hidden"     => "true",
                             "data-keyboard"   => "false",
                             "data-backdrop"   => "static",
                             :style            => "display: none"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal"}
            %span{"aria-hidden" => "true"}
              &times;
            %span.sr-only
              Close
          %h4.modal-title#exampleModalLabel
            = _("Advanced Search")
        .modal-body
          = render(:partial => 'layouts/adv_search_body', :locals => {:mode => mode})
        .modal-footer
          = render(:partial => 'layouts/adv_search_footer', :locals => {:mode => mode})
:javascript
  $(function(){
    $("button[data-dismiss='modal']").click(function(){
      miqJqueryRequest("adv_search_toggle", {beforeSend: true});
      return true;
    });
  });
