<% if @breadcrumbs && @breadcrumbs.length > 1 %>
  <ol class="breadcrumb">
    <% for i in 0...@breadcrumbs.length %>
      <% bc = @breadcrumbs[i] %>
      <% if i < @breadcrumbs.length - 1 %>
        <li>
          <a href=<%= bc[:url] %> onclick="return miqCheckForChanges()"><%=h(bc[:name])%></a>
        </li>
      <% end %>
    <% end %>
    <li class="active">
      <%= @title %>
    </li>
  </ol>
<% end %>
