- if @breadcrumbs && @breadcrumbs.length > 1
  %ol.breadcrumb
    - @breadcrumbs[0...-1].each do |breadcrumbs|
      %li
        %a{:href => breadcrumbs[:url], :onclick => "return miqCheckForChanges()"}
          = h(breadcrumbs[:name])
    %li.active
      = @title
- else
  %br
