<% url = url_for(:action => 'discover_field_changed') %>
  <p class="legend"><%= label %></p>
  <table class="style1">
    <tr>
      <td class="key">User ID</td>
      <td>
        <%= text_field_tag("userid",
                           @userid,
                           :maxlength         => 50,
                           "data-miq_observe" => {:interval => '.5',
                                                  :url      => url}.to_json)
        %>
      </td>
    </tr>
    <tr>
      <td class="key">Password</td>
      <td>
        <%= password_field_tag("password",
                               @password,
                               :maxlength         => 50,
                               "data-miq_observe" => {:interval => '.5',
                                                      :url      => url}.to_json)
        %>
      </td>
    </tr>
    <tr>
      <td class="key">Verify Password</td>
      <td>
        <%= password_field_tag("verify",
                               @verify,
                               :maxlength         => 50,
                               "data-miq_observe" => {:interval => '.5', 
                                                      :url      => url}.to_json)
        %>
      </td>
    </tr>
  </table>
  <hr>
