<div>
	<table id="content" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>

			<td valign="top" id="maincol">
				<div style="height: 10px;"></div>

				<div style="padding-left: 20px; padding-top: 20px; width: 700px">
					<h1 style="color: red">Unexpected error encountered </h1>

					<br/><br/>
					<h2>Errors in Management Engine can be caused by:</h2>

					<br/>
					<h3>
						<fieldset>
						<font style="font-size: 116%;color: black">&#x2460;</font>
							Accessing Management Engine from multiple tabs or windows of the same browser on a single machine.
							<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							Close any duplicate browser sessions, then select a menu option above.
						</fieldset>

						<fieldset>
						<font style="font-size: 116%;color: black">&#x2461;</font>
							Pressing the back button during a session.
							<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							Close any duplicate browser sessions, then select a menu option above.
						</fieldset>

						<fieldset>
						<font style="font-size: 116%;color: black">&#x2462;</font>
							An internal system error.
							<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							Please contact your administrator for assistance.
						</fieldset>
					</h3>

					<br/><br/>
					<h2>Error text:</h2>

					<br/>
					<h3>
						<%= message + " [#{params[:controller]}/#{params[:action]}]" %>
					</h3>
				</div>
			</td>
		</tr>
	</table>
</div>
