    <script type="text/javascript">
      <%# Chart loaders need to know browser to load differently for IE %>
      var miq_browser = "<%= browser_info("name") %>";
      var miq_browser_version = "<%= browser_info("version") %>";

      <%# Save controller name for JS functions to create first URL level %>
      var miq_controller = "<%= request.parameters[:controller] %>";
    </script>

    <% if is_browser_ie? %>
      <script defer="defer" type="text/javascript"><%# Use defer to get around IE7 "can not access page" issue %>
      <%# Running our onload JS here due to IE bug (Commented out for above IE7 workaround - Sprint 64/v3.1) %>
      miqOnLoad();
      </script>
    <% end %>
  </body>
</html>
