- trunc_at = 23
- trunc_to = 20
#listnav_div
  - filename = render_listnav_filename
  - if filename
    - locals = {:trunc_at => trunc_at, :trunc_to => trunc_to}
    - locals.merge(:size => 72) if @compare
    = render :partial => "layouts/listnav/#{filename}", :locals => locals
  - else
    -# hack for IE7 and FF2
    %img{:src => "/images/clearpix.gif", :width => "219"}
