.navbar
  %ul#maintab
    -Menu::Manager.menu.each do |menu_section|
      -if role_allows(:main_tab_id => menu_section.id)
        %li(class="#{primary_nav_class(menu_section.id)}")
          %a{:href    => "/dashboard/maintab/?tab=#{menu_section.id}",
             :onclick => 'return miqCheckForChanges()'}= h(menu_section.name)
          %ul(class="#{primary_nav_class(menu_section.id)}")
            - menu_section.items.each do |menu_item|
              -if role_allows(menu_item.rbac_feature)
                %li(class="#{secondary_nav_class(menu_item.id)}")
                  %a{:href    => menu_item.href,
                     :onclick => 'return miqCheckForChanges()'}= menu_item.name
