<% size ||= 72			%><%# Default to 100 pixel size %>
<% item ||= nil			%><%# item is the record to be used to build the quadicon %>
<% typ  ||= nil			%><%# Qualifier (ie :listnav) %>
<% db   ||= nil     %>
<% if !db && item %>
  <% db = item.kind_of?(ExtManagementSystem) ? model_for_ems(item).name : item.class.base_model.name %>
<% end %>
<% if mode == :text %><%# Rendering the text link, not the quadicon %>
	<% trunc_at = 13 %>
	<% trunc_to = 10 %>
	<%= render :partial => "layouts/quadicon/quadicon_text", :locals=>{:db=>db, :trunc_at=>trunc_at, :trunc_to=>trunc_to, :row=>row} %>
<% else %><%# Render the quad icon %>
	<% if typ == :listnav	%><%# Generating a quadicon in the listnav %>
		<% height ||= 80 %>
		<div style="
			margin-left: auto;
      margin-right: auto;
			width: 75px;
			height: <%= height %>px;
			z-index:0;
		">
	<% else	%><%# Not in listnav %>
		<div id="quadicon">
	<% end %>

	<% if ["EmsCluster","ResourcePool","Repository","Service","ServiceTemplate","Storage"].include?(item.class.name) %>
		<% partial_name = item.class.name.underscore %>
	<% elsif item.kind_of?(VmOrTemplate) %>
		<% partial_name = item.class.base_model.to_s.underscore %>
	<% elsif ["ExtManagementSystem", "Host"].include?(item.class.base_class.name) %>
		<% partial_name = item.class.base_class.name.underscore %>
	<% else %>
		<%# ############# All other models that only need single large icon and use name for hover text ############## %>
		<% partial_name = "single_quad" %>
	<% end %>
	<%= render :partial => "layouts/quadicon/#{partial_name}", :locals=>{:size=>size,:item=>item, :typ=>typ, :db=>db} %>
	</div> <%# quadicon div end %>

<% end %>
