- #= render(:partial => "layouts/gtl", :locals=>{:action_url=>"show/#{@record.id.to_s}"})
%table.style3
  %thead
    %tr
      - %w(statistic_time k_bytes_read_per_sec k_bytes_written_per_sec k_bytes_transferred_per_sec read_ios_per_sec read_hit_ios_per_sec write_ios_per_sec write_hit_ios_per_sec total_ios_per_sec avg_read_size avg_write_size pct_read pct_write pct_hit utilization response_time_sec queue_depth service_time_sec wait_time_sec).each do |e|
        %th
          = Dictionary::gettext(e, :type => :column, :notfound => :titleize)
  %tbody
    - @stats.each.sort_by(&:statistic_time).each do |stat|
      %tr{:class => cycle('row0', 'row1')}
        %td
          = h(format_timezone(stat.statistic_time, Time.zone, "compare_hdr"))
          - %i(k_bytes_read_per_sec k_bytes_written_per_sec k_bytes_transferred_per_sec read_ios_per_sec read_hit_ios_per_sec write_ios_per_sec write_hit_ios_per_sec total_ios_per_sec avg_read_size avg_write_size pct_read pct_write pct_hit utilization response_time_sec queue_depth service_time_sec wait_time_sec).each do |e|
            %td{:align => "right"}
              = h(number_with_precision(stat.send(e), :precision => 2))
  %tfoot
    %tr
      %td{:colspan => "40"}
