:javascript
  var columns = #{grid_cols_json};
  var data = #{grid_rows_json};

  var options = {
    enableCellNavigation: true,
    enableColumnReorder: false,
    autoHeight: true,
    fullWidthRows: false,
    rowHeight: 34,
    enableAsyncPostRender: true,
    asyncPostRenderDelay: 0
  };

  cfmeInitSlickGrid(#{grid_id}, data, columns, options);
