- # Passed in as true if we are on the login screen
- login ||= false
#notification{:style => "display: none;"}
  #outer
    #inner
      #spinner_div
      - if login && MiqServer.my_server(true).logon_status == :starting
        %span{:style => "color: white;"}
          = _("The server is initializing; access is being retried every 10 seconds %s") % ". . ."
          = render :partial => "login_message"
