<% login ||= false %> <%# Passed in as true if we are on the login screen %>
<div id="notification" style="display: none;">
	<div id="outer">
		<div id="inner">
		    <div id="spinner_div"></div>
		    <% if login && MiqServer.my_server(true).logon_status == :starting %>
		      <span style="color:white">The server is initializing; access is being retried every 10 seconds . . .
		        <%= render :partial => "login_message" %>
		      </span>
		    <% else %>
		    <% end %>
		</div>
	</div>
</div>
