%hr
%div
  %h3
    = "%s Being Tagged" % pluralize(@tagitems.length, ui_lookup(:model => @edit[:tagging]))
  %table.admintable{:height => "75"}
    %tbody
      %tr
        %td
          - if @tagitems
            - @embedded = true
            - @gtl_type ||= @settings[:views][:tagging]
            = render :partial => "layouts/gtl"
