<hr>
<div>
  <p class="legend"><%= "#{pluralize(@tagitems.length, ui_lookup(:model => @edit[:tagging]))} Being Tagged" %></p>
  <table class="admintable" height="75">
    <tbody>
      <tr>
        <td>
          <% if @tagitems %>
            <% @embedded = true %>
            <% @gtl_type ||= @settings[:views][:tagging] %>
            <%= render :partial => "layouts/gtl" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
