<% field_id ||= "edit_content" %>
<% content ||= "" %>
<% size ||= "90x19" %>
<% cols ||= 90 %>
<% rows ||= 20 %>


<table cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<div>
        <%= text_area_tag("#{field_id}_lines","",
										:rows=>rows + 1,
                    :disabled=>"disabled",
                    :class=>"textAreaWithLines",
										"data-miq_observe"=>{:url=>url}.to_json) %>
			</div>
			</td>
			<td>
			<div>
        <%= text_area_tag(field_id,
										h(content),
										:rows=>rows, :cols=>cols,
                    :wrap=>"off",
										"data-miq_observe"=>{:url=>url}.to_json) %>
			</div>
		</td>
	</tr>
</table>
<script type="text/javascript">miqAttachTextAreaWithLines('<%= field_id %>');</script>
