<% no_toggle_dash_buttons = [	"compare_miq", "vmtree", "drift", "policies", "rsop", "patches", "guest_applications", "registry_items",
															"groups", "kernel_drivers", "filesystem_drivers", "filesystems", "linux_initprocesses", "win32_services", "users",
															"files", "disk_files", "snapshot_files", "vm_ram_files", "debris_files","host_services"] %>
<div id="view_buttons_div">


		<%  if ["availability_zone","ems_cloud","ems_infra","flavor","host","vm","offline","retired",
            "templates","repository","storage","service","miq_proxy","policy","policy_profile",
            "policy_group","event","condition","action","scan_profile","miq_template",
            "ems_cluster","resource_pool","miq_schedule","storage_manager",
            "ontap_storage_system","ontap_storage_volume","ontap_file_share",
            "snia_local_file_system","ontap_logical_disk","cim_base_storage_extent",
            "vdi_controller","vdi_desktop","vdi_desktop_pool","vdi_endpoint_device",
            "vdi_farm","vdi_user","vm_vdi"].include?(@layout) && @gtl_type && !@tagitems &&
            !@ownershipitems && !@retireitems && !@politems && !@new_policy && !@in_a_form &&
            !@vdiitems %>
			<%= render :partial => "layouts/dhtmlxtoolbar", :locals=>{:tb=>"view_tb", :tb_yaml=>"gtl_view_tb"} %>
    <% elsif @lastaction == "compare_miq" || @lastaction == "compare_compress" %>
      <%= render :partial => "layouts/dhtmlxtoolbar", :locals=>{:tb=>"view_tb", :tb_yaml=>"compare_view_tb"} %>
    <% elsif @lastaction == "drift" %>
      <%= render :partial => "layouts/dhtmlxtoolbar", :locals=>{:tb=>"view_tb", :tb_yaml=>"drift_view_tb"} %>
		<% elsif !["all_tasks","all_ui_tasks","timeline","diagnostics","my_tasks","my_ui_tasks","miq_server","usage"].include?(@layout) && !@layout.starts_with?("miq_request") && !@treesize_buttons && @display == "main" && @showtype == "main" && !@in_a_form %>
			<%= render :partial => "layouts/dhtmlxtoolbar", :locals=>{:tb=>"view_tb", :tb_yaml=>"summary_view_tb"} %>
		<% else %>
			<%# fake table to keep center_tb aligned in case there is not view_tb to show %>
			<table><tr><td width="5"></td></tr></table>
		<% end %>


</div>
