<% action_url ||= "x_tags_edit" %>
<div style="padding-top:10px;"></div>
<%= render :partial => "layouts/flash_msg" %>
<%= render :partial => "layouts/tag_edit" %>
<%= render :partial => "layouts/tag_edit_items" %>
