<div id="taskbar_buttons_div">
  <div style="float:left;" >
    <%= render(:partial=>"layouts/x_history_buttons") %>
  </div>
  <div style="float:left;">
    <%= render(:partial=>"layouts/center_buttons") %>
  </div>
  <div style="float:left;">
    <%= render(:partial=>"layouts/x_custom_buttons") %>
  </div>
  <div style="float:right;">
    <%= render(:partial=>"layouts/x_view_buttons") %>
  </div>
</div>
