.modal.fade{:id => "aboutModal", "tabindex" => "-1", "role" => "dialog1", "aria-labelledby" => "aboutModalLabel", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content.about-modal-pf
      .modal-header
        %button.close{"data-dismiss" => "modal"}
          %span.pficon.pficon-close
      .modal-body
        %h2
          = I18n.t("product.name_full")
        .product-versions-pf
          %ul.list-unstyled
            - [[_("Version"),        h(vmdb_build_info(:version) + "." + vmdb_build_info(:build))],
              [_("Server Name"),     h(appliance_name)],
              [_("User Name"),       h(current_user.name)],
              [_("User Role"),       h(user_role_name)],
              [_("Browser"),         h(browser_info(:name_ui))],
              [_("Browser Version"), h(browser_info(:version))],
              [_("Browser OS"),      h(browser_info(:os_ui))]].each do |session_info|
              %li
                %strong
                  = session_info[0]
                = session_info[1]
        .trademark-pf
          = I18n.t("product.copyright")
      .modal-footer
        %img{:src => image_path("login-screen-logo.png"), :alt => "ManageIQ"}
:javascript
  $(function(){
    $("button[data-dismiss='modal']").off('click');
    $("button[data-dismiss='modal']").on('click', function(){
      $('#aboutModal').modal("hide")
    });
  });
