- if show_adv_search? && @edit && @edit[@expkey].present?
  - mode ||= "search"

  .modal.fade#advsearchModal{"tabindex"        => "-1",
                             "role"            => "dialog",
                             "aria-labelledby" => "exampleModalLabel",
                             "aria-describedby" => "modal",
                             "aria-hidden"     => "true",
                             "data-keyboard"   => "false",
                             "data-backdrop"   => "static",
                             :style            => "display: none"}
    .modal-dialog.modal-xl
      .modal-content
        #search_notification{:style => "display: none;"}
        .modal-header
          %button.close{"data-dismiss" => "modal"}
            %span{"aria-hidden" => "true"}
              &times;
            %span.sr-only
              Close
          %h4.modal-title#exampleModalLabel
            = _("Advanced Search")
        .modal-body
          %div{:id => "searching_spinner_center", :style => "position: absolute;display: block;top: 50%;left: 50%;"}
          = render(:partial => 'layouts/adv_search_body', :locals => {:mode => mode})
        .modal-footer
          = render(:partial => 'layouts/adv_search_footer', :locals => {:mode => mode})
:javascript
  $(function(){
    $('#advsearchModal').off("click");
    $('#advsearchModal').on('click', '[data-dismiss="modal"]', function() {
      miqJqueryRequest("adv_search_toggle", {beforeSend: true});
      return true;
    });
  });
