- show_searchbar ||= nil

%script{:type => "text/javascript"}

  // Following function will be called by miqOnLoad if init_dhtmlx_layout is true
  function miqInitDhtmlxLayout() {
  - if @explorer
    dhxLayoutB = new dhtmlXLayoutObject("right_div", "3E");
    dhxLayoutB._minHeight = 20;
    dhxLayoutB.cells("a").setHeight(32);
    dhxLayoutB.cells("c").setHeight(32);
    dhxLayoutB.cells("a").hideHeader();
    dhxLayoutB.cells("c").hideHeader();
    var cell = dhxLayoutB.cells("b");
    cell.childNodes[0].childNodes[0].childNodes[4].style.display = "none";
    dhxLayoutB.cells("b").setText("#{@right_cell_text}");
    dhxLayoutB.cells("a").fixSize(false, true);
    dhxLayoutB.cells("c").fixSize(false, true);
    dhxLayoutB.setAutoSize("a;b;c", "b");
    dhxLayoutB.cells("a").attachObject('taskbar_div');
    dhxLayoutB.cells("b").attachObject('main_div');
    dhxLayoutB.cells("c").attachObject('paging_div');

    dhxLayoutB.attachEvent('onPanelResizeFinish', miqResizeTaskbarCell);
    dhxLayoutB.attachEvent('onResizeFinish', miqResizeTaskbarCell);

    // Set collapsed cell height to zero for MIQ
    dhxLayoutB._collapsedH = 0;

    - if (!@in_a_form && @record && ![:diagnostics_tree, :savedreports_tree,:svccat_tree].include?(x_active_tree)) || @collapse_c_cell
      dhxLayoutB.cells("c").collapse();

    - if (@layout == "chargeback" && (x_node == "root" || x_active_tree == :cb_assignments_tree || (x_active_tree == :cb_reports_tree && !@report))) || ["miq_capacity_bottlenecks"].include?(@layout)
      dhxLayoutB.cells("a").collapse();

    - if show_advanced_search?
      #{javascript_show_if_exists("adv_searchbox_div")}

  - if show_searchbar
    = javascript_show("control_searchbar")
    = javascript_focus("search_text")

  // Fix styling issues
  miqOnResize();
  };

:javascript
  ManageIQ.layout.toolbar = {
    hide: function() { dhxLayoutB.cells('a').collapse(); },
    show: function() { dhxLayoutB.cells('a').expand(); },
    height: function(v) { dhxLayoutB.cells('a').setHeight(v); }
  };

  ManageIQ.layout.content = {
    hide: function() { dhxLayoutB.cells('b').collapse(); },
    show: function() { dhxLayoutB.cells('b').expand(); },
    height: function(v) { dhxLayoutB.cells('b').setHeight(v); },
    title: function(v) { dhxLayoutB.cells('b').setText(v); }
  };

  ManageIQ.layout.paginator = {
    hide: function() { dhxLayoutB.cells('c').collapse(); },
    show: function() { dhxLayoutB.cells('c').expand(); },
    height: function(v) { dhxLayoutB.cells('c').setHeight(v); }
  }
