= render :partial => "layouts/adv_search"
%script{:type => "text/javascript"}
  var miq_browser = "#{browser_info("name")}";
  var miq_browser_version = "#{browser_info("version")}";
  var miq_controller = "#{request.parameters[:controller]}";

  $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
  })

- if is_browser_ie?
  %script{:defer => "defer", :type => "text/javascript"}
    miqOnLoad();
