- text_area_id ||= "miqNone"
- url ||= "form_field_changed"
- mode ||= "yaml"
- line_numbers ||= false
- height ||= "auto"
- width ||= "auto"
- read_only ||= false
- no_focus ||= false
- angular ||= false

- options = {:text_area_id => text_area_id,
             :url          => url,
             :mode         => mode,
             :line_numbers => line_numbers,
             :height       => height,
             :width        => width,
             :read_only    => read_only,
             :no_focus     => no_focus,
             :angular      => angular}

:javascript
  miqInitCodemirror(#{options.to_json});
