#miq-notifications-drawer-container{'ng-controller' => "notificationsDrawerController as vm"}
  %div{"pf-notification-drawer" => "",
       "id" => "miq-notifications-drawer",
       "drawer-hidden" => "!vm.notificationsDrawerShown",
       "drawer-title" => _("Notifications"),
       "allow-expand" => "true",
       "notification-groups" => "vm.notificationGroups",
       "heading-include" => "/static/notification_drawer/notification-heading.html",
       "subheading-include" => "/static/notification_drawer/notification-subheading.html",
       "notification-body-include" => "/static/notification_drawer/notification-body.html",
       "notification-footer-include" => "/static/notification_drawer/notification-footer.html",
       "custom-scope" => "vm.customScope"}
