%nav.nav-pf-vertical-alt
  %ul.listgroup{:id => "maintab", :style => "margin-left: -40px;"}
    - Menu::Manager.menu do |menu_section|
      - if menu_section.visible?
        %li.list-group-item{:class => primary_nav_class(menu_section.id)}
          %a{:href         => menu_section.url,
             :class       => "",
             "data-hover" => "dropdown",
             "data-delay" => "1000",
             :onclick     => 'return miqCheckForChanges()'}
            %i.fa.fa-dashboard
            %span.list-group-item-value
              = h(_(menu_section.name))

          %ul.dropdown-menu{:class => primary_nav_class2(menu_section.id)}
            - menu_section.items.each do |menu_item|
              - if menu_item.visible?
                %li.dropdown-submenu{:class => secondary_nav_class(menu_item.id)}
                  %a{:href    => menu_item.url,
                     :onclick => 'return miqCheckForChanges()'}= _(menu_item.name)
                  %ul.dropdown-menu
                    %li
                      %a
                        tertiary #1
                    %li
                      %a
                        tertiary #2

