%nav.nav-pf-vertical-alt
  %ul.listgroup{:id => "maintab", :style => "margin-left: -40px;"}
    - Menu::Manager.menu do |menu_section|
      - if menu_section.visible?
        %li.list-group-item{:class => primary_nav_class(menu_section.id)}
          %a{:href         => menu_section.url,
             :class       => "",
             "data-hover" => "dropdown",
             "data-delay" => "1000",
             :onclick     => 'return miqCheckForChanges()'}
            - if menu_section.subsection?
              = "..."
            %i{:class => menu_section.icon}
            %span.list-group-item-value
              = h(_(menu_section.name))

          %ul.dropdown-menu{:class => primary_nav_class2(menu_section.id)}
            - menu_section.items.each do |menu_item|
              - if menu_item.visible?
                - if menu_item.leaf?
                  %li.dropdown-submenu.leaf{:class => secondary_nav_class(menu_item.id)}
                    %a{:href    => menu_item.url,
                       :onclick => 'return miqcheckforchanges()'}= _(menu_item.name)
                - else
                  %li.dropdown-submenu{:class => secondary_nav_class(menu_item.id)}
                    %a{:href    => menu_item.url,
                       :onclick => 'return miqcheckforchanges()'}= _(menu_item.name)
                    %ul.dropdown-menu
                      - menu_item.items.each do |menu_item_deep|
                        %li.leaf
                          %a{:href    => menu_item_deep.url,
                             :onclick => 'return miqcheckforchanges()'}= _(menu_item_deep.name)

