.nav-pf-vertical.nav-pf-vertical-with-secondary-nav
  %ul.list-group{:id => "maintab"}
    - Menu::Manager.menu do |menu_section|
      - if menu_section.visible?
        %li.list-group-item.persistent-secondary{"data-target" => "##{menu_section.name}", :class => primary_nav_class(menu_section.id)}
          %a{:href         => menu_section.url,
             :onclick     => 'return miqCheckForChanges()'}
            %span{:class => menu_section.icon}
            %span.list-group-item-value
              = h(_(menu_section.name))

          .nav-pf-persistent-secondary{:id => menu_section.name}
            .persistent-secondary-header
              %a.fa.fa-arrow-circle-o-left{:href => "#", "data-toggle" => "collapse-secondary-nav"}
              %span
                = h(_(menu_section.name))
            - menu_section.items.each do |menu_item|
              - if menu_item.visible?
                - if menu_item.leaf?
                  %ul.list-group
                    %li.list-group-item
                      %a{:href    => menu_item.url,
                         :onclick => 'return miqcheckforchanges()'}= _(menu_item.name)
                - else
                  %ul.list-group
                    %li.list-group-item
                      %a{:href    => menu_item.url,
                         :onclick => 'return miqcheckforchanges()'}= _(menu_item.name)
                      %ul.list-group
                        - menu_item.items.each do |menu_item_deep|
                          %li.list-group-item
                            %a{:href    => menu_item_deep.url,
                               :onclick => 'return miqcheckforchanges()'}= _(menu_item_deep.name)
