%style
  @page { size: #{pdf_page_size_style} }
  @page { margin: 40pt 30pt 40pt 30pt }
  -# don't split fieldset between pages
  fieldset { page-break-inside: avoid }
  -# don't need PDF to contain href links
  a[href] { prince-link: none }
  @page{ @top-center    {font-size: 100%; content: '#{@options[:title]}'; color: #0370ba }}
  @page{ @bottom-left   {font-size: 75%;  content: 'Summary View'; font-style: italic}}
  @page{ @bottom-center {font-size: 75%;  content: '#{@options[:run_date]}' }}
  @page{ @bottom-right  {font-size: 75%;  content: 'Page ' counter(page) ' of ' counter(pages) }}
