- width ||= @perf_options[:index] ? 1000 : 350
- height ||= @perf_options[:index] ? 700 : 250

= render :partial => 'layouts/perf_chart_js', :locals => {:width => width, :height => height, :charts => charts, :chart_set => chart_set, :chart_index => chart_index, :chart_data => chart_data}
