.modal.fade#quicksearchbox{"tabindex"        => "-1",
                           "role"            => "dialog",
                           "aria-labelledby" => "exampleModalLabel",
                           "aria-describedby" => "modal",
                           "aria-hidden"     => "true",
                           "data-keyboard"   => "false",
                           "data-backdrop"   => "static",
                           :style            => "display: none"}
  = render :partial => "layouts/user_input_filter"
