%hr
%div
  %h3
    = _("%{record} Being Tagged") % {:record => Dictionary.gettext(@edit[:tagging], :type => :model, :notfound => :titleize, :plural => @tagitems.length > 1)}
  %table.admintable{:height => "75"}
    %tbody
      %tr
        %td
          - if @tagitems
            - @embedded = true
            - @gtl_type ||= @settings[:views][:tagging]
            = render :partial => "layouts/gtl"
