%hr
%div
  %h3
    - t = {:amount => @tagitems.length, :object => ui_lookup(:model => @edit[:tagging]), :objects => ui_lookup(:models => @edit[:tagging])}
    = n_("%{amount} %{object} Being Tagged", "%{amount} %{objects} Being Tagged", @tagitems.length) % t

  - if @tagitems
    - @embedded = true
    - @quadicon_no_url = true
    - @gtl_type ||= settings(:views, :tagging)
    = render :partial => "layouts/gtl"
