%div{:style => "padding-top: 10px;"}
= render :partial => "layouts/flash_msg"

= render :partial => "layouts/tag_edit"
- unless @explorer
  = render(:partial => '/layouts/edit_form_buttons',
    :locals         => {:record_id => @sb[:rec_id] || @edit[:object_ids][0],
      :action_url                  => 'tagging_edit',
      :force_cancel_button         => true,
      :ajax_buttons                => true})

= render :partial => "layouts/tag_edit_items"
