- url = url_for(:action => 'tag_edit_form_field_changed', :id => @sb[:rec_id] || @edit[:object_ids][0])
#cat_tags_div
  - tags = @entries.sort_by { |key, _| key.downcase }
  - options = @entries.empty? ? [[_("<All values are assigned>"), "select"]] : [[_("<Select a value to assign>"), "select"]] + tags
  = select_tag("tag_add",
    options_for_select(options, "select"),
    "data-miq_observe" => {:url => url}.to_json,
    "class"            => "selectpicker")
  :javascript
    miqInitSelectPicker();
    miqSelectPickerEvent("tag_add", "#{url}", {beforeSend: true, complete: true});
