- calculate_toolbars

- if  @layout == "dashboard"
  = render :partial => "/layouts/tabs"

= render_toolbars

- if @record
  :javascript
    ManageIQ.record.recordId = '#{@record.id}';
- else
  :javascript
    ManageIQ.record.recordId = null;
