- tl_json ||= nil
%script{:type => "text/javascript"}
  -# commented this to, for a workaround to close any open bubble from previous timeline when switching between timelines
  -# var tl;
  var element, timeline;
  - load_tl_now ||= false
  function miqLoadTL() {
  console.log('called load tl');
  var data = [];
  var json = JSON.parse('#{tl_json}'.replace(/&quot;/g, '"'))

  console.log(json);
  start = new Date(ManageIQ.calendar.calDateFrom);
  end = new Date(ManageIQ.calendar.calDateTo);
  one_hour = 60 * 60 * 1000;
  one_day = 24 * 60 * 60 * 1000;
  one_week = one_day * 7;
  one_month = one_day * 30;
  six_months = one_month * 6;
  console.log(ManageIQ.calendar.calDateFrom);
  console.log(ManageIQ.calendar.calDateTo);
  console.log(start);
  console.log(end);
  - if tl_json
    -#console.log('tl-json' + #{tl_json});
    //var json = #{tl_json.html_safe};
    for (var x in json) {
    data[x] = {};
    data[x].name = json[x].name;
    data[x].data = [];
    if(json[x].data.length > 0) {
    var timelinedata = json[x].data[0];
    for (var y in timelinedata) {
    data[x].data.push({});
    console.log(timelinedata);
    data[x].data[y].date = new Date(timelinedata[y].start);
    data[x].data[y].details = {};
    data[x].data[y].details.event = timelinedata[y].description;
    }
    data[x].display = true;
    }
    }
    timeline = d3.chart.timeline().end(end).start(start).minScale(1).maxScale(720);
    element = d3.select(chart_placeholder).append('div').datum(data);
    timeline(element);
  }
  // end if miqLoadTL

  $(window).on('resize', function() {
  if(timeline && timeline.constructor && timeline.call && timeline.apply) {
  timeline(element);
  $('[data-toggle="tooltip"]').tooltip({
  'container': 'body',
  'placement': 'top',
  'html': true,
  'delay': {
  "show": 500,
  "hide": 1000
  }
  });
  }
  });

  miqLoadTL();
