- tl_json ||= nil
%script{:type => "text/javascript"}
  - if tl_json
    var json = JSON.parse('#{tl_json}'.replace(/&quot;/g, '"')),
    start = new Date(ManageIQ.calendar.calDateFrom),
    end = new Date(ManageIQ.calendar.calDateTo);
    ManageIQ.Timeline.load(json, start, end);
