- tl_json ||= nil
%script{:type => "text/javascript"}
  - if tl_json
    var json = JSON.parse('#{tl_json}'.replace(/&quot;/g, '"'));
    var start = new Date(ManageIQ.calendar.calDateFrom);
    var end = new Date(ManageIQ.calendar.calDateTo);
    ManageIQ.Timeline.load(json, start, end);
