#tl_div.timeline-container
  - if @report && @report.table && @report.table.data.blank?
  - elsif @report
    %fieldset
      #chart_placeholder{:style => 'position: relative'}
      = render(:partial => 'layouts/timeline',
        :locals         => {:tl_json          =>  @tl_json || {},
                            :data_action      => "timeline_data"})
  - else
    .timeline-empty-state
      .pficon.pficon-info.fa-5x.timeline-info
      %h1.timeline-info
        = _('Timeline View')
      %h3.timeline-info
        = _('Select your desired settings and click the apply button to view timeline data.')
