#tl_div
  -#- if @report && @report.table && @report.table.data.blank?
  -#- elsif @report
  %fieldset
    #chart_placeholder{:style => 'position: relative'}
    = render(:partial => 'layouts/timeline',
      :locals         => {:tl_json          =>  @tl_json || {},
                          :data_action      => "timeline_data"})
    -#- if @report.filter_summary
    -#  = @report.filter_summary
