#toast-list-container{'ng-controller' => "toastListController as vm"}
  %div{"pf-toast-notification-list" => "",
       "notifications" => "vm.toastNotifications",
       "show-close" => "true",
       "close-callback" => "vm.handleCloseToast",
       "update-viewing" => "vm.updateViewing"}
