- click_url                   ||= false
- cookie_prefix               ||= ""
- check_url                   ||= false
- select_node                 ||= false
- checkboxes                  ||= false
- three_checks                ||= false
- tree_state                  ||= false
- onclick                     ||= false
- onselect                    ||= false
- oncheck                     ||= false
- autoload                    ||= false
- allow_reselect              ||= false
- highlight_changes           ||= false
- post_check                  ||= false
- reselect_node               ||= @reselect_node
- bs_tree                     ||= '{}'
- min_expand_level            ||= 1
- tree_id                     ||= "tree_div"
- tree_name                   ||= "tree"
- add_node_key                = Hash.new(@add_nodes).fetch(x_active_tree, {}).fetch(:key, nil)
- children                    = Hash.new(@add_nodes).fetch(x_active_tree, {}).fetch(:children, nil)

- options = {:tree_id            => tree_id,
             :tree_name          => tree_name,
             :group_changed      => session[:group_changed],
             :cookie_id          => "#{cookie_prefix}#{tree_name}",
             :min_expand_level   => min_expand_level ? min_expand_level : 1,
             :checkboxes         => checkboxes,
             :hierarchical_check => three_checks,
             :tree_state         => tree_state,
             :onclick            => onclick,
             :oncheck            => oncheck,
             :click_url          => click_url,
             :check_url          => check_url,
             :onselect           => onselect,
             :post_check         => post_check,
             :autoload           => autoload,
             :allow_reselect     => allow_reselect,
             :controller         => j(request.parameters[:controller]),
             :silent_activate    => @explorer && tree_name == x_active_tree.to_s,
             :select_node        => select_node,
             :reselect_node      => reselect_node,
             :highlight_changes  => highlight_changes,
             :expand_parent_nodes=> @expand_parent_nodes,
             :add_nodes          => add_node_key && children && tree_name == x_active_tree.to_s,
             :active_tree        => x_active_tree,
             :add_node_key       => add_node_key,
             :children           => children}

:javascript
  miqInitTree(#{options.to_json.html_safe}, #{bs_tree.html_safe})

- if session[:group_changed]
  - session[:group_changed] = false
