- if fname = custom_toolbar_filename
  - # Only create this div if we get back a file name
  #custom_buttons_div
    = render :partial => "layouts/dhtmlxtoolbar", :locals => {:tb => "custom_tb", :tb_yaml => fname}
