#taskbar_buttons_div-x
  - defered_toolbar_render('history_tb', history_toolbar_filename)
  - defered_toolbar_render('center_tb', center_toolbar_filename)
  - if fname = custom_toolbar_filename
    - defered_toolbar_render('custom_tb', fname)
  - defered_toolbar_render('view_tb', x_view_toolbar_filename)

  - unless request.xml_http_request?
    -# FIXME: do we need this condition?
    = render_toolbars

    - if @record
      :javascript
        ManageIQ.record.recordId = '#{@record.id}';
    - else
      :javascript
        ManageIQ.record.recordId = null;
