#taskbar_buttons_div-x
  - calculate_toolbars

  - unless request.xml_http_request?
    -# FIXME: do we need this condition?

    = render_toolbars

    - if @record
      :javascript
        ManageIQ.record.recordId = '#{@record.id}';
    - else
      :javascript
        ManageIQ.record.recordId = null;
