- if x_gtl_view_tb_render?
  - defered_toolbar_render('view_tb', 'x_gtl_view_tb')
- elsif %w(miq_capacity_planning miq_capacity_utilization).include?(@layout)
  - defered_toolbar_render('view_tb', 'miq_capacity_view_tb')
- elsif @record && @explorer && (%w(services catalogs).include?(@layout) || %w(performance timeline).include?(@display))
  - defered_toolbar_render('view_tb', 'blank_view_tb')
- elsif %w(report).include?(@layout)
  - defered_toolbar_render('view_tb', @report ? "report_view_tb" : "blank_view_tb")
- elsif %w(provider_foreman).include?(@layout)
  - defered_toolbar_render('view_tb', @showtype == 'main' ? "x_summary_view_tb" : "x_gtl_view_tb")
- else
  - defered_toolbar_render('view_tb', 'blank_view_tb')
