- if @display == 'clouds'
  = render :partial => "layouts/gtl", :locals => {:action_url => "@lastaction"}
- if @display == 'based_volumes'
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@snapshot.id}"}
- else
  = render :partial => @showtype
